data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/ConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/ConfirmWIP.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_1/Common/Components/Components.xsd"/>
	<xsd:element name="ConfirmWIP" type="ConfirmWIPType" id="oagis-id-74a1887896f5460c8701eb613289bad2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Work-in-Progress confirmation represents confirmation of the movement of WIP materials. The noun refers to general information about the entire WIP transaction, as well as line item detail about the specific WIP operation or routing step.  This may apply to the movement of raw materials or finished products.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfirmWIPHeader" type="ConfirmWIPHeaderType" id="oagis-id-4c3d708a8b0448e9831575bea2c38f4a"/>
	<xsd:element name="ConfirmWIPLine" type="ShopFloorControlLineType" id="oagis-id-fe4ca8de4ffc4be5b782c8b4e5596c99"/>
	<xsd:element name="ShopFloorControlResource" type="ShopFloorControlResourceType" id="oagis-id-0f1012aa18bb422586daeb2491aaeaca">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information concerning the resources associated with a particular WIP operation or sub-operation within a routing.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShopFloorControlActivity" type="ShopFloorControlActivityType" id="oagis-id-c0d0acd7dd96444295cd274a6043e894">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides information about the steps or tasks that a resource performs during an operation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShopFloorControlSubline" type="ShopFloorControlSublineType" id="oagis-id-37a161bfa3054aa6be0a5d686f1ea453">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information concerning a sub operation within a routing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ConfirmWIPType" id="oagis-id-4dedb1aae58b4b5ca3b78a061e9e3194">
		<xsd:sequence>
			<xsd:element ref="ConfirmWIPHeader" id="oagis-id-148b1848658345b898e07151cff766b5" minOccurs="0"/>
			<xsd:element ref="ConfirmWIPLine" id="oagis-id-f50dee0ff5154b41aae05bf864f48fb4" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Distribution" id="oagis-id-d02850bdc37048fe85c1645b7f583419" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The accounting distribution information associated with a Business Object Document. The position of the Distribution within a Business Object Document provides the context and additional meaning. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-707d3c84fb28429186064c9c21879c45"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-f03f301c8aeb46108c0d2eb9e3ba76cc"/>
	</xsd:complexType>
	<xsd:complexType name="ConfirmWIPHeaderBaseType" id="oagis-id-7862f9e34ed6489385645eb60f259093">
		<xsd:complexContent>
			<xsd:extension base="WIPHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="TransferTypeCode" id="oagis-id-3e716d8ba4da4c63b2734b86d458edaf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TransferType to be "Complete" or a return by specifying "Return" to indicate that the items are to be returned to inventory.  The Return is a very similar function to the Complete and just reserves the process.  When left unspecified, the default for this field is Complete.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConfirmWIPHeaderType" id="oagis-id-e4e4efad7b0b40a681a4290ee3072ff2">
		<xsd:complexContent>
			<xsd:extension base="ConfirmWIPHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ConfirmWIPHeaderExtensionType" id="oagis-id-ef9414109d6d4847b3ad9968c3a0a26a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlBaseLineBaseType" id="oagis-id-c758021a04d449dba198d1ae3aa6ff0c">
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="ProductionOrderReference" id="oagis-id-0c74cd0d960a4e9a8010cb956ce20eb5" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is reference to a ProductionOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RouteReference" id="oagis-id-29d5c116cba84aa29a3505d6a8a026e7" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Reference to a Routing.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="OperationReference" id="oagis-id-f27cba61850c4603b3d8c7057bcda0e5" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to an associated work-in-process operation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Item" id="oagis-id-4412ff77e0f44082b635cfd52a21d9e7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ItemInstance" id="oagis-id-24bc0bd3b5434733967f992d3347e557" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SiteLocation" id="oagis-id-68b77b232fc5488a9a71e2fb71bdf8aa" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Site Location that the associated entity occurs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="OperationTimePeriod" id="oagis-id-50dd32ed1d754a04a4d24903add6f98f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the timeperiod in which the operation ran.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CompletedQuantity" id="oagis-id-711f93f7ca3f4c1bbd5d546e13b8b29b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the quantity of resulting items from the operation that were completed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReturnedQuantity" id="oagis-id-25af17a6f36347708062172f07feaa03" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the quantity of items returned to inventory. Or when used in logistics: The the quantity of the item for which the customer refused delivery.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScrapQuantity" id="oagis-id-e0bf4bbd635d4123a8bb211982439d47" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the quantity of items scrapped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReasonCode" id="oagis-id-422304f756c34c75ae60f809f8929d9e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="KanbanNumberID" id="oagis-id-5aeee8a0003c4ea58f28374c7d1af76e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference number associated with in-plant routing information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShopFloorControlResource" id="oagis-id-213915e8638f4d0f9e2b460f60e70c16" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Information concerning the resources associated with a particular WIP operation or sub-operation within a routing.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-5f14b7bd45d8457fa9ea55c6bb9a8e7d" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlLineBaseType" id="oagis-id-0096b5e8215f40789fdbd3c8ce321307">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlBaseLineBaseType">
				<xsd:sequence>
					<xsd:element ref="ShopFloorControlSubline" id="oagis-id-06e0eeb6f60748d2bc7bfe9cfcd0a0e4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Information concerning a sub operation within a routing</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlLineType" id="oagis-id-f6a38e5190b34ea7a9fba89381c565a6">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShopFloorControlLineExtensionType" id="oagis-id-e1d9c4820d0a422a9a662ad939f8dd5e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlSublineType" id="oagis-id-cb987769c0074ace940c1f36d090d5ea">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlBaseLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShopFloorControlSublineExtensionType" id="oagis-id-ca8e56a4dc514a229bc61b113567d469" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlBaseResourceBaseType" id="oagis-id-ff806f6d10dc461a815acc01f6e2e6f8">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="AllocateResources" id="oagis-id-6981505d9b0d4eaf91bcd2f1672ca8be" minOccurs="0"/>
					<xsd:element ref="ActualResources" id="oagis-id-3b8a1ba1d4264e88b5af99630bbaf253" minOccurs="0"/>
					<xsd:element ref="ExecutionTimePeriod" id="oagis-id-04d26820c6944d66b44c6a5ef0c1e91d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the time in which the associated entity is actually in process.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LaborTimePeriod" id="oagis-id-59d40bee80fe446d8812e2b5cee8c1af" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TimePeriod indicating the labor times.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ForecastedTimePeriod" id="oagis-id-e96c36ce34a047e6b6f2998a301f17ef" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TimePeriod indicating the forecasted start and finish datetimes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SetupTimePeriod" id="oagis-id-484e7fc5828943fabc5d0a33d093d582" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TimePeriod indicating setup time for the resource.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TearDownTimePeriod" id="oagis-id-da67febf38e84aa78d5c4d5c2b65e92d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Timestamp indicating that teardown of the resource.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="WorkCenterID" id="oagis-id-2b38a7ab91974d4c9d19db4b5909dd8a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies an area consisting of one or more resources where production takes place.  It is used to identify a specific Work Center on a Shop Floor or other manufacturing facility</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReasonCode" id="oagis-id-30cae6b8952c4d399a74f19ba42fe03a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PrintIndicator" id="oagis-id-5d9a8cc923d04bcda023b481bdc84ad7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates whether or not to print the resource requirements.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlResourceBaseType" id="oagis-id-a06673e8bb9c45a38d3597ba69fe61e4">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlBaseResourceBaseType">
				<xsd:sequence>
					<xsd:element ref="ShopFloorControlActivity" id="oagis-id-d45210eb3e124c4194d42c019f0249be" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides information about the steps or tasks that a resource performs during an operation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlResourceType" id="oagis-id-0b60e1b9e9bf4cc99c070e539be90b68">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlResourceBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShopFloorControlResourceExtensionType" id="oagis-id-dcf2efa3edec44e5ab1069c5fdc284fd" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShopFloorControlActivityType" id="oagis-id-6e7995e2d9af40d98ea3a7c1e204ac8b">
		<xsd:complexContent>
			<xsd:extension base="ShopFloorControlBaseResourceBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShopFloorControlActivityExtensionType" id="oagis-id-ce850a4f232c43f3888361f3728e3600" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
