data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/EmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/EmployeeWorkTime.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10"  targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_1/Common/Components/Components.xsd"/>
	<xsd:element name="EmployeeWorkTime" type="EmployeeWorkTimeType" id="oagis-id-f3ae21a0536c46eba920252308624c57">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Refers to time sheet information for an employee.  This information may be collected in an external source, and then transferred to a HRMS or Payroll application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EmployeeWorkTimeBaseType" id="oagis-id-4cff958504de483dba73dd32d2abd158">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:group ref="CommonTimeReporting" id="oagis-id-77e9db534a8847b2baa0c9f498205629"/>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-473887bbe79848b7b6253e59d278b08f"/>
					<xsd:group ref="ReferencesGroup" id="oagis-id-51df3ebce51a4bf2b6109a311e5f2e13"/>
					<xsd:element ref="DocumentDateTime" id="oagis-id-ab368480e3c842c19f87bbf2e662b81e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The date that document was created within the system of record.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EmployeeWorkTimeType" id="oagis-id-2c598626a3bd4e2c82ad5e679cc65dac">
		<xsd:complexContent>
			<xsd:extension base="EmployeeWorkTimeBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="EmployeeWorkTimeExtensionType" id="oagis-id-dee1838b57b7481a8c52c29d23350b69" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
