data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/InventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/InventoryConsumption.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_1/Common/Components/Components.xsd"/>
	<xsd:element name="InventoryConsumption" type="InventoryConsumptionType" id="oagis-id-8ac99dbec87b408091d50497bdb97477">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This is used to share a consumer's usage information about an item or product with the supplier of the item or product</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InventoryConsumptionHeader" type="InventoryConsumptionHeaderType" id="oagis-id-54ed5a848857415fa47196fe913d910b"/>
	<xsd:element name="InventoryConsumptionLine" type="InventoryConsumptionLineType" id="oagis-id-ac30895e7c1f496fa4f8c1e04243b5b9"/>
	<xsd:complexType name="InventoryConsumptionType" id="oagis-id-284b5310512e46379fbd78934d2750b6">
		<xsd:sequence>
			<xsd:element ref="InventoryConsumptionHeader" id="oagis-id-66770bb51ec94d7abecd4ddd9b94ac0d" minOccurs="0"/>
			<xsd:element ref="InventoryConsumptionLine" id="oagis-id-151e721bf38a483fb7e46a5b625d7da0" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-191ee19644824f89bde4b3bb2c874801"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-560e952b5ae44f9abb5fd4e1cfc6c1b5"/>
	</xsd:complexType>
	<xsd:complexType name="InventoryConsumptionHeaderBaseType" id="oagis-id-6dab8c022a9746d786b3acc22c75690b">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="TransactionDateTime" id="oagis-id-8d90cf9e31c546fdaa37821a64bf450f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The datetime of occurence of the transaction</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Facility" id="oagis-id-414a2e956e90459db1178084bedbb5b3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A Facility identifies a location within an entity. The facility may have sub-locators identified using a sequenced identification notation e.g. Warehouse A100 Sub-Location 11, Row R10 would be represented as an array of three Facility elements with values as A100, 11, R10, name attribute as Warehouse, Sub-Location and Row and sequence attribute as 1,2 and 3 respectively.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-0fee633fffb7414187c02d5b9b24dde2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="WarehouseParty" id="oagis-id-8b82b87e2a414206bb5a8cffad811d0a" minOccurs="0"/>
					<xsd:element ref="SupplierParty" id="oagis-id-dea7229e9d36464184f816c585cdb0bc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-dd10bfeac6da45e28a0d56047993500e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-39d3591b8fb0401c91ca5afd5927bfd6" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierContractReference" id="oagis-id-f2a08f17796e4f0ea804dcab6f502976" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the supplier contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BuyerContractReference" id="oagis-id-03a4fd1b35b34df29b086fe6a933505b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the buyer contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InventoryConsumptionHeaderType" id="oagis-id-eb5cc5aaec494d41b43f9583b8ae2b1d">
		<xsd:complexContent>
			<xsd:extension base="InventoryConsumptionHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InventoryConsumptionHeaderExtensionType" id="oagis-id-fbf912352209483186445b9a1d85cc3e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InventoryConsumptionLineBaseType" id="oagis-id-0192052b4e144efbb88bb3f4518554ba">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="ItemInstance" id="oagis-id-510739fdceb140808bf9a92b7a5cbd44" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Quantity" id="oagis-id-d950190b08d44c3ead146a7add553291" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="InventoryTransactionGroup" id="oagis-id-6bdb6ed7ca0746559e8d44d6d9daaff1"/>
					<xsd:element ref="ShipUnitQuantity" id="oagis-id-439c9c3050664caeb4e86302e7f575c5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This contains the quantity of units or things shipped. This represents the container(s), not the product shipped.  An example of this is "4 truck loads" or "2 wooden crates"</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FreightClassification" id="oagis-id-f8c431ca849e48748119ab82d68fe7df" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Qualifies goods for purposes of freight cost calculation. An example would the qualifications used by National Motor Freight Carriers. The classification is used in order calculate the freight cost. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BuyerContractReference" id="oagis-id-fb5c8c4ebc4147f4b5787198dc1ba724" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the buyer contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierContractReference" id="oagis-id-6047d6e87830441687ff59f0039b9439" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the supplier contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Charge" id="oagis-id-b2da5d408b6b4af682435af0ff7fc657" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the different Charges that may be applied to the associated document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Distribution" id="oagis-id-cc8afb54143b4b1fa14c7682a9cb9ed7" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The accounting distribution information associated with a Business Object Document. The position of the Distribution within a Business Object Document provides the context and additional meaning. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-a138c2feb4c7414b93ce6d651f98990f" minOccurs="0"/>
					<xsd:element ref="WarehouseParty" id="oagis-id-cc25ea0cbb604772bb57ad0415e7dbd3" minOccurs="0"/>
					<xsd:element ref="SupplierParty" id="oagis-id-c19a843a1d8b45bd98d6742a46f7e742" minOccurs="0"/>
					<xsd:element ref="CarrierParty" id="oagis-id-1b2482b56f744cacb9d9dd4b8edd2ebb" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InventoryConsumptionLineType" id="oagis-id-393711427d8c4ebb901d07a0e25011ae">
		<xsd:complexContent>
			<xsd:extension base="InventoryConsumptionLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InventoryConsumptionLineExtensionType" id="oagis-id-cacfe027bf934d8cbdf1340096c19663" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
