data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/PartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/PartyMaster.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_1/Common/Components/Components.xsd"/>
	<xsd:element name="PartyScreenResponse" type="PartyScreenResponseType" id="oagis-id-8926dc448f4247b897552c61007a97e4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">acknowledge</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ScreenPerformByParty" type="PartyType" id="oagis-id-2f84c93dc23f4d1291e5e88c5f2f29f5"/>
	<xsd:element name="ScreenResolution" type="ScreenResolutionType" id="oagis-id-acb14bc3f9f34642b2b608e527e1b3da"/>
	<xsd:element name="MatchScreenList" type="MatchScreenListType" id="oagis-id-09dc2f4e2a9847cf91ad78338bdd59e2"/>
	<xsd:element name="PotentialMatch" type="PotentialMatchType" id="oagis-id-2693a7c2d1e04a08978bde4cf5dee042"/>
	<xsd:element name="ScreenLocation" type="ScreenLocationType" id="oagis-id-5f214dc2f1a64ba0b630aace05542e44"/>
	<xsd:element name="ScreenSubject" type="ScreenSubjectType" id="oagis-id-e909deb0f78a41aa86dbf895db2130f2"/>
	<xsd:element name="ScoreValue" type="ScoreValueType" id="oagis-id-ead284c4a346494e959d06e162aecaad"/>
	<xsd:element name="Score" type="ScoreType" id="oagis-id-61c3dd3e1e6440218f488fd517f18dbe"/>
	<xsd:complexType name="PartyScreenResponseBaseType" id="oagis-id-804cfc7c16ce4fb8ab44c41706048aac">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Status" id="oagis-id-d592e49c39ec423f88599f5e509ec31b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScreeningReferenceID" id="oagis-id-318657ab41b0487b926c58b1fc6202ef" minOccurs="0"/>
					<xsd:element ref="ScreenParty" id="oagis-id-574c5c863b3847b3a41fcf7f4cac9014" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is the Party or Partner Master records of the Parties that an organization partners.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-685e6d61b8b046e49bdcf3cc7fd364de" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ScreenResolution" id="oagis-id-47ad2810052940d5b2cbfa9ce55d6f67" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ScreenDateTime" id="oagis-id-d17889f88343470f8ca4eb30fc3244f5" minOccurs="0"/>
					<xsd:element ref="AutomaticResolveIndicator" id="oagis-id-5dc2a515e9ac40ebb8c8819932e4cd19" minOccurs="0"/>
					<xsd:element ref="PotentialMatch" id="oagis-id-353ac6a0e7b1449cada1ee03fa3f0359" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PartyScreenResponseType" id="oagis-id-b80c9cbb593945d89edbb2c1015bf81c">
		<xsd:complexContent>
			<xsd:extension base="PartyScreenResponseBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PartyScreenResponseExtensionType" id="oagis-id-780195f033694edab58b21e90755e21e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenResolutionBaseType" id="oagis-id-dd64c3e34ab74a51afe2d5e13f157c6f">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="ScreenPerformByParty" id="oagis-id-fb63806061f64844a552c2fce0dcc934" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Party" id="oagis-id-e5a7f385bc674fc2b3fd80b6fd78aa6e" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-3a209f5227914e998ca5b959af56273b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ResolutionDateTime" id="oagis-id-5c7a77fef80b4602882842679ecbb8f9" minOccurs="0"/>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-ecfd62d5842746b194e5ea256628ed29"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenResolutionType" id="oagis-id-4b2a1a57eb3647d79db609682f62962b">
		<xsd:complexContent>
			<xsd:extension base="ScreenResolutionBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ScreenResolutionExtensionType" id="oagis-id-88873850843840efae5c9965e4e1996e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MatchScreenListBaseType" id="oagis-id-10b135430e234fac8b6045f517f83536">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Name" id="oagis-id-613e9ab9562b4ec9875443c087b8c687" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SourceCode" id="oagis-id-18540092a7524552976304bfcdbcf111" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MatchScreenListType" id="oagis-id-fcf19cd6dc994be48b6e56afe0c3807b">
		<xsd:complexContent>
			<xsd:extension base="MatchScreenListBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="MatchScreenListExtensionType" id="oagis-id-dff61a0560d64c3286a5f76353af8391" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PotentialMatchBaseType" id="oagis-id-2a4ee44f87c8431595334e0c8a10e4ba">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Name" id="oagis-id-8d2c28cb97c34eeda212cb1548609389" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="MatchScreenList" id="oagis-id-7ce5efd5c2074b72baedbc0401a19d27" minOccurs="0"/>
					<xsd:element ref="AliasName" id="oagis-id-6622a1e448284435a574231b924cf715" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-d0fdb838c7814f5289b157869b4776e5"/>
					<xsd:element ref="Address" id="oagis-id-afc416aeaa2744539791e046676f1368" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Score" id="oagis-id-c87557abbc084544ba5074ca79b08f4a" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PotentialMatchType" id="oagis-id-6eeeb188f19148899796d3dfc5c0903d">
		<xsd:complexContent>
			<xsd:extension base="PotentialMatchBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PotentialMatchExtensionType" id="oagis-id-9d43677a0dd84943b34e1fabe5afe7cf" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScoreBaseType" id="oagis-id-ae95498a2bc04ee7b2b4312a5a4b3cee">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="ScoreValue" id="oagis-id-cc44365d1e82488cb04e9b53440eab46" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ScoreText" id="oagis-id-0ff424e087d840218e3fed35cfcc3f76" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="MatchWord" id="oagis-id-578dadbf9f2c4b3882bbd86d81627d6b" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Algorithm" id="oagis-id-638a0344d3164fde92495ec6aa781854" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScoreType" id="oagis-id-cf7e692bb5ff4f5fb6c4485075c634cb">
		<xsd:complexContent>
			<xsd:extension base="ScoreBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ScoreExtensionType" id="oagis-id-c550a76338654db0a0cf6a9ed33b73c1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenLocationBaseType" id="oagis-id-90d9529af58a4082a155ddb2d2578e95">
		<xsd:complexContent>
			<xsd:extension base="LocationBaseType">
				<xsd:sequence>
					<xsd:element ref="ScreenResolution" id="oagis-id-3e3e5d2d69d040b58295b6fa2a9986b3" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenLocationType" id="oagis-id-e64a7f039a724cdeb0c5c418134c66b4">
		<xsd:complexContent>
			<xsd:extension base="ScreenLocationBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ScreenLocationExtensionType" id="oagis-id-e9a8945f692e4e4c8ee073dedb067e11" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenSubjectBaseType" id="oagis-id-6cbd8568a5d74438a784c19d96d5417e">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Party" id="oagis-id-c5fa2dfacabc47f19fcc49b6f1872487" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Location" id="oagis-id-a40080f3fa6744f8b4eb8a7ef03ff298" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The location of a thing, as captured by an address (or addresses), GPS Coordinates, and/or in relation to other locations.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScreenSubjectType" id="oagis-id-dc7dbefb9ab24237b48cf07146358a77">
		<xsd:complexContent>
			<xsd:extension base="ScreenSubjectBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ScreenSubjectExtensionType" id="oagis-id-fd0c5cac818a4406a64b073edb8067ee" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
