data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/WIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/WIPStatus.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10"  targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_1/Common/Components/Components.xsd"/>
	<xsd:element name="WIPStatus" type="WIPStatusType" id="oagis-id-e48b36ab7a7545918507edd21a833e90">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">WIPSTATUS is used to notify a Manufacturing Application of the progress of a production order at a point in time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WIPStatusBaseType" id="oagis-id-f2f2bfeb5ee24c9ea97e76719b9db8f4">
		<xsd:complexContent>
			<xsd:extension base="WIPEventHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="DueDateTime" id="oagis-id-f7b0b615c2464fe7a39729a74aafde11" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The date and time that the production order is to be completed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScheduledQuantity" id="oagis-id-ca315b3611a14950a2a34d825e9b84e5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the number of items that was scheduled to be produced.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DueQuantity" id="oagis-id-5ad741ffa7794fc1a4843caf5af697a5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The number currently due or scheduled to be completed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Operation" id="oagis-id-33dee69bc31a441b97359fbb5ac6e362" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Information that describes the operation to be performed. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-5e531522ca4145f194849dde35d19a84"/>
				<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-d8f8521dab5846b582d8f792ffc9b598"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WIPStatusType" id="oagis-id-08177114ee95446f967383b5dfc63151">
		<xsd:complexContent>
			<xsd:extension base="WIPStatusBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="WIPStatusExtensionType" id="oagis-id-b9634d2013464550bcb528c29c5d7c9d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
