data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Platform/2_2/Nouns/Table.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 
   OAGIS® Revision:    OAGIS 10_2  
   Date:               27 Jun 2014
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/Table.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/Components/Components.xsd"/>
	<xsd:element name="Table" type="TableType" id="oagis-id-3759a808d95248279e294118fbb4a740"/>
	<xsd:complexType name="TableBaseType" id="oagis-id-f9d3edae99c544f99ab31b9e8eff92a1">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="RevisionID" id="oagis-id-9b8b38e341dc446e826fd36e9d8d9d77" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the revision of the semantically named document. The combination of the ID and its revision uniquely identifies the associated entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AgencyID" id="oagis-id-e721677b92a440898ceb044f4963c5c7" minOccurs="0"/>
					<xsd:element ref="Name" id="oagis-id-1ebe1b7e6d20491588898e438aa0da7b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Description" id="oagis-id-4019e5cb78ea4e8db1e3b77c2d3764e9" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="FieldNumber" id="oagis-id-2a960ee0e5d5486d90c242f60e36c472" minOccurs="0"/>
					<xsd:element ref="RecordNumber" id="oagis-id-3d63feeabfc4486682c61e808cf967be" minOccurs="0"/>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-8d73afcb950e471bacc86d038cc43d5d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CreationDateTime" id="oagis-id-fff03198b3cf4cfaab13f2ddf0750716" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">is the date time stamp that the given instance of the Business Object Document was created.  This date must not be modified during the life of the Business Object Document.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LastModificationDateTime" id="oagis-id-bba2abcc247149ee986531302f9b5b15" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The datetime on which the object was last modified</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TableHeader" id="oagis-id-d005cb24bbfd4e67b88b53752952edaa" minOccurs="0"/>
					<xsd:element ref="Record" id="oagis-id-dc418afb251c44f38d29075c06f2e953" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TableType" id="oagis-id-b699851eb64f45c4b3b2b164a71954ed">
		<xsd:complexContent>
			<xsd:extension base="TableBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="TableExtensionType" id="oagis-id-ece84b4a9d674f76a529a06ce4f86956" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TableHeaderType" id="oagis-id-4b101b599f1442ecb3df6e11d2a26d08">
		<xsd:sequence>
			<xsd:element ref="FieldHeader" id="oagis-id-7831e641932d4e93970865b8d75acb50" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TableHeader" type="TableHeaderType" id="oagis-id-0b933e9005194d2cad0fec6b3d4700c6"/>
	<xsd:element name="Record" type="RecordType" id="oagis-id-de7e2ef579014b2fa1eaf882ca4e73ca"/>
	<xsd:complexType name="RecordBaseType" id="oagis-id-ddd609bcb19748b59fb4c80344ed2524">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="SequenceNumber" id="oagis-id-b3e09139413c47c08418605890e74654" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A value expressing the value of a Sequence.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RecordFieldValue" id="oagis-id-f349c25511b449cab758459ee7ff548c" minOccurs="0"/>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-28b666da5dcb448686e1c02733268c24" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RecordType" id="oagis-id-899f812033c4430c9a2b4d8a1c36f6e0">
		<xsd:complexContent>
			<xsd:extension base="RecordBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="RecordExtensionType" id="oagis-id-ccf3b39d4fc84308bd7fff69e99a35c8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FieldHeaderBaseType" id="oagis-id-d5435366b6b7497e8bc5eae2487f870b">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Name" id="oagis-id-94ddeb2ed80a49cea6fb337e945002bc" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Description" id="oagis-id-b7b06fcf7cc24cedb68e829c8444f8fb" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PrimaryKeyFieldIndicator" id="oagis-id-2f52f32ae3b141e2ba753332609b0d91" minOccurs="0"/>
					<xsd:element ref="DataTypeCode" id="oagis-id-5285f56ccc7a4affae054b6f94b6a07d" minOccurs="0"/>
					<xsd:element ref="UnitCode" id="oagis-id-fa1ff7477355484c86d8125dd9c04c11" minOccurs="0"/>
					<xsd:element ref="MaximumSizeQuantity" id="oagis-id-0402212bf88c4cc1afad1a999a3f284e" minOccurs="0"/>
					<xsd:element ref="SequenceNumber" id="oagis-id-7eeb7e9e56e74764a9976cbc14edd2b4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A value expressing the value of a Sequence.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FieldHeaderType" id="oagis-id-0ba71fd03e5240a3a1a928a3e7f41ed3">
		<xsd:complexContent>
			<xsd:extension base="FieldHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="FieldHeaderExtensionType" id="oagis-id-f52651a327e84a96b1a14470982947a2" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FieldHeader" type="FieldHeaderType" id="oagis-id-c5ecb594670c459b9efd393d90f583a4"/>
</xsd:schema>
