data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeMaintenanceOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeMaintenanceOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MaintenanceOrder.xsd"/>
        <xsd:element name="AcknowledgeMaintenanceOrder" type="AcknowledgeMaintenanceOrderType" id="oagis-id-a5519513e5c44f6788ac5e4751c01545">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeMaintenanceOrder Business Object Document is to acknowledge receipt of the MaintenanceOrder</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeMaintenanceOrderType" id="oagis-id-0cf7e92e22904469b1c06905c92cbc88">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeMaintenanceOrderDataAreaType" id="oagis-id-e1cbfd2a30bf40c3ae0a692481e9d377">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeMaintenanceOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (MaintenanceOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeMaintenanceOrderDataAreaType" id="oagis-id-361257f08ed144c2862e9ba953397ac8">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-8914883a6a574bf692e7d4660244dab9"/>
                        <xsd:element ref="MaintenanceOrder" maxOccurs="unbounded" id="oagis-id-95ce797b34d546adb509cf9c072b9ab8"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
