data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeCurrencyExchangeRate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeCurrencyExchangeRate.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CurrencyExchangeRate.xsd"/>
	<xsd:element name="AcknowledgeCurrencyExchangeRate" type="AcknowledgeCurrencyExchangeRateType" id="oagis-id-e85257e07cee4bb79e34d3eb56150270">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeCurrencyExchangeRate is to enable the passing of updates of currency exchange rates to other applications that have exchange rate tables.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeCurrencyExchangeRateType" id="oagis-id-56e46f6169bd46638716ed8c42d766e6">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeCurrencyExchangeRateDataAreaType" id="oagis-id-16eec9011d174073bcee53bf4a0421c9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeCurrencyExchangeRate. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (CurrencyExchangeRate).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeCurrencyExchangeRateDataAreaType" id="oagis-id-74b0f43babaf4d80991296050fe2ce77">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-8c008214bc174a8ca53c841f75c02d82"/>
			<xsd:element ref="CurrencyExchangeRate" maxOccurs="unbounded" id="oagis-id-8970e7c1200b41f481b26679f7b0a225"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
