data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgePaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgePaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
        <xsd:element name="AcknowledgePaymentStatus" type="AcknowledgePaymentStatusType" id="oagis-id-4b06cd3eb4a1453cb4d52d4d059ed1fe">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgePaymentStatus is to provide the results of an application to process specific PaymentStatus information by the ProcessPaymentStatus.

This typically a transaction that occurs between a company and a Bank in order to remit payment to company that has provided goods or services.  

This is the response to the ProcessPaymentStatus.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgePaymentStatusType" id="oagis-id-7eefd729eb0144f8ae86db966f447003">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgePaymentStatusDataAreaType" id="oagis-id-0196ce9c74744b6d84f77e9710949d96">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgePaymentStatus. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgePaymentStatusDataAreaType" id="oagis-id-30b3639daa7c4521a1534295a1326007">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-b9ebd9811f2b41eea453749f5b533357"/>
                        <xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-0816323e34754c4898cdcd94c3918f74"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
