data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeCatalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Catalog.xsd"/>
	<xsd:element name="AcknowledgeCatalog" type="AcknowledgeCatalogType" id="oagis-id-5ebb4622603242d6a435185fed697ae8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">AcknowledgeCatalog is used to Acknowledgehronize catalog information across systems. The Acknowledge indicates that the send of the AcknowledgeCatalog is the owner of the information being passed, additionally it is understood that the receiver of the AcknowledgeCatalog is a sub-system that must accept the data as provided by the owne of the information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeCatalogType" id="oagis-id-fababdee597c4356960bbb516f86b1e8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeCatalogDataAreaType" id="oagis-id-22a297f212114a06957772187f3fc422">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeCatalog. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (Catalog).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeCatalogDataAreaType" id="oagis-id-707ba873e99b4352a9423e32b11cae9d">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-1eee84e47f2d4a6bba5164fb58a91920"/>
			<xsd:element ref="Catalog" maxOccurs="unbounded" id="oagis-id-8815bb45842e4c56b11f76edd2945ccc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
