data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeSalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeSalesOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SalesOrder.xsd"/>
        <xsd:element name="AcknowledgeSalesOrder" type="AcknowledgeSalesOrderType" id="oagis-id-43c6fb52f0ad4132912869a69e4d4739">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeSalesOrder Business Object Document is to acknowledge receipt of the SalesOrder</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeSalesOrderType" id="oagis-id-075b4d765fbf444ab7499dbd16a43033">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeSalesOrderDataAreaType" id="oagis-id-2174673c787542cb88555268a4f06ecb">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeSalesOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (SalesOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeSalesOrderDataAreaType" id="oagis-id-b081a6e2128a4e55829a9946922c7520">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-9697da18820e42ffbd9308dfdaf1d533"/>
                        <xsd:element ref="SalesOrder" maxOccurs="unbounded" id="oagis-id-4f866943dc654a20a88376a5bda41537"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
