data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
	<xsd:element name="AcknowledgeOnlineSession" type="AcknowledgeOnlineSessionType" id="oagis-id-3a92b6f8b74645ac8e2f6d27adff0344">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the GetOnlineSession is the AcknowledgeOnlineSession.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeOnlineSessionType" id="oagis-id-198fa6df03c744bb8504bca2a85f5f96">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeOnlineSessionDataAreaType" id="oagis-id-cb5cda3522464841b8dd3d0322802987">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeOnlineSessionDataAreaType" id="oagis-id-ec67615af4914bf5a7d4d6314e40a3a7">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-a69d98e7e1ec43ea99f52c96d2b7d890"/>
			<xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-23af73bedcf24912bfe689526a7e2a26"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
