data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeInventoryCount.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeInventoryCount.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InventoryCount.xsd"/>
	<xsd:element name="CancelAcknowledgeInventoryCount" type="CancelAcknowledgeInventoryCountType" id="oagis-id-3363d99e98c44c60823e44a3ca385cad">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeInventoryCount is to transmit an inventory count to ERP from the actual physical inventory location. This count may be a cycle count or a physical count.  This BOD may also apply to planned or unplanned inventory counts.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeInventoryCountType" id="oagis-id-6e7644ec685340f290ceb47f55e4e182">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeInventoryCountDataAreaType" id="oagis-id-cb61d25cfcf54706b93c469f97117ea5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeInventoryCount. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (InventoryCount).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeInventoryCountDataAreaType" id="oagis-id-195f257daa94462499e7169b15aedecf">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-fb95512813bc42d0ae94e52a09a423d4"/>
			<xsd:element ref="InventoryCount" maxOccurs="unbounded" id="oagis-id-2c4b580dee0047e59bdc31d639a41acf"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
