data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeAllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 
   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeAllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/AllocateResource.xsd"/>
	<xsd:element name="CancelAcknowledgeAllocateResource" type="CancelAcknowledgeAllocateResourceType" id="oagis-id-b9f3fec8a4934005b36384a4c265097c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The CancelAcknowledgeAllocateResource may be used to obtain limited information CancelAcknowledgeing about documents that match certain selection criteria in a GetCancelAcknowledgeAllocateResource.

Additional information about a specific AllocateResource may be obtained through ShowAllocateResource by using the CancelAcknowledgeing information to populate a GetAllocateResource request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeAllocateResourceType" id="oagis-id-82d35c1756fa4d41afe6b70eeb375f57">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeAllocateResourceDataAreaType" id="oagis-id-c14f32a109cc4e11be96abf1c0948202">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeAllocateResource. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (AllocateResource).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeAllocateResourceDataAreaType" id="oagis-id-cf1456d92e9547bc819d3a10da966ec8">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-b90ab42ddc43458ab0cd9bb2a092568c"/>
			<xsd:element ref="AllocateResource" maxOccurs="unbounded" id="oagis-id-82e24671b16747c4a9a497539b157593"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
