data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Quote.xsd"/>
        <xsd:element name="CancelQuote" type="CancelQuoteType" id="oagis-id-ec1fb24208d549708c9f72481cb434a5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelQuote is to publish to a business application or system the need to cancel an entire Quote or one or more of its line items.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelQuoteType" id="oagis-id-8d3853863484492993018d1693ac102e">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelQuoteDataAreaType" id="oagis-id-2500993d0b114750869e396ab18e6a51">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelQuote. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelQuoteDataAreaType" id="oagis-id-9b7798462f194b798fb774bdee4480e2">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-b71939cd820a43c9842f6588cba56c6c"/>
                        <xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-ed60c23c4a6d4c529ff911d1e021c549"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
