data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeSalesLead.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeSalesLead.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SalesLead.xsd"/>
	<xsd:element name="CancelAcknowledgeSalesLead" type="CancelAcknowledgeSalesLeadType" id="oagis-id-318caf6a40824495a94079b47bbdcaf1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeSalesLead is to enable an application to provide SalesLead information from one business application to another business application. The CancelAcknowledgeSalesLeadis provided in response to the ProcessCart in order to request a CancelAcknowledge to process the cart. The Chagne is directed from the owner of the information (the receiver of the Process) the originator of the Process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeSalesLeadType" id="oagis-id-818cffaa68b94c88987fe778a0c8363e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeSalesLeadDataAreaType" id="oagis-id-5935ae4d9e02430d81e945467db633a1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeSalesLeadDataAreaType" id="oagis-id-c94496c10f634807a808387fd1f58792">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-2cd0d4fd3fac421f9c002870745ef74b"/>
			<xsd:element ref="SalesLead" maxOccurs="unbounded" id="oagis-id-f3e8df281c984bf9a4212f66be10ee59"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
