data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
	<xsd:element name="CancelAcknowledgeRequisition" type="CancelAcknowledgeRequisitionType" id="oagis-id-641ca7b97f874959ae94dd5964468aef">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CancelAcknowledgeRequisition is being deprecated as of OAGIS 9.0. CancelAcknowledgeRequisition will be made available for the next three releases. OAGi recommend using ProcessRequisition for all new development.

The purpose of the CancelAcknowledgeRequisition is to send demand for goods or services to another business application for consideration of buying or in some way obtaining the requested items.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeRequisitionType" id="oagis-id-538a8f5e6dc84c7b94a7120c003c27f1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeRequisitionDataAreaType" id="oagis-id-1b528a06421348d2a3bc6ccbcb9d5bff">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeRequisition. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeRequisitionDataAreaType" id="oagis-id-1f54ac2e992d4d14bbda2edee617d66e">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-79b1b19c813b467f92dccdaa7414f68b"/>
			<xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-a65acba1d9084e6ea81e57bddab84f62"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
