data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
	<xsd:element name="CancelSequenceSchedule" type="CancelSequenceScheduleType" id="oagis-id-b4e9705dfeea4815bd852bef7de7eb2a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelSequenceSchedule is to enable the exCancel of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in Cancel application and transmitted to an order or material planning application. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelSequenceScheduleType" id="oagis-id-47cc1f4fb7c24a10a81571f26f8f8e82">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelSequenceScheduleDataAreaType" id="oagis-id-d97fc70875aa43e0b7f20bc58f6ffb49">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelSequenceScheduleDataAreaType" id="oagis-id-9b6bc2ff5e264bd593082903cd86426f">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-79cf1ae520aa48ae8c350bd5891e8921"/>
			<xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-afe6f36c57f349d89b4ee2416fe49e06"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
