data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="CancelRemittanceAdvice" type="CancelRemittanceAdviceType" id="oagis-id-9828e44c1b374bb5b392919381fd0ee3">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelRemittanceAdvice is to enable an application to request specific RemittanceAdvice information from another business application module.  The response to the CancelRemittanceAdvice is the CancelRemittanceAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelRemittanceAdviceType" id="oagis-id-bb0cc6ffc4dc4096b77f0d72aeb2a9a0">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelRemittanceAdviceDataAreaType" id="oagis-id-b5e574638c904a418e93e74f1f146ab5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelRemittanceAdviceDataAreaType" id="oagis-id-31af3cea95554a62ab6e09c561f03f18">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-5a61b3c6fb7341eb846c7d416fbad63e"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-c1005500b52041a2a566b78dd9661d07"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
