data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgePartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgePartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyMaster.xsd"/>
	<xsd:element name="CancelAcknowledgePartyMaster" type="CancelAcknowledgePartyMasterType" id="oagis-id-9821c60303ac474986a42a2cf7714208">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgePartyMaster is to facilitate keeping party information CancelAcknowledgehronized that exists on separate data bases.  The CancelAcknowledgePartyMaster allows the adding of new party and the modification of previously established PartyMaster.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgePartyMasterType" id="oagis-id-45bd1801ac2749518d7670da6bbf157d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgePartyMasterDataAreaType" id="oagis-id-5b3197b5c3e748279b27913f893a1a0b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgePartyMaster. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (PartyMaster).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgePartyMasterDataAreaType" id="oagis-id-c3d1224adb2f4e5db0a8ac9f7384d8eb">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-607376422ea148b08107c45e6bad066f"/>
			<xsd:element ref="PartyMaster" maxOccurs="unbounded" id="oagis-id-203effcb83584ded9be7dac78bc779e5"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
