data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelProjectAccounting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downCancel package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelProjectAccounting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProjectAccounting.xsd"/>
	<xsd:element name="CancelProjectAccounting" type="CancelProjectAccountingType" id="oagis-id-d7c6df16a2724e22b0563b97d7a962bb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelProjectAccounting  is to enable all relevant sub-systems that submit single sided transactions to send information to a Project Accounting Application. This would include, but not necessarily be limited to:
·	Accounts Payable
·	Accounts Receivable
·	Budget
·	Order Management
·	Purchasing
·	Time and Labor
·	Travel and Expense

The CancelProjectAccounting will cause common data to be Canceled in a project accounting application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelProjectAccountingType" id="oagis-id-38c57544e4e64510bf8ba801bf69021c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelProjectAccountingDataAreaType" id="oagis-id-d0115dfadd9b453b8f300ec6ce5f0776">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelProjectAccounting. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ProjectAccounting).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelProjectAccountingDataAreaType" id="oagis-id-3ec79d3a59dd4b6aab02b840eba41a2c">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-165c811446cd448aac8ca942e41609a2"/>
			<xsd:element ref="ProjectAccounting" maxOccurs="unbounded" id="oagis-id-b7eab3f5075e4175b57472ba4b2a485a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
