data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="CancelCreditTransferIST" type="CancelCreditTransferISTType" id="oagis-id-f30fc296717f444cbf1d4ba3507dd652">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the CancelCreditTransferIST is the CancelCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCreditTransferISTType" id="oagis-id-2cee6ccfa58647d3beaba6fb416724b1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCreditTransferISTDataAreaType" id="oagis-id-741de283c2e0460b946110bb30c944f5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCreditTransferISTDataAreaType" id="oagis-id-f00c60423fe34a1cb801cbd1708f3c44">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-101140829a6341dbb80be846dc07f817"/>
			<xsd:element ref="CreditTransferIST" maxOccurs="unbounded" id="oagis-id-0ed3840550ac4c24a8b7884c70a6481b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
