data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelAcknowledgeCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="CancelAcknowledgeCreditTransfer" type="CancelAcknowledgeCreditTransferType" id="oagis-id-2cd7945f0cc541f8948ddefcaa32c4bf">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the CancelAcknowledgeCreditTransfer is the CancelAcknowledgeCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeCreditTransferType" id="oagis-id-63a5c2cdc50d498eb07d91dd379050ee">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeCreditTransferDataAreaType" id="oagis-id-bb6e9a6f14fa409d9c63c5f2de4bf405">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeCreditTransferDataAreaType" id="oagis-id-9cc910b3c9f641658b1ce2a65314d919">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-533bbd6c07404726a1c5811b3855ad60"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-9a1a94a0067b403db483cf30d9fa9ed6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
