data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCredit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCredit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Credit.xsd"/>
	<xsd:element name="CancelCredit" type="CancelCreditType" id="oagis-id-84569b9d720542879ff891e74ee98a8f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCredit is to Cancel the Credit Management functionality within the customer order management or the accounts receivable application.  The CancelCredit will also transmit changes in the accounts receivable open item balances to the Credit management function of the customer order management application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCreditType" id="oagis-id-334232918be847ef864b553ba9837b25">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCreditDataAreaType" id="oagis-id-3c48f7f3f7cb4e86ab44628848a6fbe2">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCredit. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Credit).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCreditDataAreaType" id="oagis-id-e93101ed40cf41d2a139496e37d8feb7">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-b6eaf9f1cb5c42b9bd1c8d6383ec0a65"/>
			<xsd:element ref="Credit" maxOccurs="unbounded" id="oagis-id-c51415b537bf4030a74b6cb8f5789948"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
