data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelWarehouseShippingOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelWarehouseShippingOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingOrder.xsd"/>
	<xsd:element name="CancelWarehouseShippingOrder" type="CancelWarehouseShippingOrderType" id="oagis-id-47aca80c9a2d4364a52d4ad78807a674">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Cancel WarehouseShippingOrder is to communicate from one business application to one or more other business applications that a previous WarehouseShippingOrder.

Processing Note:  This cancel must refer to the original document.  To cancel the entire order, include only the WarehouseShippingOrder Header information for the instance of the WarehouseShippingOrder you wish to cancel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelWarehouseShippingOrderType" id="oagis-id-f3671a8eb8ea4bd5b051353bc779f35d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelWarehouseShippingOrderDataAreaType" id="oagis-id-7e338af2a98b4219aa5417309fdec8a4">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelWarehouseShippingOrder. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (WarehouseShippingOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelWarehouseShippingOrderDataAreaType" id="oagis-id-6c493ae9a31a4f828a7279a56900031c">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-95102a5375a149ee8e8b95a35209eaf2"/>
			<xsd:element ref="WarehouseShippingOrder" maxOccurs="unbounded" id="oagis-id-0eb1175a8f1e4939923d0316fb0ce971"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
