data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
	<xsd:element name="CancelConfirmWIP" type="CancelConfirmWIPType" id="oagis-id-1278c18f2d594b70aebb6d72458cd3c2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelConfirmWIP is to respond to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelConfirmWIPType" id="oagis-id-bb2dcdb101be4057a25fa09f631b929a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelConfirmWIPDataAreaType" id="oagis-id-beea626ff07644c7b49858e365f7ee1a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelConfirmWIPDataAreaType" id="oagis-id-ac283897e0ab44d7879a05d5c709ac88">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-62346bd104ee413080e9a662a9457132"/>
			<xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-ddac67511af54bc282cff192ce1b99b2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
