data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCurrencyExchangeRate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelCurrencyExchangeRate.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CurrencyExchangeRate.xsd"/>
	<xsd:element name="CancelCurrencyExchangeRate" type="CancelCurrencyExchangeRateType" id="oagis-id-d34225ca33c8467bbc49be9608248e0e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCurrencyExchangeRate is to enable an application to request specific CurrencyExchangeRate information from another business application module.  The response to the CancelCurrencyExchangeRate is the ShowCurrencyExchangeRate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCurrencyExchangeRateType" id="oagis-id-db0ede6142b04de4863f9b8aa0fd7782">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCurrencyExchangeRateDataAreaType" id="oagis-id-5e149f8fb9ee4d3ebddeec562365f63a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCurrencyExchangeRate. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (CurrencyExchangeRate).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCurrencyExchangeRateDataAreaType" id="oagis-id-d4188faea7b940f39464a5b952aa1776">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-984b951251144417961affa88b32d422"/>
			<xsd:element ref="CurrencyExchangeRate" maxOccurs="unbounded" id="oagis-id-66c37077a00f475ab6482e8e35731015"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
