data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
	<xsd:element name="ChangeOnlineSession" type="ChangeOnlineSessionType" id="oagis-id-cfce6333b2d2472d940ae073240b7a93">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the ChangeOnlineSession is the ShowOnlineSession.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeOnlineSessionType" id="oagis-id-2f8717836a7e4ec9a842a97a16d33cf7">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeOnlineSessionDataAreaType" id="oagis-id-18a7fbbcf6b44081bb8b0dda8483e3c9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeOnlineSessionDataAreaType" id="oagis-id-75e832693e2b426c97dfafd42f660aa2">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-a59393707a7d4e36a1c1cabee850fd20"/>
			<xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-5106d2ec57c741c8b4b2db7422ea98d8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
