data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
	<xsd:element name="ChangeAcknowledgeIssueInventory" type="ChangeAcknowledgeIssueInventoryType" id="oagis-id-dd96fdf1bc424230937a6b622c565779">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeIssueInventory is to respond to a ProcessIssueInventor, where an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:

1. The material is defective and needs replacing, 
2. The material is used up and needs replenishment.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeIssueInventoryType" id="oagis-id-7dc95a8fb84f4292bd1ba3517e105bc2">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeIssueInventoryDataAreaType" id="oagis-id-fde85982148a4cdaac39f4de6b5195b4">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeIssueInventory. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeIssueInventoryDataAreaType" id="oagis-id-e6b663639e2141348ed705155ab465cd">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-2fcf4299811d492ca0320461f90c385c"/>
			<xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-4fd34d3cd97a4867aad45ec87ef4fb63"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
