data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeShipment.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeShipment.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Shipment.xsd"/>
	<xsd:element name="ChangeShipment" type="ChangeShipmentType" id="oagis-id-ea7ff0e9d2ca4c17bcecac931801f516">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ChangeShipment provides the ability to request an application/ system to create a Shipment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeShipmentType" id="oagis-id-c5d8424c476a4e1faec1d57beb2d6d62">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeShipmentDataAreaType" id="oagis-id-6eb242b2f1714204b175549f0262a191">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeShipment. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (Shipment).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeShipmentDataAreaType" id="oagis-id-d134cd3078d64510bf5cbbaa32d3937d">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-7272d757fba142548d1adc405eb8548c"/>
			<xsd:element ref="Shipment" maxOccurs="unbounded" id="oagis-id-5b72c2283caa4e738156960e8d2a32fb"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
