data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeDispatchList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeDispatchList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DispatchList.xsd"/>
	<xsd:element name="ChangeAcknowledgeDispatchList" type="ChangeAcknowledgeDispatchListType" id="oagis-id-91cfb768a4784e8090064ee7ecfe3987">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeDispatchList is to change a dispatch list (finite schedule) information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeDispatchListType" id="oagis-id-59f3fec3d061401cb757ec557da65653">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeDispatchListDataAreaType" id="oagis-id-fc889cb85fe64781a2c7a847798a681b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeDispatchList. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (DispatchList).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeDispatchListDataAreaType" id="oagis-id-72fdbb20c60e4715a603d8a667bf1173">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-ca357a54d7fd4764a2dc4b3542d4f10c"/>
			<xsd:element ref="DispatchList" maxOccurs="unbounded" id="oagis-id-4078421a4f944f8ead19f7d2be1bf02c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
