data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeInvoiceLedgerEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeInvoiceLedgerEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InvoiceLedgerEntry.xsd"/>
	<xsd:element name="ChangeInvoiceLedgerEntry" type="ChangeInvoiceLedgerEntryType" id="oagis-id-9b6673df820a401a9444642bbaf5941b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeInvoiceLedgerEntry is to enable an application to request specific InvoiceLedgerEntry information from another business application module.  The response to the ChangeInvoiceLedgerEntry is the ShowInvoiceLedgerEntry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeInvoiceLedgerEntryType" id="oagis-id-bbbf9fe275ba4fdf8b7c464678a320fc">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeInvoiceLedgerEntryDataAreaType" id="oagis-id-6cb5613a62c64c86a9ff3b189a008ef1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeInvoiceLedgerEntry. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (InvoiceLedgerEntry).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeInvoiceLedgerEntryDataAreaType" id="oagis-id-b0ff1b8c6de94384a9e2df92466ca7b2">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-bf7bfe68912f4b63a5eb97088cd4369e"/>
			<xsd:element ref="InvoiceLedgerEntry" maxOccurs="unbounded" id="oagis-id-fc35b1a188f64ed0a78d349ced6c250a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
