data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
	<xsd:element name="ChangeAcknowledgeRequisition" type="ChangeAcknowledgeRequisitionType" id="oagis-id-2a8a6d7bc05541a186ff4c4dafee0aa3">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeRequisition is to communicate ChangeAcknowledges to an existing request for goods or services.  This ChangeAcknowledge must refer to the original document and/or item requested.  The ChangeAcknowledge processing assumes replacement of fields sent, with the exception of:  the key fields for the Order and Line.

If any of the Field Identifiers above require changing, that constitutes a cancellation of the request and/or the addition of another Requisition.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeRequisitionType" id="oagis-id-35f2ff747e5b4bd2af9b76ce946dd48a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeRequisitionDataAreaType" id="oagis-id-4e485390c8d74637bae18fb73baaacc2">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeRequisition. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeRequisitionDataAreaType" id="oagis-id-43e2909a457f436d98862822fa368bfd">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-d83ce8d55c6945e08d0bc2b52215e6c3"/>
			<xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-9b097208c9f940c4b5e4792951c6404e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
