data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downChangeAcknowledge package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeAcknowledgeBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
	<xsd:element name="ChangeAcknowledgeBudgetLedger" type="ChangeAcknowledgeBudgetLedgerType" id="oagis-id-4ae14236bf014922ab96ea20415e83dc">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeBudgetLedger is to transmit budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeBudgetLedgerType" id="oagis-id-6b9edf8da9ef4f41a6134dfc5b7f812b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeBudgetLedgerDataAreaType" id="oagis-id-f5806126541f491ca17a7ba2526f9763">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeBudgetLedgerDataAreaType" id="oagis-id-cd2006ec6afb463f9be563883566572a">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-c1e3ca7c2157490ea7231bc877246d38"/>
			<xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-f0fcb4768ca24541812c7995a1f75143"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
