data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="ChangeWarehouseShippingAdvice" type="ChangeWarehouseShippingAdviceType" id="oagis-id-690da3c2f1884908b8051e54fcc1d147">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeWarehouseShippingAdvice is to communicate all (full record) Changes the WarehouseShippingAdvice.  The ChangeWarehouseShippingAdvice will also transmit changes to a WarehouseShippingAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeWarehouseShippingAdviceType" id="oagis-id-f4a8b01760e24349b4a0e83f96fa65ac">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeWarehouseShippingAdviceDataAreaType" id="oagis-id-e32cd9a6f4e842b3b4ae80b40cf456bb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeWarehouseShippingAdviceDataAreaType" id="oagis-id-3e41e67185b5427989bb129e461f6754">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-e7ca3c4f1f064459b43c8cbaf1dda286"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-998ca1737c484d13b90109dddd13d2f8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
