data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeHazardousMaterialShipmentDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ChangeHazardousMaterialShipmentDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/HazardousMaterialShipmentDocument.xsd"/>
	<xsd:element name="ChangeHazardousMaterialShipmentDocument" type="ChangeHazardousMaterialShipmentDocumentType" id="oagis-id-a41fb1d1ba4c4ca39aa68c69d0d2b6be">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeHazardousMaterialShipmentDocument is to transmit an HazardousMaterialShipmentDocument from a supplier to a customer. Indicating that the receiver of the HazardousMaterialShipmentDocument is to Change the HazardousMaterialShipmentDocument for payment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeHazardousMaterialShipmentDocumentType" id="oagis-id-18de20844a7547adab3618e2952d6849">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-2fba7b2d179e4b8e85e1042ce54458b5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeHazardousMaterialShipmentDocument. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (HazardousMaterialShipmentDocument).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-c8a6d5a3b5584759adcad48595d184c7">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-0b3c0844ac49437aa9af08682fdfad21"/>
			<xsd:element ref="HazardousMaterialShipmentDocument" maxOccurs="unbounded" id="oagis-id-44e4137124ce447db1bf636ad5bd7dcb"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
