data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetAllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetAllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/AllocateResource.xsd"/>
        <xsd:element name="GetAllocateResource" type="GetAllocateResourceType" id="oagis-id-2598a23adb6a4096b0de7db407a52602">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetAllocateResource is to enable an application to request specific AllocateResource information from another business application module.  The response to the GetAllocateResource is the ShowAllocateResource.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetAllocateResourceType" id="oagis-id-7bde95752fed4eb5be03335865338ea5">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetAllocateResourceDataAreaType" id="oagis-id-0404462f50ec47cc88ddd0951482f220">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetAllocateResource. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (AllocateResource).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetAllocateResourceDataAreaType" id="oagis-id-1ddb289f94c745a3912ff986909b44e3">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-25162940936d4876a60e242232a65553"/>
                        <xsd:element ref="AllocateResource" maxOccurs="unbounded" id="oagis-id-07b71ae6dda2454b932db83cb46013f0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
