data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
        <xsd:element name="GetBudgetLedger" type="GetBudgetLedgerType" id="oagis-id-f34f16d0aaf74952a5448b19194297a7">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetBudgetLedger is to request budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetBudgetLedgerType" id="oagis-id-ddb1b9dcac924a2687fa64b31bbc5163">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetBudgetLedgerDataAreaType" id="oagis-id-f563acc2d844400aa03b558c55bfac0c">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetBudgetLedgerDataAreaType" id="oagis-id-97606459ba974e789c6af08669bcdf3a">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-8a5cb294d3024dc1b4ad18eabd148bf0"/>
                        <xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-f56fa3f98a8b4b2bbf0b9bbf6c9ab490"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
