data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetCorrectiveActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetCorrectiveActionPlan.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionPlan.xsd"/>
	<xsd:element name="GetCorrectiveActionPlan" type="GetCorrectiveActionPlanType" id="oagis-id-e44bea172c584cb49c47fe7b0bba996f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCorrectiveActionPlan is to enable an application to request specific CorrectiveActionPlan information from another business application module.  The response to the GetCorrectiveActionPlan is the ShowCorrectiveActionPlan.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetCorrectiveActionPlanType" id="oagis-id-6878a7ebab7e4ca0a8860cacd5efd7b9">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetCorrectiveActionPlanDataAreaType" id="oagis-id-b1c740bea510482faeadba9a5ec86259">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCorrectiveActionPlan. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CorrectiveActionPlan).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetCorrectiveActionPlanDataAreaType" id="oagis-id-1d07eb9e4f8b45268893baf32ad76ad3">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-7d6f4853b2254a88b220e2ab9abf23a7"/>
			<xsd:element ref="CorrectiveActionPlan" id="oagis-id-a80d8922b15041ddb67a2c4a3de0e32e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
