data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
        <xsd:element name="GetCreditStatus" type="GetCreditStatusType" id="oagis-id-944de07b5a6043cea1b0c3c06ad31058">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCreditStatus is to enable an application to request specific CreditStatus information from another business application module.  The response to the GetCreditStatus is the ShowCreditStatus.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetCreditStatusType" id="oagis-id-98c615dce9a64a98b0721175e32012ad">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetCreditStatusDataAreaType" id="oagis-id-62822cb925f643c8935d1fc8115a8558">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCreditStatus. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetCreditStatusDataAreaType" id="oagis-id-7c6707decb7944e5901aa8b48accc4bf">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-87d436a2492e4f15ba4e5622fb628bef"/>
                        <xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-65b259e1c8744b48acfbe71844c3d290"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
