data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetEngineeringWorkDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetEngineeringWorkDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EngineeringWorkDocument.xsd"/>
        <xsd:element name="GetEngineeringWorkDocument" type="GetEngineeringWorkDocumentType" id="oagis-id-37c7536d259543c8984da32610881519">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetEngineeringWorkDocument is to enable an application to request specific EngineeringWorkDocument from another business application module.  The response to the GetEngineeringWorkDocument is the ShowEngineeringWorkDocument.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetEngineeringWorkDocumentType" id="oagis-id-f3a8d02e6c594453a02bcbea2aeb0bcf">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetEngineeringWorkDocumentDataAreaType" id="oagis-id-f7d32ec943344275a8f504f27b93c4db">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetEngineeringWorkDocument. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (EngineeringWorkDocument).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetEngineeringWorkDocumentDataAreaType" id="oagis-id-f1c8579ff01345368547e578f24b9e9b">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-aed3bf96fce14264ba41c6b286e8e85c"/>
                        <xsd:element ref="EngineeringWorkDocument" maxOccurs="unbounded" id="oagis-id-4301895803cc40dfa7a3d856c5448e96"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
