data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
        <xsd:element name="GetIssueInventory" type="GetIssueInventoryType" id="oagis-id-65f6d9dd4d804da99ed58ce5d8b0facb">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetIssueInventory is to request inventory issue information against an order, from an ERP system into a PDC system to confirm the IssueInventory transaction (BOD).</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetIssueInventoryType" id="oagis-id-0f533739136748c6ad6d9bd0ab7ba628">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetIssueInventoryDataAreaType" id="oagis-id-5fe908478991497fb1a0d820c553c19f">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetIssueInventoryDataAreaType" id="oagis-id-4de797eecb84415f90ae98969bbdc2df">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-68f8388ca3cf4e2f9111011f497a2997"/>
                        <xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-da97994bf78f4e51b5f744bd02226237"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
