data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadProjectAccounting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadProjectAccounting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProjectAccounting.xsd"/>
        <xsd:element name="LoadProjectAccounting" type="LoadProjectAccountingType" id="oagis-id-a19c09ca142f49fa85a9fd139f6ab940">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the LoadProjectAccounting  is to enable all relevant sub-systems that submit single sided transactions to send information to a Project Accounting Application. This would include, but not necessarily be limited to:
·	Accounts Payable
·	Accounts Receivable
·	Budget
·	Order Management
·	Purchasing
·	Time and Labor
·	Travel and Expense

The LoadProjectAccounting will cause common data to be loaded in a project accounting application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="LoadProjectAccountingType" id="oagis-id-13110a86ee244556a93aed7ebdf45421">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="LoadProjectAccountingDataAreaType" id="oagis-id-b5230414a50f433589767f90443d18b8">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case LoadProjectAccounting. The information consists of a Verb and one or more Nouns. The verb (Load) indicates the action to be performed on the Noun (ProjectAccounting).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="LoadProjectAccountingDataAreaType" id="oagis-id-ab2d2647277742a1b4e080137fa686d6">
                <xsd:sequence>
                        <xsd:element ref="Load" id="oagis-id-5951bfce169146b885ecf0818f54f007"/>
                        <xsd:element ref="ProjectAccounting" maxOccurs="unbounded" id="oagis-id-72a553c4c2094012a7a2c876e8e3f4ac"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
