data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadResponsePayable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downLoadResponse package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadResponsePayable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Payable.xsd"/>
	<xsd:element name="LoadResponsePayable" type="LoadResponsePayableType" id="oagis-id-771b27e427484f678202307940e77781">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the LoadResponsePayable is to transmit data to create a payable open item in a payables application from the purchasing information generated in a purchasing application.  The LoadResponsePayable may also update the General Ledger, depending on the specific architecture of the financial applications.

The scope of the LoadResponsePayable indicates that the supplier's invoice is ready to be paid and has already been approved before the information moves to the accounts payable application.  An approved invoice is also known as the voucher.  OAGIS will define the scenario of invoices that get matched within the accounts payable application in a separate Business Service Request later.

Some financial applications have the general ledger and accounts payable databases tightly integrated where updates to the accounts payable application are automatically reflected in the general ledger balances.

The LoadResponsePayable will transmit all information needed for both the accounts payable and the general ledger.

Other applications allow the general ledger balances to be updated separately from the accounts payable.  The second model illustrates that the combination of the LoadResponsePayable and PostJournalEntry will accomplish this scenario.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LoadResponsePayableType" id="oagis-id-5be55e9ed570406bb519eceede8b6a41">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="LoadResponsePayableDataAreaType" id="oagis-id-b78f7caf819e45c495fdbd869b04e1c7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case LoadResponsePayable. The information consists of a Verb and one or more Nouns. The verb (LoadResponse) indicates the action to be performed on the Noun (Payable).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LoadResponsePayableDataAreaType" id="oagis-id-25c0e3f208844a2d96c96b451252934d">
		<xsd:sequence>
			<xsd:element ref="LoadResponse" id="oagis-id-4b08cc096170433a84469e64418d4998"/>
			<xsd:element ref="Payable" maxOccurs="unbounded" id="oagis-id-2d254a2754d14521ab202651f8571d6f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
