data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadActualLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/LoadActualLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ActualLedger.xsd"/>
        <xsd:element name="LoadActualLedger" type="LoadActualLedgerType" id="oagis-id-a4f1f1a07656455eb064de523d01f478">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the LoadActualLedger is to enable an enterprise application to request detailed accounting ledger actual data.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="LoadActualLedgerType" id="oagis-id-0a319509448a4f468909b442f84b4d90">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="LoadActualLedgerDataAreaType" id="oagis-id-33ff7a3d80214e25ad728433513c3d0b">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case LoadActualLedger. The information consists of a Verb and one or more Nouns. The verb (Load) indicates the action to be performed on the Noun (ActualLedger).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="LoadActualLedgerDataAreaType" id="oagis-id-25a2edf9e1e44026a35671983e3ddebd">
                <xsd:sequence>
                        <xsd:element ref="Load" id="oagis-id-2c31b966deef4ca59a28b692e2aa68d3"/>
                        <xsd:element ref="ActualLedger" maxOccurs="unbounded" id="oagis-id-2d3ecd52ecd843e5a2e9766349d43dfc"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
