data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyRequireProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyRequireProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RequireProduct.xsd"/>
	<xsd:element name="NotifyRequireProduct" type="NotifyRequireProductType" id="oagis-id-3858b8cc4a384fefa85a7cbb492d8948">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The NotifyRequireProduct provides the ability to request an application/ system to create a RequireProduct</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyRequireProductType" id="oagis-id-cb0e7b34e1f442079332c94aa089a7e2">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyRequireProductDataAreaType" id="oagis-id-68e3b2373d484880878045fd8f455744">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyRequireProduct. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (RequireProduct).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyRequireProductDataAreaType" id="oagis-id-d81f504d1dad4c54a124642b2edb1778">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-a534f8f79081455da76ab37fdb78d04d"/>
			<xsd:element ref="RequireProduct" maxOccurs="unbounded" id="oagis-id-e231d54b5fb84a528811900b40f5b0bc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
