data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyShippersExportDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyShippersExportDeclaration.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersExportDeclaration.xsd"/>
	<xsd:element name="NotifyShippersExportDeclaration" type="NotifyShippersExportDeclarationType" id="oagis-id-a0511aa2e29847fba3351ee50c952777">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyShippersExportDeclaration is to communicate to a business application component or system the need to report an event occurre regarding a ShippersExportDeclaration or to update an existing ShippersExportDeclaration structure.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyShippersExportDeclarationType" id="oagis-id-5e1d6833d51f4c05b472803e842281ab">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyShippersExportDeclarationDataAreaType" id="oagis-id-5b93517eec4d4cb88564e423065a863a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyShippersExportDeclaration. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ShippersExportDeclaration).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyShippersExportDeclarationDataAreaType" id="oagis-id-152325e507dd4a62955e3b2fea2b802d">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-a52ceec4229e4e829ba6a488f7a26e55"/>
			<xsd:element ref="ShippersExportDeclaration" maxOccurs="unbounded" id="oagis-id-95e098d94c094dbe99d65347b3529a8b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
