data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
        <xsd:element name="NotifyEmployeeWorkTime" type="NotifyEmployeeWorkTimeType" id="oagis-id-f1479bb486d246e8826b392e92e57b25">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyEmployeeWorkTime is to Notify work time information for an employee from a data collection application to an ERP Human Resource application.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyEmployeeWorkTimeType" id="oagis-id-c64161748b8843e0a99781138e0c0564">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyEmployeeWorkTimeDataAreaType" id="oagis-id-fbd9008f43114ec9af19a1393b990778">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyEmployeeWorkTimeDataAreaType" id="oagis-id-7a33f311f717494fb73b2ce8b8359b4c">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-3fa640f473064173b8a1a41a844a3e2b"/>
                        <xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-f3c59e2106c04b0dba99c9f517d5613b"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
