data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
	<xsd:element name="NotifyWIPStatus" type="NotifyWIPStatusType" id="oagis-id-18ae3f3c0021472eb07dd0e5f0c14f62">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Notify WIPStatus is to enable an application or component to Notify a change to the WIPStatus. An AcknowledgeWIPStatus maybe provided as a result of this Notifying to report the results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyWIPStatusType" id="oagis-id-4e07ea604948497a8297f9a625c76d42">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyWIPStatusDataAreaType" id="oagis-id-bcc0e3e12f7b4775ba1bded93bf2f0b5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyWIPStatusDataAreaType" id="oagis-id-ef93bb2418124552a7d28b368f99689f">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-7ea625078d594cd28a87729854635209"/>
			<xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-b5d06f6ba8aa458caf410e41c03db1ff"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
