data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyCorrectiveAction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyCorrectiveAction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveAction.xsd"/>
	<xsd:element name="NotifyCorrectiveAction" type="NotifyCorrectiveActionType" id="oagis-id-4f34e619b0a14f9f8d845066bea1d25d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCorrectiveAction is to communicate to a business application module or system the need to initiate the creation of a CorrectiveAction structure.
  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyCorrectiveActionType" id="oagis-id-2b0dfb6e1355425abaa754b527fb6ac9">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyCorrectiveActionDataAreaType" id="oagis-id-729e51e243544419b4e40390cfe8facb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCorrectiveAction. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CorrectiveAction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyCorrectiveActionDataAreaType" id="oagis-id-79615fbcbe724b9fb4509423e73c095e">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-097455653c0d4746bb67b4de2e87489f"/>
			<xsd:element ref="CorrectiveAction" id="oagis-id-38fc93cd24304f9b9b1cdbfb1ea3f42a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
