data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyCustomerPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/NotifyCustomerPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CustomerPartyMaster.xsd"/>
        <xsd:element name="NotifyCustomerPartyMaster" type="NotifyCustomerPartyMasterType" id="oagis-id-68de81d75ba54c3ca76701c073458e40">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCustomerPartyMaster is to facilitate keeping party information Notifyhronized that exists on separate data bases.  The NotifyCustomerPartyMaster allows the adding of new party and the modification of previously established CustomerPartyMaster.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyCustomerPartyMasterType" id="oagis-id-b3ddce5a9edf4c4b89c0791e1c7a9bdb">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyCustomerPartyMasterDataAreaType" id="oagis-id-2ec09617e1784c01bba5fd7534b3d511">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCustomerPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CustomerPartyMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyCustomerPartyMasterDataAreaType" id="oagis-id-17e11aff85fc4482beaf77e3d66fbb32">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-7a8fad48b2cb4efc989cf925653f1587"/>
                        <xsd:element ref="CustomerPartyMaster" maxOccurs="unbounded" id="oagis-id-05c8c197108449f3882f68fc7399ebb2"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
