data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/PostActualLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downPost package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/PostActualLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ActualLedger.xsd"/>
	<xsd:element name="PostActualLedger" type="PostActualLedgerType" id="oagis-id-e9aada4df790474b858e9780dd58f506">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the PostActualLedger is to enable an enterprise application to request detailed accounting ledger actual data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PostActualLedgerType" id="oagis-id-07a1ce7d80f046e9887356064b7d5026">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="PostActualLedgerDataAreaType" id="oagis-id-96852a1c150645a2967e4168e0b417af">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case PostActualLedger. The information consists of a Verb and one or more Nouns. The verb (Post) indicates the action to be performed on the Noun (ActualLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PostActualLedgerDataAreaType" id="oagis-id-7ff3b425ad5e4697a90012b8f6519760">
		<xsd:sequence>
			<xsd:element ref="Post" id="oagis-id-09d128be4d6f4d17ae1da00972e03e16"/>
			<xsd:element ref="ActualLedger" maxOccurs="unbounded" id="oagis-id-a128fc9310ce4a5daef1c7052b20a05b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
