data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/PostInvoiceLedgerEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/PostInvoiceLedgerEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InvoiceLedgerEntry.xsd"/>
	<xsd:element name="PostInvoiceLedgerEntry" type="PostInvoiceLedgerEntryType" id="oagis-id-2de9d0515ee4430bbe0b06fb7de634d4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the PostInvoiceLedgerEntry is to enable an application to request specific InvoiceLedgerEntry information from another business application module.  The response to the PostInvoiceLedgerEntry is the ShowInvoiceLedgerEntry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PostInvoiceLedgerEntryType" id="oagis-id-caf37b5512ed43aab82ca2f09a09c3c6">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="PostInvoiceLedgerEntryDataAreaType" id="oagis-id-ff917d55a68e43459e7210cd254f8812">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case PostInvoiceLedgerEntry. The information consists of a Verb and one or more Nouns. The verb (Post) indicates the action to be performed on the Noun (InvoiceLedgerEntry).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PostInvoiceLedgerEntryDataAreaType" id="oagis-id-8f05e46dbeb94b0bbbdea5aae70be70c">
		<xsd:sequence>
			<xsd:element ref="Post" id="oagis-id-4127fcb1513c4631ae5e98a9ff175742"/>
			<xsd:element ref="InvoiceLedgerEntry" maxOccurs="unbounded" id="oagis-id-9e062172bd4b4457bcfb25dd1d87c00b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
