data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Invoice.xsd"/>
        <xsd:element name="ProcessInvoice" type="ProcessInvoiceType" id="oagis-id-7814973e3d19488ba917cb61ac28b257">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessInvoice is to transmit an invoice from a supplier to a customer. Indicating that the receiver of the Invoice is to Process the Invoice for payment.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessInvoiceType" id="oagis-id-b51a29bbe9c94ae986d44ddcd9d7f627">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessInvoiceDataAreaType" id="oagis-id-8859aa7fea054ed2981af5a9be991e6b">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessInvoice. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (Invoice).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessInvoiceDataAreaType" id="oagis-id-9f8525e4a22944c894bb7943c6de52bb">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-683805bd4049421e9ce3d3da8efaf630"/>
                        <xsd:element ref="Invoice" maxOccurs="unbounded" id="oagis-id-9f49996f77c24b2c9fb92d5770a7dc5d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
