data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessReceiveItem.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessReceiveItem.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ReceiveItem.xsd"/>
        <xsd:element name="ProcessReceiveItem" type="ProcessReceiveItemType" id="oagis-id-db3a4a48040f47ddbf4f4e5099ef4156">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessInventoryTransfer is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessReceiveItemType" id="oagis-id-7d2ccc75e0374c23943931f6d50cc7fa">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessReceiveItemDataAreaType" id="oagis-id-98b24d07389047c7a3e7f5f93b0b3a32">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessReceiveItem. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ReceiveItem).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessReceiveItemDataAreaType" id="oagis-id-2c7fbc1efe664efe9a1093a2136d8f99">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-43e49b7102c149499cd5059b27ec9576"/>
                        <xsd:element ref="ReceiveItem" maxOccurs="unbounded" id="oagis-id-dd31cf160b0a45e78c5d2c3ba1671f12"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
