data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
        <xsd:element name="ProcessDebitTransfer" type="ProcessDebitTransferType" id="oagis-id-59c2e98b48834f258ca1a412b99738d4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the ProcessDebitTransfer is the ProcessDebitTransfer.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessDebitTransferType" id="oagis-id-d5bbace2f18448ce97700ad7bbd2b965">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessDebitTransferDataAreaType" id="oagis-id-43dc4b4727fc432d961c0e3bd5c7d312">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessDebitTransferDataAreaType" id="oagis-id-7e2ff4459c2747a594a58300110e2381">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-9a3b76f8515c4b6aa64a60f9a506122b"/>
                        <xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-faa6312999e74c6c8eba2b7100547f03"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
