data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessCurrencyExchangeRate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessCurrencyExchangeRate.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CurrencyExchangeRate.xsd"/>
	<xsd:element name="ProcessCurrencyExchangeRate" type="ProcessCurrencyExchangeRateType" id="oagis-id-b99797ac8a4a409ebbe3122fe4d3c430">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessCurrencyExchangeRate is to enable an application to request specific CurrencyExchangeRate information from another business application module.  The response to the ProcessCurrencyExchangeRate is the ShowCurrencyExchangeRate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessCurrencyExchangeRateType" id="oagis-id-e3b83f8a154f40ccaf631db2596a5418">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessCurrencyExchangeRateDataAreaType" id="oagis-id-5008b244fbb542218d0fe50362dc27cc">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessCurrencyExchangeRate. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (CurrencyExchangeRate).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessCurrencyExchangeRateDataAreaType" id="oagis-id-50e6744f88634271adb87f1e48bd8d10">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-c85f56ffe2f04b5589c873e14cfe4871"/>
			<xsd:element ref="CurrencyExchangeRate" maxOccurs="unbounded" id="oagis-id-f4463504995348f9a667ac103a28219a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
