data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessDebitTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessDebitTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.008.001.04" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransferIST.xsd"/>
	<xsd:element name="ProcessDebitTransferIST" type="ProcessDebitTransferISTType" id="oagis-id-dfa2727087b94e09a0acd38bdf61e245">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessDebitTransferIST is to enable an application to request specific DebitTransferIST information from another business application module.  The response to the ProcessDebitTransferIST is the ProcessDebitTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessDebitTransferISTType" id="oagis-id-f4d965beb48c4de1aeab483a9d124ae1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessDebitTransferISTDataAreaType" id="oagis-id-7a73ae5d0f1745a286157854f0f4a5f4">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessDebitTransferIST. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (DebitTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessDebitTransferISTDataAreaType" id="oagis-id-923dfa1cb9fe41a59a4aacee7bd344cf">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-531beae95b1740ff8dfaa2f6992a42b6"/>
			<xsd:element ref="DebitTransferIST" maxOccurs="unbounded" id="oagis-id-c917ecac6f144450aabdf680e575275e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
