data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessInventoryBalance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ProcessInventoryBalance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryBalance.xsd"/>
        <xsd:element name="ProcessInventoryBalance" type="ProcessInventoryBalanceType" id="oagis-id-04422dc812b0434cad2cb97c12ff8704">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessInventoryBalance is to enable the communicate the need of processing of InventoryBalance data that exists on separate Inventory systems, where the two systems are peers.

This data is not the master data that describes the attributes of the item such as dimensions, weight, or unit of measure.  

This is data that describes the ITEM as it exists at a specific location.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessInventoryBalanceType" id="oagis-id-582b3a28155640558e8acea970fcdd66">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessInventoryBalanceDataAreaType" id="oagis-id-31bc46bec7c54576a9be0c0680c47e45">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessInventoryBalance. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (InventoryBalance).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessInventoryBalanceDataAreaType" id="oagis-id-8b0859e48ae347059a2f6e37a94e630b">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-9c0cfce57f7a493d9a098aa4dbd082df"/>
                        <xsd:element ref="InventoryBalance" maxOccurs="unbounded" id="oagis-id-ebcf8c8e9167439b81634660519ee4ac"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
