data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
        <xsd:element name="ShowRequisition" type="ShowRequisitionType" id="oagis-id-bfb747d83af1419990c083c125a4e1af">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowRequisition is to send information relative to demand for goods or services to another business application.  This may be in response to a GetRequisition request, or it may be a notification vehicle, initiated upon an event in a business application. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowRequisitionType" id="oagis-id-9068df6aba0940b280fc0e76befc04da">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowRequisitionDataAreaType" id="oagis-id-e47f6abeb2784e7bb677e0bf957b35a1">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowRequisition. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowRequisitionDataAreaType" id="oagis-id-803a2eab860b493c9d85ba75cd735411">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-89ba22ab8ba641fa9793c1c107c25beb"/>
                        <xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-fd8f6d799da244ec8db250363547af6f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
