data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowPaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowPaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
        <xsd:element name="ShowPaymentStatus" type="ShowPaymentStatusType" id="oagis-id-f3193e4ab0b0459daf61f4ad3299fec2">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowPaymentStatus is to enable an application to respond with specific PaymentStatus information from another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatus to company that has provide goods or services.  

This tpically provided in response to the GetPaymentStatus.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowPaymentStatusType" id="oagis-id-34f75f7a2c1a411a89efcc0748d80e22">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowPaymentStatusDataAreaType" id="oagis-id-4649909dee3041698b0861a57a60d513">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowPaymentStatus. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowPaymentStatusDataAreaType" id="oagis-id-6f69d40f4f554b0dbe217bd4deb27da3">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-a02f9fb5d5c444049d881a7b8ee33caf"/>
                        <xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-961ef1faea4a4da8a0ab4c38319a3bfb"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
