data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowRiskControlLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowRiskControlLibrary.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RiskControlLibrary.xsd"/>
        <xsd:element name="ShowRiskControlLibrary" type="ShowRiskControlLibraryType" id="oagis-id-7992101d5c854353b6f01d56324cbc19">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowRiskControlLibrary is to supply RiskControlLibrary information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowRiskControlLibraryType" id="oagis-id-1879a78cf97540ce946299be0ec10a2a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowRiskControlLibraryDataAreaType" id="oagis-id-7661e1cf2119469a82b728f8f1bb395c">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowRiskControlLibrary. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (RiskControlLibrary).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowRiskControlLibraryDataAreaType" id="oagis-id-0889ddd43d0c42eab229993b3fdef717">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-ed72dc516a0142de827bed9d96877ec5"/>
                        <xsd:element ref="RiskControlLibrary" maxOccurs="unbounded" id="oagis-id-aceb1a4ab9e042c7923e86b99b5ea67d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
