data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowCorrectiveAction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowCorrectiveAction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveAction.xsd"/>
	<xsd:element name="ShowCorrectiveAction" type="ShowCorrectiveActionType" id="oagis-id-b8046f2ce5994186aedcbf615083628b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCorrectiveAction is to supply CorrectiveAction information to another business application module. The ShowCorrectiveAction is the response to a request for information for a CorrectiveAction, a GetCorrectiveAction.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowCorrectiveActionType" id="oagis-id-e7d3d4a577b7420ab606c3d2adf97083">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowCorrectiveActionDataAreaType" id="oagis-id-bc14ab5a67b8418d91e3e65e4e04eedd">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCorrectiveAction. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (CorrectiveAction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowCorrectiveActionDataAreaType" id="oagis-id-6f60651b175d46e48320752dea41ec45">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-92add33bbe7e4afb8e36caf612653144"/>
			<xsd:element ref="CorrectiveAction" id="oagis-id-17389ed612f541ccae98054a5be78411"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
