data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowCorrectiveActionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowCorrectiveActionRequest.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionRequest.xsd"/>
	<xsd:element name="ShowCorrectiveActionRequest" type="ShowCorrectiveActionRequestType" id="oagis-id-508d25e93c3948f280d111c124ecd292">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCorrectiveActionRequest is to supply CorrectiveActionRequest information to another business application module. The ShowCorrectiveActionRequest is the response to a request for information for a CorrectiveActionRequest, a GetCorrectiveActionRequest.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowCorrectiveActionRequestType" id="oagis-id-b06860381ce64fddbde293ad2bba413e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowCorrectiveActionRequestDataAreaType" id="oagis-id-d53012d6e576456e91a929e6d7962daa">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCorrectiveActionRequest. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (CorrectiveActionRequest).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowCorrectiveActionRequestDataAreaType" id="oagis-id-d6ce8c754c854bf1b648d5d7b205ccf1">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-4004deb0708a4544a99c307416c8a445"/>
			<xsd:element ref="CorrectiveActionRequest" id="oagis-id-da394a153c5841b08e6274e8a23027f0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
