data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/ShowWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="ShowWarehouseShippingAdvice" type="ShowWarehouseShippingAdviceType" id="oagis-id-cc8a9c38d8eb49689772bcd112be8157">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ShowWarehouseShippingAdvice may be used to respond to a request of a GetWarehouseShippingAdvice with a given set of WarehouseShippingAdvice that match the request. A ShowWarehouseShippingAdvice is the response to a GetWarehouseShippingAdvice.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowWarehouseShippingAdviceType" id="oagis-id-ced6788c70db4950a525c4ad4e981224">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowWarehouseShippingAdviceDataAreaType" id="oagis-id-d134f868f0e64d6caf6055dd47225f09">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowWarehouseShippingAdviceDataAreaType" id="oagis-id-5e468bdd9e8f4bdfba407a9141735de7">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-57745186acbd4a03ba568d9d6c0b02a6"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-5e08a91f58a94867a735566c0fdaa23c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
