data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncRouting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncRouting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Routing.xsd"/>
	<xsd:element name="SyncRouting" type="SyncRoutingType" id="oagis-id-c2644231b4674871abf1afe4eb833ef9">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncRouting is to communicate to a business application component or system the need to create a new Routing or to update an existing Routing structure.

This BOD may be necessary to address the Make to Order, Assemble to Order, and Finished Goods business ordering scenarios in a Logistics to Manufacturing application integration scenario.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncRoutingType" id="oagis-id-e6ab4f95a5f2426ab0f5152ec0e4bf3e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncRoutingDataAreaType" id="oagis-id-981210fa2dce4249b73ca892940432f6">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncRouting. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (Routing).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncRoutingDataAreaType" id="oagis-id-1950ecd40ea944869f032f594019595f">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-29918fab09d94ba398ee0b6a3579ca67"/>
			<xsd:element ref="Routing" maxOccurs="unbounded" id="oagis-id-ca09f007979a4c55b1bc957e88187bb6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
