data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
        <xsd:element name="SyncShipmentSchedule" type="SyncShipmentScheduleType" id="oagis-id-dfbd10e8d30e4df0a972fc66c4abbda5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncShipmentSchedule is to enable the exchange of shipment schedule information, authorizing a shipment quantity and date for specific trading partners and addresses.

Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncShipmentScheduleType" id="oagis-id-d3f9b95929574b1aa46589db8a5aab91">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncShipmentScheduleDataAreaType" id="oagis-id-3a1512c00ad04112820839d97ae91a62">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncShipmentScheduleDataAreaType" id="oagis-id-b34e8ac28dd1440ab9444801fc674ac5">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-aad6cec05e94471ea38347b35ea6742a"/>
                        <xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-2aa79a8c92524ad2a4cddf0bb9856381"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
