data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponseSalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponseSalesOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SalesOrder.xsd"/>
	<xsd:element name="SyncResponseSalesOrder" type="SyncResponseSalesOrderType" id="oagis-id-0477e717f6c54079aff8cdad1c1c332b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseSalesOrder is to communicate the response to a SalesOrder message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseSalesOrderType" id="oagis-id-1ae1af667424491fb89711dbccd4fcbc">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseSalesOrderDataAreaType" id="oagis-id-238a01c20769461e822a322c4e5f5c87">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseSalesOrder. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (SalesOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseSalesOrderDataAreaType" id="oagis-id-adcb3655ebe245809f473d024704755f">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-d8738bba49b845be9a3977e0574806c0"/>
			<xsd:element ref="SalesOrder" maxOccurs="unbounded" id="oagis-id-9eb7f66074514eb9801c0d0452e70a86"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
