data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncPaymentStatusIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncPaymentStatusIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.002.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatusIST.xsd"/>
	<xsd:element name="SyncPaymentStatusIST" type="SyncPaymentStatusISTType" id="oagis-id-83a9d65292cb40c4a7f0257308eecd3f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncPaymentStatusIST is to enable an application to request specific PaymentStatusIST information to be Synced by another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatusIST to company that has provided goods or services.  

The response to the SyncPaymentStatusIST is the AcknowledgePaymentStatusIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncPaymentStatusISTType" id="oagis-id-03ba2b039b7e4927a92c1ac62c23705b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncPaymentStatusISTDataAreaType" id="oagis-id-25041273b4c5407a8a24c37c207d2914">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncPaymentStatusIST. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PaymentStatusIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncPaymentStatusISTDataAreaType" id="oagis-id-ff50e99a5dc341b0a81a32b9d927e8d4">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-c85b562b50134052af8718c6ff891047"/>
			<xsd:element ref="PaymentStatusIST" maxOccurs="unbounded" id="oagis-id-3a0d6f0adae94bbebc47517713a659f0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
