data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncReceiveItem.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncReceiveItem.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ReceiveItem.xsd"/>
	<xsd:element name="SyncReceiveItem" type="SyncReceiveItemType" id="oagis-id-d6dd964538694b9bb8e4d60d09f4b8e8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncInventoryTransfer is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncReceiveItemType" id="oagis-id-b8b7854199284d61b1414b602b982a02">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncReceiveItemDataAreaType" id="oagis-id-7819d4b7404b4b439c7ebf2b8000d02d">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncReceiveItem. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (ReceiveItem).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncReceiveItemDataAreaType" id="oagis-id-a871626c36cd4be784fdfa8478505c6d">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-6bb4fa76ddab48c2971f2c960c9f6ea6"/>
			<xsd:element ref="ReceiveItem" maxOccurs="unbounded" id="oagis-id-3304957e156f48b8912dc5be761dc4a3"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
