data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Quote.xsd"/>
        <xsd:element name="SyncQuote" type="SyncQuoteType" id="oagis-id-0b92577205ca4e2aa121f1affce770d9">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncQuote is to ensure that all business software components in a specific integration instance have the current Quote information. This BOD is commonly used to publish the need to create or update a Quote in a publish and subscribe integration environment.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncQuoteType" id="oagis-id-2e85f0d130e54c198b3908a72de61c65">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncQuoteDataAreaType" id="oagis-id-ff297699199346ca8f943ce832e01b0b">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncQuote. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncQuoteDataAreaType" id="oagis-id-34c81fc5af4f46b282bd8df431e8f636">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-a5028cc9ba1546ec93533d6fce431243"/>
                        <xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-fe7f3a25d78e4474bb3d392ce3676d39"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
