data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponseQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponseQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Quote.xsd"/>
	<xsd:element name="SyncResponseQuote" type="SyncResponseQuoteType" id="oagis-id-7a3ad320ff9b470390098da7511361ba">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseQuote is to communicate from one business application to one or more other business applications that a additional data related to a quote has been added or needs to be added, depending on the business case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseQuoteType" id="oagis-id-c4a8be02206c45af86d2a7ba5b831c1b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseQuoteDataAreaType" id="oagis-id-a8605e6071534b279f0b967e82309aad">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseQuote. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseQuoteDataAreaType" id="oagis-id-1b931ba49d1e415e819bd1a3941b264d">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-f0606d0f382c4c3386e5a9b2ae827d5c"/>
			<xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-d80ceb817dc749b38acf97663fca1c51"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
