data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponsePaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncResponsePaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
	<xsd:element name="SyncResponsePaymentStatus" type="SyncResponsePaymentStatusType" id="oagis-id-6491651d616343ef926b46f501f8b09c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponsePaymentStatus is to provide the results of an application to process specific PaymentStatus information by the ProcessPaymentStatus.

This typically a transaction that occurs between a company and a Bank in order to remit payment to company that has provided goods or services.  

This is the response to the ProcessPaymentStatus.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponsePaymentStatusType" id="oagis-id-9cc41f61eae142e688d67c5ab3885a9a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponsePaymentStatusDataAreaType" id="oagis-id-25a2a5da869f4977bb968fe2a1aa9978">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponsePaymentStatus. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponsePaymentStatusDataAreaType" id="oagis-id-12d932de953045bab56455c4438227fa">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-31febbf229d148f19b4696a36bc811d5"/>
			<xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-22978b67aabc437f91292370848174cf"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
