data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncHazardousMaterialShipmentDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncHazardousMaterialShipmentDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/HazardousMaterialShipmentDocument.xsd"/>
	<xsd:element name="SyncHazardousMaterialShipmentDocument" type="SyncHazardousMaterialShipmentDocumentType" id="oagis-id-abb4e109fcc74c61a614c7dde780b858">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Sync HazardousMaterialShipmentDocument is to communicate HazardousMaterialShipmentDocument Information from the owner of a HazardousMaterialShipmentDocument  to another business application module.  The receiver of this BOD does is expected to take the information provided and populate their information on the HazardousMaterialShipmentDocument from this BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncHazardousMaterialShipmentDocumentType" id="oagis-id-5918421a26284b18b7be6e1e776a90a4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-501fe5beeebf4a97a07c178617c374ff">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncHazardousMaterialShipmentDocument. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (HazardousMaterialShipmentDocument).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-ecf363f68dce4a42ad9b14ef361709aa">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-4b0060c74e314d55aca92f86be181e5a"/>
			<xsd:element ref="HazardousMaterialShipmentDocument" maxOccurs="unbounded" id="oagis-id-efae8286e0874272b956c272a5483fcb"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
