data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="SyncCreditTransferIST" type="SyncCreditTransferISTType" id="oagis-id-f4b4d47aa6be4ab6b8088f6385bb275a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the SyncCreditTransferIST is the SyncCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncCreditTransferISTType" id="oagis-id-d2fc194454e845f98c1e9a87452213c4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncCreditTransferISTDataAreaType" id="oagis-id-63c44b158ec54e81b0a586b8fa797d64">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncCreditTransferISTDataAreaType" id="oagis-id-72f9e75a27c74edc8b522f1c3098a902">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-266aa27c07cd48d4b986dd728610fc34"/>
			<xsd:element ref="CreditTransferIST" maxOccurs="unbounded" id="oagis-id-e2c10c1b91f44991abc4eb804b1ca146"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
