data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="SyncRemittanceAdvice" type="SyncRemittanceAdviceType" id="oagis-id-361de778558349c880534080a2cc1e6c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Sync Remittance Advice is to communicate Remittance Advice Information from the owner of a Remittance Advice to another business application module.  The receiver of this BOD does is expected to take the information provided and populate their information on the Remittance Advice from this BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncRemittanceAdviceType" id="oagis-id-a1edaa5a96e443e8b714678880675558">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncRemittanceAdviceDataAreaType" id="oagis-id-c514b324bec140ed8be96b9ea772046c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncRemittanceAdviceDataAreaType" id="oagis-id-a38470fe014d4c7dab2e2727acd5e1b3">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-d06032cebab0494c95d5f0305ddeda7d"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-c43dfa94765f44cab0f72403af2da512"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
