data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncPartyScreen.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncPartyScreen.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreen.xsd"/>
	<xsd:element name="SyncPartyScreen" type="SyncPartyScreenType" id="oagis-id-8f3217c56e3d4a599b6ebcfda8ae4a74">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncPartyScreen is to transmit an PartyScreen. Indicating that the receiver of the PartyScreen is to Sync the PartyScreen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncPartyScreenType" id="oagis-id-baa1315cfbcf40ad8ab2c67adbb96ffb">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncPartyScreenDataAreaType" id="oagis-id-a33dcd9a1a734f66bad555259c620a8a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncPartyScreen. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PartyScreen).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncPartyScreenDataAreaType" id="oagis-id-9ae90229de284dc8841761f53bf8bccc">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-f4547db8cc8f421e9fefd1dbdb9618e1"/>
			<xsd:element ref="PartyScreen" maxOccurs="unbounded" id="oagis-id-acd7911834eb491b9f03311a1cb5b110"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
