data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncMoveInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/SyncMoveInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveInventory.xsd"/>
	<xsd:element name="SyncMoveInventory" type="SyncMoveInventoryType" id="oagis-id-bbdbf44a2f49496dbe48439051c59cf1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncMoveInventory is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncMoveInventoryType" id="oagis-id-f2e3182703a94fc5b721248022cd8f09">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncMoveInventoryDataAreaType" id="oagis-id-eefb9d741bf9493b86ee8c49ed0189a8">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncMoveInventory. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (MoveInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncMoveInventoryDataAreaType" id="oagis-id-2d2d15124a0740fb86b750ebca0aecc9">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-c43b0935d66e45caa85cb4b6c69734f9"/>
			<xsd:element ref="MoveInventory" maxOccurs="unbounded" id="oagis-id-90ee17c209fb40dabb5180bfc5519935"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
