data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEngineeringWorkDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEngineeringWorkDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EngineeringWorkDocument.xsd"/>
        <xsd:element name="AcknowledgeEngineeringWorkDocument" type="AcknowledgeEngineeringWorkDocumentType" id="oagis-id-2463aab602f4411d8822719d3d2accfd">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeEngineeringWorkDocument is to enable an application to provide EngineeringWorkDocument from another business application module. The AcknowledgeEngineeringWorkDocument is provided in response to the ProcessEngineeringWorkDocument in order to accept or reject the request to process.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeEngineeringWorkDocumentType" id="oagis-id-913a8414fafb4472934ef66ad4a0d70c">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeEngineeringWorkDocumentDataAreaType" id="oagis-id-5acc23dc4aaa46b695abb735ede0eb75">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeEngineeringWorkDocument. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (EngineeringWorkDocument).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeEngineeringWorkDocumentDataAreaType" id="oagis-id-d1887e19acbf4403ab858398f55f9e71">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-fa5e5ce0eccd4eb4ab91db51188fc03e"/>
                        <xsd:element ref="EngineeringWorkDocument" maxOccurs="unbounded" id="oagis-id-4342f756be9e4920b077d0e5873dbb5f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
