data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeInventoryCount.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeInventoryCount.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryCount.xsd"/>
        <xsd:element name="AcknowledgeInventoryCount" type="AcknowledgeInventoryCountType" id="oagis-id-7ca9d21b2de14abcb50f6a571db7affa">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeInventoryCount is to transmit an inventory count to ERP from the actual physical inventory location. This count may be a cycle count or a physical count.  This BOD may also apply to planned or unplanned inventory counts.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeInventoryCountType" id="oagis-id-9d01fb301b534c958c7651aa4c526d65">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeInventoryCountDataAreaType" id="oagis-id-c189c095fe5d4f349896b3ccd0015b52">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeInventoryCount. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (InventoryCount).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeInventoryCountDataAreaType" id="oagis-id-6a685d923b814109a69b3fffe837334e">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-6eaf9035434344d781a552e2c4b7af69"/>
                        <xsd:element ref="InventoryCount" maxOccurs="unbounded" id="oagis-id-09a81e045b8343a7bc18769cdfd5901e"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
