data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
	<xsd:element name="AcknowledgeSequenceSchedule" type="AcknowledgeSequenceScheduleType" id="oagis-id-946719e7c31845779ea0cb1cf648f246">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeSequenceSchedule is to enable the exchange of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeSequenceScheduleType" id="oagis-id-9b99541930e04d41a13c03e53388f1fe">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeSequenceScheduleDataAreaType" id="oagis-id-7d1bd96d0fc14e7fa29b9b14c73979b7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeSequenceScheduleDataAreaType" id="oagis-id-19cba9a60c7342e0a1a5504811a64654">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-9c3870383b1d489a93ad7840fbb4fb08"/>
			<xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-7884a74e8e8a48c984bd2f1e18f2e32a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
