data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
        <xsd:element name="AcknowledgeEmployeeWorkTime" type="AcknowledgeEmployeeWorkTimeType" id="oagis-id-3cb5e5ac5f024a17bbba3d4b20a677b7">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeEmployeeWorkTime is to Acknowledge work time information for an employee from a data collection application to an ERP Human Resource application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeEmployeeWorkTimeType" id="oagis-id-a8ead567c253414c8565a0864f077872">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeEmployeeWorkTimeDataAreaType" id="oagis-id-2c67e03b902544179a0b6955efd0d660">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeEmployeeWorkTimeDataAreaType" id="oagis-id-544a3d52503c4231b92d680655c03899">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-c696522823f24a57948a623b73b44e55"/>
                        <xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-edbf14fe696841c18e81493327aa0e88"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
