data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgePickList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgePickList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PickList.xsd"/>
        <xsd:element name="AcknowledgePickList" type="AcknowledgePickListType" id="oagis-id-91ee250b13cd480fab99dad954f85c49">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgePickList is to Acknowledge the details of an individual Picking List from a plant level to an ERP system. This BOD will usually cause Acknowledges to occur.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgePickListType" id="oagis-id-3adce348fba9400c85ae29a465d850c9">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgePickListDataAreaType" id="oagis-id-96ffa2c127f4475e886b74c3d4b125f3">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgePickList. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (PickList).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgePickListDataAreaType" id="oagis-id-02414762a6f9426ea82edcef9127109f">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-122524ef66b643e395b64882f5403ace"/>
                        <xsd:element ref="PickList" maxOccurs="unbounded" id="oagis-id-329c1b88d61242d7934cfd07ef79c2f1"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
