data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEngineeringChangeOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeEngineeringChangeOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EngineeringChangeOrder.xsd"/>
        <xsd:element name="AcknowledgeEngineeringChangeOrder" type="AcknowledgeEngineeringChangeOrderType" id="oagis-id-8414f88c91be4d62afc1cc734ca047ff">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeEngineeringChangeOrder Business Object Document is to acknowledge receipt of the EngineeringChangeOrder</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeEngineeringChangeOrderType" id="oagis-id-f3c91f779e1742dc9d3b8c1ad051d935">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeEngineeringChangeOrderDataAreaType" id="oagis-id-f23e7ff2ccbe4af2bb2051d5ef81da29">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeEngineeringChangeOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (EngineeringChangeOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeEngineeringChangeOrderDataAreaType" id="oagis-id-20bdfcaa2ea34c22ac6356d43492ffbd">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-3975b89690be4246b5881f3490d2dc11"/>
                        <xsd:element ref="EngineeringChangeOrder" maxOccurs="unbounded" id="oagis-id-7d3da45ecb5c4147a5064c2ab121955d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
