data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
        <xsd:element name="AcknowledgeCreditStatus" type="AcknowledgeCreditStatusType" id="oagis-id-9acb7758cb5e48c6a2dbf824c1746889">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeCreditStatus Business Object Document is to acknowledge receipt of the CreditStatus</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeCreditStatusType" id="oagis-id-3610cfb079c44e4f8b16abde25655dc4">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeCreditStatusDataAreaType" id="oagis-id-3478258d18954d4fbbc7919987be78cb">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeCreditStatus. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeCreditStatusDataAreaType" id="oagis-id-fdf46e66b47e451fbf14a8c933f7a0df">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-9b83cf2c6f134ce98d71a9f45e572376"/>
                        <xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-0d6eafc5536c4f899839c30d3fc9d159"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
