data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="AcknowledgeRemittanceAdvice" type="AcknowledgeRemittanceAdviceType" id="oagis-id-c599d079992e4aad8c7c00324cd5b5fb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeRemittanceAdvice is to enable an application to request specific RemittanceAdvice information from another business application module.  The response to the ProcessRemittanceAdvice is the AcknowledgeRemittanceAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeRemittanceAdviceType" id="oagis-id-798551ef4579465387e30bf71050d039">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeRemittanceAdviceDataAreaType" id="oagis-id-d83019c229fd48e68b3441fdea6f4a15">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeRemittanceAdviceDataAreaType" id="oagis-id-2b633c8cd1ac418db84fa88ba2d01ffd">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-22960fe67312433688cca1586c8e5d82"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-59e1f1f0bc4d4b108f69f901508089c4"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
