data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="CancelDebitTransfer" type="CancelDebitTransferType" id="oagis-id-bddedbc490f64b12aba43b0584c3c704">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the CancelDebitTransfer is the CancelDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelDebitTransferType" id="oagis-id-72376e58511242279d3ef730a1275914">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelDebitTransferDataAreaType" id="oagis-id-70cd14a03e0d4b488d108b8f57dc1b93">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelDebitTransferDataAreaType" id="oagis-id-a389501920ff4bd6b25fce5e10b6ce8c">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-3485cd9323f24c7ca90357d2d12967ad"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-dc8b08a2b7ae4371b498f0ae67504469"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
