data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
	<xsd:element name="CancelAcknowledgeIssueInventory" type="CancelAcknowledgeIssueInventoryType" id="oagis-id-e25f5ca242f3446b81afc4d7d6213c26">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeIssueInventory is to respond to a ProcessIssueInventor, where an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:

1. The material is defective and needs replacing, 
2. The material is used up and needs replenishment.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeIssueInventoryType" id="oagis-id-d583f848d4984c4390e5bd2542428d5d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeIssueInventoryDataAreaType" id="oagis-id-0678e161bb524b2584ef16855bf819f0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeIssueInventory. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeIssueInventoryDataAreaType" id="oagis-id-f99586930fda4d2b8cac605aa9ed8401">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-177640fcd4ff4b0c871ff7407e5c69ea"/>
			<xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-8ea709d5f3674edbaf86cd03c2acfe1c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
