data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
	<xsd:element name="CancelAcknowledgeSequenceSchedule" type="CancelAcknowledgeSequenceScheduleType" id="oagis-id-e558c23a3ed5422781eba194ab3f54f8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeSequenceSchedule is to enable the exchange of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeSequenceScheduleType" id="oagis-id-235872df84484d04aae8bf50ec33552c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeSequenceScheduleDataAreaType" id="oagis-id-b914ee00b12445798091461b30d1bcad">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeSequenceScheduleDataAreaType" id="oagis-id-6639ddee5a5e47b6b0b9a65932991a92">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-17ffe0924c4d4bf99ad2bf540a4cedeb"/>
			<xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-01de0f67a64146e69235f4c2ca6ed950"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
