data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
	<xsd:element name="CancelOnlineSession" type="CancelOnlineSessionType" id="oagis-id-79ec1c72b1854b6796bd4ab75f9caa5c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the CancelOnlineSession is the ShowOnlineSession.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelOnlineSessionType" id="oagis-id-93f9806b21a94214b523a1cbd1c48438">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelOnlineSessionDataAreaType" id="oagis-id-b76b3203aef34f87a0391ae99384d014">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelOnlineSessionDataAreaType" id="oagis-id-fc6258da743d497da612efba9cd9572d">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-e66af69799844639863b022e388fb570"/>
			<xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-2238b12079254ff19a65b1a9f3ff0623"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
