data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelProductionOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionOrder.xsd"/>
        <xsd:element name="CancelProductionOrder" type="CancelProductionOrderType" id="oagis-id-1ed33ee16481478c8576a96f3e1d92dc">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelProductionOrder is to notify a Manufacturing Application of the need to cancel a previous order to make a product in a specific quantity, for a specific need by date. This BOD may be used to cancel an entire Production Order, or a specific line on the production order.

Processing Note:  

This cancel must refer to the original document and/or item ordered.  To cancel the entire order, include only the Header information for the instance of the Production Order you wish to cancel.  To cancel a line or several lines, each line to be cancelled must be included in the request.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelProductionOrderType" id="oagis-id-a75692948b654b208eb008391892fd45">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelProductionOrderDataAreaType" id="oagis-id-c01da8e6f67743fb8e128244b8212cb7">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelProductionOrder. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ProductionOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelProductionOrderDataAreaType" id="oagis-id-0cc534e42b8648828ce3be5df3266aca">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-afcf2e7ac7fc45898fb99acee80334a3"/>
                        <xsd:element ref="ProductionOrder" maxOccurs="unbounded" id="oagis-id-9a1a49c9a50245529c023aa0f92cf72d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
