data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Invoice.xsd"/>
        <xsd:element name="CancelInvoice" type="CancelInvoiceType" id="oagis-id-f634ce1c84bb4e9cb514b8d7db7f0b78">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelInvoice is to publish to a business application or system the need to cancel an Invoice or one or more of its elements</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelInvoiceType" id="oagis-id-7e6632c09b5f41538ccc7290efc26200">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelInvoiceDataAreaType" id="oagis-id-25640814db134e909a99236f8f22297e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelInvoice. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Invoice).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelInvoiceDataAreaType" id="oagis-id-58eadad422684fb2a6107c686fb73849">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-dfc8a9b2b6c4438f9500cf2b2ddd4a4c"/>
                        <xsd:element ref="Invoice" maxOccurs="unbounded" id="oagis-id-23c19014cc8c45a88206b518b241c575"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
