data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelActualLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downCancel package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelActualLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ActualLedger.xsd"/>
	<xsd:element name="CancelActualLedger" type="CancelActualLedgerType" id="oagis-id-026174cea3f340f5a8523b4bc6e220ea">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelActualLedger is to enable an enterprise application to request detailed accounting ledger actual data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelActualLedgerType" id="oagis-id-827f88574fee4114819dc91650e4c0e8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelActualLedgerDataAreaType" id="oagis-id-b708a2a31e1e451183f3f0945c921b86">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelActualLedger. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ActualLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelActualLedgerDataAreaType" id="oagis-id-e4ac81da385d4d8b94c0179956e6e4c0">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-8fcd4b052eca42ee91f379435869f457"/>
			<xsd:element ref="ActualLedger" maxOccurs="unbounded" id="oagis-id-ab368a8123da409e86672c58b5334124"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
