data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="CancelAcknowledgeCreditTransferIST" type="CancelAcknowledgeCreditTransferISTType" id="oagis-id-9766e921368f467ca8f9cf097f656c2b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the CancelAcknowledgeCreditTransferIST is the CancelAcknowledgeCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeCreditTransferISTType" id="oagis-id-07a18f21249041b38c6fa5870e93b278">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeCreditTransferISTDataAreaType" id="oagis-id-bd2eef3ae76e4c02b5fa7b53abaab614">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeCreditTransferISTDataAreaType" id="oagis-id-7b4d7b8fb2dc499eb23e2a265d29251a">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-9da9b4844bb84b4bb1849de106659165"/>
			<xsd:element ref="CreditTransferIST" maxOccurs="unbounded" id="oagis-id-5880c1890bec4226915db4d7b9fbc834"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
