data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="CancelAcknowledgeRemittanceAdvice" type="CancelAcknowledgeRemittanceAdviceType" id="oagis-id-9d114053332743ad95dcc8e89e14ac68">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeRemittanceAdvice is to enable an application to request specific RemittanceAdvice information from another business application module.  The response to the ProcessRemittanceAdvice is the CancelAcknowledgeRemittanceAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeRemittanceAdviceType" id="oagis-id-0900b11395854c5f99aae644bf52e172">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeRemittanceAdviceDataAreaType" id="oagis-id-0d955dc468c64c95b6e63668a604f227">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeRemittanceAdviceDataAreaType" id="oagis-id-bd44c6917f944f02a589b08f133d6bc9">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-52017c4c40da4de49cfee2b4da2c3ee4"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-6af54efa32b2460ba65e625107ba888c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
