data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelPayable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downCancel package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelPayable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Payable.xsd"/>
	<xsd:element name="CancelPayable" type="CancelPayableType" id="oagis-id-c6e2e5f8b5184c8cb0dc4efe7e562d35">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelPayable is to transmit data to create a payable open item in a payables application from the purchasing information generated in a purchasing application.  The CancelPayable may also update the General Ledger, depending on the specific architecture of the financial applications.

The scope of the CancelPayable indicates that the supplier's invoice is ready to be paid and has already been approved before the information moves to the accounts payable application.  An approved invoice is also known as the voucher.  OAGIS will define the scenario of invoices that get matched within the accounts payable application in a separate Business Service Request later.

Some financial applications have the general ledger and accounts payable databases tightly integrated where updates to the accounts payable application are automatically reflected in the general ledger balances.
</xsd:documentation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The CancelPayable will transmit all information needed for both the accounts payable and the general ledger.

Other applications allow the general ledger balances to be updated separately from the accounts payable.  The second model illustrates that the combination of the CancelPayable and CancelJournalEntry will accomplish this scenario.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelPayableType" id="oagis-id-3407de4fb35e411389080bfa736a6e05">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelPayableDataAreaType" id="oagis-id-799e5a6586964479b879160beae89e2c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPayable. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Payable).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelPayableDataAreaType" id="oagis-id-ad5e6730701e489586f8614df87ea72c">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-e7cf5e8045834b37bf612f06d3b64bbe"/>
			<xsd:element ref="Payable" maxOccurs="unbounded" id="oagis-id-3029ec457b384b8cbde1878a593b4f18"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
