data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelCommercialInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelCommercialInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CommercialInvoice.xsd"/>
	<xsd:element name="CancelCommercialInvoice" type="CancelCommercialInvoiceType" id="oagis-id-39ce5bc2f45340f49ea937f870b28327">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCommercialInvoice is to transmit an CommercialInvoice from a supplier to a customer. Indicating that the receiver of the CommercialInvoice is to Cancel the CommercialInvoice for payment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCommercialInvoiceType" id="oagis-id-94027021753546888c3b625514266d27">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCommercialInvoiceDataAreaType" id="oagis-id-b97ce23621c64873804b112a51109518">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCommercialInvoice. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (CommercialInvoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCommercialInvoiceDataAreaType" id="oagis-id-425c6663095e407eaeb1fc4d47040190">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-11385006223841da9f2e040c8a297891"/>
			<xsd:element ref="CommercialInvoice" maxOccurs="unbounded" id="oagis-id-f78f1d956cfc4892acebcc35c243675a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
