data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelProductionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelProductionSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductionSchedule.xsd"/>
	<xsd:element name="CancelProductionSchedule" type="CancelProductionScheduleType" id="oagis-id-d3a7a4d432b14c1281b07d4f9fa04056">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelProductionSchedule is to respond to a request to Cancel a ProductionSchedule with the resulst of that Canceling.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelProductionScheduleType" id="oagis-id-f40bca31ec4d4dbc96ede9fe47cc456f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelProductionScheduleDataAreaType" id="oagis-id-c7ad784de4804010a76d79ea1557d8c4">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelProductionSchedule. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ProductionSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelProductionScheduleDataAreaType" id="oagis-id-5a5cb70c3387498dbd03a380c6736f26">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-915eba180a2c4f9aa45922f9ea7140cf"/>
			<xsd:element ref="ProductionSchedule" maxOccurs="unbounded" id="oagis-id-f52102563861494186e737b9b7761f44"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
