data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelChartOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelChartOfAccounts.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ChartOfAccounts.xsd"/>
	<xsd:element name="CancelChartOfAccounts" type="CancelChartOfAccountsType" id="oagis-id-52304ad1fd83465a90b451b2ab1bb739">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelChartOfAccounts is to enable an application to request specific ChartOfAccounts information from another business application module.  The response to the CancelChartOfAccounts is the ShowChartOfAccounts.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelChartOfAccountsType" id="oagis-id-8fb320c3f87a429ba360f223b38548ad">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelChartOfAccountsDataAreaType" id="oagis-id-7ca2dcc36eac47778a882a84825b2dc5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelChartOfAccounts. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ChartOfAccounts).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelChartOfAccountsDataAreaType" id="oagis-id-47b785b5c9294616b757194b90859327">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-c93857833711441eae4213ba1f86e7a7"/>
			<xsd:element ref="ChartOfAccounts" maxOccurs="unbounded" id="oagis-id-b59e580a74df4c369c68f273347adf6f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
