data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="CancelAcknowledgeDebitTransfer" type="CancelAcknowledgeDebitTransferType" id="oagis-id-443c8ba969944447969c6e74eee40cf4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the CancelAcknowledgeDebitTransfer is the CancelAcknowledgeDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeDebitTransferType" id="oagis-id-3d2b03d08f834e60ad0e890d8f0e43ca">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeDebitTransferDataAreaType" id="oagis-id-45d51abeac264dcca072c37904539411">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeDebitTransferDataAreaType" id="oagis-id-186334fc557d474b84815ca34182bfb4">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-3cc301dd4f134db395fd5c74b0b3f7e3"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-4818caa63b834364b0a9d91d6d479249"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
