data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelBatchCertificateOfAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10rc2  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10rc2/Model/BODs/CancelBatchCertificateOfAnalysis.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/BatchCertificateOfAnalysis.xsd"/>
	<xsd:element name="CancelBatchCertificateOfAnalysis" type="CancelBatchCertificateOfAnalysisType" id="oagis-id-bb018639e2ba4432912c3979e8a5b7b4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelBatchCertificateOfAnalysis is to communicate the response to a BatchCertificateOfAnalysis message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelBatchCertificateOfAnalysisType" id="oagis-id-a476cca0bf884f199d8c96c9e43e626e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelBatchCertificateOfAnalysisDataAreaType" id="oagis-id-21bf639db26b4b469b8a8111d1830826">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelBatchCertificateOfAnalysis. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (BatchCertificateOfAnalysis).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelBatchCertificateOfAnalysisDataAreaType" id="oagis-id-3ea669458d414a11ab76a6f3151b3a8a">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-5decaad248bd43b98ed5014288648eab"/>
			<xsd:element ref="BatchCertificateOfAnalysis" maxOccurs="unbounded" id="oagis-id-3f1e16db7c444647a8337b3f6350f479"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
