data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeRFQ.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeRFQ.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RFQ.xsd"/>
	<xsd:element name="CancelAcknowledgeRFQ" type="CancelAcknowledgeRFQType" id="oagis-id-5d8da0c1ed994e2197fc240fd308181b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CancelAcknowledgeRFQ is being deprecated as of OAGIS 9.0. CancelAcknowledgeRFQ will be made available for the next three releases. OAGi recommend using ProcessRFQ for all new development.

The purpose of the CancelAcknowledgeRFQ is to communicate from one business application to one or more other business applications that CancelAcknowledgeitional data related to a Request for Quote has been CancelAcknowledgeed or needs to be CancelAcknowledgeed, depending on the business case</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeRFQType" id="oagis-id-b4e2147f035b470d958803872e0f8a08">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeRFQDataAreaType" id="oagis-id-3ec295d22e194348848a67ce66dc7c15">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeRFQ. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (RFQ).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeRFQDataAreaType" id="oagis-id-93610ca5022a41339b876f1602898f43">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-7d0d6f8396834e77842bb777ca235154"/>
			<xsd:element ref="RFQ" maxOccurs="unbounded" id="oagis-id-ddaaee47f9dd4f6693ccb9f563a6a62f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
