data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelPaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelPaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
	<xsd:element name="CancelPaymentStatus" type="CancelPaymentStatusType" id="oagis-id-4c1bd2306020441aa14e43945a19b86d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelPaymentStatus is to enable an application to request specific PaymentStatus information to be Canceled by another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatus to company that has provided goods or services.  

The response to the CancelPaymentStatus is the AcknowledgePaymentStatus.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelPaymentStatusType" id="oagis-id-1c2adf50e34148c8904b4a0c10364a29">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelPaymentStatusDataAreaType" id="oagis-id-ae24dc835d0349c1aeaea496f1e91aee">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPaymentStatus. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelPaymentStatusDataAreaType" id="oagis-id-9a46e492d7f345399291e763245b9f87">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-b646d50218984a6f98e199a93f6b5fff"/>
			<xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-9b53fee23f2f4b56bd317ccb4d7a23b0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
