data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
	<xsd:element name="CancelAcknowledgeShipmentSchedule" type="CancelAcknowledgeShipmentScheduleType" id="oagis-id-3dfaf9c7a9774b26882deeeb8bd31973">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeShipmentSchedule is to enable the exchange of shipment schedule information, authorizing a shipment quantity and date for specific trading partners and addresses.

Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeShipmentScheduleType" id="oagis-id-770ee83740744fbc8df4f4cb55d481db">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeShipmentScheduleDataAreaType" id="oagis-id-2c91c5358f3745fcb9d315b39ec32fe9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeShipmentScheduleDataAreaType" id="oagis-id-7159f24b39f84c99a3461e1f9211fce3">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-00b24dfdbc0e40bab1ab4a73fc9e8da8"/>
			<xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-66dd49ceb02f46a2a30abc7f082aada8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
