data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Invoice.xsd"/>
	<xsd:element name="CancelAcknowledgeInvoice" type="CancelAcknowledgeInvoiceType" id="oagis-id-224b0a3e43c24a7e8050f78624858d9e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeInvoice is to notify another application about a CancelAcknowledge in the Invoice</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeInvoiceType" id="oagis-id-cfc309586f2f49b799c6b151f78aef0d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeInvoiceDataAreaType" id="oagis-id-404cef29588448688e08fbb328bb1a2f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeInvoice. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (Invoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeInvoiceDataAreaType" id="oagis-id-73cf92d64d8c458390696a227b072cf9">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-566ce2ca56d04fcdb0bf1a2d248059e4"/>
			<xsd:element ref="Invoice" maxOccurs="unbounded" id="oagis-id-e2c55199b212401bab61e5c97a6739fd"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
