data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelJournalEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10rc2  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downCancel package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10rc2/Model/BODs/CancelJournalEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/JournalEntry.xsd"/>
	<xsd:element name="CancelJournalEntry" type="CancelJournalEntryType" id="oagis-id-7df83d9385784e808ad231f2cd57be0c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelJournalEntry is to enable an application or component to respond to a ProcessJournalEntry.

The response to the CancelJournalEntry is the response to the ProcessJournalEntry. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelJournalEntryType" id="oagis-id-40737bdd06524ae892631fbe5d131c5d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelJournalEntryDataAreaType" id="oagis-id-70336f29ccf74d77bd2bcca6f027c77b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelJournalEntry. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (JournalEntry). In response to the PostJournalEntry.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelJournalEntryDataAreaType" id="oagis-id-dd69291a45e347518bd22ed64d90a6ca">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-675872396ddf4060ae04e94afb822741"/>
			<xsd:element ref="JournalEntry" maxOccurs="unbounded" id="oagis-id-f49c4b58b1554ac28482d6193d2a747c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
