data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Quote.xsd"/>
	<xsd:element name="CancelAcknowledgeQuote" type="CancelAcknowledgeQuoteType" id="oagis-id-fceec354dcb14a9c9eaa384d2e2ba4da">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CancelAcknowledgeQuote is being deprecated as of OAGIS 9.0. CancelAcknowledgeQuote will be made available for the next three releases. OAGi recommend using ProcessQuote for all new development.

The purpose of the CancelAcknowledgeQuote is to communicate from one business application to one or more other business applications that CancelAcknowledgeitional data related to a quote has been CancelAcknowledgeed or needs to be CancelAcknowledgeed, depending on the business case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeQuoteType" id="oagis-id-2fbe87c6d72d4a45a164c613bb56bd1b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeQuoteDataAreaType" id="oagis-id-89e11ff4b0814e35bc3fc33faecefd56">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeQuote. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeQuoteDataAreaType" id="oagis-id-83d7c2368bff4f08b59805fcbc354f66">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-bdee15df63874243943763cbfd8aefc1"/>
			<xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-7e8841ce5ac54ef49cc73c3358441969"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
