data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
	<xsd:element name="CancelAcknowledgeCreditStatus" type="CancelAcknowledgeCreditStatusType" id="oagis-id-8272ccfc4ced4ca6aa5f3cfe8b11b014">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeCreditStatus is to supply CreditStatus information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeCreditStatusType" id="oagis-id-53939406c2c74047b51969904693c9a6">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeCreditStatusDataAreaType" id="oagis-id-6633383516fc4034b8cc920cdecb6085">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeCreditStatus. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeCreditStatusDataAreaType" id="oagis-id-aa72803dfaba452cafc152bf45b1ad63">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-e02ad4885357428a9511a2ba347d976f"/>
			<xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-082d5be0ff68426c934c2d303bbe1c25"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
