data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelAcknowledgeInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
	<xsd:element name="CancelAcknowledgeInventoryConsumption" type="CancelAcknowledgeInventoryConsumptionType" id="oagis-id-9c25c7836a6c41bf8e9468b54af82079">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeInventoryConsumption is to inform a seller or provider about InventoryConsumption of items.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeInventoryConsumptionType" id="oagis-id-6f9f603ba24745dd9f95d11844a3ec70">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeInventoryConsumptionDataAreaType" id="oagis-id-875f6ec195ae4104919a5a8c10d3b289">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeInventoryConsumptionDataAreaType" id="oagis-id-2d47bd69555d4914b26796badffbf54c">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-b15590b184dd4013b345f52b1be2d94e"/>
			<xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-f6342c43b8d944a294fc5d8a22c0f96a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
