data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
        <xsd:element name="CancelRequisition" type="CancelRequisitionType" id="oagis-id-c37ec323dcf24e4bb794789b92aff8dd">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelRequisition is to communicate from one business application to one or more other business applications that a previous requisition or requisition line item is no longer needed.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelRequisitionType" id="oagis-id-bcd5f465d83e4648ba1fd145faa7fe76">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelRequisitionDataAreaType" id="oagis-id-9922c05ae1384a9ab9391e8abbb65a82">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelRequisition. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelRequisitionDataAreaType" id="oagis-id-578f7735b22246cd90ac63d40ea389c5">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-c9c31b7a87944a039e56bc3529e3e29d"/>
                        <xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-a111ce6899e44ab78e71aa5d4ecbcb12"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
