data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelRouting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/CancelRouting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Routing.xsd"/>
	<xsd:element name="CancelRouting" type="CancelRoutingType" id="oagis-id-ae7bd3bdd75a4ec2b024e3b029d8ab15">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelRouting is to communicate to a business application component or system the need to create a new Routing or to update an existing Routing structure.

This BOD may be necessary to address the Make to Order, Assemble to Order, and Finished Goods business ordering scenarios in a Logistics to Manufacturing application integration scenario.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelRoutingType" id="oagis-id-c51a16aafd694715bd13a0f7e20396c3">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelRoutingDataAreaType" id="oagis-id-73376789eac844d3b5ce57b8143dab7e">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelRouting. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (Routing).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelRoutingDataAreaType" id="oagis-id-ebb7660d7bc54576a896d7c0e5a67938">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-b0089c5d891c4f80b2a84c10136c50fe"/>
			<xsd:element ref="Routing" maxOccurs="unbounded" id="oagis-id-67a42d75075546088c697dccb12266d6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
