data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="ChangeAcknowledgeCreditTransfer" type="ChangeAcknowledgeCreditTransferType" id="oagis-id-98e613dc747d404fb25fa9e29aac4afb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the ChangeAcknowledgeCreditTransfer is the ChangeAcknowledgeCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeCreditTransferType" id="oagis-id-896eac53b5b34867b405ea8bd724fca1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeCreditTransferDataAreaType" id="oagis-id-a1edcd93cf834cae8b2530dd278f2439">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeCreditTransferDataAreaType" id="oagis-id-be954a8510424b538aadeedba65ecee4">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-4eb9bee60a8448c98a15ee592800cec2"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-791b29d059af42eea5c0e71dd31b490c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
