data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
        <xsd:element name="ChangeRequisition" type="ChangeRequisitionType" id="oagis-id-3334636d6357458585c7f0324620213a">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeRequisition is to communicate changes to an existing request for goods or services.  This change must refer to the original document and/or item requested.  The change processing assumes replacement of fields sent, with the exception of:  the key fields for the Order and Line.

If any of the Field Identifiers above require changing, that constitutes a cancellation of the request and/or the addition of another Requisition.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeRequisitionType" id="oagis-id-77e2ea8742ab4d9f90a2dd7d86a5e47c">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeRequisitionDataAreaType" id="oagis-id-46c43f4c68db4f87a26ec20d1263e28a">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeRequisition. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeRequisitionDataAreaType" id="oagis-id-5ede0fc28cfc4467828316ee7696c002">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-0ea9f834082e4328acb5b1bbd3f60b37"/>
                        <xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-c01b433a21114193abaef8bcc20c7726"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
