data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCatalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Catalog.xsd"/>
	<xsd:element name="ChangeCatalog" type="ChangeCatalogType" id="oagis-id-98960bc6eb1b47ee9890adc400a4cf1e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">ChangeCatalog is used to Change catalog information across systems. The Change indicates that the send of the ChangeCatalog is the owner of the information being passed, additionally it is understood that the receiver of the ChangeCatalog is a sub-system that must accept the data as provided by the owne of the information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCatalogType" id="oagis-id-9e516960e0294130a42682b0a9ecad06">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCatalogDataAreaType" id="oagis-id-5e20f504417545e284c5b6ed88ed3b4b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCatalog. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (Catalog).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCatalogDataAreaType" id="oagis-id-72edeb154a934239922c7f2a30777790">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-0ae7b19dee184ff69fa516f169b090e5"/>
			<xsd:element ref="Catalog" maxOccurs="unbounded" id="oagis-id-a9a6526edda6483d902f7c7d59b2bf4a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
