data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="ChangeAcknowledgeWarehouseShippingAdvice" type="ChangeAcknowledgeWarehouseShippingAdviceType" id="oagis-id-337323254924401fa67d51ab457915db">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeWarehouseShippingAdvice is to communicate only what has been modified (delta updats) ChangeAcknowledges the WarehouseShippingAdvice.  The ChangeAcknowledgeWarehouseShippingAdvice will also transmit ChangeAcknowledges to a WarehouseShippingAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeWarehouseShippingAdviceType" id="oagis-id-c3262c63ae6e459ca4a4989963319b6c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeWarehouseShippingAdviceDataAreaType" id="oagis-id-0a1dacb6a9524f50be5c869287190563">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeWarehouseShippingAdviceDataAreaType" id="oagis-id-fb378986882b4f6faa6176a1dcf8f932">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-d43a5429ba7943f5bab30fe05293dbee"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-75520fc1f7b34ad99c385bdefcac020d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
