data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeProductionPerformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeProductionPerformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductionPerformance.xsd"/>
	<xsd:element name="ChangeProductionPerformance" type="ChangeProductionPerformanceType" id="oagis-id-6e1760b2cc1e48ada8682e20ee82977c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeProductionPerformance is to respond to a request  to Change a ProductionPerformance with the status of the Changeing of the ProductionPerformance of the movement of WIP (Work in Progress).

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeProductionPerformanceType" id="oagis-id-1e3f82cb8ec04cd299839d9724921a28">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeProductionPerformanceDataAreaType" id="oagis-id-6eee1531a3ec49f496fa3d356facac92">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeProductionPerformance. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (ProductionPerformance).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeProductionPerformanceDataAreaType" id="oagis-id-7b9de1d3decc45d29f24693219a068ff">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-fe45672548a94222ba086e818a162fe0"/>
			<xsd:element ref="ProductionPerformance" maxOccurs="unbounded" id="oagis-id-e4eddf5521654cf6b4b3e973f7a3f637"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
