data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeEmployeeWorkSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeEmployeeWorkSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EmployeeWorkSchedule.xsd"/>
	<xsd:element name="ChangeEmployeeWorkSchedule" type="ChangeEmployeeWorkScheduleType" id="oagis-id-c2d34f9db6704010abd69483cabc9d4b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeEmployeeWorkSchedule is to enable an application to request specific EmployeeWorkSchedule information from another business application module.  The response to the ChangeEmployeeWorkSchedule is the AcknowledgeEmployeeWorkSchedule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeEmployeeWorkScheduleType" id="oagis-id-28612371f2ea491690e3431118b2701c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeEmployeeWorkScheduleDataAreaType" id="oagis-id-a9665e236f8a4129b3cb4ac07e78d475">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeEmployeeWorkSchedule. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (EmployeeWorkSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeEmployeeWorkScheduleDataAreaType" id="oagis-id-7a9f3bf0216c4811ac0b92f2edc76950">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-295f7d75aaf24d2bb84886f8438fc0c9"/>
			<xsd:element ref="EmployeeWorkSchedule" maxOccurs="unbounded" id="oagis-id-57e69c19c6474b50a9234415cd7db330"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
