data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeChartOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeChartOfAccounts.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ChartOfAccounts.xsd"/>
	<xsd:element name="ChangeChartOfAccounts" type="ChangeChartOfAccountsType" id="oagis-id-e37af6abeac049e1abf7dc3211b20430">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeChartOfAccounts is to enable an application to request specific ChartOfAccounts information from another business application module.  The response to the ChangeChartOfAccounts is the ShowChartOfAccounts.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeChartOfAccountsType" id="oagis-id-c6e7b92a51564c1c9e117e747e363411">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeChartOfAccountsDataAreaType" id="oagis-id-ca1c3b2601c14e19b9eca0c5a740ed28">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeChartOfAccounts. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (ChartOfAccounts).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeChartOfAccountsDataAreaType" id="oagis-id-b914a580ffdf4aeea3bf39068280c811">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-0ae0f49457d54f8eb2d86a0fa3c86c40"/>
			<xsd:element ref="ChartOfAccounts" maxOccurs="unbounded" id="oagis-id-32fdc6fdeebd40bd8afef3ce5d55cc2a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
