data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeSalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeSalesOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SalesOrder.xsd"/>
	<xsd:element name="ChangeAcknowledgeSalesOrder" type="ChangeAcknowledgeSalesOrderType" id="oagis-id-8a6c66cd30524e40b21a54237d9e6b5f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledge SalesOrder is to request that another business application component make ChangeAcknowledges to an existing Sales Order.

Processing Note:  This ChangeAcknowledge must refer to the original document and/or item ordered.  The ChangeAcknowledge processing assumes replacement of fields sent, with the exception of the fields that uniquely identify the document and/or its line, schedule or subline. These include the DocumentId and the LineNumber for the Line, Subline, and Schedule.

If any of the Field Identifiers above require changing, that constitutes a cancellation of the request and/or the addition of another Sales Order.

This BOD commonly causes ChangeAcknowledges to occur
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeSalesOrderType" id="oagis-id-0a4f8765d75149d3986570e2ee26be5f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeSalesOrderDataAreaType" id="oagis-id-7fcdbc2a818b4febbc9a139921e16f53">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeSalesOrder. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (SalesOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeSalesOrderDataAreaType" id="oagis-id-a50f4fbfd2054256aaa7d390e7a2b18c">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-a8f9e9adc2184c68bcd4954093095ca9"/>
			<xsd:element ref="SalesOrder" maxOccurs="unbounded" id="oagis-id-71d52efcb8b34994b13e5f2db80e0c1e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
