data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
        <xsd:element name="ChangeCreditStatus" type="ChangeCreditStatusType" id="oagis-id-a4a043cc8eef451fbb91459a912411d5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCreditStatus is to notify the customer order management application that the overall credit status of a trading partner has changed or status on specific order(s) are to be changed.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeCreditStatusType" id="oagis-id-ee0df19d086f44869f6bad8d82af0cc8">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeCreditStatusDataAreaType" id="oagis-id-a33793c45ed5412ba41263f15312eab5">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCreditStatus. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeCreditStatusDataAreaType" id="oagis-id-ac1316e14ff040d0b58b9d39642f2fab">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-4ab36258d75745d8afa1ede0428aa673"/>
                        <xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-dc59389fc4914fa19b9e3a94ef167b43"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
