data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgePartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgePartyScreenResponse.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreenResponse.xsd"/>
	<xsd:element name="ChangeAcknowledgePartyScreenResponse" type="ChangeAcknowledgePartyScreenResponseType" id="oagis-id-695058dfb23b4fca9eed4d50cd4c7b50">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgePartyScreenResponse BOD is to provide a response with the results from the ProcessPartyScreenResponse.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgePartyScreenResponseType" id="oagis-id-b2b2bb2a8643445e87251dbb6068846a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgePartyScreenResponseDataAreaType" id="oagis-id-ca8952d72e1542d7b8d4ae84d40d7aa1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgePartyScreenResponse. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (PartyScreenResponse).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgePartyScreenResponseDataAreaType" id="oagis-id-14a0b3f07a4d470f9186722fba47e7cc">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-3e7acf4456c9442fa12783df4d06a94c"/>
			<xsd:element ref="PartyScreenResponse" maxOccurs="unbounded" id="oagis-id-4a05fdf27da54b158bc21b5a5e8dce8f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
