data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWarrantyClaim.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWarrantyClaim.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarrantyClaim.xsd"/>
	<xsd:element name="ChangeAcknowledgeWarrantyClaim" type="ChangeAcknowledgeWarrantyClaimType" id="oagis-id-9254f66ac16a44018af3128bb17f6da0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeWarrantyClaim Business Object Document is to ChangeAcknowledge receipt of the WarrantyClaim</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeWarrantyClaimType" id="oagis-id-b0bb62d4e7774795950a21b9bb274311">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeWarrantyClaimDataAreaType" id="oagis-id-cb9ea2bbc1ba410fa5c592d411dd1f2c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeWarrantyClaim. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (WarrantyClaim).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeWarrantyClaimDataAreaType" id="oagis-id-bb6c2babe98c4299b0c974167abd2eeb">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-e0608efbaa174a968549553c7ed1ede4"/>
			<xsd:element ref="WarrantyClaim" maxOccurs="unbounded" id="oagis-id-4e1d785af1c7480f822a4e874a1a8a73"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
