data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
	<xsd:element name="ChangeAcknowledgeWIPStatus" type="ChangeAcknowledgeWIPStatusType" id="oagis-id-bb09aa2591da47b78917e0aaa2d1092d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ChangeAcknowledgeWIPStatus is used to receive the results of the ProcessWIPStatus.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeWIPStatusType" id="oagis-id-2e797d5191c14a1d84ce15051b8283b1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeWIPStatusDataAreaType" id="oagis-id-ee6505f121c14b6ebfae90feb6a291a9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeWIPStatus. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeWIPStatusDataAreaType" id="oagis-id-8ffb47fb27bb457ca64a7c0a82d754c5">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-62a144c9a7d946f78341a201d293c645"/>
			<xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-e023060832f04cf19521c943cc1737e7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
