data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
	<xsd:element name="ChangeShipmentSchedule" type="ChangeShipmentScheduleType" id="oagis-id-ec677c783d0d4483b8c94cff871d0f0a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeShipmentSchedule is to enable the exchange of shipment schedule information, authorizing a shipment quantity and date for specific trading partners and addresses.

Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeShipmentScheduleType" id="oagis-id-bc2224157b574d8e8ef9a63986347656">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeShipmentScheduleDataAreaType" id="oagis-id-d0cf61fbbb8e4240adc7877233f6dbac">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeShipmentScheduleDataAreaType" id="oagis-id-f91f0ad8ba414485abb158f6d0c451ca">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-887b926e68da4b07ac74fc94c7194277"/>
			<xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-0dd9cc3b3964423896dba8673b9e588a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
