data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
	<xsd:element name="ChangeIssueInventory" type="ChangeIssueInventoryType" id="oagis-id-95961de468074637946981481c6f2acb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeIssueInventory is to reflect an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:
1. Somebody broke the material,
2. The material is defective and needs replacing, 
3. The material is used up and needs replenishment.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeIssueInventoryType" id="oagis-id-a150067a30d644928f9d414749f4febd">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeIssueInventoryDataAreaType" id="oagis-id-29ff804212f74b5b8609a0658793179a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeIssueInventoryDataAreaType" id="oagis-id-0666e3a17b8f42ff98cf1af6fd56a4aa">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-aedb2b2387024a248c55e2ecfe18505e"/>
			<xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-419f96013b564681b9c2f00be43dbf68"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
