data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeEngineeringChangeOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeEngineeringChangeOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EngineeringChangeOrder.xsd"/>
	<xsd:element name="ChangeAcknowledgeEngineeringChangeOrder" type="ChangeAcknowledgeEngineeringChangeOrderType" id="oagis-id-21eec6d7ea1d45da8415f7a825548c2b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeEngineeringChangeOrder to communicate to a business application module or system that the synchronization of a specified engineering change document has been completed successfully.

This BOD may be necessary to address the Make to Order, Assemble to Order, or Mixed Mode business ordering scenarios in a Order Management to Manufacturing application integration scenario.

There are many possible business applications in several environments that may use this capability. For example, a PDM, MRP, Inventory, or Manufacturing business application could use this to communicate the requirement to Synchronize a Engineering Change Document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeEngineeringChangeOrderType" id="oagis-id-63fd9cf45edf4bb6a04e5a494f3bc320">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeEngineeringChangeOrderDataAreaType" id="oagis-id-fbccad89cc414ba380d1dcf1688eca38">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeEngineeringChangeOrder. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (EngineeringChangeOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeEngineeringChangeOrderDataAreaType" id="oagis-id-d836af76571b4393a28c9926a7cbef4f">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-ab5e5e8e5cfd4bad9d2551671ada64c8"/>
			<xsd:element ref="EngineeringChangeOrder" maxOccurs="unbounded" id="oagis-id-3f88baf8a44040bc80810efaf808715b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
