data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeProductionOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductionOrder.xsd"/>
	<xsd:element name="ChangeAcknowledgeProductionOrder" type="ChangeAcknowledgeProductionOrderType" id="oagis-id-245ff9274d5d450c8c9f5003810c13a2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeProductionOrder is to notify another application about a ChangeAcknowledge in the ProductionOrder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeProductionOrderType" id="oagis-id-3502737d588d44bcb7a745ae6632e930">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeProductionOrderDataAreaType" id="oagis-id-166654dd88c540b09790e44eb2328700">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeProductionOrder. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ProductionOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeProductionOrderDataAreaType" id="oagis-id-08f6667539544619b7d187d3218c3606">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-a6c32391b4fe45ad8112e18926b7bef9"/>
			<xsd:element ref="ProductionOrder" maxOccurs="unbounded" id="oagis-id-ba8a7aef6a4f4c7cae8941e101235a70"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
