data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeProductionPerformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeProductionPerformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductionPerformance.xsd"/>
	<xsd:element name="ChangeAcknowledgeProductionPerformance" type="ChangeAcknowledgeProductionPerformanceType" id="oagis-id-caaf8eed5f56459aa9b1533080f2d50b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeProductionPerformance is to respond to a request  to Process a ProductionPerformance with the status of the processing of the ProductionPerformance of the movement of WIP (Work in Progress).

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeProductionPerformanceType" id="oagis-id-7de731fbfe7249009ffd16f4383dc641">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeProductionPerformanceDataAreaType" id="oagis-id-15c9f89d56304c7fa71a545670e0cf29">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeProductionPerformance. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ProductionPerformance).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeProductionPerformanceDataAreaType" id="oagis-id-4c286ca263a84eaf8dd9e6eb75c10a57">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-107095e9959c4257ae2a2268b5339c5a"/>
			<xsd:element ref="ProductionPerformance" maxOccurs="unbounded" id="oagis-id-6e1dfb5789ea4b30baff16abc42e1697"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
