data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="ChangeDebitTransfer" type="ChangeDebitTransferType" id="oagis-id-a80dad13873745be93569425dd9904d8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the ChangeDebitTransfer is the ChangeDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeDebitTransferType" id="oagis-id-d6f88d50412e4f8999b18886eb3a9051">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeDebitTransferDataAreaType" id="oagis-id-c8268acbcf2e4d1bb52a380f876d2159">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeDebitTransferDataAreaType" id="oagis-id-b3429abcd1ce4329891e4cf59b286747">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-9a03abd32a6040abb4db0ad94b071403"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-a3869319967541b69cbba223f42c8556"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
