data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeShippersLetterOfInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeShippersLetterOfInstruction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersLetterOfInstruction.xsd"/>
	<xsd:element name="ChangeAcknowledgeShippersLetterOfInstruction" type="ChangeAcknowledgeShippersLetterOfInstructionType" id="oagis-id-0786485e928d43fda1c438e5eee1fc77">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeShippersLetterOfInstruction Business Object Document is to ChangeAcknowledge receipt of the ShippersLetterOfInstruction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeShippersLetterOfInstructionType" id="oagis-id-cd05909c23c34a35adafcae19b4b6d41">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeShippersLetterOfInstructionDataAreaType" id="oagis-id-0eb9de71f2414c86b5c91c6c17bc4c59">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeShippersLetterOfInstruction. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ShippersLetterOfInstruction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeShippersLetterOfInstructionDataAreaType" id="oagis-id-d44e9f17861640ea8485666a7c6ee9d4">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-549b1e4aaed34557bc4587b96a1849cc"/>
			<xsd:element ref="ShippersLetterOfInstruction" maxOccurs="unbounded" id="oagis-id-3bfee0de9e514cdf9264b80ad430289c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
