data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeAcknowledgeEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
	<xsd:element name="ChangeAcknowledgeEmployeeWorkTime" type="ChangeAcknowledgeEmployeeWorkTimeType" id="oagis-id-fcf064cf420448599b4c4c2e27208714">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeEmployeeWorkTime is to ChangeAcknowledge work time information for an employee from a data collection application to an ERP Human Resource application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeEmployeeWorkTimeType" id="oagis-id-9f74cc9b9f63464a8613b65036e6b154">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeEmployeeWorkTimeDataAreaType" id="oagis-id-54eb00a57f38428684f0987957e41482">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeEmployeeWorkTimeDataAreaType" id="oagis-id-9e800024235341ceab4f04de158c9715">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-5e9c666f48b54f759c2f2bd217c1eb3f"/>
			<xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-cd52607fd7e241a9bc8c5d143d29ae28"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
