data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCommercialInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ChangeCommercialInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CommercialInvoice.xsd"/>
	<xsd:element name="ChangeCommercialInvoice" type="ChangeCommercialInvoiceType" id="oagis-id-fd49d67cdbf34ab08b12e8c9a57f869c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCommercialInvoice is to transmit an CommercialInvoice from a supplier to a customer. Indicating that the receiver of the CommercialInvoice is to Change the CommercialInvoice for payment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCommercialInvoiceType" id="oagis-id-0e2ce46a6d534ddf923877c565e7181b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCommercialInvoiceDataAreaType" id="oagis-id-4672a1f738cc4f6ebba7021d2d3c638c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCommercialInvoice. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CommercialInvoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCommercialInvoiceDataAreaType" id="oagis-id-3b9720637fcb4189a8ac1ba111882411">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-b1593e5a9f544acfbd560ba1c695eaa2"/>
			<xsd:element ref="CommercialInvoice" maxOccurs="unbounded" id="oagis-id-96e1ff9504864963b79ffd7b4b3ed5da"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
