data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetCommercialInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetCommercialInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CommercialInvoice.xsd"/>
	<xsd:element name="GetCommercialInvoice" type="GetCommercialInvoiceType" id="oagis-id-774beacc53db4585abe8eb94dcdf74b0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCommercialInvoice is to enable a request of an CommercialInvoice. This BOD may be used as a request by a Customer to its Supplier. The ShowCommercialInvoice BOD would be the expected response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetCommercialInvoiceType" id="oagis-id-f7b0a16920104fb895a2d5ccff31e9d4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetCommercialInvoiceDataAreaType" id="oagis-id-746524adbcee4effbb0464fd78531876">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCommercialInvoice. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CommercialInvoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetCommercialInvoiceDataAreaType" id="oagis-id-8498000fc77445cc8ae221495352d664">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-be4e6a9274c04a70bac0e40127b66724"/>
			<xsd:element ref="CommercialInvoice" maxOccurs="unbounded" id="oagis-id-8c4cbf1d0ddf42c3b09560701c96e380"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
