data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetCarrierRoute.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetCarrierRoute.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CarrierRoute.xsd"/>
        <xsd:element name="GetCarrierRoute" type="GetCarrierRouteType" id="oagis-id-06e626144444419db6cb151acf4b9e67">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCarrierRoute is to enable an application to request specific Carrier Route information from another business application module.  The response to the GetCarrierRoute is the ShowCarrierRoute.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetCarrierRouteType" id="oagis-id-f76cda4f81d84d339e81885be7e2fb2f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetCarrierRouteDataAreaType" id="oagis-id-1a472ab3e69c40298c38904edf7751b7">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCarrierRoute. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CarrierRoute).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetCarrierRouteDataAreaType" id="oagis-id-b4360f5476c74dc5b401fb874698e78e">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-2d5d515215e3433b951c333503c55425"/>
                        <xsd:element ref="CarrierRoute" maxOccurs="unbounded" id="oagis-id-e0b3de1adb4049f396dd1a632835d1b3"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
