data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetItemMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetItemMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ItemMaster.xsd"/>
        <xsd:element name="GetItemMaster" type="GetItemMasterType" id="oagis-id-e73766e8b70a47a1bbbe951f64225691">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetItemMaster is to enable a business application module to request information concerning a specific ITEM from another business application.  The reply to this BOD is the ShowItemMaster.

There are many possible business applications in several environments that may use this capability.  For example, an MRP, Inventory, or Manufacturing business application could use this to request item information.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetItemMasterType" id="oagis-id-e2ccc91de0cd4b91b0b521c46d4d2133">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetItemMasterDataAreaType" id="oagis-id-dc9023b9540c49acb124f984320298d1">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetItemMaster. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ItemMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetItemMasterDataAreaType" id="oagis-id-c19ba57386024079a125d1808734da58">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-418075648ca7498dbf9ee4c96a06823e"/>
                        <xsd:element ref="ItemMaster" maxOccurs="unbounded" id="oagis-id-37459f47bbfd4d31abc01f271366816d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
