data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMaintenanceOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMaintenanceOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MaintenanceOrder.xsd"/>
        <xsd:element name="GetMaintenanceOrder" type="GetMaintenanceOrderType" id="oagis-id-281279a1f5d146fb8c5a45d0c303136c">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetMaintenanceOrder is to enable a business applications module to request this information from another business application.  The response to this BOD is the ShowMaintenanceOrder.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetMaintenanceOrderType" id="oagis-id-7261823d3586480bbf2a78e85d079191">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetMaintenanceOrderDataAreaType" id="oagis-id-c853b7a1172b41898394458eb08d6317">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetMaintenanceOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (MaintenanceOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetMaintenanceOrderDataAreaType" id="oagis-id-222f5c08816344f39bacad1c89b672c9">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-5dac058c343e4ab19d09832bb76bcfd3"/>
                        <xsd:element ref="MaintenanceOrder" maxOccurs="unbounded" id="oagis-id-c7162b54b5334fa4a436131a8846ba43"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
