data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMergeWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMergeWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MergeWIP.xsd"/>
        <xsd:element name="GetMergeWIP" type="GetMergeWIPType" id="oagis-id-180f96366aea4379a44c29dee24de317">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetMergeWIP is to enable an application to request specific MergeWIP information from another business application module.  The response to the GetMergeWIP is the ShowMergeWIP.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetMergeWIPType" id="oagis-id-b187e3511d504d8da405cb6286c79ccb">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetMergeWIPDataAreaType" id="oagis-id-11f71cd872e041d9ad84c10db2b56c96">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetMergeWIP. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (MergeWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetMergeWIPDataAreaType" id="oagis-id-b7e5810f77554b19a9a7de92f2e31736">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-3e8e9e0fe2a5447291463f33d32a3c41"/>
                        <xsd:element ref="MergeWIP" maxOccurs="unbounded" id="oagis-id-1b5ed97cb821490f9c0a91e4634e9372"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
