data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMoveWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetMoveWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MoveWIP.xsd"/>
        <xsd:element name="GetMoveWIP" type="GetMoveWIPType" id="oagis-id-a1ed4bc9d05949e3b151726ffe80f442">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetMoveWIP is to enable an application to request specific MoveWIP information from another business application module.  The response to the GetMoveWIP is the ShowMoveWIP.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetMoveWIPType" id="oagis-id-1ad8a86fe8f94246bdbae256260d0de1">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetMoveWIPDataAreaType" id="oagis-id-8a2ea0f833e543539d56b22eee79bfc0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetMoveWIP. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (MoveWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetMoveWIPDataAreaType" id="oagis-id-7162a9c037254e98921552ae13e38f5c">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-ca89f1ef7cb246b1b751ff9602c7ea74"/>
                        <xsd:element ref="MoveWIP" maxOccurs="unbounded" id="oagis-id-33b95a7721a84e2a94f742e85a3e3f1f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
