data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetOnlineOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetOnlineOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/OnlineOrder.xsd"/>
        <xsd:element name="GetOnlineOrder" type="GetOnlineOrderType" id="oagis-id-2f45ef0b85a04254a9b5a4cf0133cf61">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetOnlineOrder is to enable an application to request specific online shopping OnlineOrder from another business application module.  The response to the GetOnlineOrder is the ShowOnlineOrder.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetOnlineOrderType" id="oagis-id-686acb53b08c4aa78721e6d7a4264ee2">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetOnlineOrderDataAreaType" id="oagis-id-de487ba4d58c4ce0aba21f45de5470d5">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetOnlineOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (OnlineOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetOnlineOrderDataAreaType" id="oagis-id-3503ef9176984f39b2c5370d5c942f86">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-7e50ce32127c4179bd1d0bf534b1db7a"/>
                        <xsd:element ref="OnlineOrder" maxOccurs="unbounded" id="oagis-id-994f0126d9c548f9939c446fad575c42"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
