data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
        <xsd:element name="GetOnlineSession" type="GetOnlineSessionType" id="oagis-id-c744e1298ae04c229202ec51462950e4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the GetOnlineSession is the ShowOnlineSession.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetOnlineSessionType" id="oagis-id-46e81d928dce45e3bf1c1fbe8797966e">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetOnlineSessionDataAreaType" id="oagis-id-47d0dfcc678549a8a972bd58de3665a9">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetOnlineSessionDataAreaType" id="oagis-id-6ff7264e6a9e488f8636dd0ccfb2be3d">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-804eb1292bac4626a4171c9e7b7988a3"/>
                        <xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-c5452e0ca13b41ea986e54df7dfac895"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
