data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPaymentStatusIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPaymentStatusIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.002.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatusIST.xsd"/>
	<xsd:element name="GetPaymentStatusIST" type="GetPaymentStatusISTType" id="oagis-id-3ecb3210cfa24bcc84b2ae3923cbd3ad">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPaymentStatusIST is to enable an application to request specific PaymentStatusIST information from another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatusIST to company that has provide goods or services.  

The response to the GetPaymentStatusIST is the ShowPaymentStatusIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetPaymentStatusISTType" id="oagis-id-ac9857865c264d8bacb645043710c5bc">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetPaymentStatusISTDataAreaType" id="oagis-id-16a71abe8a764668a66e4b163bc9c12b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPaymentStatusIST. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PaymentStatusIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetPaymentStatusISTDataAreaType" id="oagis-id-af4ebb83017c4aa58623aa2c72488910">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-3a2dc2b3ebdc41dca49e07832ac53da8"/>
			<xsd:element ref="PaymentStatusIST" maxOccurs="unbounded" id="oagis-id-9edcff8e064943638a29ee2ddde385bd"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
