data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPartyScreen.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPartyScreen.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreen.xsd"/>
	<xsd:element name="GetPartyScreen" type="GetPartyScreenType" id="oagis-id-50330d18d23e4eebbe56147499e8f39a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPartyScreen is to enable an application to request specific PartyScreen information from another business application module.  The response to the GetPartyScreen is the ShowPartyScreen.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetPartyScreenType" id="oagis-id-40dbefedf0ab45989a9654b3186bd604">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetPartyScreenDataAreaType" id="oagis-id-96f30c7209f740f295ea4637658e2a09">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPartyScreen. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PartyScreen).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetPartyScreenDataAreaType" id="oagis-id-7ca0b9d1ce404d1cac396a0b64e261ac">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-96ce40c83eb541bf86a1548e17d4bf37"/>
			<xsd:element ref="PartyScreen" maxOccurs="unbounded" id="oagis-id-d35991a62fd3492781a784ab3b0402cc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
