data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PartyMaster.xsd"/>
        <xsd:element name="GetPartyMaster" type="GetPartyMasterType" id="oagis-id-90ec253c02f64a8ab0e7bff529e60e6a">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPartyMaster is to facilitate keeping party information synchronized that exists on separate data bases.  The GetPartyMaster allows a business application to request information about a given party. The ShowPartyMaster is the response to this request providing the specific information requested.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetPartyMasterType" id="oagis-id-ee199879116c4c17b47427ef671f6b5b">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetPartyMasterDataAreaType" id="oagis-id-bde5afa7380e45c481861581bc357d6a">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PartyMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetPartyMasterDataAreaType" id="oagis-id-4da5706043284e1183152dcede90af91">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-bb1b70ba475e42d78aa7e5a81357c283"/>
                        <xsd:element ref="PartyMaster" maxOccurs="unbounded" id="oagis-id-e3d2aade7515400ab3eaf5366f553ba0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
