data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Quote.xsd"/>
        <xsd:element name="GetQuote" type="GetQuoteType" id="oagis-id-6b7a8a81d4ba4b0eab8e19e06e281966">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetQuote is to enable a business applications module to request this Quote information from another business application. The response to this BOD is ShowQuote.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetQuoteType" id="oagis-id-c268dd82957b4483bfdd2069f2566f9d">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetQuoteDataAreaType" id="oagis-id-b78deb180026468d8613381f31e78dee">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetQuote. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetQuoteDataAreaType" id="oagis-id-79bd86ca8db24441aaeaa6939c0e7660">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-26489ea47a904a2ab4639c441c9fb449"/>
                        <xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-80a7457b52d84f58ad08c84e65cb4538"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
