data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetShipment.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetShipment.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Shipment.xsd"/>
        <xsd:element name="GetShipment" type="GetShipmentType" id="oagis-id-907a10d07e7048009258340b6ed32757">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetShipment is to enable an application to request specific Shipment information from another business application module.  The response to the GetShipment is the ShowShipment.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetShipmentType" id="oagis-id-4981feed5f234335857973148dce17fb">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetShipmentDataAreaType" id="oagis-id-445837cbe8ca4040900078906a6fd708">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetShipment. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (Shipment).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetShipmentDataAreaType" id="oagis-id-a455fb3029b04af88ac71e59ad04218c">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-842dc18d3e3046c4814038011dc3af6e"/>
                        <xsd:element ref="Shipment" maxOccurs="unbounded" id="oagis-id-eaaad4f8e572457fbb1364962741863c"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
