data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetSalesLead.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetSalesLead.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SalesLead.xsd"/>
        <xsd:element name="GetSalesLead" type="GetSalesLeadType" id="oagis-id-8a8c964ed80a43619897197bd3f6d5ee">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetSalesLead is to enable an application to request a specific SalesLead information from one business application to another business application. The response to the GetSalesLead is the ShowSalesLead.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetSalesLeadType" id="oagis-id-20c42b2675d34e729ff5a1dd507dfe7f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetSalesLeadDataAreaType" id="oagis-id-8ce1ebc6c6854f06b4f9414e14f81125">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetSalesLeadDataAreaType" id="oagis-id-c81a378ef4364123801744ad9aa4c121">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-5f1c90dd553c4d2896001035e4112a7a"/>
                        <xsd:element ref="SalesLead" maxOccurs="unbounded" id="oagis-id-26635cde957b45d79847a348ec2f1b2c"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
