data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
        <xsd:element name="GetWIPStatus" type="GetWIPStatusType" id="oagis-id-72a2988993a2491fb1e299f24fccc4d4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetWIPStatus is to notify a Manufacturing Application of the progress of a production order at a point in time. The business environments most likely to require this capability are any type of manufacturing scenario where BODs for individual manufacturing transactions and events are not utilized.

This BOD communicates what quantities of end product reside at which processing steps along with the time this snapshot view was taken.  The response to this BOD is ShowWIPStatus.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetWIPStatusType" id="oagis-id-e8f3001b8c714c8ba607498c397bcfc0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetWIPStatusDataAreaType" id="oagis-id-ea04c2c629e341a693b00fb986454116">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetWIPStatusDataAreaType" id="oagis-id-614ce0c4e9c94e8694ffe182b7fe0a9b">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-4635a10c85c349f49491d39a9c5b9811"/>
                        <xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-849b3ce9a7ef452e865dbffa83564618"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
