data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/LoadJournalEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10rc2  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10rc2/Model/BODs/LoadJournalEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/JournalEntry.xsd"/>
	<xsd:element name="LoadJournalEntry" type="LoadJournalEntryType" id="oagis-id-fe8561eceec044f688626715214ad5c6">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the LoadJournalEntry is to enable an application or component to respond to a ProcessJournalEntry.

The response to the LoadJournalEntry is the response to the ProcessJournalEntry. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LoadJournalEntryType" id="oagis-id-f46483392de142ef8ed75dff33d1fb49">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="LoadJournalEntryDataAreaType" id="oagis-id-3abfec08ffca49b6a78156646fc579bc">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case LoadJournalEntry. The information consists of a Verb and one or more Nouns. The verb (Load) indicates the action to be performed on the Noun (JournalEntry). In response to the PostJournalEntry.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LoadJournalEntryDataAreaType" id="oagis-id-d5498f3ec3fc44a59a8779f31f17edd7">
		<xsd:sequence>
			<xsd:element ref="Load" id="oagis-id-236333007ddb4de3b9710def9f60cd24"/>
			<xsd:element ref="JournalEntry" maxOccurs="unbounded" id="oagis-id-da8bb76dcef44296ae352be626bcbabd"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
