data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
        <xsd:element name="NotifyRequisition" type="NotifyRequisitionType" id="oagis-id-c4dc5b6f3fc84668b7f586b8e1445287">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">NotifyRequisition is used to synchronize Requisition information with other applications.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyRequisitionType" id="oagis-id-d42f51e705314b24acd8620f1ccf0fb1">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyRequisitionDataAreaType" id="oagis-id-aa83a7cdabce48068ff952031e40a98d">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyRequisition. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyRequisitionDataAreaType" id="oagis-id-80d51210af45421c8573ca83e5515225">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-7d2040d86e1b4092891d5f43a8b5e79a"/>
                        <xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-01683d2318ef436f936f3643c1466945"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
