data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifySequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifySequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
        <xsd:element name="NotifySequenceSchedule" type="NotifySequenceScheduleType" id="oagis-id-4b773d9457504488b166fd1aeca2f85b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifySequenceSchedule is to enable the exchange of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application. 


This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifySequenceScheduleType" id="oagis-id-b6826e8f105c4bcfa23d3c372e55d70b">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifySequenceScheduleDataAreaType" id="oagis-id-27e38232ff8b4c2483543c7c86966a56">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifySequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifySequenceScheduleDataAreaType" id="oagis-id-157b580b037f4d499d242b2ceba489e1">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-a9f68b1236e346c4bbc6e7355111fb9d"/>
                        <xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-fbd7e08e091d4b13936a0bcb592c81b4"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
