data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="NotifyCreditTransferIST" type="NotifyCreditTransferISTType" id="oagis-id-de5511929e15485bbe2d051a7df2e1ae">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the NotifyCreditTransferIST is the NotifyCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyCreditTransferISTType" id="oagis-id-4de35c9c8629458d9549da4e5eacf1db">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyCreditTransferISTDataAreaType" id="oagis-id-f251c86f4fb34f0cbdccfdca93f5b084">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyCreditTransferISTDataAreaType" id="oagis-id-44733a8434ec4fcfada9765c69475dcc">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-24da637976524739ac713ade11a8381a"/>
			<xsd:element ref="CreditTransferIST" maxOccurs="unbounded" id="oagis-id-01933e921570402eba6fce74203d9206"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
