data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downNotify package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
	<xsd:element name="NotifyBudgetLedger" type="NotifyBudgetLedgerType" id="oagis-id-95d371e9d8c3460b8e33f1267ebca1b5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyBudgetLedger is to transmit budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyBudgetLedgerType" id="oagis-id-7d5e1a7701644ac7809d26f5053ac23f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyBudgetLedgerDataAreaType" id="oagis-id-7176b6b5e05041ab9dcea90b1fd35daa">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyBudgetLedgerDataAreaType" id="oagis-id-2006f443fe964273ab3a85782d12ca46">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-a83b0cfdaddc40d28b43fa377db8063e"/>
			<xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-4e890026b293450d88fbb08fd82cf1b8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
