data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyInvoiceLedgerEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyInvoiceLedgerEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InvoiceLedgerEntry.xsd"/>
	<xsd:element name="NotifyInvoiceLedgerEntry" type="NotifyInvoiceLedgerEntryType" id="oagis-id-eed90bed58f541c7ac4f27b46674833b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyInvoiceLedgerEntry is to enable an application to request specific InvoiceLedgerEntry information from another business application module.  The response to the NotifyInvoiceLedgerEntry is the ShowInvoiceLedgerEntry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyInvoiceLedgerEntryType" id="oagis-id-39ea43339d3b414b8352ed4d8f9e96b4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyInvoiceLedgerEntryDataAreaType" id="oagis-id-53c9233d1423442692220b6caf103c4f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyInvoiceLedgerEntry. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (InvoiceLedgerEntry).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyInvoiceLedgerEntryDataAreaType" id="oagis-id-20b6db731f024f9b9c9da5273d3ce772">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-0ebdcdad7117432db0a45e2519ab1bb1"/>
			<xsd:element ref="InvoiceLedgerEntry" maxOccurs="unbounded" id="oagis-id-5c00fa62a0d348b1bc64ad4229c7621c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
