data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyShippersLetterOfInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyShippersLetterOfInstruction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersLetterOfInstruction.xsd"/>
	<xsd:element name="NotifyShippersLetterOfInstruction" type="NotifyShippersLetterOfInstructionType" id="oagis-id-8a892366c11a4295abc65512c29a8d17">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyShippersLetterOfInstruction is to communicate to a business application component or system the need to report an event occurre regarding a ShippersLetterOfInstruction or to update an existing ShippersLetterOfInstruction structure.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyShippersLetterOfInstructionType" id="oagis-id-b0a283b47a3b4afdad70e88422b3f739">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyShippersLetterOfInstructionDataAreaType" id="oagis-id-eb46e718daa944e68b92e3a540b21e03">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyShippersLetterOfInstruction. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ShippersLetterOfInstruction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyShippersLetterOfInstructionDataAreaType" id="oagis-id-9efb65f9e13948408389309febeaaff4">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-3cbe8a338750480d8b8d729f442eb518"/>
			<xsd:element ref="ShippersLetterOfInstruction" maxOccurs="unbounded" id="oagis-id-4405572f17f443cc9387ca98258a7499"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
