data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyShipmentUnit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyShipmentUnit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ShipmentUnit.xsd"/>
        <xsd:element name="NotifyShipmentUnit" type="NotifyShipmentUnitType" id="oagis-id-dfe21d2615da48a58c4748ed01a72222">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyShipmentUnit is to enable an application to provide a ShipmentUnit information from another business application module.

The NotifyShipmentUnit is typically published from the business application that is the master or owner of the ShipmentUnit information to other systems needing to know about the changes to the ShipmentUnit information.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyShipmentUnitType" id="oagis-id-7152c98cd73d4234b8060eeb8cd8514b">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyShipmentUnitDataAreaType" id="oagis-id-b62a551b02c24869b4be9380ee693370">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyShipmentUnit. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ShipmentUnit).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyShipmentUnitDataAreaType" id="oagis-id-1b87f52c409b4792a9e12b0320bf61e2">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-d44cc98ca53e48a9b210a092d5854b7f"/>
                        <xsd:element ref="ShipmentUnit" maxOccurs="unbounded" id="oagis-id-9498b82a4ae64526a6507698268c8449"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
