data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyDebitTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/NotifyDebitTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.008.001.04" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransferIST.xsd"/>
	<xsd:element name="NotifyDebitTransferIST" type="NotifyDebitTransferISTType" id="oagis-id-8fe3ad69862c4b4386200a72a207fde8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyDebitTransferIST is to enable an application to request specific DebitTransferIST information from another business application module.  The response to the NotifyDebitTransferIST is the ShowDebitTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyDebitTransferISTType" id="oagis-id-93c4d48e2cb141cb98541b5f868ec6ab">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyDebitTransferISTDataAreaType" id="oagis-id-f5e58a55fb604e56a400f084e5fe4a16">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyDebitTransferIST. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (DebitTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyDebitTransferISTDataAreaType" id="oagis-id-1988856207a34e87ac755ac344655636">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-1d3888817e354f319faa5f9c368e6d86"/>
			<xsd:element ref="DebitTransferIST" maxOccurs="unbounded" id="oagis-id-1e5b429cff7440cf8e4756b4a8cb47dc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
