data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/PostAcknowledgeProjectAccounting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downPostAcknowledge package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/PostAcknowledgeProjectAccounting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProjectAccounting.xsd"/>
	<xsd:element name="PostAcknowledgeProjectAccounting" type="PostAcknowledgeProjectAccountingType" id="oagis-id-bb6ab023a2e24522b76af7d8cb0a735a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the PostAcknowledgeProjectAccounting  is to enable all relevant sub-systems that submit single sided transactions to send information to a Project Accounting Application. This would include, but not necessarily be limited to:
·	Accounts Payable
·	Accounts Receivable
·	Budget
·	Order Management
·	Purchasing
·	Time and Labor
·	Travel and Expense

The PostAcknowledgeProjectAccounting will cause common data to be PostAcknowledgeed in a project accounting application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PostAcknowledgeProjectAccountingType" id="oagis-id-0fd9052d104a4557a35402ac03ca57da">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="PostAcknowledgeProjectAccountingDataAreaType" id="oagis-id-221d54bb15244bfe959ead7395649e47">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case PostAcknowledgeProjectAccounting. The information consists of a Verb and one or more Nouns. The verb (PostAcknowledge) indicates the action to be performed on the Noun (ProjectAccounting).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PostAcknowledgeProjectAccountingDataAreaType" id="oagis-id-9c51150cba044b0ba7289af4f093836b">
		<xsd:sequence>
			<xsd:element ref="PostAcknowledge" id="oagis-id-3bc630c79d69477fbfafda2cb3754ed7"/>
			<xsd:element ref="ProjectAccounting" maxOccurs="unbounded" id="oagis-id-66f1b246bb254c96af89b9f99e488a25"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
