data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
        <xsd:element name="ProcessInventoryConsumption" type="ProcessInventoryConsumptionType" id="oagis-id-1d18f22c4ac74c1b8a4e2b372d0a55be">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessInventoryConsumption is to inform a seller or provider about InventoryConsumption of items.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessInventoryConsumptionType" id="oagis-id-5ef38f7f23944559878543705483926d">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessInventoryConsumptionDataAreaType" id="oagis-id-9fb4c87c9a4a4f21b68a02cc4287b56e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessInventoryConsumptionDataAreaType" id="oagis-id-11f15b012c67422f920a8faa9064e224">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-17248fe5a11d40e1876b9df2332bee01"/>
                        <xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-222c27295b3747c38b3ba661280b8ebf"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
