data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
	<xsd:element name="ProcessSequenceSchedule" type="ProcessSequenceScheduleType" id="oagis-id-4cdacca8d7a1441f9c1d85e4ec0ecb7b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessSequenceSchedule is to enable the exchange of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessSequenceScheduleType" id="oagis-id-aea3d4d2e4fd46c5810a19498a0bc58d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessSequenceScheduleDataAreaType" id="oagis-id-4a9b650c042a44bdb23ea33658ec6f94">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessSequenceScheduleDataAreaType" id="oagis-id-ac6db2d8996b422ba9e8b57f7d61094d">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-f6e8446303cd4be08d73d5d2c33b1a66"/>
			<xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-9b129bbe3def424480d03c1567bb650f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
