data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessDispatchList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessDispatchList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/DispatchList.xsd"/>
        <xsd:element name="ProcessDispatchList" type="ProcessDispatchListType" id="oagis-id-4edadee1106746b7a43750ecadac45d6">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The ProcessDispatchList provides the ability to request an application/ system to create a DispatchList</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessDispatchListType" id="oagis-id-9613fabe18474b54af4b71b1a8643ec0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessDispatchListDataAreaType" id="oagis-id-e062d6acbbf34d5ea2c96f420140f174">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessDispatchList. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (DispatchList).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessDispatchListDataAreaType" id="oagis-id-549db65cfb0e4d9fa950e641b2524697">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-120f8ec0145f4c8eb13dccd491f60848"/>
                        <xsd:element ref="DispatchList" maxOccurs="unbounded" id="oagis-id-47b82d89b0084cd1ac610ce0b295d3f6"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
