data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessMoveProductForecast.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessMoveProductForecast.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MoveProductForecast.xsd"/>
        <xsd:element name="ProcessMoveProductForecast" type="ProcessMoveProductForecastType" id="oagis-id-f5a6840ef6dc497ba27e7a20566e16d3">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Process MoveProductForecast Business Object Document is to transmit a purchase order to a supplier's order management application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessMoveProductForecastType" id="oagis-id-5b075ed0bed84bdd8db7438ad9cfe9f6">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessMoveProductForecastDataAreaType" id="oagis-id-bc859941192b4a6aac7457918c4b89cd">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessMoveProductForecast. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (MoveProductForecast).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessMoveProductForecastDataAreaType" id="oagis-id-7bb3a84f43ae479fb3b6fdd3f0b3c850">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-fc41a278de3144dc8be7202769bb6245"/>
                        <xsd:element ref="MoveProductForecast" maxOccurs="unbounded" id="oagis-id-f5b11b1726ca4d12872e79aaa18c93bb"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
