data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
        <xsd:element name="ProcessConfirmWIP" type="ProcessConfirmWIPType" id="oagis-id-c2637e89a92f4649a37a23aff5e28bfd">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessConfirmWIP is to respond to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessConfirmWIPType" id="oagis-id-74da12ca280c473693a6b70f55fb63c6">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessConfirmWIPDataAreaType" id="oagis-id-3253ffa8d1514f27a5f2d7b6c960f825">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessConfirmWIPDataAreaType" id="oagis-id-e91cfd159f5c4b5f8745c079112a0098">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-140979bc26d9414580513482f58a66cc"/>
                        <xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-a1e8792aa83c4ca0bb1921cc124ca185"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
