data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWarehouseShippingOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWarehouseShippingOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingOrder.xsd"/>
	<xsd:element name="ProcessWarehouseShippingOrder" type="ProcessWarehouseShippingOrderType" id="oagis-id-0cdc2537cdc84930a3f215bfecc175a2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ProcessWarehouseShippingOrder may be used to request the receiver to Process a WarehouseShipping Advice. The results of a ProcessWarehouseShippingOrder is returned in a AcknowledgeWarehouseShippingOrder.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessWarehouseShippingOrderType" id="oagis-id-3c1d72938a274b10b747883f53e75d2e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessWarehouseShippingOrderDataAreaType" id="oagis-id-96cdd7901ecd4f28ab512e5a92cf9280">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessWarehouseShippingOrder. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (WarehouseShippingOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessWarehouseShippingOrderDataAreaType" id="oagis-id-660f5ada88064fae8cf49197be52f88f">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-9c8e55f1dc77401fb3edceb5a1f127be"/>
			<xsd:element ref="WarehouseShippingOrder" maxOccurs="unbounded" id="oagis-id-db0170ae4e154bedabb1a486998b6268"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
