data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="ProcessWarehouseShippingAdvice" type="ProcessWarehouseShippingAdviceType" id="oagis-id-ed9713ca749a43c1ba3f9e31530bd286">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ProcessWarehouseShippingAdvice may be used to request the receiver to Process a WarehouseShipping Advice. The results of a ProcessWarehouseShippingAdvice is returned in a AcknowledgeWarehouseShippingAdvice.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessWarehouseShippingAdviceType" id="oagis-id-2b3b03ac0c8f487598b9c2161ff25a42">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessWarehouseShippingAdviceDataAreaType" id="oagis-id-e97e217ed99641bab1cf5653f3c50cfc">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessWarehouseShippingAdviceDataAreaType" id="oagis-id-7e45bed0dd9b4b04910863dd0b873fdc">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-e73422281751402186f4684ed0490be4"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-7842fd09b5904d37adffa53f2e5c5dec"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
