data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
	<xsd:element name="ProcessWIPStatus" type="ProcessWIPStatusType" id="oagis-id-1695eeea09a343caa9e254c2f8268b91">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Process WIPStatus is to enable an application or component to process a change to the WIPStatus. An AcknowledgeWIPStatus maybe provided as a result of this processing to report the results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessWIPStatusType" id="oagis-id-cbe2796fc54642ef99190c0a2a357cf4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessWIPStatusDataAreaType" id="oagis-id-8e0a9d10a3364b99a9ac8a904005d04c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessWIPStatusDataAreaType" id="oagis-id-078583532ee446c6b9d619fc57c54365">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-63416d3edcca4a1a80ba2d0e1bf7f213"/>
			<xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-f614e886b7da416bb8df21db35b0e18d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
