data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessShipment.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessShipment.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Shipment.xsd"/>
	<xsd:element name="ProcessShipment" type="ProcessShipmentType" id="oagis-id-f8d2e2917906426fad685499ad97636a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ProcessShipment provides the ability to request an application/ system to create a Shipment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessShipmentType" id="oagis-id-4fe69ced50584fafb3200a90b970c29c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessShipmentDataAreaType" id="oagis-id-6cf173acb7f84f67a38cff160da285af">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessShipment. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (Shipment).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessShipmentDataAreaType" id="oagis-id-89438400510e416987c54272556cd5be">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-4a81ad50a4c149faae5cc358e1c45dcf"/>
			<xsd:element ref="Shipment" maxOccurs="unbounded" id="oagis-id-6bd312b9713847b59bbabbcb50c8b341"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
