data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ProcessShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
	<xsd:element name="ProcessShipmentSchedule" type="ProcessShipmentScheduleType" id="oagis-id-30dead3ce89f4dd5b092ec43ac8da50f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessShipmentSchedule is to enable the exchange of shipment schedule information, authorizing a shipment quantity and date for specific trading partners and addresses.

Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessShipmentScheduleType" id="oagis-id-15e2b7c0ec404a6b87a17565dd0bbc34">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessShipmentScheduleDataAreaType" id="oagis-id-345e46f5e3404ec98d4665fcc734a92b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessShipmentScheduleDataAreaType" id="oagis-id-0866eb22e21e4c0ca8c9ef910585bbe9">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-8c1722ad3f924fc4bcc3666da60e22d2"/>
			<xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-4dace1bac964485996e6937407cf9cea"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
