data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
        <xsd:element name="ShowBudgetLedger" type="ShowBudgetLedgerType" id="oagis-id-56ceea617cd34d92a54b9446c7487cea">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowBudgetLedger is to receive budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application. In response to a request for them in the form of a GetBudgetLedger.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowBudgetLedgerType" id="oagis-id-a9ab6fdaa93d4c44b1714bb1d5cb103f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowBudgetLedgerDataAreaType" id="oagis-id-ecb2c7470c954223bc9f7b4313333423">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowBudgetLedgerDataAreaType" id="oagis-id-16b31912387448ee89375b34236bf42d">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-5dca1423bb46481a9b1c9551848777d7"/>
                        <xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-30820bc21fee49eda5dcd6171dc60385"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
