data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowPersonnel.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowPersonnel.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Personnel.xsd"/>
        <xsd:element name="ShowPersonnel" type="ShowPersonnelType" id="oagis-id-b7a56a7e276742d9baee43bf32976607">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowPersonnel is to provide Personnel data for a worker to a requesting business application.  This BOD may be in response to a GetPersonnel request, or it may be triggered by a business event.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowPersonnelType" id="oagis-id-8c4dd23f139a4df59c64383b41c45ba9">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowPersonnelDataAreaType" id="oagis-id-7d8ce42396554756971dcfda965bf9ea">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowPersonnel. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Personnel).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowPersonnelDataAreaType" id="oagis-id-953eafe7d9ae461982d5368eb20f99c2">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-198568ba28cc4d84aafdd5351f13e0db"/>
                        <xsd:element ref="Personnel" maxOccurs="unbounded" id="oagis-id-138c90fd7f384318aa36226d0c029ac9"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
