data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowItemNonconformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowItemNonconformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ItemNonconformance.xsd"/>
	<xsd:element name="ShowItemNonconformance" type="ShowItemNonconformanceType" id="oagis-id-a7bbb14521434137bcc6f0036c3b09e5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowItemNonconformance is to provide ItemNonconformance information concerning a trading partner.  The ShowItemNonconformance is the reply required by the GetItemNonconformance BOD.  This BOD type may also be used as an information mechanism that is triggered by a business event and not a Get request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowItemNonconformanceType" id="oagis-id-4d561b5881fe4133a23023548ceb66d1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowItemNonconformanceDataAreaType" id="oagis-id-afd62d0344ec447fac2b1e3d916f38d1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowItemNonconformance. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ItemNonconformance).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowItemNonconformanceDataAreaType" id="oagis-id-dd73f2224a7e4c3093e50133252d5f2d">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-cb50e83cccf843ea9d3121b961278588"/>
			<xsd:element ref="ItemNonconformance" maxOccurs="unbounded" id="oagis-id-c65dd9affe16410083d52b7cb94ae7b7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
