data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowMoveWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowMoveWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MoveWIP.xsd"/>
        <xsd:element name="ShowMoveWIP" type="ShowMoveWIPType" id="oagis-id-df22e7d07a824512a897f5a0478f2fa5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowMoveWIP is to supply MoveWIP information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowMoveWIPType" id="oagis-id-48ebfcc9bdd54a4684e9d10fd0f2eab1">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowMoveWIPDataAreaType" id="oagis-id-85f662495fde4ab2bf0f9a964d585a67">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowMoveWIP. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (MoveWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowMoveWIPDataAreaType" id="oagis-id-8bb2e602768c42f9b2faf322237f8942">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-d6d7403a1dcd4ea1abc7b591734144e3"/>
                        <xsd:element ref="MoveWIP" maxOccurs="unbounded" id="oagis-id-1d6068713e0642f78d5d0d4a2780b18a"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
