data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowConfiguration.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Configuration.xsd"/>
	<xsd:element name="ShowConfiguration" type="ShowConfigurationType" id="oagis-id-af6b8895262549d780927d2e6cc39bae">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowConfiguration is to enable an application to provide Configuration information from one business application to another business application. The ShowConfiguration is provided in response to the GetConfiguration in order to communicate the results of Geting.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowConfigurationType" id="oagis-id-2a135d0dc81e41f1acec18065de17a83">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowConfigurationDataAreaType" id="oagis-id-ed28bd90e86443ef80706c8757055328">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowConfigurationDataAreaType" id="oagis-id-010ceb03fe674d9487f133a84875abff">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-4ceade1af0524e259fc3aa7dff52f6b8"/>
			<xsd:element ref="Configuration" maxOccurs="unbounded" id="oagis-id-12975e3995a148989826f1670741a89f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
