data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
	<xsd:element name="ShowOnlineSession" type="ShowOnlineSessionType" id="oagis-id-8b37fdb6fabc434cabba06996562a068">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the GetOnlineSession is the ShowOnlineSession.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowOnlineSessionType" id="oagis-id-1c502849379a482db9a2df10e93658e5">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowOnlineSessionDataAreaType" id="oagis-id-0ce07a6b6ddd4444b1bb0377e9b2eae5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowOnlineSessionDataAreaType" id="oagis-id-015bbdcad9e54493b127dd5ccd7b759b">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-c9294e839b9c45769da3b4e97d98f2ae"/>
			<xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-b3ec5f2e9a70441fa04f19a077ed7ccb"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
