data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowFreightInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowFreightInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/FreightInvoice.xsd"/>
        <xsd:element name="ShowFreightInvoice" type="ShowFreightInvoiceType" id="oagis-id-6421e965fbf14375bb822c22025c2e07">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Show FreightInvoice is to supply Purchase Order Information to another business application module.  This request may be used as a response to a Get FreightInvoice request or as a push notification of an event.

There are many possible business applications in several environments that may use this capability.  Examples include:

1. A Order Management application could use this BOD to send information to a Plant Data Collection application.

2. An MRP, Inventory or Manufacturing business application could use this to obtain order information.

3. The Order Management application can notify the MRP/Inventory application when a vendor gives or changes a promise day.

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowFreightInvoiceType" id="oagis-id-ade104ddd4ab4847ac9b0f3b52f7d9e0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowFreightInvoiceDataAreaType" id="oagis-id-29bf71ad19d847c8bc98ae4e4115357a">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowFreightInvoice. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (FreightInvoice).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowFreightInvoiceDataAreaType" id="oagis-id-dffb8fae391b42738ddceead7ed0dfd7">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-273b31b5c17741239cbec3ec67ed01d9"/>
                        <xsd:element ref="FreightInvoice" maxOccurs="unbounded" id="oagis-id-076458f3c114477294e2cd736fdf5b51"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
