data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowRecoverWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowRecoverWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RecoverWIP.xsd"/>
        <xsd:element name="ShowRecoverWIP" type="ShowRecoverWIPType" id="oagis-id-2be20dc006424f1491f522c004946c2f">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowRecoverWIP is to supply RecoverWIP information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowRecoverWIPType" id="oagis-id-7a3d2b1ffd5c41f297ffceda0b841e23">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowRecoverWIPDataAreaType" id="oagis-id-648adf9eb36e4c5ca605653109f6d951">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowRecoverWIP. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (RecoverWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowRecoverWIPDataAreaType" id="oagis-id-d9b936ac3ca54be48a84c8fd2fe8851d">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-d8255fd8638c450ea228a1a7864d1ce7"/>
                        <xsd:element ref="RecoverWIP" maxOccurs="unbounded" id="oagis-id-6e406ba5514547c2ada80f1713bc4a60"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
