data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowProductionPerformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowProductionPerformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionPerformance.xsd"/>
        <xsd:element name="ShowProductionPerformance" type="ShowProductionPerformanceType" id="oagis-id-ee1bca09b597450ab80360be1f599292">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowProductionPerformance is to respond to a request fpr the GetProductionPerformance for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowProductionPerformanceType" id="oagis-id-812464f67c1d4ac98f18ed778a0f6691">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowProductionPerformanceDataAreaType" id="oagis-id-139babe432ce455c99d0b7adb2fbd46d">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowProductionPerformance. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ProductionPerformance).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowProductionPerformanceDataAreaType" id="oagis-id-68cb8b75a94749a9bd4be6ad99cfc6d9">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-d6c59200a18246fa9eda217cb7e60631"/>
                        <xsd:element ref="ProductionPerformance" maxOccurs="unbounded" id="oagis-id-49b9b18f55184a3b9e67cc70d542d08a"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
