data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowRouting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowRouting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Routing.xsd"/>
        <xsd:element name="ShowRouting" type="ShowRoutingType" id="oagis-id-521d67c2ae7746f1acfeb903b7655a35">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowRouting is to communicate to a business application module or system the relevant information about a specific Routing. The Show Routing is in response to a GetRouting request.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowRoutingType" id="oagis-id-0d9426d583cb4399860aacda300ffbe0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowRoutingDataAreaType" id="oagis-id-e66891855f19405fb428a648a864c5c6">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowRouting. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Routing).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowRoutingDataAreaType" id="oagis-id-6425452be8be4209bac58aabc367a57b">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-663eb82c9c2a4d0f85e38b18e957026a"/>
                        <xsd:element ref="Routing" maxOccurs="unbounded" id="oagis-id-213643b910c340dea9e2a837e8d577bd"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
