data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowOnlineOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowOnlineOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/OnlineOrder.xsd"/>
        <xsd:element name="ShowOnlineOrder" type="ShowOnlineOrderType" id="oagis-id-5b8b74aff93e4b70aaa8a971e7127595">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowOnlineOrder is to enable an application to request specific online shopping OnlineOrder from another business application module.  The response to the GetOnlineOrder is the ShowOnlineOrder.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowOnlineOrderType" id="oagis-id-41143c93827c4ceabea88ce89bcf67d3">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowOnlineOrderDataAreaType" id="oagis-id-987901d7aa7c492f80431770f1a5cd18">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowOnlineOrder. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (OnlineOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowOnlineOrderDataAreaType" id="oagis-id-70fcb15c0c84430d95cc599e5fa88dae">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-11235807c5a84083ab3ff61d0b3fbe29"/>
                        <xsd:element ref="OnlineOrder" maxOccurs="unbounded" id="oagis-id-c96c2ca19b5b46d0bab2f0994aa895ea"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
