data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
        <xsd:element name="ShowShipmentSchedule" type="ShowShipmentScheduleType" id="oagis-id-2abe162e291848dd8a91e251572d64d7">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.
   
The purpose of the ShowShipmentSchedule is to communicate to a business application module or system the sending systems representation of ShipmentSchedule information.  This request may be used as a response to a GetShipmentSchedule request or as a push notification of an event.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowShipmentScheduleType" id="oagis-id-fb7fca9db9874be88ada7af094a4146e">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowShipmentScheduleDataAreaType" id="oagis-id-f1690cbec0ed487eb6a60c5646141686">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowShipmentScheduleDataAreaType" id="oagis-id-15b271fd4c4f488f92bd28b9dcf0ab20">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-14ae0d1d06ed483f9a78df7064b8538b"/>
                        <xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-73b6db05d9ca4fa593b11983773fd6eb"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
