data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/ShowConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
        <xsd:element name="ShowConfirmWIP" type="ShowConfirmWIPType" id="oagis-id-6d9c0a98de834690bd4b4625be7ac25c">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowConfirmWIP is to respond to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowConfirmWIPType" id="oagis-id-9be1bab83b794cb09f88220965c25c2a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowConfirmWIPDataAreaType" id="oagis-id-33279ae890a34e24a1a0a316ff1c6d98">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowConfirmWIPDataAreaType" id="oagis-id-b3da79bf42c543fe838b83f1a51e5aec">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-45cef7fdc1db432c96b296ea2bc2da2b"/>
                        <xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-426420e261bd4d439d0d15a6f449ed76"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
