data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
	<xsd:element name="SyncResponseInventoryConsumption" type="SyncResponseInventoryConsumptionType" id="oagis-id-04805092f1cf4e298deb57a453630f52">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseInventoryConsumption is to inform a seller or provider about InventoryConsumption of items.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseInventoryConsumptionType" id="oagis-id-c3deaf66225b4ef4a1d015ea80098496">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseInventoryConsumptionDataAreaType" id="oagis-id-eea27be1825c483ab190d00677a2eabb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseInventoryConsumptionDataAreaType" id="oagis-id-5fa03fdda11d43efaf3993abfc7cd9bf">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-5f408488565e4f2dbcc9041be0b7b820"/>
			<xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-602b60f43fba47a2abafec78708a20ae"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
