data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseMoveProductForecast.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseMoveProductForecast.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveProductForecast.xsd"/>
	<xsd:element name="SyncResponseMoveProductForecast" type="SyncResponseMoveProductForecastType" id="oagis-id-5bf17e7b1c7942bb8386c537db356043">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseMoveProductForecast is to communicate the response to a MoveProductForecast message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseMoveProductForecastType" id="oagis-id-0bebebf70ea5486a87ce2bb6be78585a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseMoveProductForecastDataAreaType" id="oagis-id-de9a8007c707427ab6a1f6f46433c3d5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseMoveProductForecast. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (MoveProductForecast).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseMoveProductForecastDataAreaType" id="oagis-id-6fb8c9371105496d99a832cf351561dc">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-94d7990377c447c487deb91d5db73184"/>
			<xsd:element ref="MoveProductForecast" maxOccurs="unbounded" id="oagis-id-dac2416d5b1746968c54203f87a31bcc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
