data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncRequisition.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Requisition.xsd"/>
        <xsd:element name="SyncRequisition" type="SyncRequisitionType" id="oagis-id-b880408ffb2c491aa1ee0c17019a9bef">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">SyncRequisition is used to synchronize Requisition information with other applications</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncRequisitionType" id="oagis-id-8f19b1ae84f747e1a4891f00402401f9">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncRequisitionDataAreaType" id="oagis-id-fed47cedbaf34a4487fc1d8ba08b12b8">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncRequisition. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (Requisition).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncRequisitionDataAreaType" id="oagis-id-1d8d533488674f1db84a32b16c8197f5">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-4e024f0391f14fea8809fbe55e56b43f"/>
                        <xsd:element ref="Requisition" maxOccurs="unbounded" id="oagis-id-9896457c5a2140eb827151fc1dd5fd0b"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
