data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
        <xsd:element name="SyncInventoryConsumption" type="SyncInventoryConsumptionType" id="oagis-id-525765c297c14b5f999f73c1b2db0b34">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncInventoryConsumption is to inform a seller or provider about InventoryConsumption of items.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncInventoryConsumptionType" id="oagis-id-1c560301c5504ced85d6e75241033cac">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncInventoryConsumptionDataAreaType" id="oagis-id-4d09f9fa6f2b4fb092d5b3030c64ace3">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncInventoryConsumptionDataAreaType" id="oagis-id-1977f846303748e1aae4402d98c0f09c">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-99da888a206246cca688370ed1c107fa"/>
                        <xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-3bc3c4aa2ca84db2a43bb29ebcc18d9a"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
