data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDebitTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDebitTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.008.001.04" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransferIST.xsd"/>
	<xsd:element name="SyncResponseDebitTransferIST" type="SyncResponseDebitTransferISTType" id="oagis-id-2ccce5d83fcf4770a0b0e90810d56c62">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseDebitTransferIST is to enable an application to request specific DebitTransferIST information from another business application module.  The response to the SyncResponseDebitTransferIST is the SyncResponseDebitTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseDebitTransferISTType" id="oagis-id-b267793716d644c780f97a7521234475">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseDebitTransferISTDataAreaType" id="oagis-id-ab0713146e34410eb86a01b97d8ae0f8">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseDebitTransferIST. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (DebitTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseDebitTransferISTDataAreaType" id="oagis-id-12b5ba0cbd8041d78fcd7cc86150b28a">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-b62642921b2c49228c39a9024f534fa8"/>
			<xsd:element ref="DebitTransferIST" maxOccurs="unbounded" id="oagis-id-a40ea1d3d7bb4bb18bd20a61fea9d1c8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
