data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncMaintenanceOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncMaintenanceOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MaintenanceOrder.xsd"/>
        <xsd:element name="SyncMaintenanceOrder" type="SyncMaintenanceOrderType" id="oagis-id-ff6f66caa0f54e239bf047ae4dc791ea">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncMaintenanceOrder is to ensure that all business software components in a specific integration instance have the current Maintenance Order information. This BOD is commonly used to publish the need to create or update a Maintenance Order in a publish and subscribe integration environment.

One possible scenario is the synchronization of Maintenance Order between field devices, service trucks, etc. with a CMMS system.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncMaintenanceOrderType" id="oagis-id-9c9b9e6e4b714d56803bc35f0fb5f3a5">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncMaintenanceOrderDataAreaType" id="oagis-id-868a6e5b021e45eaa3f3b2ec6a03027c">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncMaintenanceOrder. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (MaintenanceOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncMaintenanceOrderDataAreaType" id="oagis-id-59b326aa08ea4d0f899f2fbdc0939c2b">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-fe491b9585f349a1a62778314cb71aa8"/>
                        <xsd:element ref="MaintenanceOrder" maxOccurs="unbounded" id="oagis-id-9a7c9bc86d1a497292a4468392b5f627"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
