data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseReceiveItem.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseReceiveItem.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ReceiveItem.xsd"/>
	<xsd:element name="SyncResponseReceiveItem" type="SyncResponseReceiveItemType" id="oagis-id-44c6d8df81684b208041dc7612e89f5b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseInventoryTransfer is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseReceiveItemType" id="oagis-id-81cf421ac59d4625beecc8a8822d2989">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseReceiveItemDataAreaType" id="oagis-id-42c46d3200e347798cfd8a2b3ce11248">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseReceiveItem. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (ReceiveItem).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseReceiveItemDataAreaType" id="oagis-id-4bc1bf96a7394d738633c031ddf5cde3">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-6cb4440dfb7a400880431f63556ffd8e"/>
			<xsd:element ref="ReceiveItem" maxOccurs="unbounded" id="oagis-id-89d47a393fee4656bd2f0500723b2921"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
