data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDispatchList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDispatchList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DispatchList.xsd"/>
	<xsd:element name="SyncResponseDispatchList" type="SyncResponseDispatchListType" id="oagis-id-1e044c70b4da45c68bedb41e6d2f8784">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseDispatchList is to communicate the response to a DispatchList message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseDispatchListType" id="oagis-id-1d59e4e2b99f43569b9930ef0327a459">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseDispatchListDataAreaType" id="oagis-id-bf7a59e42a3b4d8886713e9aeac4fc5f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseDispatchList. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (DispatchList).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseDispatchListDataAreaType" id="oagis-id-8a1571542a72475fa20cbb0b323126e4">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-a27a792bd5934d3cbbdcd27b9bf44b5c"/>
			<xsd:element ref="DispatchList" maxOccurs="unbounded" id="oagis-id-c703715987cf409bac094e10f50bc198"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
