data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="SyncResponseDebitTransfer" type="SyncResponseDebitTransferType" id="oagis-id-54d20f1ddeae4d77b69f578bc18f8cd5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the SyncResponseDebitTransfer is the SyncResponseDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseDebitTransferType" id="oagis-id-8a4febcc5e2c4ccb9228ea94a0732302">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseDebitTransferDataAreaType" id="oagis-id-0f25b7c94a4149368eab1c866a3f4ec0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseDebitTransferDataAreaType" id="oagis-id-11fb96c521c4451db29d0e5d2207fb2d">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-48e2d9482d0045be9a473823a5b1e082"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-de0bdcc15a8e48b2b08dfc81c2104e60"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
