data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
	<xsd:element name="SyncWIPStatus" type="SyncWIPStatusType" id="oagis-id-b6f9a49c34b5419b80a7f1b8906a43f4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Sync WIPStatus is to enable an application or component to Sync a change to the WIPStatus. An AcknowledgeWIPStatus maybe provided as a result of this Syncing to report the results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncWIPStatusType" id="oagis-id-31a14db1d9b74aa8bf379c43b485d2db">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncWIPStatusDataAreaType" id="oagis-id-9c900e7d4af3479dba7ca1b2590befb7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncWIPStatusDataAreaType" id="oagis-id-9249205e4f644c3baaf0dfc67bce477a">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-602ecf67ce7b4defa146ba19d0ba71ad"/>
			<xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-2d9bf6b178c34457b9313d55d7f38d7a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
