data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseEngineeringChangeOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseEngineeringChangeOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EngineeringChangeOrder.xsd"/>
	<xsd:element name="SyncResponseEngineeringChangeOrder" type="SyncResponseEngineeringChangeOrderType" id="oagis-id-ca4c97006be24615a4e878c32eac4a38">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseEngineeringChangeOrder is to communicate the response to a EngineeringChangeOrder message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseEngineeringChangeOrderType" id="oagis-id-341e4573cfd34944886cc7f9f8468241">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseEngineeringChangeOrderDataAreaType" id="oagis-id-acd754f38d054ba2b422154018f9f8c6">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseEngineeringChangeOrder. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (EngineeringChangeOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseEngineeringChangeOrderDataAreaType" id="oagis-id-ec5535b56aef43979893428dec8137ab">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-8230edb9a62e4d4ea55b3c757c033dc4"/>
			<xsd:element ref="EngineeringChangeOrder" maxOccurs="unbounded" id="oagis-id-12b601d0070049f6b534e9e1cc6c7214"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
