data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncAllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncAllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/AllocateResource.xsd"/>
        <xsd:element name="SyncAllocateResource" type="SyncAllocateResourceType" id="oagis-id-f38961bf78284ed8809cd1b77da57066">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncAllocateResource is to supply AllocateResource information to another business application module. Where the allocation of resources is provided by the system of record. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncAllocateResourceType" id="oagis-id-b96df9e8186e45319fabbbaba5af209c">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncAllocateResourceDataAreaType" id="oagis-id-1eb60fa6f77c42ab99863b3808ec9e75">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncAllocateResource. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (AllocateResource).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncAllocateResourceDataAreaType" id="oagis-id-e45f1aa4117440208c2cc1ec2f4820a5">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-422d389351224c41bde3b9e5ba122ade"/>
                        <xsd:element ref="AllocateResource" maxOccurs="unbounded" id="oagis-id-e662f82e5f1c4c4ebf2e4953480e2a9b"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
