data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="SyncDebitTransfer" type="SyncDebitTransferType" id="oagis-id-038682581b9e49b599eb9704110b8b4c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the SyncDebitTransfer is the SyncDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncDebitTransferType" id="oagis-id-511576b3f88a4f05b4154573b87f2ffb">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncDebitTransferDataAreaType" id="oagis-id-41f9f1d3c7bc4dd4b893cc61ef35f8ce">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncDebitTransferDataAreaType" id="oagis-id-1e5b45d8d3fd4154a51a64a07c0892e0">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-4b482b987e0b46a9a8677226acd8983f"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-21b7b7e7bf384523a9a70002865db59a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
