data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseCatalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Catalog.xsd"/>
	<xsd:element name="SyncResponseCatalog" type="SyncResponseCatalogType" id="oagis-id-e760b156b6e7452896effc6cd63a989b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">SyncResponseCatalog is used to SyncResponsehronize catalog information across systems. The SyncResponse indicates that the send of the SyncResponseCatalog is the owner of the information being passed, additionally it is understood that the receiver of the SyncResponseCatalog is a sub-system that must accept the data as provided by the owne of the information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseCatalogType" id="oagis-id-5e1de100b99b4f0ca48342722581815d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseCatalogDataAreaType" id="oagis-id-767a7b7d9d8f453e8a00559855e5b0e3">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseCatalog. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (Catalog).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseCatalogDataAreaType" id="oagis-id-43bdf78017824c2e8dcff943ccc1c817">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-65458b11f3a343a69321d5aee727df08"/>
			<xsd:element ref="Catalog" maxOccurs="unbounded" id="oagis-id-ba8881cf98cc4f2a8f5ad05d4ad6f9d2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
