data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
	<xsd:element name="SyncIssueInventory" type="SyncIssueInventoryType" id="oagis-id-e269fc632cbe4ef893f438ce8172ab0b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncIssueInventory is to reflect an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:
1. Somebody broke the material,
2. The material is defective and needs replacing, 
3. The material is used up and needs replenishment.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncIssueInventoryType" id="oagis-id-c8c652b48a874ae7942db8dab557face">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncIssueInventoryDataAreaType" id="oagis-id-268a74f2b70b483496e53e9ad093e65f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncIssueInventoryDataAreaType" id="oagis-id-93d5e256fee44bd2a506b97d2f92720a">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-373fcf7e49ff471096a85358e127dd52"/>
			<xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-074a1a4ceb174f3f8a282258fa20f857"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
