data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="SyncResponseWarehouseShippingAdvice" type="SyncResponseWarehouseShippingAdviceType" id="oagis-id-d4cff68bccfd4d9eb87c35332c0fc5b4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The SyncResponseWarehouseShippingAdvice may be used to obtain SyncResponse the result of a ProcesWarehouseShippingAdvice.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseWarehouseShippingAdviceType" id="oagis-id-83d13d65ae8645738409cbe38f32e144">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseWarehouseShippingAdviceDataAreaType" id="oagis-id-0a16fdb1a950419eb67a1c9e0147e029">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseWarehouseShippingAdviceDataAreaType" id="oagis-id-cbbd234973d145b1b1095803bdd6d79e">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-26bd4eba8e9f4a7280c1884089bef2e9"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-ee4498c0182d46ccbd5d12a8afc7ca18"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
