data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
	<xsd:element name="SyncResponseShipmentSchedule" type="SyncResponseShipmentScheduleType" id="oagis-id-ec8b192d791c425e9be5127a1c4d937f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseShipmentSchedule is to enable the exchange of shipment schedule information, authorizing a shipment quantity and date for specific trading partners and addresses.

Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseShipmentScheduleType" id="oagis-id-436e32e6b90f422c93b2bbe0d67f81c3">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseShipmentScheduleDataAreaType" id="oagis-id-a98f1921431240f1a310908ee1e3d0f7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseShipmentScheduleDataAreaType" id="oagis-id-1b2e25b24b2a4bfb95970df646f0526f">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-b3bbff7eff3f4b3bba48a238ebe8303a"/>
			<xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-d0b40e6a36d04719a29d0c7a8cdfb7ac"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
