data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="SyncResponseCreditTransfer" type="SyncResponseCreditTransferType" id="oagis-id-5ff8bc5a0d8b445a820e353a59b8473c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the SyncResponseCreditTransfer is the SyncResponseCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseCreditTransferType" id="oagis-id-31ea4e5a84c74a0ca23159af64c5a508">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseCreditTransferDataAreaType" id="oagis-id-de4517972a974880aec92fd94331a94d">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseCreditTransferDataAreaType" id="oagis-id-68e6e8bce15946c89998214e8aee389e">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-8ee5b6bc22b041728b6589212218f8ee"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-4e5d141b6b2a4763b7ad4f6f8ab12e70"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
