data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ActualLedger.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ActualLedger.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/PostAcknowledgeActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/PostActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadResponseActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyActualLedger.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelActualLedger">
		<part name="Message" element="oa:CancelActualLedger"/>
	</message>
	<message name="CancelAcknowledgeActualLedger">
		<part name="Message" element="oa:CancelAcknowledgeActualLedger"/>
	</message>
	<message name="ChangeActualLedger">
		<part name="Message" element="oa:ChangeActualLedger"/>
	</message>
	<message name="ChangeAcknowledgeActualLedger">
		<part name="Message" element="oa:ChangeAcknowledgeActualLedger"/>
	</message>
	<message name="GetActualLedger">
		<part name="Message" element="oa:GetActualLedger"/>
	</message>
	<message name="ShowActualLedger">
		<part name="Message" element="oa:ShowActualLedger"/>
	</message>
	<message name="PostActualLedger">
		<part name="Message" element="oa:PostActualLedger"/>
	</message>
	<message name="PostAcknowledgeActualLedger">
		<part name="Message" element="oa:PostAcknowledgeActualLedger"/>
	</message>
	<message name="LoadActualLedger">
		<part name="Message" element="oa:LoadActualLedger"/>
	</message>
	<message name="LoadResponseActualLedger">
		<part name="Message" element="oa:LoadResponseActualLedger"/>
	</message>
	<message name="NotifyActualLedger">
		<part name="Message" element="oa:NotifyActualLedger"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestActualLedgerPortType">
		<operation name="PostActualLedger">
			<input message="oaws:PostActualLedger"/>
		</operation>
		<operation name="ChangeActualLedger">
			<input message="oaws:ChangeActualLedger"/>
		</operation>
		<operation name="CancelActualLedger">
			<input message="oaws:CancelActualLedger"/>
		</operation>
		<operation name="GetActualLedger">
			<input message="oaws:GetActualLedger"/>
		</operation>
		<operation name="LoadActualLedger">
			<input message="oaws:LoadActualLedger"/>
		</operation>
		<operation name="NotifyActualLedger">
			<input message="oaws:NotifyActualLedger"/>
		</operation>
	</portType>
	<portType name="ResponseActualLedgerPortType">
		<operation name="PostAcknowledgeActualLedger">
			<input message="oaws:PostAcknowledgeActualLedger"/>
		</operation>
		<operation name="ChangeAcknowledgeActualLedger">
			<input message="oaws:ChangeAcknowledgeActualLedger"/>
		</operation>
		<operation name="CancelAcknowledgeActualLedger">
			<input message="oaws:CancelAcknowledgeActualLedger"/>
		</operation>
		<operation name="ShowActualLedger">
			<input message="oaws:ShowActualLedger"/>
		</operation>
		<operation name="LoadResponseActualLedger">
			<input message="oaws:LoadResponseActualLedger"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="LoadActualLedgerPortType">
		<operation name="PostActualLedger">
			<input message="oaws:PostActualLedger"/>
			<output message="oaws:PostAcknowledgeActualLedger"/>
		</operation>
		<operation name="ChangeActualLedger">
			<input message="oaws:ChangeActualLedger"/>
			<output message="oaws:ChangeAcknowledgeActualLedger"/>
		</operation>
		<operation name="CancelActualLedger">
			<input message="oaws:CancelActualLedger"/>
			<output message="oaws:CancelAcknowledgeActualLedger"/>
		</operation>
		<operation name="GetActualLedger">
			<input message="oaws:GetActualLedger"/>
			<output message="oaws:ShowActualLedger"/>
		</operation>
		<operation name="LoadActualLedger">
			<input message="oaws:LoadActualLedger"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyActualLedger">
			<input message="oaws:NotifyActualLedger"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestActualLedgerBinding" type="oaws:RequestActualLedgerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseActualLedgerBinding" type="oaws:ResponseActualLedgerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostAcknowledgeActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadResponseActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="LoadActualLedgerBinding" type="oaws:LoadActualLedgerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyActualLedger">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ActualLedger.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestActualLedgerService">
		<port name="RequestActualLedgerBinding" binding="oaws:RequestActualLedgerBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestActualLedger"/>
		</port>
	</service>
	<service name="ResponseActualLedgerService">
		<port name="ResponseActualLedgerBinding" binding="oaws:ResponseActualLedgerBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseActualLedger"/>
		</port>
	</service>
	<service name="LoadActualLedgerService">
		<port name="LoadActualLedgerBinding" binding="oaws:LoadActualLedgerBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/LoadActualLedger"/>
		</port>
	</service>
</definitions>
