data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/AllocateResource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/AllocateResource.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyAllocateResource.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelAllocateResource">
		<part name="Message" element="oa:CancelAllocateResource"/>
	</message>
	<message name="CancelAcknowledgeAllocateResource">
		<part name="Message" element="oa:CancelAcknowledgeAllocateResource"/>
	</message>
	<message name="ChangeAllocateResource">
		<part name="Message" element="oa:ChangeAllocateResource"/>
	</message>
	<message name="ChangeAcknowledgeAllocateResource">
		<part name="Message" element="oa:ChangeAcknowledgeAllocateResource"/>
	</message>
	<message name="GetAllocateResource">
		<part name="Message" element="oa:GetAllocateResource"/>
	</message>
	<message name="ShowAllocateResource">
		<part name="Message" element="oa:ShowAllocateResource"/>
	</message>
	<message name="ProcessAllocateResource">
		<part name="Message" element="oa:ProcessAllocateResource"/>
	</message>
	<message name="AcknowledgeAllocateResource">
		<part name="Message" element="oa:AcknowledgeAllocateResource"/>
	</message>
	<message name="SyncAllocateResource">
		<part name="Message" element="oa:SyncAllocateResource"/>
	</message>
	<message name="SyncResponseAllocateResource">
		<part name="Message" element="oa:SyncResponseAllocateResource"/>
	</message>
	<message name="NotifyAllocateResource">
		<part name="Message" element="oa:NotifyAllocateResource"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestAllocateResourcePortType">
		<operation name="ProcessAllocateResource">
			<input message="oaws:ProcessAllocateResource"/>
		</operation>
		<operation name="ChangeAllocateResource">
			<input message="oaws:ChangeAllocateResource"/>
		</operation>
		<operation name="CancelAllocateResource">
			<input message="oaws:CancelAllocateResource"/>
		</operation>
		<operation name="GetAllocateResource">
			<input message="oaws:GetAllocateResource"/>
		</operation>
		<operation name="SyncAllocateResource">
			<input message="oaws:SyncAllocateResource"/>
		</operation>
		<operation name="NotifyAllocateResource">
			<input message="oaws:NotifyAllocateResource"/>
		</operation>
	</portType>
	<portType name="ResponseAllocateResourcePortType">
		<operation name="AcknowledgeAllocateResource">
			<input message="oaws:AcknowledgeAllocateResource"/>
		</operation>
		<operation name="ChangeAcknowledgeAllocateResource">
			<input message="oaws:ChangeAcknowledgeAllocateResource"/>
		</operation>
		<operation name="CancelAcknowledgeAllocateResource">
			<input message="oaws:CancelAcknowledgeAllocateResource"/>
		</operation>
		<operation name="ShowAllocateResource">
			<input message="oaws:ShowAllocateResource"/>
		</operation>
		<operation name="SyncResponseAllocateResource">
			<input message="oaws:SyncResponseAllocateResource"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncAllocateResourcePortType">
		<operation name="ProcessAllocateResource">
			<input message="oaws:ProcessAllocateResource"/>
			<output message="oaws:AcknowledgeAllocateResource"/>
		</operation>
		<operation name="ChangeAllocateResource">
			<input message="oaws:ChangeAllocateResource"/>
			<output message="oaws:ChangeAcknowledgeAllocateResource"/>
		</operation>
		<operation name="CancelAllocateResource">
			<input message="oaws:CancelAllocateResource"/>
			<output message="oaws:CancelAcknowledgeAllocateResource"/>
		</operation>
		<operation name="GetAllocateResource">
			<input message="oaws:GetAllocateResource"/>
			<output message="oaws:ShowAllocateResource"/>
		</operation>
		<operation name="SyncAllocateResource">
			<input message="oaws:SyncAllocateResource"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyAllocateResource">
			<input message="oaws:NotifyAllocateResource"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestAllocateResourceBinding" type="oaws:RequestAllocateResourcePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseAllocateResourceBinding" type="oaws:ResponseAllocateResourcePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncAllocateResourceBinding" type="oaws:SyncAllocateResourcePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyAllocateResource">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/AllocateResource.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestAllocateResourceService">
		<port name="RequestAllocateResourceBinding" binding="oaws:RequestAllocateResourceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestAllocateResource"/>
		</port>
	</service>
	<service name="ResponseAllocateResourceService">
		<port name="ResponseAllocateResourceBinding" binding="oaws:ResponseAllocateResourceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseAllocateResource"/>
		</port>
	</service>
	<service name="SyncAllocateResourceService">
		<port name="SyncAllocateResourceBinding" binding="oaws:SyncAllocateResourceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncAllocateResource"/>
		</port>
	</service>
</definitions>
