data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/BatchCertificateOfAnalysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/BatchCertificateOfAnalysis.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyBatchCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelBatchCertificateOfAnalysis">
		<part name="Message" element="oa:CancelBatchCertificateOfAnalysis"/>
	</message>
	<message name="CancelAcknowledgeBatchCertificateOfAnalysis">
		<part name="Message" element="oa:CancelAcknowledgeBatchCertificateOfAnalysis"/>
	</message>
	<message name="ChangeBatchCertificateOfAnalysis">
		<part name="Message" element="oa:ChangeBatchCertificateOfAnalysis"/>
	</message>
	<message name="ChangeAcknowledgeBatchCertificateOfAnalysis">
		<part name="Message" element="oa:ChangeAcknowledgeBatchCertificateOfAnalysis"/>
	</message>
	<message name="GetBatchCertificateOfAnalysis">
		<part name="Message" element="oa:GetBatchCertificateOfAnalysis"/>
	</message>
	<message name="ShowBatchCertificateOfAnalysis">
		<part name="Message" element="oa:ShowBatchCertificateOfAnalysis"/>
	</message>
	<message name="ProcessBatchCertificateOfAnalysis">
		<part name="Message" element="oa:ProcessBatchCertificateOfAnalysis"/>
	</message>
	<message name="AcknowledgeBatchCertificateOfAnalysis">
		<part name="Message" element="oa:AcknowledgeBatchCertificateOfAnalysis"/>
	</message>
	<message name="SyncBatchCertificateOfAnalysis">
		<part name="Message" element="oa:SyncBatchCertificateOfAnalysis"/>
	</message>
	<message name="SyncResponseBatchCertificateOfAnalysis">
		<part name="Message" element="oa:SyncResponseBatchCertificateOfAnalysis"/>
	</message>
	<message name="NotifyBatchCertificateOfAnalysis">
		<part name="Message" element="oa:NotifyBatchCertificateOfAnalysis"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestBatchCertificateOfAnalysisPortType">
		<operation name="ProcessBatchCertificateOfAnalysis">
			<input message="oaws:ProcessBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeBatchCertificateOfAnalysis">
			<input message="oaws:ChangeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelBatchCertificateOfAnalysis">
			<input message="oaws:CancelBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="GetBatchCertificateOfAnalysis">
			<input message="oaws:GetBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncBatchCertificateOfAnalysis">
			<input message="oaws:SyncBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="NotifyBatchCertificateOfAnalysis">
			<input message="oaws:NotifyBatchCertificateOfAnalysis"/>
		</operation>
	</portType>
	<portType name="ResponseBatchCertificateOfAnalysisPortType">
		<operation name="AcknowledgeBatchCertificateOfAnalysis">
			<input message="oaws:AcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeAcknowledgeBatchCertificateOfAnalysis">
			<input message="oaws:ChangeAcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelAcknowledgeBatchCertificateOfAnalysis">
			<input message="oaws:CancelAcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="ShowBatchCertificateOfAnalysis">
			<input message="oaws:ShowBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncResponseBatchCertificateOfAnalysis">
			<input message="oaws:SyncResponseBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncBatchCertificateOfAnalysisPortType">
		<operation name="ProcessBatchCertificateOfAnalysis">
			<input message="oaws:ProcessBatchCertificateOfAnalysis"/>
			<output message="oaws:AcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeBatchCertificateOfAnalysis">
			<input message="oaws:ChangeBatchCertificateOfAnalysis"/>
			<output message="oaws:ChangeAcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelBatchCertificateOfAnalysis">
			<input message="oaws:CancelBatchCertificateOfAnalysis"/>
			<output message="oaws:CancelAcknowledgeBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="GetBatchCertificateOfAnalysis">
			<input message="oaws:GetBatchCertificateOfAnalysis"/>
			<output message="oaws:ShowBatchCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncBatchCertificateOfAnalysis">
			<input message="oaws:SyncBatchCertificateOfAnalysis"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyBatchCertificateOfAnalysis">
			<input message="oaws:NotifyBatchCertificateOfAnalysis"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestBatchCertificateOfAnalysisBinding" type="oaws:RequestBatchCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseBatchCertificateOfAnalysisBinding" type="oaws:ResponseBatchCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncBatchCertificateOfAnalysisBinding" type="oaws:SyncBatchCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyBatchCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/BatchCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestBatchCertificateOfAnalysisService">
		<port name="RequestBatchCertificateOfAnalysisBinding" binding="oaws:RequestBatchCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestBatchCertificateOfAnalysis"/>
		</port>
	</service>
	<service name="ResponseBatchCertificateOfAnalysisService">
		<port name="ResponseBatchCertificateOfAnalysisBinding" binding="oaws:ResponseBatchCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseBatchCertificateOfAnalysis"/>
		</port>
	</service>
	<service name="SyncBatchCertificateOfAnalysisService">
		<port name="SyncBatchCertificateOfAnalysisBinding" binding="oaws:SyncBatchCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncBatchCertificateOfAnalysis"/>
		</port>
	</service>
</definitions>
