data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CorrectiveAction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CorrectiveAction.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCorrectiveAction.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCorrectiveAction">
		<part name="Message" element="oa:CancelCorrectiveAction"/>
	</message>
	<message name="CancelAcknowledgeCorrectiveAction">
		<part name="Message" element="oa:CancelAcknowledgeCorrectiveAction"/>
	</message>
	<message name="ChangeCorrectiveAction">
		<part name="Message" element="oa:ChangeCorrectiveAction"/>
	</message>
	<message name="ChangeAcknowledgeCorrectiveAction">
		<part name="Message" element="oa:ChangeAcknowledgeCorrectiveAction"/>
	</message>
	<message name="GetCorrectiveAction">
		<part name="Message" element="oa:GetCorrectiveAction"/>
	</message>
	<message name="ShowCorrectiveAction">
		<part name="Message" element="oa:ShowCorrectiveAction"/>
	</message>
	<message name="ProcessCorrectiveAction">
		<part name="Message" element="oa:ProcessCorrectiveAction"/>
	</message>
	<message name="AcknowledgeCorrectiveAction">
		<part name="Message" element="oa:AcknowledgeCorrectiveAction"/>
	</message>
	<message name="SyncCorrectiveAction">
		<part name="Message" element="oa:SyncCorrectiveAction"/>
	</message>
	<message name="SyncResponseCorrectiveAction">
		<part name="Message" element="oa:SyncResponseCorrectiveAction"/>
	</message>
	<message name="NotifyCorrectiveAction">
		<part name="Message" element="oa:NotifyCorrectiveAction"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCorrectiveActionPortType">
		<operation name="ProcessCorrectiveAction">
			<input message="oaws:ProcessCorrectiveAction"/>
		</operation>
		<operation name="ChangeCorrectiveAction">
			<input message="oaws:ChangeCorrectiveAction"/>
		</operation>
		<operation name="CancelCorrectiveAction">
			<input message="oaws:CancelCorrectiveAction"/>
		</operation>
		<operation name="GetCorrectiveAction">
			<input message="oaws:GetCorrectiveAction"/>
		</operation>
		<operation name="SyncCorrectiveAction">
			<input message="oaws:SyncCorrectiveAction"/>
		</operation>
		<operation name="NotifyCorrectiveAction">
			<input message="oaws:NotifyCorrectiveAction"/>
		</operation>
	</portType>
	<portType name="ResponseCorrectiveActionPortType">
		<operation name="AcknowledgeCorrectiveAction">
			<input message="oaws:AcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="ChangeAcknowledgeCorrectiveAction">
			<input message="oaws:ChangeAcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="CancelAcknowledgeCorrectiveAction">
			<input message="oaws:CancelAcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="ShowCorrectiveAction">
			<input message="oaws:ShowCorrectiveAction"/>
		</operation>
		<operation name="SyncResponseCorrectiveAction">
			<input message="oaws:SyncResponseCorrectiveAction"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCorrectiveActionPortType">
		<operation name="ProcessCorrectiveAction">
			<input message="oaws:ProcessCorrectiveAction"/>
			<output message="oaws:AcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="ChangeCorrectiveAction">
			<input message="oaws:ChangeCorrectiveAction"/>
			<output message="oaws:ChangeAcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="CancelCorrectiveAction">
			<input message="oaws:CancelCorrectiveAction"/>
			<output message="oaws:CancelAcknowledgeCorrectiveAction"/>
		</operation>
		<operation name="GetCorrectiveAction">
			<input message="oaws:GetCorrectiveAction"/>
			<output message="oaws:ShowCorrectiveAction"/>
		</operation>
		<operation name="SyncCorrectiveAction">
			<input message="oaws:SyncCorrectiveAction"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCorrectiveAction">
			<input message="oaws:NotifyCorrectiveAction"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCorrectiveActionBinding" type="oaws:RequestCorrectiveActionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCorrectiveActionBinding" type="oaws:ResponseCorrectiveActionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCorrectiveActionBinding" type="oaws:SyncCorrectiveActionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCorrectiveAction">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveAction.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCorrectiveActionService">
		<port name="RequestCorrectiveActionBinding" binding="oaws:RequestCorrectiveActionBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCorrectiveAction"/>
		</port>
	</service>
	<service name="ResponseCorrectiveActionService">
		<port name="ResponseCorrectiveActionBinding" binding="oaws:ResponseCorrectiveActionBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCorrectiveAction"/>
		</port>
	</service>
	<service name="SyncCorrectiveActionService">
		<port name="SyncCorrectiveActionBinding" binding="oaws:SyncCorrectiveActionBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCorrectiveAction"/>
		</port>
	</service>
</definitions>
