data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CorrectiveActionRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CorrectiveActionRequest.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCorrectiveActionRequest.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCorrectiveActionRequest">
		<part name="Message" element="oa:CancelCorrectiveActionRequest"/>
	</message>
	<message name="CancelAcknowledgeCorrectiveActionRequest">
		<part name="Message" element="oa:CancelAcknowledgeCorrectiveActionRequest"/>
	</message>
	<message name="ChangeCorrectiveActionRequest">
		<part name="Message" element="oa:ChangeCorrectiveActionRequest"/>
	</message>
	<message name="ChangeAcknowledgeCorrectiveActionRequest">
		<part name="Message" element="oa:ChangeAcknowledgeCorrectiveActionRequest"/>
	</message>
	<message name="GetCorrectiveActionRequest">
		<part name="Message" element="oa:GetCorrectiveActionRequest"/>
	</message>
	<message name="ShowCorrectiveActionRequest">
		<part name="Message" element="oa:ShowCorrectiveActionRequest"/>
	</message>
	<message name="ProcessCorrectiveActionRequest">
		<part name="Message" element="oa:ProcessCorrectiveActionRequest"/>
	</message>
	<message name="AcknowledgeCorrectiveActionRequest">
		<part name="Message" element="oa:AcknowledgeCorrectiveActionRequest"/>
	</message>
	<message name="SyncCorrectiveActionRequest">
		<part name="Message" element="oa:SyncCorrectiveActionRequest"/>
	</message>
	<message name="SyncResponseCorrectiveActionRequest">
		<part name="Message" element="oa:SyncResponseCorrectiveActionRequest"/>
	</message>
	<message name="NotifyCorrectiveActionRequest">
		<part name="Message" element="oa:NotifyCorrectiveActionRequest"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCorrectiveActionRequestPortType">
		<operation name="ProcessCorrectiveActionRequest">
			<input message="oaws:ProcessCorrectiveActionRequest"/>
		</operation>
		<operation name="ChangeCorrectiveActionRequest">
			<input message="oaws:ChangeCorrectiveActionRequest"/>
		</operation>
		<operation name="CancelCorrectiveActionRequest">
			<input message="oaws:CancelCorrectiveActionRequest"/>
		</operation>
		<operation name="GetCorrectiveActionRequest">
			<input message="oaws:GetCorrectiveActionRequest"/>
		</operation>
		<operation name="SyncCorrectiveActionRequest">
			<input message="oaws:SyncCorrectiveActionRequest"/>
		</operation>
		<operation name="NotifyCorrectiveActionRequest">
			<input message="oaws:NotifyCorrectiveActionRequest"/>
		</operation>
	</portType>
	<portType name="ResponseCorrectiveActionRequestPortType">
		<operation name="AcknowledgeCorrectiveActionRequest">
			<input message="oaws:AcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="ChangeAcknowledgeCorrectiveActionRequest">
			<input message="oaws:ChangeAcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="CancelAcknowledgeCorrectiveActionRequest">
			<input message="oaws:CancelAcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="ShowCorrectiveActionRequest">
			<input message="oaws:ShowCorrectiveActionRequest"/>
		</operation>
		<operation name="SyncResponseCorrectiveActionRequest">
			<input message="oaws:SyncResponseCorrectiveActionRequest"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCorrectiveActionRequestPortType">
		<operation name="ProcessCorrectiveActionRequest">
			<input message="oaws:ProcessCorrectiveActionRequest"/>
			<output message="oaws:AcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="ChangeCorrectiveActionRequest">
			<input message="oaws:ChangeCorrectiveActionRequest"/>
			<output message="oaws:ChangeAcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="CancelCorrectiveActionRequest">
			<input message="oaws:CancelCorrectiveActionRequest"/>
			<output message="oaws:CancelAcknowledgeCorrectiveActionRequest"/>
		</operation>
		<operation name="GetCorrectiveActionRequest">
			<input message="oaws:GetCorrectiveActionRequest"/>
			<output message="oaws:ShowCorrectiveActionRequest"/>
		</operation>
		<operation name="SyncCorrectiveActionRequest">
			<input message="oaws:SyncCorrectiveActionRequest"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCorrectiveActionRequest">
			<input message="oaws:NotifyCorrectiveActionRequest"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCorrectiveActionRequestBinding" type="oaws:RequestCorrectiveActionRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCorrectiveActionRequestBinding" type="oaws:ResponseCorrectiveActionRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCorrectiveActionRequestBinding" type="oaws:SyncCorrectiveActionRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCorrectiveActionRequest">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CorrectiveActionRequest.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCorrectiveActionRequestService">
		<port name="RequestCorrectiveActionRequestBinding" binding="oaws:RequestCorrectiveActionRequestBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCorrectiveActionRequest"/>
		</port>
	</service>
	<service name="ResponseCorrectiveActionRequestService">
		<port name="ResponseCorrectiveActionRequestBinding" binding="oaws:ResponseCorrectiveActionRequestBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCorrectiveActionRequest"/>
		</port>
	</service>
	<service name="SyncCorrectiveActionRequestService">
		<port name="SyncCorrectiveActionRequestBinding" binding="oaws:SyncCorrectiveActionRequestBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCorrectiveActionRequest"/>
		</port>
	</service>
</definitions>
