data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditTransferIST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditTransferIST.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCreditTransferIST.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCreditTransferIST">
		<part name="Message" element="oa:CancelCreditTransferIST"/>
	</message>
	<message name="CancelAcknowledgeCreditTransferIST">
		<part name="Message" element="oa:CancelAcknowledgeCreditTransferIST"/>
	</message>
	<message name="ChangeCreditTransferIST">
		<part name="Message" element="oa:ChangeCreditTransferIST"/>
	</message>
	<message name="ChangeAcknowledgeCreditTransferIST">
		<part name="Message" element="oa:ChangeAcknowledgeCreditTransferIST"/>
	</message>
	<message name="GetCreditTransferIST">
		<part name="Message" element="oa:GetCreditTransferIST"/>
	</message>
	<message name="ShowCreditTransferIST">
		<part name="Message" element="oa:ShowCreditTransferIST"/>
	</message>
	<message name="ProcessCreditTransferIST">
		<part name="Message" element="oa:ProcessCreditTransferIST"/>
	</message>
	<message name="AcknowledgeCreditTransferIST">
		<part name="Message" element="oa:AcknowledgeCreditTransferIST"/>
	</message>
	<message name="SyncCreditTransferIST">
		<part name="Message" element="oa:SyncCreditTransferIST"/>
	</message>
	<message name="SyncResponseCreditTransferIST">
		<part name="Message" element="oa:SyncResponseCreditTransferIST"/>
	</message>
	<message name="NotifyCreditTransferIST">
		<part name="Message" element="oa:NotifyCreditTransferIST"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCreditTransferISTPortType">
		<operation name="ProcessCreditTransferIST">
			<input message="oaws:ProcessCreditTransferIST"/>
		</operation>
		<operation name="ChangeCreditTransferIST">
			<input message="oaws:ChangeCreditTransferIST"/>
		</operation>
		<operation name="CancelCreditTransferIST">
			<input message="oaws:CancelCreditTransferIST"/>
		</operation>
		<operation name="GetCreditTransferIST">
			<input message="oaws:GetCreditTransferIST"/>
		</operation>
		<operation name="SyncCreditTransferIST">
			<input message="oaws:SyncCreditTransferIST"/>
		</operation>
		<operation name="NotifyCreditTransferIST">
			<input message="oaws:NotifyCreditTransferIST"/>
		</operation>
	</portType>
	<portType name="ResponseCreditTransferISTPortType">
		<operation name="AcknowledgeCreditTransferIST">
			<input message="oaws:AcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="ChangeAcknowledgeCreditTransferIST">
			<input message="oaws:ChangeAcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="CancelAcknowledgeCreditTransferIST">
			<input message="oaws:CancelAcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="ShowCreditTransferIST">
			<input message="oaws:ShowCreditTransferIST"/>
		</operation>
		<operation name="SyncResponseCreditTransferIST">
			<input message="oaws:SyncResponseCreditTransferIST"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCreditTransferISTPortType">
		<operation name="ProcessCreditTransferIST">
			<input message="oaws:ProcessCreditTransferIST"/>
			<output message="oaws:AcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="ChangeCreditTransferIST">
			<input message="oaws:ChangeCreditTransferIST"/>
			<output message="oaws:ChangeAcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="CancelCreditTransferIST">
			<input message="oaws:CancelCreditTransferIST"/>
			<output message="oaws:CancelAcknowledgeCreditTransferIST"/>
		</operation>
		<operation name="GetCreditTransferIST">
			<input message="oaws:GetCreditTransferIST"/>
			<output message="oaws:ShowCreditTransferIST"/>
		</operation>
		<operation name="SyncCreditTransferIST">
			<input message="oaws:SyncCreditTransferIST"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCreditTransferIST">
			<input message="oaws:NotifyCreditTransferIST"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCreditTransferISTBinding" type="oaws:RequestCreditTransferISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCreditTransferISTBinding" type="oaws:ResponseCreditTransferISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCreditTransferISTBinding" type="oaws:SyncCreditTransferISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCreditTransferIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransferIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCreditTransferISTService">
		<port name="RequestCreditTransferISTBinding" binding="oaws:RequestCreditTransferISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCreditTransferIST"/>
		</port>
	</service>
	<service name="ResponseCreditTransferISTService">
		<port name="ResponseCreditTransferISTBinding" binding="oaws:ResponseCreditTransferISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCreditTransferIST"/>
		</port>
	</service>
	<service name="SyncCreditTransferISTService">
		<port name="SyncCreditTransferISTBinding" binding="oaws:SyncCreditTransferISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCreditTransferIST"/>
		</port>
	</service>
</definitions>
