data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditTransfer.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCreditTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCreditTransfer">
		<part name="Message" element="oa:CancelCreditTransfer"/>
	</message>
	<message name="CancelAcknowledgeCreditTransfer">
		<part name="Message" element="oa:CancelAcknowledgeCreditTransfer"/>
	</message>
	<message name="ChangeCreditTransfer">
		<part name="Message" element="oa:ChangeCreditTransfer"/>
	</message>
	<message name="ChangeAcknowledgeCreditTransfer">
		<part name="Message" element="oa:ChangeAcknowledgeCreditTransfer"/>
	</message>
	<message name="GetCreditTransfer">
		<part name="Message" element="oa:GetCreditTransfer"/>
	</message>
	<message name="ShowCreditTransfer">
		<part name="Message" element="oa:ShowCreditTransfer"/>
	</message>
	<message name="ProcessCreditTransfer">
		<part name="Message" element="oa:ProcessCreditTransfer"/>
	</message>
	<message name="AcknowledgeCreditTransfer">
		<part name="Message" element="oa:AcknowledgeCreditTransfer"/>
	</message>
	<message name="SyncCreditTransfer">
		<part name="Message" element="oa:SyncCreditTransfer"/>
	</message>
	<message name="SyncResponseCreditTransfer">
		<part name="Message" element="oa:SyncResponseCreditTransfer"/>
	</message>
	<message name="NotifyCreditTransfer">
		<part name="Message" element="oa:NotifyCreditTransfer"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCreditTransferPortType">
		<operation name="ProcessCreditTransfer">
			<input message="oaws:ProcessCreditTransfer"/>
		</operation>
		<operation name="ChangeCreditTransfer">
			<input message="oaws:ChangeCreditTransfer"/>
		</operation>
		<operation name="CancelCreditTransfer">
			<input message="oaws:CancelCreditTransfer"/>
		</operation>
		<operation name="GetCreditTransfer">
			<input message="oaws:GetCreditTransfer"/>
		</operation>
		<operation name="SyncCreditTransfer">
			<input message="oaws:SyncCreditTransfer"/>
		</operation>
		<operation name="NotifyCreditTransfer">
			<input message="oaws:NotifyCreditTransfer"/>
		</operation>
	</portType>
	<portType name="ResponseCreditTransferPortType">
		<operation name="AcknowledgeCreditTransfer">
			<input message="oaws:AcknowledgeCreditTransfer"/>
		</operation>
		<operation name="ChangeAcknowledgeCreditTransfer">
			<input message="oaws:ChangeAcknowledgeCreditTransfer"/>
		</operation>
		<operation name="CancelAcknowledgeCreditTransfer">
			<input message="oaws:CancelAcknowledgeCreditTransfer"/>
		</operation>
		<operation name="ShowCreditTransfer">
			<input message="oaws:ShowCreditTransfer"/>
		</operation>
		<operation name="SyncResponseCreditTransfer">
			<input message="oaws:SyncResponseCreditTransfer"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCreditTransferPortType">
		<operation name="ProcessCreditTransfer">
			<input message="oaws:ProcessCreditTransfer"/>
			<output message="oaws:AcknowledgeCreditTransfer"/>
		</operation>
		<operation name="ChangeCreditTransfer">
			<input message="oaws:ChangeCreditTransfer"/>
			<output message="oaws:ChangeAcknowledgeCreditTransfer"/>
		</operation>
		<operation name="CancelCreditTransfer">
			<input message="oaws:CancelCreditTransfer"/>
			<output message="oaws:CancelAcknowledgeCreditTransfer"/>
		</operation>
		<operation name="GetCreditTransfer">
			<input message="oaws:GetCreditTransfer"/>
			<output message="oaws:ShowCreditTransfer"/>
		</operation>
		<operation name="SyncCreditTransfer">
			<input message="oaws:SyncCreditTransfer"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCreditTransfer">
			<input message="oaws:NotifyCreditTransfer"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCreditTransferBinding" type="oaws:RequestCreditTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCreditTransferBinding" type="oaws:ResponseCreditTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCreditTransferBinding" type="oaws:SyncCreditTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCreditTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCreditTransferService">
		<port name="RequestCreditTransferBinding" binding="oaws:RequestCreditTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCreditTransfer"/>
		</port>
	</service>
	<service name="ResponseCreditTransferService">
		<port name="ResponseCreditTransferBinding" binding="oaws:ResponseCreditTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCreditTransfer"/>
		</port>
	</service>
	<service name="SyncCreditTransferService">
		<port name="SyncCreditTransferBinding" binding="oaws:SyncCreditTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCreditTransfer"/>
		</port>
	</service>
</definitions>
