data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Credit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Credit.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCredit.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCredit">
		<part name="Message" element="oa:CancelCredit"/>
	</message>
	<message name="CancelAcknowledgeCredit">
		<part name="Message" element="oa:CancelAcknowledgeCredit"/>
	</message>
	<message name="ChangeCredit">
		<part name="Message" element="oa:ChangeCredit"/>
	</message>
	<message name="ChangeAcknowledgeCredit">
		<part name="Message" element="oa:ChangeAcknowledgeCredit"/>
	</message>
	<message name="GetCredit">
		<part name="Message" element="oa:GetCredit"/>
	</message>
	<message name="ShowCredit">
		<part name="Message" element="oa:ShowCredit"/>
	</message>
	<message name="ProcessCredit">
		<part name="Message" element="oa:ProcessCredit"/>
	</message>
	<message name="AcknowledgeCredit">
		<part name="Message" element="oa:AcknowledgeCredit"/>
	</message>
	<message name="SyncCredit">
		<part name="Message" element="oa:SyncCredit"/>
	</message>
	<message name="SyncResponseCredit">
		<part name="Message" element="oa:SyncResponseCredit"/>
	</message>
	<message name="NotifyCredit">
		<part name="Message" element="oa:NotifyCredit"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCreditPortType">
		<operation name="ProcessCredit">
			<input message="oaws:ProcessCredit"/>
		</operation>
		<operation name="ChangeCredit">
			<input message="oaws:ChangeCredit"/>
		</operation>
		<operation name="CancelCredit">
			<input message="oaws:CancelCredit"/>
		</operation>
		<operation name="GetCredit">
			<input message="oaws:GetCredit"/>
		</operation>
		<operation name="SyncCredit">
			<input message="oaws:SyncCredit"/>
		</operation>
		<operation name="NotifyCredit">
			<input message="oaws:NotifyCredit"/>
		</operation>
	</portType>
	<portType name="ResponseCreditPortType">
		<operation name="AcknowledgeCredit">
			<input message="oaws:AcknowledgeCredit"/>
		</operation>
		<operation name="ChangeAcknowledgeCredit">
			<input message="oaws:ChangeAcknowledgeCredit"/>
		</operation>
		<operation name="CancelAcknowledgeCredit">
			<input message="oaws:CancelAcknowledgeCredit"/>
		</operation>
		<operation name="ShowCredit">
			<input message="oaws:ShowCredit"/>
		</operation>
		<operation name="SyncResponseCredit">
			<input message="oaws:SyncResponseCredit"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCreditPortType">
		<operation name="ProcessCredit">
			<input message="oaws:ProcessCredit"/>
			<output message="oaws:AcknowledgeCredit"/>
		</operation>
		<operation name="ChangeCredit">
			<input message="oaws:ChangeCredit"/>
			<output message="oaws:ChangeAcknowledgeCredit"/>
		</operation>
		<operation name="CancelCredit">
			<input message="oaws:CancelCredit"/>
			<output message="oaws:CancelAcknowledgeCredit"/>
		</operation>
		<operation name="GetCredit">
			<input message="oaws:GetCredit"/>
			<output message="oaws:ShowCredit"/>
		</operation>
		<operation name="SyncCredit">
			<input message="oaws:SyncCredit"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCredit">
			<input message="oaws:NotifyCredit"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCreditBinding" type="oaws:RequestCreditPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCreditBinding" type="oaws:ResponseCreditPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCreditBinding" type="oaws:SyncCreditPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCredit">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Credit.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCreditService">
		<port name="RequestCreditBinding" binding="oaws:RequestCreditBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCredit"/>
		</port>
	</service>
	<service name="ResponseCreditService">
		<port name="ResponseCreditBinding" binding="oaws:ResponseCreditBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCredit"/>
		</port>
	</service>
	<service name="SyncCreditService">
		<port name="SyncCreditBinding" binding="oaws:SyncCreditBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCredit"/>
		</port>
	</service>
</definitions>
