data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CreditStatus.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCreditStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCreditStatus">
		<part name="Message" element="oa:CancelCreditStatus"/>
	</message>
	<message name="CancelAcknowledgeCreditStatus">
		<part name="Message" element="oa:CancelAcknowledgeCreditStatus"/>
	</message>
	<message name="ChangeCreditStatus">
		<part name="Message" element="oa:ChangeCreditStatus"/>
	</message>
	<message name="ChangeAcknowledgeCreditStatus">
		<part name="Message" element="oa:ChangeAcknowledgeCreditStatus"/>
	</message>
	<message name="GetCreditStatus">
		<part name="Message" element="oa:GetCreditStatus"/>
	</message>
	<message name="ShowCreditStatus">
		<part name="Message" element="oa:ShowCreditStatus"/>
	</message>
	<message name="ProcessCreditStatus">
		<part name="Message" element="oa:ProcessCreditStatus"/>
	</message>
	<message name="AcknowledgeCreditStatus">
		<part name="Message" element="oa:AcknowledgeCreditStatus"/>
	</message>
	<message name="SyncCreditStatus">
		<part name="Message" element="oa:SyncCreditStatus"/>
	</message>
	<message name="SyncResponseCreditStatus">
		<part name="Message" element="oa:SyncResponseCreditStatus"/>
	</message>
	<message name="NotifyCreditStatus">
		<part name="Message" element="oa:NotifyCreditStatus"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCreditStatusPortType">
		<operation name="ProcessCreditStatus">
			<input message="oaws:ProcessCreditStatus"/>
		</operation>
		<operation name="ChangeCreditStatus">
			<input message="oaws:ChangeCreditStatus"/>
		</operation>
		<operation name="CancelCreditStatus">
			<input message="oaws:CancelCreditStatus"/>
		</operation>
		<operation name="GetCreditStatus">
			<input message="oaws:GetCreditStatus"/>
		</operation>
		<operation name="SyncCreditStatus">
			<input message="oaws:SyncCreditStatus"/>
		</operation>
		<operation name="NotifyCreditStatus">
			<input message="oaws:NotifyCreditStatus"/>
		</operation>
	</portType>
	<portType name="ResponseCreditStatusPortType">
		<operation name="AcknowledgeCreditStatus">
			<input message="oaws:AcknowledgeCreditStatus"/>
		</operation>
		<operation name="ChangeAcknowledgeCreditStatus">
			<input message="oaws:ChangeAcknowledgeCreditStatus"/>
		</operation>
		<operation name="CancelAcknowledgeCreditStatus">
			<input message="oaws:CancelAcknowledgeCreditStatus"/>
		</operation>
		<operation name="ShowCreditStatus">
			<input message="oaws:ShowCreditStatus"/>
		</operation>
		<operation name="SyncResponseCreditStatus">
			<input message="oaws:SyncResponseCreditStatus"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCreditStatusPortType">
		<operation name="ProcessCreditStatus">
			<input message="oaws:ProcessCreditStatus"/>
			<output message="oaws:AcknowledgeCreditStatus"/>
		</operation>
		<operation name="ChangeCreditStatus">
			<input message="oaws:ChangeCreditStatus"/>
			<output message="oaws:ChangeAcknowledgeCreditStatus"/>
		</operation>
		<operation name="CancelCreditStatus">
			<input message="oaws:CancelCreditStatus"/>
			<output message="oaws:CancelAcknowledgeCreditStatus"/>
		</operation>
		<operation name="GetCreditStatus">
			<input message="oaws:GetCreditStatus"/>
			<output message="oaws:ShowCreditStatus"/>
		</operation>
		<operation name="SyncCreditStatus">
			<input message="oaws:SyncCreditStatus"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCreditStatus">
			<input message="oaws:NotifyCreditStatus"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCreditStatusBinding" type="oaws:RequestCreditStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCreditStatusBinding" type="oaws:ResponseCreditStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCreditStatusBinding" type="oaws:SyncCreditStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCreditStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CreditStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCreditStatusService">
		<port name="RequestCreditStatusBinding" binding="oaws:RequestCreditStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCreditStatus"/>
		</port>
	</service>
	<service name="ResponseCreditStatusService">
		<port name="ResponseCreditStatusBinding" binding="oaws:ResponseCreditStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCreditStatus"/>
		</port>
	</service>
	<service name="SyncCreditStatusService">
		<port name="SyncCreditStatusBinding" binding="oaws:SyncCreditStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCreditStatus"/>
		</port>
	</service>
</definitions>
