data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CustomerPartyMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/CustomerPartyMaster.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyCustomerPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelCustomerPartyMaster">
		<part name="Message" element="oa:CancelCustomerPartyMaster"/>
	</message>
	<message name="CancelAcknowledgeCustomerPartyMaster">
		<part name="Message" element="oa:CancelAcknowledgeCustomerPartyMaster"/>
	</message>
	<message name="ChangeCustomerPartyMaster">
		<part name="Message" element="oa:ChangeCustomerPartyMaster"/>
	</message>
	<message name="ChangeAcknowledgeCustomerPartyMaster">
		<part name="Message" element="oa:ChangeAcknowledgeCustomerPartyMaster"/>
	</message>
	<message name="GetCustomerPartyMaster">
		<part name="Message" element="oa:GetCustomerPartyMaster"/>
	</message>
	<message name="ShowCustomerPartyMaster">
		<part name="Message" element="oa:ShowCustomerPartyMaster"/>
	</message>
	<message name="ProcessCustomerPartyMaster">
		<part name="Message" element="oa:ProcessCustomerPartyMaster"/>
	</message>
	<message name="AcknowledgeCustomerPartyMaster">
		<part name="Message" element="oa:AcknowledgeCustomerPartyMaster"/>
	</message>
	<message name="SyncCustomerPartyMaster">
		<part name="Message" element="oa:SyncCustomerPartyMaster"/>
	</message>
	<message name="SyncResponseCustomerPartyMaster">
		<part name="Message" element="oa:SyncResponseCustomerPartyMaster"/>
	</message>
	<message name="NotifyCustomerPartyMaster">
		<part name="Message" element="oa:NotifyCustomerPartyMaster"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestCustomerPartyMasterPortType">
		<operation name="ProcessCustomerPartyMaster">
			<input message="oaws:ProcessCustomerPartyMaster"/>
		</operation>
		<operation name="ChangeCustomerPartyMaster">
			<input message="oaws:ChangeCustomerPartyMaster"/>
		</operation>
		<operation name="CancelCustomerPartyMaster">
			<input message="oaws:CancelCustomerPartyMaster"/>
		</operation>
		<operation name="GetCustomerPartyMaster">
			<input message="oaws:GetCustomerPartyMaster"/>
		</operation>
		<operation name="SyncCustomerPartyMaster">
			<input message="oaws:SyncCustomerPartyMaster"/>
		</operation>
		<operation name="NotifyCustomerPartyMaster">
			<input message="oaws:NotifyCustomerPartyMaster"/>
		</operation>
	</portType>
	<portType name="ResponseCustomerPartyMasterPortType">
		<operation name="AcknowledgeCustomerPartyMaster">
			<input message="oaws:AcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="ChangeAcknowledgeCustomerPartyMaster">
			<input message="oaws:ChangeAcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="CancelAcknowledgeCustomerPartyMaster">
			<input message="oaws:CancelAcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="ShowCustomerPartyMaster">
			<input message="oaws:ShowCustomerPartyMaster"/>
		</operation>
		<operation name="SyncResponseCustomerPartyMaster">
			<input message="oaws:SyncResponseCustomerPartyMaster"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncCustomerPartyMasterPortType">
		<operation name="ProcessCustomerPartyMaster">
			<input message="oaws:ProcessCustomerPartyMaster"/>
			<output message="oaws:AcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="ChangeCustomerPartyMaster">
			<input message="oaws:ChangeCustomerPartyMaster"/>
			<output message="oaws:ChangeAcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="CancelCustomerPartyMaster">
			<input message="oaws:CancelCustomerPartyMaster"/>
			<output message="oaws:CancelAcknowledgeCustomerPartyMaster"/>
		</operation>
		<operation name="GetCustomerPartyMaster">
			<input message="oaws:GetCustomerPartyMaster"/>
			<output message="oaws:ShowCustomerPartyMaster"/>
		</operation>
		<operation name="SyncCustomerPartyMaster">
			<input message="oaws:SyncCustomerPartyMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyCustomerPartyMaster">
			<input message="oaws:NotifyCustomerPartyMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestCustomerPartyMasterBinding" type="oaws:RequestCustomerPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseCustomerPartyMasterBinding" type="oaws:ResponseCustomerPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncCustomerPartyMasterBinding" type="oaws:SyncCustomerPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCustomerPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestCustomerPartyMasterService">
		<port name="RequestCustomerPartyMasterBinding" binding="oaws:RequestCustomerPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestCustomerPartyMaster"/>
		</port>
	</service>
	<service name="ResponseCustomerPartyMasterService">
		<port name="ResponseCustomerPartyMasterBinding" binding="oaws:ResponseCustomerPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseCustomerPartyMaster"/>
		</port>
	</service>
	<service name="SyncCustomerPartyMasterService">
		<port name="SyncCustomerPartyMasterBinding" binding="oaws:SyncCustomerPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncCustomerPartyMaster"/>
		</port>
	</service>
</definitions>
