data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/DebitTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/DebitTransfer.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyDebitTransfer.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelDebitTransfer">
		<part name="Message" element="oa:CancelDebitTransfer"/>
	</message>
	<message name="CancelAcknowledgeDebitTransfer">
		<part name="Message" element="oa:CancelAcknowledgeDebitTransfer"/>
	</message>
	<message name="ChangeDebitTransfer">
		<part name="Message" element="oa:ChangeDebitTransfer"/>
	</message>
	<message name="ChangeAcknowledgeDebitTransfer">
		<part name="Message" element="oa:ChangeAcknowledgeDebitTransfer"/>
	</message>
	<message name="GetDebitTransfer">
		<part name="Message" element="oa:GetDebitTransfer"/>
	</message>
	<message name="ShowDebitTransfer">
		<part name="Message" element="oa:ShowDebitTransfer"/>
	</message>
	<message name="ProcessDebitTransfer">
		<part name="Message" element="oa:ProcessDebitTransfer"/>
	</message>
	<message name="AcknowledgeDebitTransfer">
		<part name="Message" element="oa:AcknowledgeDebitTransfer"/>
	</message>
	<message name="SyncDebitTransfer">
		<part name="Message" element="oa:SyncDebitTransfer"/>
	</message>
	<message name="SyncResponseDebitTransfer">
		<part name="Message" element="oa:SyncResponseDebitTransfer"/>
	</message>
	<message name="NotifyDebitTransfer">
		<part name="Message" element="oa:NotifyDebitTransfer"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestDebitTransferPortType">
		<operation name="ProcessDebitTransfer">
			<input message="oaws:ProcessDebitTransfer"/>
		</operation>
		<operation name="ChangeDebitTransfer">
			<input message="oaws:ChangeDebitTransfer"/>
		</operation>
		<operation name="CancelDebitTransfer">
			<input message="oaws:CancelDebitTransfer"/>
		</operation>
		<operation name="GetDebitTransfer">
			<input message="oaws:GetDebitTransfer"/>
		</operation>
		<operation name="SyncDebitTransfer">
			<input message="oaws:SyncDebitTransfer"/>
		</operation>
		<operation name="NotifyDebitTransfer">
			<input message="oaws:NotifyDebitTransfer"/>
		</operation>
	</portType>
	<portType name="ResponseDebitTransferPortType">
		<operation name="AcknowledgeDebitTransfer">
			<input message="oaws:AcknowledgeDebitTransfer"/>
		</operation>
		<operation name="ChangeAcknowledgeDebitTransfer">
			<input message="oaws:ChangeAcknowledgeDebitTransfer"/>
		</operation>
		<operation name="CancelAcknowledgeDebitTransfer">
			<input message="oaws:CancelAcknowledgeDebitTransfer"/>
		</operation>
		<operation name="ShowDebitTransfer">
			<input message="oaws:ShowDebitTransfer"/>
		</operation>
		<operation name="SyncResponseDebitTransfer">
			<input message="oaws:SyncResponseDebitTransfer"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncDebitTransferPortType">
		<operation name="ProcessDebitTransfer">
			<input message="oaws:ProcessDebitTransfer"/>
			<output message="oaws:AcknowledgeDebitTransfer"/>
		</operation>
		<operation name="ChangeDebitTransfer">
			<input message="oaws:ChangeDebitTransfer"/>
			<output message="oaws:ChangeAcknowledgeDebitTransfer"/>
		</operation>
		<operation name="CancelDebitTransfer">
			<input message="oaws:CancelDebitTransfer"/>
			<output message="oaws:CancelAcknowledgeDebitTransfer"/>
		</operation>
		<operation name="GetDebitTransfer">
			<input message="oaws:GetDebitTransfer"/>
			<output message="oaws:ShowDebitTransfer"/>
		</operation>
		<operation name="SyncDebitTransfer">
			<input message="oaws:SyncDebitTransfer"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyDebitTransfer">
			<input message="oaws:NotifyDebitTransfer"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestDebitTransferBinding" type="oaws:RequestDebitTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseDebitTransferBinding" type="oaws:ResponseDebitTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncDebitTransferBinding" type="oaws:SyncDebitTransferPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyDebitTransfer">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DebitTransfer.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestDebitTransferService">
		<port name="RequestDebitTransferBinding" binding="oaws:RequestDebitTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestDebitTransfer"/>
		</port>
	</service>
	<service name="ResponseDebitTransferService">
		<port name="ResponseDebitTransferBinding" binding="oaws:ResponseDebitTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseDebitTransfer"/>
		</port>
	</service>
	<service name="SyncDebitTransferService">
		<port name="SyncDebitTransferBinding" binding="oaws:SyncDebitTransferBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncDebitTransfer"/>
		</port>
	</service>
</definitions>
