data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/DispatchList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/DispatchList.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyDispatchList.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelDispatchList">
		<part name="Message" element="oa:CancelDispatchList"/>
	</message>
	<message name="CancelAcknowledgeDispatchList">
		<part name="Message" element="oa:CancelAcknowledgeDispatchList"/>
	</message>
	<message name="ChangeDispatchList">
		<part name="Message" element="oa:ChangeDispatchList"/>
	</message>
	<message name="ChangeAcknowledgeDispatchList">
		<part name="Message" element="oa:ChangeAcknowledgeDispatchList"/>
	</message>
	<message name="GetDispatchList">
		<part name="Message" element="oa:GetDispatchList"/>
	</message>
	<message name="ShowDispatchList">
		<part name="Message" element="oa:ShowDispatchList"/>
	</message>
	<message name="ProcessDispatchList">
		<part name="Message" element="oa:ProcessDispatchList"/>
	</message>
	<message name="AcknowledgeDispatchList">
		<part name="Message" element="oa:AcknowledgeDispatchList"/>
	</message>
	<message name="SyncDispatchList">
		<part name="Message" element="oa:SyncDispatchList"/>
	</message>
	<message name="SyncResponseDispatchList">
		<part name="Message" element="oa:SyncResponseDispatchList"/>
	</message>
	<message name="NotifyDispatchList">
		<part name="Message" element="oa:NotifyDispatchList"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestDispatchListPortType">
		<operation name="ProcessDispatchList">
			<input message="oaws:ProcessDispatchList"/>
		</operation>
		<operation name="ChangeDispatchList">
			<input message="oaws:ChangeDispatchList"/>
		</operation>
		<operation name="CancelDispatchList">
			<input message="oaws:CancelDispatchList"/>
		</operation>
		<operation name="GetDispatchList">
			<input message="oaws:GetDispatchList"/>
		</operation>
		<operation name="SyncDispatchList">
			<input message="oaws:SyncDispatchList"/>
		</operation>
		<operation name="NotifyDispatchList">
			<input message="oaws:NotifyDispatchList"/>
		</operation>
	</portType>
	<portType name="ResponseDispatchListPortType">
		<operation name="AcknowledgeDispatchList">
			<input message="oaws:AcknowledgeDispatchList"/>
		</operation>
		<operation name="ChangeAcknowledgeDispatchList">
			<input message="oaws:ChangeAcknowledgeDispatchList"/>
		</operation>
		<operation name="CancelAcknowledgeDispatchList">
			<input message="oaws:CancelAcknowledgeDispatchList"/>
		</operation>
		<operation name="ShowDispatchList">
			<input message="oaws:ShowDispatchList"/>
		</operation>
		<operation name="SyncResponseDispatchList">
			<input message="oaws:SyncResponseDispatchList"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncDispatchListPortType">
		<operation name="ProcessDispatchList">
			<input message="oaws:ProcessDispatchList"/>
			<output message="oaws:AcknowledgeDispatchList"/>
		</operation>
		<operation name="ChangeDispatchList">
			<input message="oaws:ChangeDispatchList"/>
			<output message="oaws:ChangeAcknowledgeDispatchList"/>
		</operation>
		<operation name="CancelDispatchList">
			<input message="oaws:CancelDispatchList"/>
			<output message="oaws:CancelAcknowledgeDispatchList"/>
		</operation>
		<operation name="GetDispatchList">
			<input message="oaws:GetDispatchList"/>
			<output message="oaws:ShowDispatchList"/>
		</operation>
		<operation name="SyncDispatchList">
			<input message="oaws:SyncDispatchList"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyDispatchList">
			<input message="oaws:NotifyDispatchList"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestDispatchListBinding" type="oaws:RequestDispatchListPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseDispatchListBinding" type="oaws:ResponseDispatchListPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncDispatchListBinding" type="oaws:SyncDispatchListPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyDispatchList">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/DispatchList.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestDispatchListService">
		<port name="RequestDispatchListBinding" binding="oaws:RequestDispatchListBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestDispatchList"/>
		</port>
	</service>
	<service name="ResponseDispatchListService">
		<port name="ResponseDispatchListBinding" binding="oaws:ResponseDispatchListBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseDispatchList"/>
		</port>
	</service>
	<service name="SyncDispatchListService">
		<port name="SyncDispatchListBinding" binding="oaws:SyncDispatchListBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncDispatchList"/>
		</port>
	</service>
</definitions>
