data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EmployeeWorkTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EmployeeWorkTime.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyEmployeeWorkTime.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelEmployeeWorkTime">
		<part name="Message" element="oa:CancelEmployeeWorkTime"/>
	</message>
	<message name="CancelAcknowledgeEmployeeWorkTime">
		<part name="Message" element="oa:CancelAcknowledgeEmployeeWorkTime"/>
	</message>
	<message name="ChangeEmployeeWorkTime">
		<part name="Message" element="oa:ChangeEmployeeWorkTime"/>
	</message>
	<message name="ChangeAcknowledgeEmployeeWorkTime">
		<part name="Message" element="oa:ChangeAcknowledgeEmployeeWorkTime"/>
	</message>
	<message name="GetEmployeeWorkTime">
		<part name="Message" element="oa:GetEmployeeWorkTime"/>
	</message>
	<message name="ShowEmployeeWorkTime">
		<part name="Message" element="oa:ShowEmployeeWorkTime"/>
	</message>
	<message name="ProcessEmployeeWorkTime">
		<part name="Message" element="oa:ProcessEmployeeWorkTime"/>
	</message>
	<message name="AcknowledgeEmployeeWorkTime">
		<part name="Message" element="oa:AcknowledgeEmployeeWorkTime"/>
	</message>
	<message name="SyncEmployeeWorkTime">
		<part name="Message" element="oa:SyncEmployeeWorkTime"/>
	</message>
	<message name="SyncResponseEmployeeWorkTime">
		<part name="Message" element="oa:SyncResponseEmployeeWorkTime"/>
	</message>
	<message name="NotifyEmployeeWorkTime">
		<part name="Message" element="oa:NotifyEmployeeWorkTime"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestEmployeeWorkTimePortType">
		<operation name="ProcessEmployeeWorkTime">
			<input message="oaws:ProcessEmployeeWorkTime"/>
		</operation>
		<operation name="ChangeEmployeeWorkTime">
			<input message="oaws:ChangeEmployeeWorkTime"/>
		</operation>
		<operation name="CancelEmployeeWorkTime">
			<input message="oaws:CancelEmployeeWorkTime"/>
		</operation>
		<operation name="GetEmployeeWorkTime">
			<input message="oaws:GetEmployeeWorkTime"/>
		</operation>
		<operation name="SyncEmployeeWorkTime">
			<input message="oaws:SyncEmployeeWorkTime"/>
		</operation>
		<operation name="NotifyEmployeeWorkTime">
			<input message="oaws:NotifyEmployeeWorkTime"/>
		</operation>
	</portType>
	<portType name="ResponseEmployeeWorkTimePortType">
		<operation name="AcknowledgeEmployeeWorkTime">
			<input message="oaws:AcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="ChangeAcknowledgeEmployeeWorkTime">
			<input message="oaws:ChangeAcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="CancelAcknowledgeEmployeeWorkTime">
			<input message="oaws:CancelAcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="ShowEmployeeWorkTime">
			<input message="oaws:ShowEmployeeWorkTime"/>
		</operation>
		<operation name="SyncResponseEmployeeWorkTime">
			<input message="oaws:SyncResponseEmployeeWorkTime"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncEmployeeWorkTimePortType">
		<operation name="ProcessEmployeeWorkTime">
			<input message="oaws:ProcessEmployeeWorkTime"/>
			<output message="oaws:AcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="ChangeEmployeeWorkTime">
			<input message="oaws:ChangeEmployeeWorkTime"/>
			<output message="oaws:ChangeAcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="CancelEmployeeWorkTime">
			<input message="oaws:CancelEmployeeWorkTime"/>
			<output message="oaws:CancelAcknowledgeEmployeeWorkTime"/>
		</operation>
		<operation name="GetEmployeeWorkTime">
			<input message="oaws:GetEmployeeWorkTime"/>
			<output message="oaws:ShowEmployeeWorkTime"/>
		</operation>
		<operation name="SyncEmployeeWorkTime">
			<input message="oaws:SyncEmployeeWorkTime"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyEmployeeWorkTime">
			<input message="oaws:NotifyEmployeeWorkTime"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestEmployeeWorkTimeBinding" type="oaws:RequestEmployeeWorkTimePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseEmployeeWorkTimeBinding" type="oaws:ResponseEmployeeWorkTimePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncEmployeeWorkTimeBinding" type="oaws:SyncEmployeeWorkTimePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyEmployeeWorkTime">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestEmployeeWorkTimeService">
		<port name="RequestEmployeeWorkTimeBinding" binding="oaws:RequestEmployeeWorkTimeBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestEmployeeWorkTime"/>
		</port>
	</service>
	<service name="ResponseEmployeeWorkTimeService">
		<port name="ResponseEmployeeWorkTimeBinding" binding="oaws:ResponseEmployeeWorkTimeBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseEmployeeWorkTime"/>
		</port>
	</service>
	<service name="SyncEmployeeWorkTimeService">
		<port name="SyncEmployeeWorkTimeBinding" binding="oaws:SyncEmployeeWorkTimeBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncEmployeeWorkTime"/>
		</port>
	</service>
</definitions>
