data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EmployeeWorkSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EmployeeWorkSchedule.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyEmployeeWorkSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelEmployeeWorkSchedule">
		<part name="Message" element="oa:CancelEmployeeWorkSchedule"/>
	</message>
	<message name="CancelAcknowledgeEmployeeWorkSchedule">
		<part name="Message" element="oa:CancelAcknowledgeEmployeeWorkSchedule"/>
	</message>
	<message name="ChangeEmployeeWorkSchedule">
		<part name="Message" element="oa:ChangeEmployeeWorkSchedule"/>
	</message>
	<message name="ChangeAcknowledgeEmployeeWorkSchedule">
		<part name="Message" element="oa:ChangeAcknowledgeEmployeeWorkSchedule"/>
	</message>
	<message name="GetEmployeeWorkSchedule">
		<part name="Message" element="oa:GetEmployeeWorkSchedule"/>
	</message>
	<message name="ShowEmployeeWorkSchedule">
		<part name="Message" element="oa:ShowEmployeeWorkSchedule"/>
	</message>
	<message name="ProcessEmployeeWorkSchedule">
		<part name="Message" element="oa:ProcessEmployeeWorkSchedule"/>
	</message>
	<message name="AcknowledgeEmployeeWorkSchedule">
		<part name="Message" element="oa:AcknowledgeEmployeeWorkSchedule"/>
	</message>
	<message name="SyncEmployeeWorkSchedule">
		<part name="Message" element="oa:SyncEmployeeWorkSchedule"/>
	</message>
	<message name="SyncResponseEmployeeWorkSchedule">
		<part name="Message" element="oa:SyncResponseEmployeeWorkSchedule"/>
	</message>
	<message name="NotifyEmployeeWorkSchedule">
		<part name="Message" element="oa:NotifyEmployeeWorkSchedule"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestEmployeeWorkSchedulePortType">
		<operation name="ProcessEmployeeWorkSchedule">
			<input message="oaws:ProcessEmployeeWorkSchedule"/>
		</operation>
		<operation name="ChangeEmployeeWorkSchedule">
			<input message="oaws:ChangeEmployeeWorkSchedule"/>
		</operation>
		<operation name="CancelEmployeeWorkSchedule">
			<input message="oaws:CancelEmployeeWorkSchedule"/>
		</operation>
		<operation name="GetEmployeeWorkSchedule">
			<input message="oaws:GetEmployeeWorkSchedule"/>
		</operation>
		<operation name="SyncEmployeeWorkSchedule">
			<input message="oaws:SyncEmployeeWorkSchedule"/>
		</operation>
		<operation name="NotifyEmployeeWorkSchedule">
			<input message="oaws:NotifyEmployeeWorkSchedule"/>
		</operation>
	</portType>
	<portType name="ResponseEmployeeWorkSchedulePortType">
		<operation name="AcknowledgeEmployeeWorkSchedule">
			<input message="oaws:AcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="ChangeAcknowledgeEmployeeWorkSchedule">
			<input message="oaws:ChangeAcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="CancelAcknowledgeEmployeeWorkSchedule">
			<input message="oaws:CancelAcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="ShowEmployeeWorkSchedule">
			<input message="oaws:ShowEmployeeWorkSchedule"/>
		</operation>
		<operation name="SyncResponseEmployeeWorkSchedule">
			<input message="oaws:SyncResponseEmployeeWorkSchedule"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncEmployeeWorkSchedulePortType">
		<operation name="ProcessEmployeeWorkSchedule">
			<input message="oaws:ProcessEmployeeWorkSchedule"/>
			<output message="oaws:AcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="ChangeEmployeeWorkSchedule">
			<input message="oaws:ChangeEmployeeWorkSchedule"/>
			<output message="oaws:ChangeAcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="CancelEmployeeWorkSchedule">
			<input message="oaws:CancelEmployeeWorkSchedule"/>
			<output message="oaws:CancelAcknowledgeEmployeeWorkSchedule"/>
		</operation>
		<operation name="GetEmployeeWorkSchedule">
			<input message="oaws:GetEmployeeWorkSchedule"/>
			<output message="oaws:ShowEmployeeWorkSchedule"/>
		</operation>
		<operation name="SyncEmployeeWorkSchedule">
			<input message="oaws:SyncEmployeeWorkSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyEmployeeWorkSchedule">
			<input message="oaws:NotifyEmployeeWorkSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestEmployeeWorkScheduleBinding" type="oaws:RequestEmployeeWorkSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseEmployeeWorkScheduleBinding" type="oaws:ResponseEmployeeWorkSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncEmployeeWorkScheduleBinding" type="oaws:SyncEmployeeWorkSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyEmployeeWorkSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestEmployeeWorkScheduleService">
		<port name="RequestEmployeeWorkScheduleBinding" binding="oaws:RequestEmployeeWorkScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestEmployeeWorkSchedule"/>
		</port>
	</service>
	<service name="ResponseEmployeeWorkScheduleService">
		<port name="ResponseEmployeeWorkScheduleBinding" binding="oaws:ResponseEmployeeWorkScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseEmployeeWorkSchedule"/>
		</port>
	</service>
	<service name="SyncEmployeeWorkScheduleService">
		<port name="SyncEmployeeWorkScheduleBinding" binding="oaws:SyncEmployeeWorkScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncEmployeeWorkSchedule"/>
		</port>
	</service>
</definitions>
