data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EngineeringChangeOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/EngineeringChangeOrder.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyEngineeringChangeOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelEngineeringChangeOrder">
		<part name="Message" element="oa:CancelEngineeringChangeOrder"/>
	</message>
	<message name="CancelAcknowledgeEngineeringChangeOrder">
		<part name="Message" element="oa:CancelAcknowledgeEngineeringChangeOrder"/>
	</message>
	<message name="ChangeEngineeringChangeOrder">
		<part name="Message" element="oa:ChangeEngineeringChangeOrder"/>
	</message>
	<message name="ChangeAcknowledgeEngineeringChangeOrder">
		<part name="Message" element="oa:ChangeAcknowledgeEngineeringChangeOrder"/>
	</message>
	<message name="GetEngineeringChangeOrder">
		<part name="Message" element="oa:GetEngineeringChangeOrder"/>
	</message>
	<message name="ShowEngineeringChangeOrder">
		<part name="Message" element="oa:ShowEngineeringChangeOrder"/>
	</message>
	<message name="ProcessEngineeringChangeOrder">
		<part name="Message" element="oa:ProcessEngineeringChangeOrder"/>
	</message>
	<message name="AcknowledgeEngineeringChangeOrder">
		<part name="Message" element="oa:AcknowledgeEngineeringChangeOrder"/>
	</message>
	<message name="SyncEngineeringChangeOrder">
		<part name="Message" element="oa:SyncEngineeringChangeOrder"/>
	</message>
	<message name="SyncResponseEngineeringChangeOrder">
		<part name="Message" element="oa:SyncResponseEngineeringChangeOrder"/>
	</message>
	<message name="NotifyEngineeringChangeOrder">
		<part name="Message" element="oa:NotifyEngineeringChangeOrder"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestEngineeringChangeOrderPortType">
		<operation name="ProcessEngineeringChangeOrder">
			<input message="oaws:ProcessEngineeringChangeOrder"/>
		</operation>
		<operation name="ChangeEngineeringChangeOrder">
			<input message="oaws:ChangeEngineeringChangeOrder"/>
		</operation>
		<operation name="CancelEngineeringChangeOrder">
			<input message="oaws:CancelEngineeringChangeOrder"/>
		</operation>
		<operation name="GetEngineeringChangeOrder">
			<input message="oaws:GetEngineeringChangeOrder"/>
		</operation>
		<operation name="SyncEngineeringChangeOrder">
			<input message="oaws:SyncEngineeringChangeOrder"/>
		</operation>
		<operation name="NotifyEngineeringChangeOrder">
			<input message="oaws:NotifyEngineeringChangeOrder"/>
		</operation>
	</portType>
	<portType name="ResponseEngineeringChangeOrderPortType">
		<operation name="AcknowledgeEngineeringChangeOrder">
			<input message="oaws:AcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="ChangeAcknowledgeEngineeringChangeOrder">
			<input message="oaws:ChangeAcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="CancelAcknowledgeEngineeringChangeOrder">
			<input message="oaws:CancelAcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="ShowEngineeringChangeOrder">
			<input message="oaws:ShowEngineeringChangeOrder"/>
		</operation>
		<operation name="SyncResponseEngineeringChangeOrder">
			<input message="oaws:SyncResponseEngineeringChangeOrder"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncEngineeringChangeOrderPortType">
		<operation name="ProcessEngineeringChangeOrder">
			<input message="oaws:ProcessEngineeringChangeOrder"/>
			<output message="oaws:AcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="ChangeEngineeringChangeOrder">
			<input message="oaws:ChangeEngineeringChangeOrder"/>
			<output message="oaws:ChangeAcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="CancelEngineeringChangeOrder">
			<input message="oaws:CancelEngineeringChangeOrder"/>
			<output message="oaws:CancelAcknowledgeEngineeringChangeOrder"/>
		</operation>
		<operation name="GetEngineeringChangeOrder">
			<input message="oaws:GetEngineeringChangeOrder"/>
			<output message="oaws:ShowEngineeringChangeOrder"/>
		</operation>
		<operation name="SyncEngineeringChangeOrder">
			<input message="oaws:SyncEngineeringChangeOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyEngineeringChangeOrder">
			<input message="oaws:NotifyEngineeringChangeOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestEngineeringChangeOrderBinding" type="oaws:RequestEngineeringChangeOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseEngineeringChangeOrderBinding" type="oaws:ResponseEngineeringChangeOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncEngineeringChangeOrderBinding" type="oaws:SyncEngineeringChangeOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyEngineeringChangeOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/EngineeringChangeOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestEngineeringChangeOrderService">
		<port name="RequestEngineeringChangeOrderBinding" binding="oaws:RequestEngineeringChangeOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestEngineeringChangeOrder"/>
		</port>
	</service>
	<service name="ResponseEngineeringChangeOrderService">
		<port name="ResponseEngineeringChangeOrderBinding" binding="oaws:ResponseEngineeringChangeOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseEngineeringChangeOrder"/>
		</port>
	</service>
	<service name="SyncEngineeringChangeOrderService">
		<port name="SyncEngineeringChangeOrderBinding" binding="oaws:SyncEngineeringChangeOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncEngineeringChangeOrder"/>
		</port>
	</service>
</definitions>
