data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Field.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Field.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/AcknowledgeField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelAcknowledgeField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeAcknowledgeField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/GetField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ShowField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ProcessField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncResponseField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/NotifyField.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelField">
		<part name="Message" element="oa:CancelField"/>
	</message>
	<message name="CancelAcknowledgeField">
		<part name="Message" element="oa:CancelAcknowledgeField"/>
	</message>
	<message name="ChangeField">
		<part name="Message" element="oa:ChangeField"/>
	</message>
	<message name="ChangeAcknowledgeField">
		<part name="Message" element="oa:ChangeAcknowledgeField"/>
	</message>
	<message name="GetField">
		<part name="Message" element="oa:GetField"/>
	</message>
	<message name="ShowField">
		<part name="Message" element="oa:ShowField"/>
	</message>
	<message name="ProcessField">
		<part name="Message" element="oa:ProcessField"/>
	</message>
	<message name="AcknowledgeField">
		<part name="Message" element="oa:AcknowledgeField"/>
	</message>
	<message name="SyncField">
		<part name="Message" element="oa:SyncField"/>
	</message>
	<message name="SyncResponseField">
		<part name="Message" element="oa:SyncResponseField"/>
	</message>
	<message name="NotifyField">
		<part name="Message" element="oa:NotifyField"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestFieldPortType">
		<operation name="ProcessField">
			<input message="oaws:ProcessField"/>
		</operation>
		<operation name="ChangeField">
			<input message="oaws:ChangeField"/>
		</operation>
		<operation name="CancelField">
			<input message="oaws:CancelField"/>
		</operation>
		<operation name="GetField">
			<input message="oaws:GetField"/>
		</operation>
		<operation name="SyncField">
			<input message="oaws:SyncField"/>
		</operation>
		<operation name="NotifyField">
			<input message="oaws:NotifyField"/>
		</operation>
	</portType>
	<portType name="ResponseFieldPortType">
		<operation name="AcknowledgeField">
			<input message="oaws:AcknowledgeField"/>
		</operation>
		<operation name="ChangeAcknowledgeField">
			<input message="oaws:ChangeAcknowledgeField"/>
		</operation>
		<operation name="CancelAcknowledgeField">
			<input message="oaws:CancelAcknowledgeField"/>
		</operation>
		<operation name="ShowField">
			<input message="oaws:ShowField"/>
		</operation>
		<operation name="SyncResponseField">
			<input message="oaws:SyncResponseField"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncFieldPortType">
		<operation name="ProcessField">
			<input message="oaws:ProcessField"/>
			<output message="oaws:AcknowledgeField"/>
		</operation>
		<operation name="ChangeField">
			<input message="oaws:ChangeField"/>
			<output message="oaws:ChangeAcknowledgeField"/>
		</operation>
		<operation name="CancelField">
			<input message="oaws:CancelField"/>
			<output message="oaws:CancelAcknowledgeField"/>
		</operation>
		<operation name="GetField">
			<input message="oaws:GetField"/>
			<output message="oaws:ShowField"/>
		</operation>
		<operation name="SyncField">
			<input message="oaws:SyncField"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyField">
			<input message="oaws:NotifyField"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestFieldBinding" type="oaws:RequestFieldPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseFieldBinding" type="oaws:ResponseFieldPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncFieldBinding" type="oaws:SyncFieldPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyField">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Field.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestFieldService">
		<port name="RequestFieldBinding" binding="oaws:RequestFieldBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestField"/>
		</port>
	</service>
	<service name="ResponseFieldService">
		<port name="ResponseFieldBinding" binding="oaws:ResponseFieldBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseField"/>
		</port>
	</service>
	<service name="SyncFieldService">
		<port name="SyncFieldBinding" binding="oaws:SyncFieldBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncField"/>
		</port>
	</service>
</definitions>
