data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/FreightInvoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/FreightInvoice.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyFreightInvoice.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelFreightInvoice">
		<part name="Message" element="oa:CancelFreightInvoice"/>
	</message>
	<message name="CancelAcknowledgeFreightInvoice">
		<part name="Message" element="oa:CancelAcknowledgeFreightInvoice"/>
	</message>
	<message name="ChangeFreightInvoice">
		<part name="Message" element="oa:ChangeFreightInvoice"/>
	</message>
	<message name="ChangeAcknowledgeFreightInvoice">
		<part name="Message" element="oa:ChangeAcknowledgeFreightInvoice"/>
	</message>
	<message name="GetFreightInvoice">
		<part name="Message" element="oa:GetFreightInvoice"/>
	</message>
	<message name="ShowFreightInvoice">
		<part name="Message" element="oa:ShowFreightInvoice"/>
	</message>
	<message name="ProcessFreightInvoice">
		<part name="Message" element="oa:ProcessFreightInvoice"/>
	</message>
	<message name="AcknowledgeFreightInvoice">
		<part name="Message" element="oa:AcknowledgeFreightInvoice"/>
	</message>
	<message name="SyncFreightInvoice">
		<part name="Message" element="oa:SyncFreightInvoice"/>
	</message>
	<message name="SyncResponseFreightInvoice">
		<part name="Message" element="oa:SyncResponseFreightInvoice"/>
	</message>
	<message name="NotifyFreightInvoice">
		<part name="Message" element="oa:NotifyFreightInvoice"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestFreightInvoicePortType">
		<operation name="ProcessFreightInvoice">
			<input message="oaws:ProcessFreightInvoice"/>
		</operation>
		<operation name="ChangeFreightInvoice">
			<input message="oaws:ChangeFreightInvoice"/>
		</operation>
		<operation name="CancelFreightInvoice">
			<input message="oaws:CancelFreightInvoice"/>
		</operation>
		<operation name="GetFreightInvoice">
			<input message="oaws:GetFreightInvoice"/>
		</operation>
		<operation name="SyncFreightInvoice">
			<input message="oaws:SyncFreightInvoice"/>
		</operation>
		<operation name="NotifyFreightInvoice">
			<input message="oaws:NotifyFreightInvoice"/>
		</operation>
	</portType>
	<portType name="ResponseFreightInvoicePortType">
		<operation name="AcknowledgeFreightInvoice">
			<input message="oaws:AcknowledgeFreightInvoice"/>
		</operation>
		<operation name="ChangeAcknowledgeFreightInvoice">
			<input message="oaws:ChangeAcknowledgeFreightInvoice"/>
		</operation>
		<operation name="CancelAcknowledgeFreightInvoice">
			<input message="oaws:CancelAcknowledgeFreightInvoice"/>
		</operation>
		<operation name="ShowFreightInvoice">
			<input message="oaws:ShowFreightInvoice"/>
		</operation>
		<operation name="SyncResponseFreightInvoice">
			<input message="oaws:SyncResponseFreightInvoice"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncFreightInvoicePortType">
		<operation name="ProcessFreightInvoice">
			<input message="oaws:ProcessFreightInvoice"/>
			<output message="oaws:AcknowledgeFreightInvoice"/>
		</operation>
		<operation name="ChangeFreightInvoice">
			<input message="oaws:ChangeFreightInvoice"/>
			<output message="oaws:ChangeAcknowledgeFreightInvoice"/>
		</operation>
		<operation name="CancelFreightInvoice">
			<input message="oaws:CancelFreightInvoice"/>
			<output message="oaws:CancelAcknowledgeFreightInvoice"/>
		</operation>
		<operation name="GetFreightInvoice">
			<input message="oaws:GetFreightInvoice"/>
			<output message="oaws:ShowFreightInvoice"/>
		</operation>
		<operation name="SyncFreightInvoice">
			<input message="oaws:SyncFreightInvoice"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyFreightInvoice">
			<input message="oaws:NotifyFreightInvoice"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestFreightInvoiceBinding" type="oaws:RequestFreightInvoicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseFreightInvoiceBinding" type="oaws:ResponseFreightInvoicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncFreightInvoiceBinding" type="oaws:SyncFreightInvoicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyFreightInvoice">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/FreightInvoice.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestFreightInvoiceService">
		<port name="RequestFreightInvoiceBinding" binding="oaws:RequestFreightInvoiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestFreightInvoice"/>
		</port>
	</service>
	<service name="ResponseFreightInvoiceService">
		<port name="ResponseFreightInvoiceBinding" binding="oaws:ResponseFreightInvoiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseFreightInvoice"/>
		</port>
	</service>
	<service name="SyncFreightInvoiceService">
		<port name="SyncFreightInvoiceBinding" binding="oaws:SyncFreightInvoiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncFreightInvoice"/>
		</port>
	</service>
</definitions>
