data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/InventoryCount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/InventoryCount.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyInventoryCount.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelInventoryCount">
		<part name="Message" element="oa:CancelInventoryCount"/>
	</message>
	<message name="CancelAcknowledgeInventoryCount">
		<part name="Message" element="oa:CancelAcknowledgeInventoryCount"/>
	</message>
	<message name="ChangeInventoryCount">
		<part name="Message" element="oa:ChangeInventoryCount"/>
	</message>
	<message name="ChangeAcknowledgeInventoryCount">
		<part name="Message" element="oa:ChangeAcknowledgeInventoryCount"/>
	</message>
	<message name="GetInventoryCount">
		<part name="Message" element="oa:GetInventoryCount"/>
	</message>
	<message name="ShowInventoryCount">
		<part name="Message" element="oa:ShowInventoryCount"/>
	</message>
	<message name="ProcessInventoryCount">
		<part name="Message" element="oa:ProcessInventoryCount"/>
	</message>
	<message name="AcknowledgeInventoryCount">
		<part name="Message" element="oa:AcknowledgeInventoryCount"/>
	</message>
	<message name="SyncInventoryCount">
		<part name="Message" element="oa:SyncInventoryCount"/>
	</message>
	<message name="SyncResponseInventoryCount">
		<part name="Message" element="oa:SyncResponseInventoryCount"/>
	</message>
	<message name="NotifyInventoryCount">
		<part name="Message" element="oa:NotifyInventoryCount"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestInventoryCountPortType">
		<operation name="ProcessInventoryCount">
			<input message="oaws:ProcessInventoryCount"/>
		</operation>
		<operation name="ChangeInventoryCount">
			<input message="oaws:ChangeInventoryCount"/>
		</operation>
		<operation name="CancelInventoryCount">
			<input message="oaws:CancelInventoryCount"/>
		</operation>
		<operation name="GetInventoryCount">
			<input message="oaws:GetInventoryCount"/>
		</operation>
		<operation name="SyncInventoryCount">
			<input message="oaws:SyncInventoryCount"/>
		</operation>
		<operation name="NotifyInventoryCount">
			<input message="oaws:NotifyInventoryCount"/>
		</operation>
	</portType>
	<portType name="ResponseInventoryCountPortType">
		<operation name="AcknowledgeInventoryCount">
			<input message="oaws:AcknowledgeInventoryCount"/>
		</operation>
		<operation name="ChangeAcknowledgeInventoryCount">
			<input message="oaws:ChangeAcknowledgeInventoryCount"/>
		</operation>
		<operation name="CancelAcknowledgeInventoryCount">
			<input message="oaws:CancelAcknowledgeInventoryCount"/>
		</operation>
		<operation name="ShowInventoryCount">
			<input message="oaws:ShowInventoryCount"/>
		</operation>
		<operation name="SyncResponseInventoryCount">
			<input message="oaws:SyncResponseInventoryCount"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncInventoryCountPortType">
		<operation name="ProcessInventoryCount">
			<input message="oaws:ProcessInventoryCount"/>
			<output message="oaws:AcknowledgeInventoryCount"/>
		</operation>
		<operation name="ChangeInventoryCount">
			<input message="oaws:ChangeInventoryCount"/>
			<output message="oaws:ChangeAcknowledgeInventoryCount"/>
		</operation>
		<operation name="CancelInventoryCount">
			<input message="oaws:CancelInventoryCount"/>
			<output message="oaws:CancelAcknowledgeInventoryCount"/>
		</operation>
		<operation name="GetInventoryCount">
			<input message="oaws:GetInventoryCount"/>
			<output message="oaws:ShowInventoryCount"/>
		</operation>
		<operation name="SyncInventoryCount">
			<input message="oaws:SyncInventoryCount"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyInventoryCount">
			<input message="oaws:NotifyInventoryCount"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestInventoryCountBinding" type="oaws:RequestInventoryCountPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseInventoryCountBinding" type="oaws:ResponseInventoryCountPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncInventoryCountBinding" type="oaws:SyncInventoryCountPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyInventoryCount">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/InventoryCount.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestInventoryCountService">
		<port name="RequestInventoryCountBinding" binding="oaws:RequestInventoryCountBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestInventoryCount"/>
		</port>
	</service>
	<service name="ResponseInventoryCountService">
		<port name="ResponseInventoryCountBinding" binding="oaws:ResponseInventoryCountBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseInventoryCount"/>
		</port>
	</service>
	<service name="SyncInventoryCountService">
		<port name="SyncInventoryCountBinding" binding="oaws:SyncInventoryCountBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncInventoryCount"/>
		</port>
	</service>
</definitions>
