data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ItemCertificateOfAnalysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ItemCertificateOfAnalysis.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyItemCertificateOfAnalysis.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelItemCertificateOfAnalysis">
		<part name="Message" element="oa:CancelItemCertificateOfAnalysis"/>
	</message>
	<message name="CancelAcknowledgeItemCertificateOfAnalysis">
		<part name="Message" element="oa:CancelAcknowledgeItemCertificateOfAnalysis"/>
	</message>
	<message name="ChangeItemCertificateOfAnalysis">
		<part name="Message" element="oa:ChangeItemCertificateOfAnalysis"/>
	</message>
	<message name="ChangeAcknowledgeItemCertificateOfAnalysis">
		<part name="Message" element="oa:ChangeAcknowledgeItemCertificateOfAnalysis"/>
	</message>
	<message name="GetItemCertificateOfAnalysis">
		<part name="Message" element="oa:GetItemCertificateOfAnalysis"/>
	</message>
	<message name="ShowItemCertificateOfAnalysis">
		<part name="Message" element="oa:ShowItemCertificateOfAnalysis"/>
	</message>
	<message name="ProcessItemCertificateOfAnalysis">
		<part name="Message" element="oa:ProcessItemCertificateOfAnalysis"/>
	</message>
	<message name="AcknowledgeItemCertificateOfAnalysis">
		<part name="Message" element="oa:AcknowledgeItemCertificateOfAnalysis"/>
	</message>
	<message name="SyncItemCertificateOfAnalysis">
		<part name="Message" element="oa:SyncItemCertificateOfAnalysis"/>
	</message>
	<message name="SyncResponseItemCertificateOfAnalysis">
		<part name="Message" element="oa:SyncResponseItemCertificateOfAnalysis"/>
	</message>
	<message name="NotifyItemCertificateOfAnalysis">
		<part name="Message" element="oa:NotifyItemCertificateOfAnalysis"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestItemCertificateOfAnalysisPortType">
		<operation name="ProcessItemCertificateOfAnalysis">
			<input message="oaws:ProcessItemCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeItemCertificateOfAnalysis">
			<input message="oaws:ChangeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelItemCertificateOfAnalysis">
			<input message="oaws:CancelItemCertificateOfAnalysis"/>
		</operation>
		<operation name="GetItemCertificateOfAnalysis">
			<input message="oaws:GetItemCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncItemCertificateOfAnalysis">
			<input message="oaws:SyncItemCertificateOfAnalysis"/>
		</operation>
		<operation name="NotifyItemCertificateOfAnalysis">
			<input message="oaws:NotifyItemCertificateOfAnalysis"/>
		</operation>
	</portType>
	<portType name="ResponseItemCertificateOfAnalysisPortType">
		<operation name="AcknowledgeItemCertificateOfAnalysis">
			<input message="oaws:AcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeAcknowledgeItemCertificateOfAnalysis">
			<input message="oaws:ChangeAcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelAcknowledgeItemCertificateOfAnalysis">
			<input message="oaws:CancelAcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="ShowItemCertificateOfAnalysis">
			<input message="oaws:ShowItemCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncResponseItemCertificateOfAnalysis">
			<input message="oaws:SyncResponseItemCertificateOfAnalysis"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncItemCertificateOfAnalysisPortType">
		<operation name="ProcessItemCertificateOfAnalysis">
			<input message="oaws:ProcessItemCertificateOfAnalysis"/>
			<output message="oaws:AcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="ChangeItemCertificateOfAnalysis">
			<input message="oaws:ChangeItemCertificateOfAnalysis"/>
			<output message="oaws:ChangeAcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="CancelItemCertificateOfAnalysis">
			<input message="oaws:CancelItemCertificateOfAnalysis"/>
			<output message="oaws:CancelAcknowledgeItemCertificateOfAnalysis"/>
		</operation>
		<operation name="GetItemCertificateOfAnalysis">
			<input message="oaws:GetItemCertificateOfAnalysis"/>
			<output message="oaws:ShowItemCertificateOfAnalysis"/>
		</operation>
		<operation name="SyncItemCertificateOfAnalysis">
			<input message="oaws:SyncItemCertificateOfAnalysis"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyItemCertificateOfAnalysis">
			<input message="oaws:NotifyItemCertificateOfAnalysis"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestItemCertificateOfAnalysisBinding" type="oaws:RequestItemCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseItemCertificateOfAnalysisBinding" type="oaws:ResponseItemCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncItemCertificateOfAnalysisBinding" type="oaws:SyncItemCertificateOfAnalysisPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyItemCertificateOfAnalysis">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ItemCertificateOfAnalysis.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestItemCertificateOfAnalysisService">
		<port name="RequestItemCertificateOfAnalysisBinding" binding="oaws:RequestItemCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestItemCertificateOfAnalysis"/>
		</port>
	</service>
	<service name="ResponseItemCertificateOfAnalysisService">
		<port name="ResponseItemCertificateOfAnalysisBinding" binding="oaws:ResponseItemCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseItemCertificateOfAnalysis"/>
		</port>
	</service>
	<service name="SyncItemCertificateOfAnalysisService">
		<port name="SyncItemCertificateOfAnalysisBinding" binding="oaws:SyncItemCertificateOfAnalysisBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncItemCertificateOfAnalysis"/>
		</port>
	</service>
</definitions>
