data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/JournalEntry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/JournalEntry.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/PostAcknowledgeJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/PostJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadResponseJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyJournalEntry.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelJournalEntry">
		<part name="Message" element="oa:CancelJournalEntry"/>
	</message>
	<message name="CancelAcknowledgeJournalEntry">
		<part name="Message" element="oa:CancelAcknowledgeJournalEntry"/>
	</message>
	<message name="ChangeJournalEntry">
		<part name="Message" element="oa:ChangeJournalEntry"/>
	</message>
	<message name="ChangeAcknowledgeJournalEntry">
		<part name="Message" element="oa:ChangeAcknowledgeJournalEntry"/>
	</message>
	<message name="GetJournalEntry">
		<part name="Message" element="oa:GetJournalEntry"/>
	</message>
	<message name="ShowJournalEntry">
		<part name="Message" element="oa:ShowJournalEntry"/>
	</message>
	<message name="PostJournalEntry">
		<part name="Message" element="oa:PostJournalEntry"/>
	</message>
	<message name="PostAcknowledgeJournalEntry">
		<part name="Message" element="oa:PostAcknowledgeJournalEntry"/>
	</message>
	<message name="LoadJournalEntry">
		<part name="Message" element="oa:LoadJournalEntry"/>
	</message>
	<message name="LoadResponseJournalEntry">
		<part name="Message" element="oa:LoadResponseJournalEntry"/>
	</message>
	<message name="NotifyJournalEntry">
		<part name="Message" element="oa:NotifyJournalEntry"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestJournalEntryPortType">
		<operation name="PostJournalEntry">
			<input message="oaws:PostJournalEntry"/>
		</operation>
		<operation name="ChangeJournalEntry">
			<input message="oaws:ChangeJournalEntry"/>
		</operation>
		<operation name="CancelJournalEntry">
			<input message="oaws:CancelJournalEntry"/>
		</operation>
		<operation name="GetJournalEntry">
			<input message="oaws:GetJournalEntry"/>
		</operation>
		<operation name="LoadJournalEntry">
			<input message="oaws:LoadJournalEntry"/>
		</operation>
		<operation name="NotifyJournalEntry">
			<input message="oaws:NotifyJournalEntry"/>
		</operation>
	</portType>
	<portType name="ResponseJournalEntryPortType">
		<operation name="PostAcknowledgeJournalEntry">
			<input message="oaws:PostAcknowledgeJournalEntry"/>
		</operation>
		<operation name="ChangeAcknowledgeJournalEntry">
			<input message="oaws:ChangeAcknowledgeJournalEntry"/>
		</operation>
		<operation name="CancelAcknowledgeJournalEntry">
			<input message="oaws:CancelAcknowledgeJournalEntry"/>
		</operation>
		<operation name="ShowJournalEntry">
			<input message="oaws:ShowJournalEntry"/>
		</operation>
		<operation name="LoadResponseJournalEntry">
			<input message="oaws:LoadResponseJournalEntry"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="LoadJournalEntryPortType">
		<operation name="PostJournalEntry">
			<input message="oaws:PostJournalEntry"/>
			<output message="oaws:PostAcknowledgeJournalEntry"/>
		</operation>
		<operation name="ChangeJournalEntry">
			<input message="oaws:ChangeJournalEntry"/>
			<output message="oaws:ChangeAcknowledgeJournalEntry"/>
		</operation>
		<operation name="CancelJournalEntry">
			<input message="oaws:CancelJournalEntry"/>
			<output message="oaws:CancelAcknowledgeJournalEntry"/>
		</operation>
		<operation name="GetJournalEntry">
			<input message="oaws:GetJournalEntry"/>
			<output message="oaws:ShowJournalEntry"/>
		</operation>
		<operation name="LoadJournalEntry">
			<input message="oaws:LoadJournalEntry"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyJournalEntry">
			<input message="oaws:NotifyJournalEntry"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestJournalEntryBinding" type="oaws:RequestJournalEntryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseJournalEntryBinding" type="oaws:ResponseJournalEntryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostAcknowledgeJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadResponseJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="LoadJournalEntryBinding" type="oaws:LoadJournalEntryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyJournalEntry">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/JournalEntry.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestJournalEntryService">
		<port name="RequestJournalEntryBinding" binding="oaws:RequestJournalEntryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestJournalEntry"/>
		</port>
	</service>
	<service name="ResponseJournalEntryService">
		<port name="ResponseJournalEntryBinding" binding="oaws:ResponseJournalEntryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseJournalEntry"/>
		</port>
	</service>
	<service name="LoadJournalEntryService">
		<port name="LoadJournalEntryBinding" binding="oaws:LoadJournalEntryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/LoadJournalEntry"/>
		</port>
	</service>
</definitions>
