data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/LocationService.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyLocationService.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelLocationService">
		<part name="Message" element="oa:CancelLocationService"/>
	</message>
	<message name="CancelAcknowledgeLocationService">
		<part name="Message" element="oa:CancelAcknowledgeLocationService"/>
	</message>
	<message name="ChangeLocationService">
		<part name="Message" element="oa:ChangeLocationService"/>
	</message>
	<message name="ChangeAcknowledgeLocationService">
		<part name="Message" element="oa:ChangeAcknowledgeLocationService"/>
	</message>
	<message name="GetLocationService">
		<part name="Message" element="oa:GetLocationService"/>
	</message>
	<message name="ShowLocationService">
		<part name="Message" element="oa:ShowLocationService"/>
	</message>
	<message name="ProcessLocationService">
		<part name="Message" element="oa:ProcessLocationService"/>
	</message>
	<message name="AcknowledgeLocationService">
		<part name="Message" element="oa:AcknowledgeLocationService"/>
	</message>
	<message name="SyncLocationService">
		<part name="Message" element="oa:SyncLocationService"/>
	</message>
	<message name="SyncResponseLocationService">
		<part name="Message" element="oa:SyncResponseLocationService"/>
	</message>
	<message name="NotifyLocationService">
		<part name="Message" element="oa:NotifyLocationService"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestLocationServicePortType">
		<operation name="ProcessLocationService">
			<input message="oaws:ProcessLocationService"/>
		</operation>
		<operation name="ChangeLocationService">
			<input message="oaws:ChangeLocationService"/>
		</operation>
		<operation name="CancelLocationService">
			<input message="oaws:CancelLocationService"/>
		</operation>
		<operation name="GetLocationService">
			<input message="oaws:GetLocationService"/>
		</operation>
		<operation name="SyncLocationService">
			<input message="oaws:SyncLocationService"/>
		</operation>
		<operation name="NotifyLocationService">
			<input message="oaws:NotifyLocationService"/>
		</operation>
	</portType>
	<portType name="ResponseLocationServicePortType">
		<operation name="AcknowledgeLocationService">
			<input message="oaws:AcknowledgeLocationService"/>
		</operation>
		<operation name="ChangeAcknowledgeLocationService">
			<input message="oaws:ChangeAcknowledgeLocationService"/>
		</operation>
		<operation name="CancelAcknowledgeLocationService">
			<input message="oaws:CancelAcknowledgeLocationService"/>
		</operation>
		<operation name="ShowLocationService">
			<input message="oaws:ShowLocationService"/>
		</operation>
		<operation name="SyncResponseLocationService">
			<input message="oaws:SyncResponseLocationService"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncLocationServicePortType">
		<operation name="ProcessLocationService">
			<input message="oaws:ProcessLocationService"/>
			<output message="oaws:AcknowledgeLocationService"/>
		</operation>
		<operation name="ChangeLocationService">
			<input message="oaws:ChangeLocationService"/>
			<output message="oaws:ChangeAcknowledgeLocationService"/>
		</operation>
		<operation name="CancelLocationService">
			<input message="oaws:CancelLocationService"/>
			<output message="oaws:CancelAcknowledgeLocationService"/>
		</operation>
		<operation name="GetLocationService">
			<input message="oaws:GetLocationService"/>
			<output message="oaws:ShowLocationService"/>
		</operation>
		<operation name="SyncLocationService">
			<input message="oaws:SyncLocationService"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyLocationService">
			<input message="oaws:NotifyLocationService"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestLocationServiceBinding" type="oaws:RequestLocationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseLocationServiceBinding" type="oaws:ResponseLocationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncLocationServiceBinding" type="oaws:SyncLocationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyLocationService">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/LocationService.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestLocationServiceService">
		<port name="RequestLocationServiceBinding" binding="oaws:RequestLocationServiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestLocationService"/>
		</port>
	</service>
	<service name="ResponseLocationServiceService">
		<port name="ResponseLocationServiceBinding" binding="oaws:ResponseLocationServiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseLocationService"/>
		</port>
	</service>
	<service name="SyncLocationServiceService">
		<port name="SyncLocationServiceBinding" binding="oaws:SyncLocationServiceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncLocationService"/>
		</port>
	</service>
</definitions>
