data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MaintenanceOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MaintenanceOrder.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyMaintenanceOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelMaintenanceOrder">
		<part name="Message" element="oa:CancelMaintenanceOrder"/>
	</message>
	<message name="CancelAcknowledgeMaintenanceOrder">
		<part name="Message" element="oa:CancelAcknowledgeMaintenanceOrder"/>
	</message>
	<message name="ChangeMaintenanceOrder">
		<part name="Message" element="oa:ChangeMaintenanceOrder"/>
	</message>
	<message name="ChangeAcknowledgeMaintenanceOrder">
		<part name="Message" element="oa:ChangeAcknowledgeMaintenanceOrder"/>
	</message>
	<message name="GetMaintenanceOrder">
		<part name="Message" element="oa:GetMaintenanceOrder"/>
	</message>
	<message name="ShowMaintenanceOrder">
		<part name="Message" element="oa:ShowMaintenanceOrder"/>
	</message>
	<message name="ProcessMaintenanceOrder">
		<part name="Message" element="oa:ProcessMaintenanceOrder"/>
	</message>
	<message name="AcknowledgeMaintenanceOrder">
		<part name="Message" element="oa:AcknowledgeMaintenanceOrder"/>
	</message>
	<message name="SyncMaintenanceOrder">
		<part name="Message" element="oa:SyncMaintenanceOrder"/>
	</message>
	<message name="SyncResponseMaintenanceOrder">
		<part name="Message" element="oa:SyncResponseMaintenanceOrder"/>
	</message>
	<message name="NotifyMaintenanceOrder">
		<part name="Message" element="oa:NotifyMaintenanceOrder"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestMaintenanceOrderPortType">
		<operation name="ProcessMaintenanceOrder">
			<input message="oaws:ProcessMaintenanceOrder"/>
		</operation>
		<operation name="ChangeMaintenanceOrder">
			<input message="oaws:ChangeMaintenanceOrder"/>
		</operation>
		<operation name="CancelMaintenanceOrder">
			<input message="oaws:CancelMaintenanceOrder"/>
		</operation>
		<operation name="GetMaintenanceOrder">
			<input message="oaws:GetMaintenanceOrder"/>
		</operation>
		<operation name="SyncMaintenanceOrder">
			<input message="oaws:SyncMaintenanceOrder"/>
		</operation>
		<operation name="NotifyMaintenanceOrder">
			<input message="oaws:NotifyMaintenanceOrder"/>
		</operation>
	</portType>
	<portType name="ResponseMaintenanceOrderPortType">
		<operation name="AcknowledgeMaintenanceOrder">
			<input message="oaws:AcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="ChangeAcknowledgeMaintenanceOrder">
			<input message="oaws:ChangeAcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="CancelAcknowledgeMaintenanceOrder">
			<input message="oaws:CancelAcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="ShowMaintenanceOrder">
			<input message="oaws:ShowMaintenanceOrder"/>
		</operation>
		<operation name="SyncResponseMaintenanceOrder">
			<input message="oaws:SyncResponseMaintenanceOrder"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncMaintenanceOrderPortType">
		<operation name="ProcessMaintenanceOrder">
			<input message="oaws:ProcessMaintenanceOrder"/>
			<output message="oaws:AcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="ChangeMaintenanceOrder">
			<input message="oaws:ChangeMaintenanceOrder"/>
			<output message="oaws:ChangeAcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="CancelMaintenanceOrder">
			<input message="oaws:CancelMaintenanceOrder"/>
			<output message="oaws:CancelAcknowledgeMaintenanceOrder"/>
		</operation>
		<operation name="GetMaintenanceOrder">
			<input message="oaws:GetMaintenanceOrder"/>
			<output message="oaws:ShowMaintenanceOrder"/>
		</operation>
		<operation name="SyncMaintenanceOrder">
			<input message="oaws:SyncMaintenanceOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyMaintenanceOrder">
			<input message="oaws:NotifyMaintenanceOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestMaintenanceOrderBinding" type="oaws:RequestMaintenanceOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseMaintenanceOrderBinding" type="oaws:ResponseMaintenanceOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncMaintenanceOrderBinding" type="oaws:SyncMaintenanceOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyMaintenanceOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MaintenanceOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestMaintenanceOrderService">
		<port name="RequestMaintenanceOrderBinding" binding="oaws:RequestMaintenanceOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestMaintenanceOrder"/>
		</port>
	</service>
	<service name="ResponseMaintenanceOrderService">
		<port name="ResponseMaintenanceOrderBinding" binding="oaws:ResponseMaintenanceOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseMaintenanceOrder"/>
		</port>
	</service>
	<service name="SyncMaintenanceOrderService">
		<port name="SyncMaintenanceOrderBinding" binding="oaws:SyncMaintenanceOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncMaintenanceOrder"/>
		</port>
	</service>
</definitions>
