data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveProductForecast.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveProductForecast.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyMoveProductForecast.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelMoveProductForecast">
		<part name="Message" element="oa:CancelMoveProductForecast"/>
	</message>
	<message name="CancelAcknowledgeMoveProductForecast">
		<part name="Message" element="oa:CancelAcknowledgeMoveProductForecast"/>
	</message>
	<message name="ChangeMoveProductForecast">
		<part name="Message" element="oa:ChangeMoveProductForecast"/>
	</message>
	<message name="ChangeAcknowledgeMoveProductForecast">
		<part name="Message" element="oa:ChangeAcknowledgeMoveProductForecast"/>
	</message>
	<message name="GetMoveProductForecast">
		<part name="Message" element="oa:GetMoveProductForecast"/>
	</message>
	<message name="ShowMoveProductForecast">
		<part name="Message" element="oa:ShowMoveProductForecast"/>
	</message>
	<message name="ProcessMoveProductForecast">
		<part name="Message" element="oa:ProcessMoveProductForecast"/>
	</message>
	<message name="AcknowledgeMoveProductForecast">
		<part name="Message" element="oa:AcknowledgeMoveProductForecast"/>
	</message>
	<message name="SyncMoveProductForecast">
		<part name="Message" element="oa:SyncMoveProductForecast"/>
	</message>
	<message name="SyncResponseMoveProductForecast">
		<part name="Message" element="oa:SyncResponseMoveProductForecast"/>
	</message>
	<message name="NotifyMoveProductForecast">
		<part name="Message" element="oa:NotifyMoveProductForecast"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestMoveProductForecastPortType">
		<operation name="ProcessMoveProductForecast">
			<input message="oaws:ProcessMoveProductForecast"/>
		</operation>
		<operation name="ChangeMoveProductForecast">
			<input message="oaws:ChangeMoveProductForecast"/>
		</operation>
		<operation name="CancelMoveProductForecast">
			<input message="oaws:CancelMoveProductForecast"/>
		</operation>
		<operation name="GetMoveProductForecast">
			<input message="oaws:GetMoveProductForecast"/>
		</operation>
		<operation name="SyncMoveProductForecast">
			<input message="oaws:SyncMoveProductForecast"/>
		</operation>
		<operation name="NotifyMoveProductForecast">
			<input message="oaws:NotifyMoveProductForecast"/>
		</operation>
	</portType>
	<portType name="ResponseMoveProductForecastPortType">
		<operation name="AcknowledgeMoveProductForecast">
			<input message="oaws:AcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="ChangeAcknowledgeMoveProductForecast">
			<input message="oaws:ChangeAcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="CancelAcknowledgeMoveProductForecast">
			<input message="oaws:CancelAcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="ShowMoveProductForecast">
			<input message="oaws:ShowMoveProductForecast"/>
		</operation>
		<operation name="SyncResponseMoveProductForecast">
			<input message="oaws:SyncResponseMoveProductForecast"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncMoveProductForecastPortType">
		<operation name="ProcessMoveProductForecast">
			<input message="oaws:ProcessMoveProductForecast"/>
			<output message="oaws:AcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="ChangeMoveProductForecast">
			<input message="oaws:ChangeMoveProductForecast"/>
			<output message="oaws:ChangeAcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="CancelMoveProductForecast">
			<input message="oaws:CancelMoveProductForecast"/>
			<output message="oaws:CancelAcknowledgeMoveProductForecast"/>
		</operation>
		<operation name="GetMoveProductForecast">
			<input message="oaws:GetMoveProductForecast"/>
			<output message="oaws:ShowMoveProductForecast"/>
		</operation>
		<operation name="SyncMoveProductForecast">
			<input message="oaws:SyncMoveProductForecast"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyMoveProductForecast">
			<input message="oaws:NotifyMoveProductForecast"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestMoveProductForecastBinding" type="oaws:RequestMoveProductForecastPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseMoveProductForecastBinding" type="oaws:ResponseMoveProductForecastPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncMoveProductForecastBinding" type="oaws:SyncMoveProductForecastPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyMoveProductForecast">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProductForecast.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestMoveProductForecastService">
		<port name="RequestMoveProductForecastBinding" binding="oaws:RequestMoveProductForecastBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestMoveProductForecast"/>
		</port>
	</service>
	<service name="ResponseMoveProductForecastService">
		<port name="ResponseMoveProductForecastBinding" binding="oaws:ResponseMoveProductForecastBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseMoveProductForecast"/>
		</port>
	</service>
	<service name="SyncMoveProductForecastService">
		<port name="SyncMoveProductForecastBinding" binding="oaws:SyncMoveProductForecastBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncMoveProductForecast"/>
		</port>
	</service>
</definitions>
