data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveProduct.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyMoveProduct.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelMoveProduct">
		<part name="Message" element="oa:CancelMoveProduct"/>
	</message>
	<message name="CancelAcknowledgeMoveProduct">
		<part name="Message" element="oa:CancelAcknowledgeMoveProduct"/>
	</message>
	<message name="ChangeMoveProduct">
		<part name="Message" element="oa:ChangeMoveProduct"/>
	</message>
	<message name="ChangeAcknowledgeMoveProduct">
		<part name="Message" element="oa:ChangeAcknowledgeMoveProduct"/>
	</message>
	<message name="GetMoveProduct">
		<part name="Message" element="oa:GetMoveProduct"/>
	</message>
	<message name="ShowMoveProduct">
		<part name="Message" element="oa:ShowMoveProduct"/>
	</message>
	<message name="ProcessMoveProduct">
		<part name="Message" element="oa:ProcessMoveProduct"/>
	</message>
	<message name="AcknowledgeMoveProduct">
		<part name="Message" element="oa:AcknowledgeMoveProduct"/>
	</message>
	<message name="SyncMoveProduct">
		<part name="Message" element="oa:SyncMoveProduct"/>
	</message>
	<message name="SyncResponseMoveProduct">
		<part name="Message" element="oa:SyncResponseMoveProduct"/>
	</message>
	<message name="NotifyMoveProduct">
		<part name="Message" element="oa:NotifyMoveProduct"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestMoveProductPortType">
		<operation name="ProcessMoveProduct">
			<input message="oaws:ProcessMoveProduct"/>
		</operation>
		<operation name="ChangeMoveProduct">
			<input message="oaws:ChangeMoveProduct"/>
		</operation>
		<operation name="CancelMoveProduct">
			<input message="oaws:CancelMoveProduct"/>
		</operation>
		<operation name="GetMoveProduct">
			<input message="oaws:GetMoveProduct"/>
		</operation>
		<operation name="SyncMoveProduct">
			<input message="oaws:SyncMoveProduct"/>
		</operation>
		<operation name="NotifyMoveProduct">
			<input message="oaws:NotifyMoveProduct"/>
		</operation>
	</portType>
	<portType name="ResponseMoveProductPortType">
		<operation name="AcknowledgeMoveProduct">
			<input message="oaws:AcknowledgeMoveProduct"/>
		</operation>
		<operation name="ChangeAcknowledgeMoveProduct">
			<input message="oaws:ChangeAcknowledgeMoveProduct"/>
		</operation>
		<operation name="CancelAcknowledgeMoveProduct">
			<input message="oaws:CancelAcknowledgeMoveProduct"/>
		</operation>
		<operation name="ShowMoveProduct">
			<input message="oaws:ShowMoveProduct"/>
		</operation>
		<operation name="SyncResponseMoveProduct">
			<input message="oaws:SyncResponseMoveProduct"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncMoveProductPortType">
		<operation name="ProcessMoveProduct">
			<input message="oaws:ProcessMoveProduct"/>
			<output message="oaws:AcknowledgeMoveProduct"/>
		</operation>
		<operation name="ChangeMoveProduct">
			<input message="oaws:ChangeMoveProduct"/>
			<output message="oaws:ChangeAcknowledgeMoveProduct"/>
		</operation>
		<operation name="CancelMoveProduct">
			<input message="oaws:CancelMoveProduct"/>
			<output message="oaws:CancelAcknowledgeMoveProduct"/>
		</operation>
		<operation name="GetMoveProduct">
			<input message="oaws:GetMoveProduct"/>
			<output message="oaws:ShowMoveProduct"/>
		</operation>
		<operation name="SyncMoveProduct">
			<input message="oaws:SyncMoveProduct"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyMoveProduct">
			<input message="oaws:NotifyMoveProduct"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestMoveProductBinding" type="oaws:RequestMoveProductPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseMoveProductBinding" type="oaws:ResponseMoveProductPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncMoveProductBinding" type="oaws:SyncMoveProductPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyMoveProduct">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveProduct.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestMoveProductService">
		<port name="RequestMoveProductBinding" binding="oaws:RequestMoveProductBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestMoveProduct"/>
		</port>
	</service>
	<service name="ResponseMoveProductService">
		<port name="ResponseMoveProductBinding" binding="oaws:ResponseMoveProductBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseMoveProduct"/>
		</port>
	</service>
	<service name="SyncMoveProductService">
		<port name="SyncMoveProductBinding" binding="oaws:SyncMoveProductBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncMoveProduct"/>
		</port>
	</service>
</definitions>
