data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveInventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/MoveInventory.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyMoveInventory.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelMoveInventory">
		<part name="Message" element="oa:CancelMoveInventory"/>
	</message>
	<message name="CancelAcknowledgeMoveInventory">
		<part name="Message" element="oa:CancelAcknowledgeMoveInventory"/>
	</message>
	<message name="ChangeMoveInventory">
		<part name="Message" element="oa:ChangeMoveInventory"/>
	</message>
	<message name="ChangeAcknowledgeMoveInventory">
		<part name="Message" element="oa:ChangeAcknowledgeMoveInventory"/>
	</message>
	<message name="GetMoveInventory">
		<part name="Message" element="oa:GetMoveInventory"/>
	</message>
	<message name="ShowMoveInventory">
		<part name="Message" element="oa:ShowMoveInventory"/>
	</message>
	<message name="ProcessMoveInventory">
		<part name="Message" element="oa:ProcessMoveInventory"/>
	</message>
	<message name="AcknowledgeMoveInventory">
		<part name="Message" element="oa:AcknowledgeMoveInventory"/>
	</message>
	<message name="SyncMoveInventory">
		<part name="Message" element="oa:SyncMoveInventory"/>
	</message>
	<message name="SyncResponseMoveInventory">
		<part name="Message" element="oa:SyncResponseMoveInventory"/>
	</message>
	<message name="NotifyMoveInventory">
		<part name="Message" element="oa:NotifyMoveInventory"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestMoveInventoryPortType">
		<operation name="ProcessMoveInventory">
			<input message="oaws:ProcessMoveInventory"/>
		</operation>
		<operation name="ChangeMoveInventory">
			<input message="oaws:ChangeMoveInventory"/>
		</operation>
		<operation name="CancelMoveInventory">
			<input message="oaws:CancelMoveInventory"/>
		</operation>
		<operation name="GetMoveInventory">
			<input message="oaws:GetMoveInventory"/>
		</operation>
		<operation name="SyncMoveInventory">
			<input message="oaws:SyncMoveInventory"/>
		</operation>
		<operation name="NotifyMoveInventory">
			<input message="oaws:NotifyMoveInventory"/>
		</operation>
	</portType>
	<portType name="ResponseMoveInventoryPortType">
		<operation name="AcknowledgeMoveInventory">
			<input message="oaws:AcknowledgeMoveInventory"/>
		</operation>
		<operation name="ChangeAcknowledgeMoveInventory">
			<input message="oaws:ChangeAcknowledgeMoveInventory"/>
		</operation>
		<operation name="CancelAcknowledgeMoveInventory">
			<input message="oaws:CancelAcknowledgeMoveInventory"/>
		</operation>
		<operation name="ShowMoveInventory">
			<input message="oaws:ShowMoveInventory"/>
		</operation>
		<operation name="SyncResponseMoveInventory">
			<input message="oaws:SyncResponseMoveInventory"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncMoveInventoryPortType">
		<operation name="ProcessMoveInventory">
			<input message="oaws:ProcessMoveInventory"/>
			<output message="oaws:AcknowledgeMoveInventory"/>
		</operation>
		<operation name="ChangeMoveInventory">
			<input message="oaws:ChangeMoveInventory"/>
			<output message="oaws:ChangeAcknowledgeMoveInventory"/>
		</operation>
		<operation name="CancelMoveInventory">
			<input message="oaws:CancelMoveInventory"/>
			<output message="oaws:CancelAcknowledgeMoveInventory"/>
		</operation>
		<operation name="GetMoveInventory">
			<input message="oaws:GetMoveInventory"/>
			<output message="oaws:ShowMoveInventory"/>
		</operation>
		<operation name="SyncMoveInventory">
			<input message="oaws:SyncMoveInventory"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyMoveInventory">
			<input message="oaws:NotifyMoveInventory"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestMoveInventoryBinding" type="oaws:RequestMoveInventoryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseMoveInventoryBinding" type="oaws:ResponseMoveInventoryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncMoveInventoryBinding" type="oaws:SyncMoveInventoryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyMoveInventory">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/MoveInventory.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestMoveInventoryService">
		<port name="RequestMoveInventoryBinding" binding="oaws:RequestMoveInventoryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestMoveInventory"/>
		</port>
	</service>
	<service name="ResponseMoveInventoryService">
		<port name="ResponseMoveInventoryBinding" binding="oaws:ResponseMoveInventoryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseMoveInventory"/>
		</port>
	</service>
	<service name="SyncMoveInventoryService">
		<port name="SyncMoveInventoryBinding" binding="oaws:SyncMoveInventoryBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncMoveInventory"/>
		</port>
	</service>
</definitions>
