data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/OnlineOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/OnlineOrder.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyOnlineOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelOnlineOrder">
		<part name="Message" element="oa:CancelOnlineOrder"/>
	</message>
	<message name="CancelAcknowledgeOnlineOrder">
		<part name="Message" element="oa:CancelAcknowledgeOnlineOrder"/>
	</message>
	<message name="ChangeOnlineOrder">
		<part name="Message" element="oa:ChangeOnlineOrder"/>
	</message>
	<message name="ChangeAcknowledgeOnlineOrder">
		<part name="Message" element="oa:ChangeAcknowledgeOnlineOrder"/>
	</message>
	<message name="GetOnlineOrder">
		<part name="Message" element="oa:GetOnlineOrder"/>
	</message>
	<message name="ShowOnlineOrder">
		<part name="Message" element="oa:ShowOnlineOrder"/>
	</message>
	<message name="ProcessOnlineOrder">
		<part name="Message" element="oa:ProcessOnlineOrder"/>
	</message>
	<message name="AcknowledgeOnlineOrder">
		<part name="Message" element="oa:AcknowledgeOnlineOrder"/>
	</message>
	<message name="SyncOnlineOrder">
		<part name="Message" element="oa:SyncOnlineOrder"/>
	</message>
	<message name="SyncResponseOnlineOrder">
		<part name="Message" element="oa:SyncResponseOnlineOrder"/>
	</message>
	<message name="NotifyOnlineOrder">
		<part name="Message" element="oa:NotifyOnlineOrder"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestOnlineOrderPortType">
		<operation name="ProcessOnlineOrder">
			<input message="oaws:ProcessOnlineOrder"/>
		</operation>
		<operation name="ChangeOnlineOrder">
			<input message="oaws:ChangeOnlineOrder"/>
		</operation>
		<operation name="CancelOnlineOrder">
			<input message="oaws:CancelOnlineOrder"/>
		</operation>
		<operation name="GetOnlineOrder">
			<input message="oaws:GetOnlineOrder"/>
		</operation>
		<operation name="SyncOnlineOrder">
			<input message="oaws:SyncOnlineOrder"/>
		</operation>
		<operation name="NotifyOnlineOrder">
			<input message="oaws:NotifyOnlineOrder"/>
		</operation>
	</portType>
	<portType name="ResponseOnlineOrderPortType">
		<operation name="AcknowledgeOnlineOrder">
			<input message="oaws:AcknowledgeOnlineOrder"/>
		</operation>
		<operation name="ChangeAcknowledgeOnlineOrder">
			<input message="oaws:ChangeAcknowledgeOnlineOrder"/>
		</operation>
		<operation name="CancelAcknowledgeOnlineOrder">
			<input message="oaws:CancelAcknowledgeOnlineOrder"/>
		</operation>
		<operation name="ShowOnlineOrder">
			<input message="oaws:ShowOnlineOrder"/>
		</operation>
		<operation name="SyncResponseOnlineOrder">
			<input message="oaws:SyncResponseOnlineOrder"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncOnlineOrderPortType">
		<operation name="ProcessOnlineOrder">
			<input message="oaws:ProcessOnlineOrder"/>
			<output message="oaws:AcknowledgeOnlineOrder"/>
		</operation>
		<operation name="ChangeOnlineOrder">
			<input message="oaws:ChangeOnlineOrder"/>
			<output message="oaws:ChangeAcknowledgeOnlineOrder"/>
		</operation>
		<operation name="CancelOnlineOrder">
			<input message="oaws:CancelOnlineOrder"/>
			<output message="oaws:CancelAcknowledgeOnlineOrder"/>
		</operation>
		<operation name="GetOnlineOrder">
			<input message="oaws:GetOnlineOrder"/>
			<output message="oaws:ShowOnlineOrder"/>
		</operation>
		<operation name="SyncOnlineOrder">
			<input message="oaws:SyncOnlineOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyOnlineOrder">
			<input message="oaws:NotifyOnlineOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestOnlineOrderBinding" type="oaws:RequestOnlineOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseOnlineOrderBinding" type="oaws:ResponseOnlineOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncOnlineOrderBinding" type="oaws:SyncOnlineOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyOnlineOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/OnlineOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestOnlineOrderService">
		<port name="RequestOnlineOrderBinding" binding="oaws:RequestOnlineOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestOnlineOrder"/>
		</port>
	</service>
	<service name="ResponseOnlineOrderService">
		<port name="ResponseOnlineOrderBinding" binding="oaws:ResponseOnlineOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseOnlineOrder"/>
		</port>
	</service>
	<service name="SyncOnlineOrderService">
		<port name="SyncOnlineOrderBinding" binding="oaws:SyncOnlineOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncOnlineOrder"/>
		</port>
	</service>
</definitions>
