data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PartyScreen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PartyScreen.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgePartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgePartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangePartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgePartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponsePartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyPartyScreen.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelPartyScreen">
		<part name="Message" element="oa:CancelPartyScreen"/>
	</message>
	<message name="CancelAcknowledgePartyScreen">
		<part name="Message" element="oa:CancelAcknowledgePartyScreen"/>
	</message>
	<message name="ChangePartyScreen">
		<part name="Message" element="oa:ChangePartyScreen"/>
	</message>
	<message name="ChangeAcknowledgePartyScreen">
		<part name="Message" element="oa:ChangeAcknowledgePartyScreen"/>
	</message>
	<message name="GetPartyScreen">
		<part name="Message" element="oa:GetPartyScreen"/>
	</message>
	<message name="ShowPartyScreen">
		<part name="Message" element="oa:ShowPartyScreen"/>
	</message>
	<message name="ProcessPartyScreen">
		<part name="Message" element="oa:ProcessPartyScreen"/>
	</message>
	<message name="AcknowledgePartyScreen">
		<part name="Message" element="oa:AcknowledgePartyScreen"/>
	</message>
	<message name="SyncPartyScreen">
		<part name="Message" element="oa:SyncPartyScreen"/>
	</message>
	<message name="SyncResponsePartyScreen">
		<part name="Message" element="oa:SyncResponsePartyScreen"/>
	</message>
	<message name="NotifyPartyScreen">
		<part name="Message" element="oa:NotifyPartyScreen"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestPartyScreenPortType">
		<operation name="ProcessPartyScreen">
			<input message="oaws:ProcessPartyScreen"/>
		</operation>
		<operation name="ChangePartyScreen">
			<input message="oaws:ChangePartyScreen"/>
		</operation>
		<operation name="CancelPartyScreen">
			<input message="oaws:CancelPartyScreen"/>
		</operation>
		<operation name="GetPartyScreen">
			<input message="oaws:GetPartyScreen"/>
		</operation>
		<operation name="SyncPartyScreen">
			<input message="oaws:SyncPartyScreen"/>
		</operation>
		<operation name="NotifyPartyScreen">
			<input message="oaws:NotifyPartyScreen"/>
		</operation>
	</portType>
	<portType name="ResponsePartyScreenPortType">
		<operation name="AcknowledgePartyScreen">
			<input message="oaws:AcknowledgePartyScreen"/>
		</operation>
		<operation name="ChangeAcknowledgePartyScreen">
			<input message="oaws:ChangeAcknowledgePartyScreen"/>
		</operation>
		<operation name="CancelAcknowledgePartyScreen">
			<input message="oaws:CancelAcknowledgePartyScreen"/>
		</operation>
		<operation name="ShowPartyScreen">
			<input message="oaws:ShowPartyScreen"/>
		</operation>
		<operation name="SyncResponsePartyScreen">
			<input message="oaws:SyncResponsePartyScreen"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncPartyScreenPortType">
		<operation name="ProcessPartyScreen">
			<input message="oaws:ProcessPartyScreen"/>
			<output message="oaws:AcknowledgePartyScreen"/>
		</operation>
		<operation name="ChangePartyScreen">
			<input message="oaws:ChangePartyScreen"/>
			<output message="oaws:ChangeAcknowledgePartyScreen"/>
		</operation>
		<operation name="CancelPartyScreen">
			<input message="oaws:CancelPartyScreen"/>
			<output message="oaws:CancelAcknowledgePartyScreen"/>
		</operation>
		<operation name="GetPartyScreen">
			<input message="oaws:GetPartyScreen"/>
			<output message="oaws:ShowPartyScreen"/>
		</operation>
		<operation name="SyncPartyScreen">
			<input message="oaws:SyncPartyScreen"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyPartyScreen">
			<input message="oaws:NotifyPartyScreen"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestPartyScreenBinding" type="oaws:RequestPartyScreenPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponsePartyScreenBinding" type="oaws:ResponsePartyScreenPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponsePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncPartyScreenBinding" type="oaws:SyncPartyScreenPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyPartyScreen">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PartyScreen.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestPartyScreenService">
		<port name="RequestPartyScreenBinding" binding="oaws:RequestPartyScreenBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestPartyScreen"/>
		</port>
	</service>
	<service name="ResponsePartyScreenService">
		<port name="ResponsePartyScreenBinding" binding="oaws:ResponsePartyScreenBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponsePartyScreen"/>
		</port>
	</service>
	<service name="SyncPartyScreenService">
		<port name="SyncPartyScreenBinding" binding="oaws:SyncPartyScreenBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncPartyScreen"/>
		</port>
	</service>
</definitions>
