data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PaymentStatusIST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PaymentStatusIST.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgePaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgePaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangePaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgePaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponsePaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyPaymentStatusIST.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelPaymentStatusIST">
		<part name="Message" element="oa:CancelPaymentStatusIST"/>
	</message>
	<message name="CancelAcknowledgePaymentStatusIST">
		<part name="Message" element="oa:CancelAcknowledgePaymentStatusIST"/>
	</message>
	<message name="ChangePaymentStatusIST">
		<part name="Message" element="oa:ChangePaymentStatusIST"/>
	</message>
	<message name="ChangeAcknowledgePaymentStatusIST">
		<part name="Message" element="oa:ChangeAcknowledgePaymentStatusIST"/>
	</message>
	<message name="GetPaymentStatusIST">
		<part name="Message" element="oa:GetPaymentStatusIST"/>
	</message>
	<message name="ShowPaymentStatusIST">
		<part name="Message" element="oa:ShowPaymentStatusIST"/>
	</message>
	<message name="ProcessPaymentStatusIST">
		<part name="Message" element="oa:ProcessPaymentStatusIST"/>
	</message>
	<message name="AcknowledgePaymentStatusIST">
		<part name="Message" element="oa:AcknowledgePaymentStatusIST"/>
	</message>
	<message name="SyncPaymentStatusIST">
		<part name="Message" element="oa:SyncPaymentStatusIST"/>
	</message>
	<message name="SyncResponsePaymentStatusIST">
		<part name="Message" element="oa:SyncResponsePaymentStatusIST"/>
	</message>
	<message name="NotifyPaymentStatusIST">
		<part name="Message" element="oa:NotifyPaymentStatusIST"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestPaymentStatusISTPortType">
		<operation name="ProcessPaymentStatusIST">
			<input message="oaws:ProcessPaymentStatusIST"/>
		</operation>
		<operation name="ChangePaymentStatusIST">
			<input message="oaws:ChangePaymentStatusIST"/>
		</operation>
		<operation name="CancelPaymentStatusIST">
			<input message="oaws:CancelPaymentStatusIST"/>
		</operation>
		<operation name="GetPaymentStatusIST">
			<input message="oaws:GetPaymentStatusIST"/>
		</operation>
		<operation name="SyncPaymentStatusIST">
			<input message="oaws:SyncPaymentStatusIST"/>
		</operation>
		<operation name="NotifyPaymentStatusIST">
			<input message="oaws:NotifyPaymentStatusIST"/>
		</operation>
	</portType>
	<portType name="ResponsePaymentStatusISTPortType">
		<operation name="AcknowledgePaymentStatusIST">
			<input message="oaws:AcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="ChangeAcknowledgePaymentStatusIST">
			<input message="oaws:ChangeAcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="CancelAcknowledgePaymentStatusIST">
			<input message="oaws:CancelAcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="ShowPaymentStatusIST">
			<input message="oaws:ShowPaymentStatusIST"/>
		</operation>
		<operation name="SyncResponsePaymentStatusIST">
			<input message="oaws:SyncResponsePaymentStatusIST"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncPaymentStatusISTPortType">
		<operation name="ProcessPaymentStatusIST">
			<input message="oaws:ProcessPaymentStatusIST"/>
			<output message="oaws:AcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="ChangePaymentStatusIST">
			<input message="oaws:ChangePaymentStatusIST"/>
			<output message="oaws:ChangeAcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="CancelPaymentStatusIST">
			<input message="oaws:CancelPaymentStatusIST"/>
			<output message="oaws:CancelAcknowledgePaymentStatusIST"/>
		</operation>
		<operation name="GetPaymentStatusIST">
			<input message="oaws:GetPaymentStatusIST"/>
			<output message="oaws:ShowPaymentStatusIST"/>
		</operation>
		<operation name="SyncPaymentStatusIST">
			<input message="oaws:SyncPaymentStatusIST"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyPaymentStatusIST">
			<input message="oaws:NotifyPaymentStatusIST"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestPaymentStatusISTBinding" type="oaws:RequestPaymentStatusISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponsePaymentStatusISTBinding" type="oaws:ResponsePaymentStatusISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponsePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncPaymentStatusISTBinding" type="oaws:SyncPaymentStatusISTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyPaymentStatusIST">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestPaymentStatusISTService">
		<port name="RequestPaymentStatusISTBinding" binding="oaws:RequestPaymentStatusISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestPaymentStatusIST"/>
		</port>
	</service>
	<service name="ResponsePaymentStatusISTService">
		<port name="ResponsePaymentStatusISTBinding" binding="oaws:ResponsePaymentStatusISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponsePaymentStatusIST"/>
		</port>
	</service>
	<service name="SyncPaymentStatusISTService">
		<port name="SyncPaymentStatusISTBinding" binding="oaws:SyncPaymentStatusISTBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncPaymentStatusIST"/>
		</port>
	</service>
</definitions>
