data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Personnel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Personnel.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgePersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgePersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangePersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgePersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponsePersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyPersonnel.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelPersonnel">
		<part name="Message" element="oa:CancelPersonnel"/>
	</message>
	<message name="CancelAcknowledgePersonnel">
		<part name="Message" element="oa:CancelAcknowledgePersonnel"/>
	</message>
	<message name="ChangePersonnel">
		<part name="Message" element="oa:ChangePersonnel"/>
	</message>
	<message name="ChangeAcknowledgePersonnel">
		<part name="Message" element="oa:ChangeAcknowledgePersonnel"/>
	</message>
	<message name="GetPersonnel">
		<part name="Message" element="oa:GetPersonnel"/>
	</message>
	<message name="ShowPersonnel">
		<part name="Message" element="oa:ShowPersonnel"/>
	</message>
	<message name="ProcessPersonnel">
		<part name="Message" element="oa:ProcessPersonnel"/>
	</message>
	<message name="AcknowledgePersonnel">
		<part name="Message" element="oa:AcknowledgePersonnel"/>
	</message>
	<message name="SyncPersonnel">
		<part name="Message" element="oa:SyncPersonnel"/>
	</message>
	<message name="SyncResponsePersonnel">
		<part name="Message" element="oa:SyncResponsePersonnel"/>
	</message>
	<message name="NotifyPersonnel">
		<part name="Message" element="oa:NotifyPersonnel"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestPersonnelPortType">
		<operation name="ProcessPersonnel">
			<input message="oaws:ProcessPersonnel"/>
		</operation>
		<operation name="ChangePersonnel">
			<input message="oaws:ChangePersonnel"/>
		</operation>
		<operation name="CancelPersonnel">
			<input message="oaws:CancelPersonnel"/>
		</operation>
		<operation name="GetPersonnel">
			<input message="oaws:GetPersonnel"/>
		</operation>
		<operation name="SyncPersonnel">
			<input message="oaws:SyncPersonnel"/>
		</operation>
		<operation name="NotifyPersonnel">
			<input message="oaws:NotifyPersonnel"/>
		</operation>
	</portType>
	<portType name="ResponsePersonnelPortType">
		<operation name="AcknowledgePersonnel">
			<input message="oaws:AcknowledgePersonnel"/>
		</operation>
		<operation name="ChangeAcknowledgePersonnel">
			<input message="oaws:ChangeAcknowledgePersonnel"/>
		</operation>
		<operation name="CancelAcknowledgePersonnel">
			<input message="oaws:CancelAcknowledgePersonnel"/>
		</operation>
		<operation name="ShowPersonnel">
			<input message="oaws:ShowPersonnel"/>
		</operation>
		<operation name="SyncResponsePersonnel">
			<input message="oaws:SyncResponsePersonnel"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncPersonnelPortType">
		<operation name="ProcessPersonnel">
			<input message="oaws:ProcessPersonnel"/>
			<output message="oaws:AcknowledgePersonnel"/>
		</operation>
		<operation name="ChangePersonnel">
			<input message="oaws:ChangePersonnel"/>
			<output message="oaws:ChangeAcknowledgePersonnel"/>
		</operation>
		<operation name="CancelPersonnel">
			<input message="oaws:CancelPersonnel"/>
			<output message="oaws:CancelAcknowledgePersonnel"/>
		</operation>
		<operation name="GetPersonnel">
			<input message="oaws:GetPersonnel"/>
			<output message="oaws:ShowPersonnel"/>
		</operation>
		<operation name="SyncPersonnel">
			<input message="oaws:SyncPersonnel"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyPersonnel">
			<input message="oaws:NotifyPersonnel"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestPersonnelBinding" type="oaws:RequestPersonnelPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponsePersonnelBinding" type="oaws:ResponsePersonnelPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponsePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncPersonnelBinding" type="oaws:SyncPersonnelPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyPersonnel">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Personnel.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestPersonnelService">
		<port name="RequestPersonnelBinding" binding="oaws:RequestPersonnelBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestPersonnel"/>
		</port>
	</service>
	<service name="ResponsePersonnelService">
		<port name="ResponsePersonnelBinding" binding="oaws:ResponsePersonnelBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponsePersonnel"/>
		</port>
	</service>
	<service name="SyncPersonnelService">
		<port name="SyncPersonnelBinding" binding="oaws:SyncPersonnelBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncPersonnel"/>
		</port>
	</service>
</definitions>
