data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PlanningSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/PlanningSchedule.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgePlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgePlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangePlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgePlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponsePlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyPlanningSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelPlanningSchedule">
		<part name="Message" element="oa:CancelPlanningSchedule"/>
	</message>
	<message name="CancelAcknowledgePlanningSchedule">
		<part name="Message" element="oa:CancelAcknowledgePlanningSchedule"/>
	</message>
	<message name="ChangePlanningSchedule">
		<part name="Message" element="oa:ChangePlanningSchedule"/>
	</message>
	<message name="ChangeAcknowledgePlanningSchedule">
		<part name="Message" element="oa:ChangeAcknowledgePlanningSchedule"/>
	</message>
	<message name="GetPlanningSchedule">
		<part name="Message" element="oa:GetPlanningSchedule"/>
	</message>
	<message name="ShowPlanningSchedule">
		<part name="Message" element="oa:ShowPlanningSchedule"/>
	</message>
	<message name="ProcessPlanningSchedule">
		<part name="Message" element="oa:ProcessPlanningSchedule"/>
	</message>
	<message name="AcknowledgePlanningSchedule">
		<part name="Message" element="oa:AcknowledgePlanningSchedule"/>
	</message>
	<message name="SyncPlanningSchedule">
		<part name="Message" element="oa:SyncPlanningSchedule"/>
	</message>
	<message name="SyncResponsePlanningSchedule">
		<part name="Message" element="oa:SyncResponsePlanningSchedule"/>
	</message>
	<message name="NotifyPlanningSchedule">
		<part name="Message" element="oa:NotifyPlanningSchedule"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestPlanningSchedulePortType">
		<operation name="ProcessPlanningSchedule">
			<input message="oaws:ProcessPlanningSchedule"/>
		</operation>
		<operation name="ChangePlanningSchedule">
			<input message="oaws:ChangePlanningSchedule"/>
		</operation>
		<operation name="CancelPlanningSchedule">
			<input message="oaws:CancelPlanningSchedule"/>
		</operation>
		<operation name="GetPlanningSchedule">
			<input message="oaws:GetPlanningSchedule"/>
		</operation>
		<operation name="SyncPlanningSchedule">
			<input message="oaws:SyncPlanningSchedule"/>
		</operation>
		<operation name="NotifyPlanningSchedule">
			<input message="oaws:NotifyPlanningSchedule"/>
		</operation>
	</portType>
	<portType name="ResponsePlanningSchedulePortType">
		<operation name="AcknowledgePlanningSchedule">
			<input message="oaws:AcknowledgePlanningSchedule"/>
		</operation>
		<operation name="ChangeAcknowledgePlanningSchedule">
			<input message="oaws:ChangeAcknowledgePlanningSchedule"/>
		</operation>
		<operation name="CancelAcknowledgePlanningSchedule">
			<input message="oaws:CancelAcknowledgePlanningSchedule"/>
		</operation>
		<operation name="ShowPlanningSchedule">
			<input message="oaws:ShowPlanningSchedule"/>
		</operation>
		<operation name="SyncResponsePlanningSchedule">
			<input message="oaws:SyncResponsePlanningSchedule"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncPlanningSchedulePortType">
		<operation name="ProcessPlanningSchedule">
			<input message="oaws:ProcessPlanningSchedule"/>
			<output message="oaws:AcknowledgePlanningSchedule"/>
		</operation>
		<operation name="ChangePlanningSchedule">
			<input message="oaws:ChangePlanningSchedule"/>
			<output message="oaws:ChangeAcknowledgePlanningSchedule"/>
		</operation>
		<operation name="CancelPlanningSchedule">
			<input message="oaws:CancelPlanningSchedule"/>
			<output message="oaws:CancelAcknowledgePlanningSchedule"/>
		</operation>
		<operation name="GetPlanningSchedule">
			<input message="oaws:GetPlanningSchedule"/>
			<output message="oaws:ShowPlanningSchedule"/>
		</operation>
		<operation name="SyncPlanningSchedule">
			<input message="oaws:SyncPlanningSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyPlanningSchedule">
			<input message="oaws:NotifyPlanningSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestPlanningScheduleBinding" type="oaws:RequestPlanningSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponsePlanningScheduleBinding" type="oaws:ResponsePlanningSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponsePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncPlanningScheduleBinding" type="oaws:SyncPlanningSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyPlanningSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/PlanningSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestPlanningScheduleService">
		<port name="RequestPlanningScheduleBinding" binding="oaws:RequestPlanningScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestPlanningSchedule"/>
		</port>
	</service>
	<service name="ResponsePlanningScheduleService">
		<port name="ResponsePlanningScheduleBinding" binding="oaws:ResponsePlanningScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponsePlanningSchedule"/>
		</port>
	</service>
	<service name="SyncPlanningScheduleService">
		<port name="SyncPlanningScheduleBinding" binding="oaws:SyncPlanningScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncPlanningSchedule"/>
		</port>
	</service>
</definitions>
