data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProductionPerformance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProductionPerformance.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyProductionPerformance.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelProductionPerformance">
		<part name="Message" element="oa:CancelProductionPerformance"/>
	</message>
	<message name="CancelAcknowledgeProductionPerformance">
		<part name="Message" element="oa:CancelAcknowledgeProductionPerformance"/>
	</message>
	<message name="ChangeProductionPerformance">
		<part name="Message" element="oa:ChangeProductionPerformance"/>
	</message>
	<message name="ChangeAcknowledgeProductionPerformance">
		<part name="Message" element="oa:ChangeAcknowledgeProductionPerformance"/>
	</message>
	<message name="GetProductionPerformance">
		<part name="Message" element="oa:GetProductionPerformance"/>
	</message>
	<message name="ShowProductionPerformance">
		<part name="Message" element="oa:ShowProductionPerformance"/>
	</message>
	<message name="ProcessProductionPerformance">
		<part name="Message" element="oa:ProcessProductionPerformance"/>
	</message>
	<message name="AcknowledgeProductionPerformance">
		<part name="Message" element="oa:AcknowledgeProductionPerformance"/>
	</message>
	<message name="SyncProductionPerformance">
		<part name="Message" element="oa:SyncProductionPerformance"/>
	</message>
	<message name="SyncResponseProductionPerformance">
		<part name="Message" element="oa:SyncResponseProductionPerformance"/>
	</message>
	<message name="NotifyProductionPerformance">
		<part name="Message" element="oa:NotifyProductionPerformance"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestProductionPerformancePortType">
		<operation name="ProcessProductionPerformance">
			<input message="oaws:ProcessProductionPerformance"/>
		</operation>
		<operation name="ChangeProductionPerformance">
			<input message="oaws:ChangeProductionPerformance"/>
		</operation>
		<operation name="CancelProductionPerformance">
			<input message="oaws:CancelProductionPerformance"/>
		</operation>
		<operation name="GetProductionPerformance">
			<input message="oaws:GetProductionPerformance"/>
		</operation>
		<operation name="SyncProductionPerformance">
			<input message="oaws:SyncProductionPerformance"/>
		</operation>
		<operation name="NotifyProductionPerformance">
			<input message="oaws:NotifyProductionPerformance"/>
		</operation>
	</portType>
	<portType name="ResponseProductionPerformancePortType">
		<operation name="AcknowledgeProductionPerformance">
			<input message="oaws:AcknowledgeProductionPerformance"/>
		</operation>
		<operation name="ChangeAcknowledgeProductionPerformance">
			<input message="oaws:ChangeAcknowledgeProductionPerformance"/>
		</operation>
		<operation name="CancelAcknowledgeProductionPerformance">
			<input message="oaws:CancelAcknowledgeProductionPerformance"/>
		</operation>
		<operation name="ShowProductionPerformance">
			<input message="oaws:ShowProductionPerformance"/>
		</operation>
		<operation name="SyncResponseProductionPerformance">
			<input message="oaws:SyncResponseProductionPerformance"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncProductionPerformancePortType">
		<operation name="ProcessProductionPerformance">
			<input message="oaws:ProcessProductionPerformance"/>
			<output message="oaws:AcknowledgeProductionPerformance"/>
		</operation>
		<operation name="ChangeProductionPerformance">
			<input message="oaws:ChangeProductionPerformance"/>
			<output message="oaws:ChangeAcknowledgeProductionPerformance"/>
		</operation>
		<operation name="CancelProductionPerformance">
			<input message="oaws:CancelProductionPerformance"/>
			<output message="oaws:CancelAcknowledgeProductionPerformance"/>
		</operation>
		<operation name="GetProductionPerformance">
			<input message="oaws:GetProductionPerformance"/>
			<output message="oaws:ShowProductionPerformance"/>
		</operation>
		<operation name="SyncProductionPerformance">
			<input message="oaws:SyncProductionPerformance"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyProductionPerformance">
			<input message="oaws:NotifyProductionPerformance"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestProductionPerformanceBinding" type="oaws:RequestProductionPerformancePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseProductionPerformanceBinding" type="oaws:ResponseProductionPerformancePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncProductionPerformanceBinding" type="oaws:SyncProductionPerformancePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyProductionPerformance">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestProductionPerformanceService">
		<port name="RequestProductionPerformanceBinding" binding="oaws:RequestProductionPerformanceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestProductionPerformance"/>
		</port>
	</service>
	<service name="ResponseProductionPerformanceService">
		<port name="ResponseProductionPerformanceBinding" binding="oaws:ResponseProductionPerformanceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseProductionPerformance"/>
		</port>
	</service>
	<service name="SyncProductionPerformanceService">
		<port name="SyncProductionPerformanceBinding" binding="oaws:SyncProductionPerformanceBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncProductionPerformance"/>
		</port>
	</service>
</definitions>
