data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProductionOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProductionOrder.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyProductionOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelProductionOrder">
		<part name="Message" element="oa:CancelProductionOrder"/>
	</message>
	<message name="CancelAcknowledgeProductionOrder">
		<part name="Message" element="oa:CancelAcknowledgeProductionOrder"/>
	</message>
	<message name="ChangeProductionOrder">
		<part name="Message" element="oa:ChangeProductionOrder"/>
	</message>
	<message name="ChangeAcknowledgeProductionOrder">
		<part name="Message" element="oa:ChangeAcknowledgeProductionOrder"/>
	</message>
	<message name="GetProductionOrder">
		<part name="Message" element="oa:GetProductionOrder"/>
	</message>
	<message name="ShowProductionOrder">
		<part name="Message" element="oa:ShowProductionOrder"/>
	</message>
	<message name="ProcessProductionOrder">
		<part name="Message" element="oa:ProcessProductionOrder"/>
	</message>
	<message name="AcknowledgeProductionOrder">
		<part name="Message" element="oa:AcknowledgeProductionOrder"/>
	</message>
	<message name="SyncProductionOrder">
		<part name="Message" element="oa:SyncProductionOrder"/>
	</message>
	<message name="SyncResponseProductionOrder">
		<part name="Message" element="oa:SyncResponseProductionOrder"/>
	</message>
	<message name="NotifyProductionOrder">
		<part name="Message" element="oa:NotifyProductionOrder"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestProductionOrderPortType">
		<operation name="ProcessProductionOrder">
			<input message="oaws:ProcessProductionOrder"/>
		</operation>
		<operation name="ChangeProductionOrder">
			<input message="oaws:ChangeProductionOrder"/>
		</operation>
		<operation name="CancelProductionOrder">
			<input message="oaws:CancelProductionOrder"/>
		</operation>
		<operation name="GetProductionOrder">
			<input message="oaws:GetProductionOrder"/>
		</operation>
		<operation name="SyncProductionOrder">
			<input message="oaws:SyncProductionOrder"/>
		</operation>
		<operation name="NotifyProductionOrder">
			<input message="oaws:NotifyProductionOrder"/>
		</operation>
	</portType>
	<portType name="ResponseProductionOrderPortType">
		<operation name="AcknowledgeProductionOrder">
			<input message="oaws:AcknowledgeProductionOrder"/>
		</operation>
		<operation name="ChangeAcknowledgeProductionOrder">
			<input message="oaws:ChangeAcknowledgeProductionOrder"/>
		</operation>
		<operation name="CancelAcknowledgeProductionOrder">
			<input message="oaws:CancelAcknowledgeProductionOrder"/>
		</operation>
		<operation name="ShowProductionOrder">
			<input message="oaws:ShowProductionOrder"/>
		</operation>
		<operation name="SyncResponseProductionOrder">
			<input message="oaws:SyncResponseProductionOrder"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncProductionOrderPortType">
		<operation name="ProcessProductionOrder">
			<input message="oaws:ProcessProductionOrder"/>
			<output message="oaws:AcknowledgeProductionOrder"/>
		</operation>
		<operation name="ChangeProductionOrder">
			<input message="oaws:ChangeProductionOrder"/>
			<output message="oaws:ChangeAcknowledgeProductionOrder"/>
		</operation>
		<operation name="CancelProductionOrder">
			<input message="oaws:CancelProductionOrder"/>
			<output message="oaws:CancelAcknowledgeProductionOrder"/>
		</operation>
		<operation name="GetProductionOrder">
			<input message="oaws:GetProductionOrder"/>
			<output message="oaws:ShowProductionOrder"/>
		</operation>
		<operation name="SyncProductionOrder">
			<input message="oaws:SyncProductionOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyProductionOrder">
			<input message="oaws:NotifyProductionOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestProductionOrderBinding" type="oaws:RequestProductionOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseProductionOrderBinding" type="oaws:ResponseProductionOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncProductionOrderBinding" type="oaws:SyncProductionOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyProductionOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProductionOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestProductionOrderService">
		<port name="RequestProductionOrderBinding" binding="oaws:RequestProductionOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestProductionOrder"/>
		</port>
	</service>
	<service name="ResponseProductionOrderService">
		<port name="ResponseProductionOrderBinding" binding="oaws:ResponseProductionOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseProductionOrder"/>
		</port>
	</service>
	<service name="SyncProductionOrderService">
		<port name="SyncProductionOrderBinding" binding="oaws:SyncProductionOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncProductionOrder"/>
		</port>
	</service>
</definitions>
