data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProjectAccounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProjectAccounting.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/PostAcknowledgeProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/PostProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/LoadResponseProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyProjectAccounting.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelProjectAccounting">
		<part name="Message" element="oa:CancelProjectAccounting"/>
	</message>
	<message name="CancelAcknowledgeProjectAccounting">
		<part name="Message" element="oa:CancelAcknowledgeProjectAccounting"/>
	</message>
	<message name="ChangeProjectAccounting">
		<part name="Message" element="oa:ChangeProjectAccounting"/>
	</message>
	<message name="ChangeAcknowledgeProjectAccounting">
		<part name="Message" element="oa:ChangeAcknowledgeProjectAccounting"/>
	</message>
	<message name="GetProjectAccounting">
		<part name="Message" element="oa:GetProjectAccounting"/>
	</message>
	<message name="ShowProjectAccounting">
		<part name="Message" element="oa:ShowProjectAccounting"/>
	</message>
	<message name="PostProjectAccounting">
		<part name="Message" element="oa:PostProjectAccounting"/>
	</message>
	<message name="PostAcknowledgeProjectAccounting">
		<part name="Message" element="oa:PostAcknowledgeProjectAccounting"/>
	</message>
	<message name="LoadProjectAccounting">
		<part name="Message" element="oa:LoadProjectAccounting"/>
	</message>
	<message name="LoadResponseProjectAccounting">
		<part name="Message" element="oa:LoadResponseProjectAccounting"/>
	</message>
	<message name="NotifyProjectAccounting">
		<part name="Message" element="oa:NotifyProjectAccounting"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestProjectAccountingPortType">
		<operation name="PostProjectAccounting">
			<input message="oaws:PostProjectAccounting"/>
		</operation>
		<operation name="ChangeProjectAccounting">
			<input message="oaws:ChangeProjectAccounting"/>
		</operation>
		<operation name="CancelProjectAccounting">
			<input message="oaws:CancelProjectAccounting"/>
		</operation>
		<operation name="GetProjectAccounting">
			<input message="oaws:GetProjectAccounting"/>
		</operation>
		<operation name="LoadProjectAccounting">
			<input message="oaws:LoadProjectAccounting"/>
		</operation>
		<operation name="NotifyProjectAccounting">
			<input message="oaws:NotifyProjectAccounting"/>
		</operation>
	</portType>
	<portType name="ResponseProjectAccountingPortType">
		<operation name="PostAcknowledgeProjectAccounting">
			<input message="oaws:PostAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="ChangeAcknowledgeProjectAccounting">
			<input message="oaws:ChangeAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="CancelAcknowledgeProjectAccounting">
			<input message="oaws:CancelAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="ShowProjectAccounting">
			<input message="oaws:ShowProjectAccounting"/>
		</operation>
		<operation name="LoadResponseProjectAccounting">
			<input message="oaws:LoadResponseProjectAccounting"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="LoadProjectAccountingPortType">
		<operation name="PostProjectAccounting">
			<input message="oaws:PostProjectAccounting"/>
			<output message="oaws:PostAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="ChangeProjectAccounting">
			<input message="oaws:ChangeProjectAccounting"/>
			<output message="oaws:ChangeAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="CancelProjectAccounting">
			<input message="oaws:CancelProjectAccounting"/>
			<output message="oaws:CancelAcknowledgeProjectAccounting"/>
		</operation>
		<operation name="GetProjectAccounting">
			<input message="oaws:GetProjectAccounting"/>
			<output message="oaws:ShowProjectAccounting"/>
		</operation>
		<operation name="LoadProjectAccounting">
			<input message="oaws:LoadProjectAccounting"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyProjectAccounting">
			<input message="oaws:NotifyProjectAccounting"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestProjectAccountingBinding" type="oaws:RequestProjectAccountingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseProjectAccountingBinding" type="oaws:ResponseProjectAccountingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostAcknowledgeProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="LoadResponseProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="LoadProjectAccountingBinding" type="oaws:LoadProjectAccountingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyProjectAccounting">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestProjectAccountingService">
		<port name="RequestProjectAccountingBinding" binding="oaws:RequestProjectAccountingBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestProjectAccounting"/>
		</port>
	</service>
	<service name="ResponseProjectAccountingService">
		<port name="ResponseProjectAccountingBinding" binding="oaws:ResponseProjectAccountingBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseProjectAccounting"/>
		</port>
	</service>
	<service name="LoadProjectAccountingService">
		<port name="LoadProjectAccountingBinding" binding="oaws:LoadProjectAccountingBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/LoadProjectAccounting"/>
		</port>
	</service>
</definitions>
