data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProjectMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ProjectMaster.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyProjectMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelProjectMaster">
		<part name="Message" element="oa:CancelProjectMaster"/>
	</message>
	<message name="CancelAcknowledgeProjectMaster">
		<part name="Message" element="oa:CancelAcknowledgeProjectMaster"/>
	</message>
	<message name="ChangeProjectMaster">
		<part name="Message" element="oa:ChangeProjectMaster"/>
	</message>
	<message name="ChangeAcknowledgeProjectMaster">
		<part name="Message" element="oa:ChangeAcknowledgeProjectMaster"/>
	</message>
	<message name="GetProjectMaster">
		<part name="Message" element="oa:GetProjectMaster"/>
	</message>
	<message name="ShowProjectMaster">
		<part name="Message" element="oa:ShowProjectMaster"/>
	</message>
	<message name="ProcessProjectMaster">
		<part name="Message" element="oa:ProcessProjectMaster"/>
	</message>
	<message name="AcknowledgeProjectMaster">
		<part name="Message" element="oa:AcknowledgeProjectMaster"/>
	</message>
	<message name="SyncProjectMaster">
		<part name="Message" element="oa:SyncProjectMaster"/>
	</message>
	<message name="SyncResponseProjectMaster">
		<part name="Message" element="oa:SyncResponseProjectMaster"/>
	</message>
	<message name="NotifyProjectMaster">
		<part name="Message" element="oa:NotifyProjectMaster"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestProjectMasterPortType">
		<operation name="ProcessProjectMaster">
			<input message="oaws:ProcessProjectMaster"/>
		</operation>
		<operation name="ChangeProjectMaster">
			<input message="oaws:ChangeProjectMaster"/>
		</operation>
		<operation name="CancelProjectMaster">
			<input message="oaws:CancelProjectMaster"/>
		</operation>
		<operation name="GetProjectMaster">
			<input message="oaws:GetProjectMaster"/>
		</operation>
		<operation name="SyncProjectMaster">
			<input message="oaws:SyncProjectMaster"/>
		</operation>
		<operation name="NotifyProjectMaster">
			<input message="oaws:NotifyProjectMaster"/>
		</operation>
	</portType>
	<portType name="ResponseProjectMasterPortType">
		<operation name="AcknowledgeProjectMaster">
			<input message="oaws:AcknowledgeProjectMaster"/>
		</operation>
		<operation name="ChangeAcknowledgeProjectMaster">
			<input message="oaws:ChangeAcknowledgeProjectMaster"/>
		</operation>
		<operation name="CancelAcknowledgeProjectMaster">
			<input message="oaws:CancelAcknowledgeProjectMaster"/>
		</operation>
		<operation name="ShowProjectMaster">
			<input message="oaws:ShowProjectMaster"/>
		</operation>
		<operation name="SyncResponseProjectMaster">
			<input message="oaws:SyncResponseProjectMaster"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncProjectMasterPortType">
		<operation name="ProcessProjectMaster">
			<input message="oaws:ProcessProjectMaster"/>
			<output message="oaws:AcknowledgeProjectMaster"/>
		</operation>
		<operation name="ChangeProjectMaster">
			<input message="oaws:ChangeProjectMaster"/>
			<output message="oaws:ChangeAcknowledgeProjectMaster"/>
		</operation>
		<operation name="CancelProjectMaster">
			<input message="oaws:CancelProjectMaster"/>
			<output message="oaws:CancelAcknowledgeProjectMaster"/>
		</operation>
		<operation name="GetProjectMaster">
			<input message="oaws:GetProjectMaster"/>
			<output message="oaws:ShowProjectMaster"/>
		</operation>
		<operation name="SyncProjectMaster">
			<input message="oaws:SyncProjectMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyProjectMaster">
			<input message="oaws:NotifyProjectMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestProjectMasterBinding" type="oaws:RequestProjectMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseProjectMasterBinding" type="oaws:ResponseProjectMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncProjectMasterBinding" type="oaws:SyncProjectMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyProjectMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ProjectMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestProjectMasterService">
		<port name="RequestProjectMasterBinding" binding="oaws:RequestProjectMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestProjectMaster"/>
		</port>
	</service>
	<service name="ResponseProjectMasterService">
		<port name="ResponseProjectMasterBinding" binding="oaws:ResponseProjectMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseProjectMaster"/>
		</port>
	</service>
	<service name="SyncProjectMasterService">
		<port name="SyncProjectMasterBinding" binding="oaws:SyncProjectMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncProjectMaster"/>
		</port>
	</service>
</definitions>
