data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ReceiveItem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ReceiveItem.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyReceiveItem.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelReceiveItem">
		<part name="Message" element="oa:CancelReceiveItem"/>
	</message>
	<message name="CancelAcknowledgeReceiveItem">
		<part name="Message" element="oa:CancelAcknowledgeReceiveItem"/>
	</message>
	<message name="ChangeReceiveItem">
		<part name="Message" element="oa:ChangeReceiveItem"/>
	</message>
	<message name="ChangeAcknowledgeReceiveItem">
		<part name="Message" element="oa:ChangeAcknowledgeReceiveItem"/>
	</message>
	<message name="GetReceiveItem">
		<part name="Message" element="oa:GetReceiveItem"/>
	</message>
	<message name="ShowReceiveItem">
		<part name="Message" element="oa:ShowReceiveItem"/>
	</message>
	<message name="ProcessReceiveItem">
		<part name="Message" element="oa:ProcessReceiveItem"/>
	</message>
	<message name="AcknowledgeReceiveItem">
		<part name="Message" element="oa:AcknowledgeReceiveItem"/>
	</message>
	<message name="SyncReceiveItem">
		<part name="Message" element="oa:SyncReceiveItem"/>
	</message>
	<message name="SyncResponseReceiveItem">
		<part name="Message" element="oa:SyncResponseReceiveItem"/>
	</message>
	<message name="NotifyReceiveItem">
		<part name="Message" element="oa:NotifyReceiveItem"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestReceiveItemPortType">
		<operation name="ProcessReceiveItem">
			<input message="oaws:ProcessReceiveItem"/>
		</operation>
		<operation name="ChangeReceiveItem">
			<input message="oaws:ChangeReceiveItem"/>
		</operation>
		<operation name="CancelReceiveItem">
			<input message="oaws:CancelReceiveItem"/>
		</operation>
		<operation name="GetReceiveItem">
			<input message="oaws:GetReceiveItem"/>
		</operation>
		<operation name="SyncReceiveItem">
			<input message="oaws:SyncReceiveItem"/>
		</operation>
		<operation name="NotifyReceiveItem">
			<input message="oaws:NotifyReceiveItem"/>
		</operation>
	</portType>
	<portType name="ResponseReceiveItemPortType">
		<operation name="AcknowledgeReceiveItem">
			<input message="oaws:AcknowledgeReceiveItem"/>
		</operation>
		<operation name="ChangeAcknowledgeReceiveItem">
			<input message="oaws:ChangeAcknowledgeReceiveItem"/>
		</operation>
		<operation name="CancelAcknowledgeReceiveItem">
			<input message="oaws:CancelAcknowledgeReceiveItem"/>
		</operation>
		<operation name="ShowReceiveItem">
			<input message="oaws:ShowReceiveItem"/>
		</operation>
		<operation name="SyncResponseReceiveItem">
			<input message="oaws:SyncResponseReceiveItem"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncReceiveItemPortType">
		<operation name="ProcessReceiveItem">
			<input message="oaws:ProcessReceiveItem"/>
			<output message="oaws:AcknowledgeReceiveItem"/>
		</operation>
		<operation name="ChangeReceiveItem">
			<input message="oaws:ChangeReceiveItem"/>
			<output message="oaws:ChangeAcknowledgeReceiveItem"/>
		</operation>
		<operation name="CancelReceiveItem">
			<input message="oaws:CancelReceiveItem"/>
			<output message="oaws:CancelAcknowledgeReceiveItem"/>
		</operation>
		<operation name="GetReceiveItem">
			<input message="oaws:GetReceiveItem"/>
			<output message="oaws:ShowReceiveItem"/>
		</operation>
		<operation name="SyncReceiveItem">
			<input message="oaws:SyncReceiveItem"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyReceiveItem">
			<input message="oaws:NotifyReceiveItem"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestReceiveItemBinding" type="oaws:RequestReceiveItemPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseReceiveItemBinding" type="oaws:ResponseReceiveItemPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncReceiveItemBinding" type="oaws:SyncReceiveItemPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyReceiveItem">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ReceiveItem.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestReceiveItemService">
		<port name="RequestReceiveItemBinding" binding="oaws:RequestReceiveItemBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestReceiveItem"/>
		</port>
	</service>
	<service name="ResponseReceiveItemService">
		<port name="ResponseReceiveItemBinding" binding="oaws:ResponseReceiveItemBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseReceiveItem"/>
		</port>
	</service>
	<service name="SyncReceiveItemService">
		<port name="SyncReceiveItemBinding" binding="oaws:SyncReceiveItemBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncReceiveItem"/>
		</port>
	</service>
</definitions>
