data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SalesOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SalesOrder.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseSalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifySalesOrder.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelSalesOrder">
		<part name="Message" element="oa:CancelSalesOrder"/>
	</message>
	<message name="CancelAcknowledgeSalesOrder">
		<part name="Message" element="oa:CancelAcknowledgeSalesOrder"/>
	</message>
	<message name="ChangeSalesOrder">
		<part name="Message" element="oa:ChangeSalesOrder"/>
	</message>
	<message name="ChangeAcknowledgeSalesOrder">
		<part name="Message" element="oa:ChangeAcknowledgeSalesOrder"/>
	</message>
	<message name="GetSalesOrder">
		<part name="Message" element="oa:GetSalesOrder"/>
	</message>
	<message name="ShowSalesOrder">
		<part name="Message" element="oa:ShowSalesOrder"/>
	</message>
	<message name="ProcessSalesOrder">
		<part name="Message" element="oa:ProcessSalesOrder"/>
	</message>
	<message name="AcknowledgeSalesOrder">
		<part name="Message" element="oa:AcknowledgeSalesOrder"/>
	</message>
	<message name="SyncSalesOrder">
		<part name="Message" element="oa:SyncSalesOrder"/>
	</message>
	<message name="SyncResponseSalesOrder">
		<part name="Message" element="oa:SyncResponseSalesOrder"/>
	</message>
	<message name="NotifySalesOrder">
		<part name="Message" element="oa:NotifySalesOrder"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestSalesOrderPortType">
		<operation name="ProcessSalesOrder">
			<input message="oaws:ProcessSalesOrder"/>
		</operation>
		<operation name="ChangeSalesOrder">
			<input message="oaws:ChangeSalesOrder"/>
		</operation>
		<operation name="CancelSalesOrder">
			<input message="oaws:CancelSalesOrder"/>
		</operation>
		<operation name="GetSalesOrder">
			<input message="oaws:GetSalesOrder"/>
		</operation>
		<operation name="SyncSalesOrder">
			<input message="oaws:SyncSalesOrder"/>
		</operation>
		<operation name="NotifySalesOrder">
			<input message="oaws:NotifySalesOrder"/>
		</operation>
	</portType>
	<portType name="ResponseSalesOrderPortType">
		<operation name="AcknowledgeSalesOrder">
			<input message="oaws:AcknowledgeSalesOrder"/>
		</operation>
		<operation name="ChangeAcknowledgeSalesOrder">
			<input message="oaws:ChangeAcknowledgeSalesOrder"/>
		</operation>
		<operation name="CancelAcknowledgeSalesOrder">
			<input message="oaws:CancelAcknowledgeSalesOrder"/>
		</operation>
		<operation name="ShowSalesOrder">
			<input message="oaws:ShowSalesOrder"/>
		</operation>
		<operation name="SyncResponseSalesOrder">
			<input message="oaws:SyncResponseSalesOrder"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncSalesOrderPortType">
		<operation name="ProcessSalesOrder">
			<input message="oaws:ProcessSalesOrder"/>
			<output message="oaws:AcknowledgeSalesOrder"/>
		</operation>
		<operation name="ChangeSalesOrder">
			<input message="oaws:ChangeSalesOrder"/>
			<output message="oaws:ChangeAcknowledgeSalesOrder"/>
		</operation>
		<operation name="CancelSalesOrder">
			<input message="oaws:CancelSalesOrder"/>
			<output message="oaws:CancelAcknowledgeSalesOrder"/>
		</operation>
		<operation name="GetSalesOrder">
			<input message="oaws:GetSalesOrder"/>
			<output message="oaws:ShowSalesOrder"/>
		</operation>
		<operation name="SyncSalesOrder">
			<input message="oaws:SyncSalesOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifySalesOrder">
			<input message="oaws:NotifySalesOrder"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestSalesOrderBinding" type="oaws:RequestSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifySalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSalesOrderBinding" type="oaws:ResponseSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncSalesOrderBinding" type="oaws:SyncSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncSalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifySalesOrder">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesOrder.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestSalesOrderService">
		<port name="RequestSalesOrderBinding" binding="oaws:RequestSalesOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestSalesOrder"/>
		</port>
	</service>
	<service name="ResponseSalesOrderService">
		<port name="ResponseSalesOrderBinding" binding="oaws:ResponseSalesOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseSalesOrder"/>
		</port>
	</service>
	<service name="SyncSalesOrderService">
		<port name="SyncSalesOrderBinding" binding="oaws:SyncSalesOrderBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncSalesOrder"/>
		</port>
	</service>
</definitions>
