data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SalesLead.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SalesLead.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseSalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifySalesLead.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelSalesLead">
		<part name="Message" element="oa:CancelSalesLead"/>
	</message>
	<message name="CancelAcknowledgeSalesLead">
		<part name="Message" element="oa:CancelAcknowledgeSalesLead"/>
	</message>
	<message name="ChangeSalesLead">
		<part name="Message" element="oa:ChangeSalesLead"/>
	</message>
	<message name="ChangeAcknowledgeSalesLead">
		<part name="Message" element="oa:ChangeAcknowledgeSalesLead"/>
	</message>
	<message name="GetSalesLead">
		<part name="Message" element="oa:GetSalesLead"/>
	</message>
	<message name="ShowSalesLead">
		<part name="Message" element="oa:ShowSalesLead"/>
	</message>
	<message name="ProcessSalesLead">
		<part name="Message" element="oa:ProcessSalesLead"/>
	</message>
	<message name="AcknowledgeSalesLead">
		<part name="Message" element="oa:AcknowledgeSalesLead"/>
	</message>
	<message name="SyncSalesLead">
		<part name="Message" element="oa:SyncSalesLead"/>
	</message>
	<message name="SyncResponseSalesLead">
		<part name="Message" element="oa:SyncResponseSalesLead"/>
	</message>
	<message name="NotifySalesLead">
		<part name="Message" element="oa:NotifySalesLead"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestSalesLeadPortType">
		<operation name="ProcessSalesLead">
			<input message="oaws:ProcessSalesLead"/>
		</operation>
		<operation name="ChangeSalesLead">
			<input message="oaws:ChangeSalesLead"/>
		</operation>
		<operation name="CancelSalesLead">
			<input message="oaws:CancelSalesLead"/>
		</operation>
		<operation name="GetSalesLead">
			<input message="oaws:GetSalesLead"/>
		</operation>
		<operation name="SyncSalesLead">
			<input message="oaws:SyncSalesLead"/>
		</operation>
		<operation name="NotifySalesLead">
			<input message="oaws:NotifySalesLead"/>
		</operation>
	</portType>
	<portType name="ResponseSalesLeadPortType">
		<operation name="AcknowledgeSalesLead">
			<input message="oaws:AcknowledgeSalesLead"/>
		</operation>
		<operation name="ChangeAcknowledgeSalesLead">
			<input message="oaws:ChangeAcknowledgeSalesLead"/>
		</operation>
		<operation name="CancelAcknowledgeSalesLead">
			<input message="oaws:CancelAcknowledgeSalesLead"/>
		</operation>
		<operation name="ShowSalesLead">
			<input message="oaws:ShowSalesLead"/>
		</operation>
		<operation name="SyncResponseSalesLead">
			<input message="oaws:SyncResponseSalesLead"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncSalesLeadPortType">
		<operation name="ProcessSalesLead">
			<input message="oaws:ProcessSalesLead"/>
			<output message="oaws:AcknowledgeSalesLead"/>
		</operation>
		<operation name="ChangeSalesLead">
			<input message="oaws:ChangeSalesLead"/>
			<output message="oaws:ChangeAcknowledgeSalesLead"/>
		</operation>
		<operation name="CancelSalesLead">
			<input message="oaws:CancelSalesLead"/>
			<output message="oaws:CancelAcknowledgeSalesLead"/>
		</operation>
		<operation name="GetSalesLead">
			<input message="oaws:GetSalesLead"/>
			<output message="oaws:ShowSalesLead"/>
		</operation>
		<operation name="SyncSalesLead">
			<input message="oaws:SyncSalesLead"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifySalesLead">
			<input message="oaws:NotifySalesLead"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestSalesLeadBinding" type="oaws:RequestSalesLeadPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifySalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSalesLeadBinding" type="oaws:ResponseSalesLeadPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncSalesLeadBinding" type="oaws:SyncSalesLeadPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncSalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifySalesLead">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SalesLead.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestSalesLeadService">
		<port name="RequestSalesLeadBinding" binding="oaws:RequestSalesLeadBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestSalesLead"/>
		</port>
	</service>
	<service name="ResponseSalesLeadService">
		<port name="ResponseSalesLeadBinding" binding="oaws:ResponseSalesLeadBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseSalesLead"/>
		</port>
	</service>
	<service name="SyncSalesLeadService">
		<port name="SyncSalesLeadBinding" binding="oaws:SyncSalesLeadBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncSalesLead"/>
		</port>
	</service>
</definitions>
