data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SequenceSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SequenceSchedule.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseSequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifySequenceSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelSequenceSchedule">
		<part name="Message" element="oa:CancelSequenceSchedule"/>
	</message>
	<message name="CancelAcknowledgeSequenceSchedule">
		<part name="Message" element="oa:CancelAcknowledgeSequenceSchedule"/>
	</message>
	<message name="ChangeSequenceSchedule">
		<part name="Message" element="oa:ChangeSequenceSchedule"/>
	</message>
	<message name="ChangeAcknowledgeSequenceSchedule">
		<part name="Message" element="oa:ChangeAcknowledgeSequenceSchedule"/>
	</message>
	<message name="GetSequenceSchedule">
		<part name="Message" element="oa:GetSequenceSchedule"/>
	</message>
	<message name="ShowSequenceSchedule">
		<part name="Message" element="oa:ShowSequenceSchedule"/>
	</message>
	<message name="ProcessSequenceSchedule">
		<part name="Message" element="oa:ProcessSequenceSchedule"/>
	</message>
	<message name="AcknowledgeSequenceSchedule">
		<part name="Message" element="oa:AcknowledgeSequenceSchedule"/>
	</message>
	<message name="SyncSequenceSchedule">
		<part name="Message" element="oa:SyncSequenceSchedule"/>
	</message>
	<message name="SyncResponseSequenceSchedule">
		<part name="Message" element="oa:SyncResponseSequenceSchedule"/>
	</message>
	<message name="NotifySequenceSchedule">
		<part name="Message" element="oa:NotifySequenceSchedule"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestSequenceSchedulePortType">
		<operation name="ProcessSequenceSchedule">
			<input message="oaws:ProcessSequenceSchedule"/>
		</operation>
		<operation name="ChangeSequenceSchedule">
			<input message="oaws:ChangeSequenceSchedule"/>
		</operation>
		<operation name="CancelSequenceSchedule">
			<input message="oaws:CancelSequenceSchedule"/>
		</operation>
		<operation name="GetSequenceSchedule">
			<input message="oaws:GetSequenceSchedule"/>
		</operation>
		<operation name="SyncSequenceSchedule">
			<input message="oaws:SyncSequenceSchedule"/>
		</operation>
		<operation name="NotifySequenceSchedule">
			<input message="oaws:NotifySequenceSchedule"/>
		</operation>
	</portType>
	<portType name="ResponseSequenceSchedulePortType">
		<operation name="AcknowledgeSequenceSchedule">
			<input message="oaws:AcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="ChangeAcknowledgeSequenceSchedule">
			<input message="oaws:ChangeAcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="CancelAcknowledgeSequenceSchedule">
			<input message="oaws:CancelAcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="ShowSequenceSchedule">
			<input message="oaws:ShowSequenceSchedule"/>
		</operation>
		<operation name="SyncResponseSequenceSchedule">
			<input message="oaws:SyncResponseSequenceSchedule"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncSequenceSchedulePortType">
		<operation name="ProcessSequenceSchedule">
			<input message="oaws:ProcessSequenceSchedule"/>
			<output message="oaws:AcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="ChangeSequenceSchedule">
			<input message="oaws:ChangeSequenceSchedule"/>
			<output message="oaws:ChangeAcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="CancelSequenceSchedule">
			<input message="oaws:CancelSequenceSchedule"/>
			<output message="oaws:CancelAcknowledgeSequenceSchedule"/>
		</operation>
		<operation name="GetSequenceSchedule">
			<input message="oaws:GetSequenceSchedule"/>
			<output message="oaws:ShowSequenceSchedule"/>
		</operation>
		<operation name="SyncSequenceSchedule">
			<input message="oaws:SyncSequenceSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifySequenceSchedule">
			<input message="oaws:NotifySequenceSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestSequenceScheduleBinding" type="oaws:RequestSequenceSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifySequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSequenceScheduleBinding" type="oaws:ResponseSequenceSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncSequenceScheduleBinding" type="oaws:SyncSequenceSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncSequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifySequenceSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestSequenceScheduleService">
		<port name="RequestSequenceScheduleBinding" binding="oaws:RequestSequenceScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestSequenceSchedule"/>
		</port>
	</service>
	<service name="ResponseSequenceScheduleService">
		<port name="ResponseSequenceScheduleBinding" binding="oaws:ResponseSequenceScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseSequenceSchedule"/>
		</port>
	</service>
	<service name="SyncSequenceScheduleService">
		<port name="SyncSequenceScheduleBinding" binding="oaws:SyncSequenceScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncSequenceSchedule"/>
		</port>
	</service>
</definitions>
