data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ShipmentSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/ShipmentSchedule.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyShipmentSchedule.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelShipmentSchedule">
		<part name="Message" element="oa:CancelShipmentSchedule"/>
	</message>
	<message name="CancelAcknowledgeShipmentSchedule">
		<part name="Message" element="oa:CancelAcknowledgeShipmentSchedule"/>
	</message>
	<message name="ChangeShipmentSchedule">
		<part name="Message" element="oa:ChangeShipmentSchedule"/>
	</message>
	<message name="ChangeAcknowledgeShipmentSchedule">
		<part name="Message" element="oa:ChangeAcknowledgeShipmentSchedule"/>
	</message>
	<message name="GetShipmentSchedule">
		<part name="Message" element="oa:GetShipmentSchedule"/>
	</message>
	<message name="ShowShipmentSchedule">
		<part name="Message" element="oa:ShowShipmentSchedule"/>
	</message>
	<message name="ProcessShipmentSchedule">
		<part name="Message" element="oa:ProcessShipmentSchedule"/>
	</message>
	<message name="AcknowledgeShipmentSchedule">
		<part name="Message" element="oa:AcknowledgeShipmentSchedule"/>
	</message>
	<message name="SyncShipmentSchedule">
		<part name="Message" element="oa:SyncShipmentSchedule"/>
	</message>
	<message name="SyncResponseShipmentSchedule">
		<part name="Message" element="oa:SyncResponseShipmentSchedule"/>
	</message>
	<message name="NotifyShipmentSchedule">
		<part name="Message" element="oa:NotifyShipmentSchedule"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestShipmentSchedulePortType">
		<operation name="ProcessShipmentSchedule">
			<input message="oaws:ProcessShipmentSchedule"/>
		</operation>
		<operation name="ChangeShipmentSchedule">
			<input message="oaws:ChangeShipmentSchedule"/>
		</operation>
		<operation name="CancelShipmentSchedule">
			<input message="oaws:CancelShipmentSchedule"/>
		</operation>
		<operation name="GetShipmentSchedule">
			<input message="oaws:GetShipmentSchedule"/>
		</operation>
		<operation name="SyncShipmentSchedule">
			<input message="oaws:SyncShipmentSchedule"/>
		</operation>
		<operation name="NotifyShipmentSchedule">
			<input message="oaws:NotifyShipmentSchedule"/>
		</operation>
	</portType>
	<portType name="ResponseShipmentSchedulePortType">
		<operation name="AcknowledgeShipmentSchedule">
			<input message="oaws:AcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="ChangeAcknowledgeShipmentSchedule">
			<input message="oaws:ChangeAcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="CancelAcknowledgeShipmentSchedule">
			<input message="oaws:CancelAcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="ShowShipmentSchedule">
			<input message="oaws:ShowShipmentSchedule"/>
		</operation>
		<operation name="SyncResponseShipmentSchedule">
			<input message="oaws:SyncResponseShipmentSchedule"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncShipmentSchedulePortType">
		<operation name="ProcessShipmentSchedule">
			<input message="oaws:ProcessShipmentSchedule"/>
			<output message="oaws:AcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="ChangeShipmentSchedule">
			<input message="oaws:ChangeShipmentSchedule"/>
			<output message="oaws:ChangeAcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="CancelShipmentSchedule">
			<input message="oaws:CancelShipmentSchedule"/>
			<output message="oaws:CancelAcknowledgeShipmentSchedule"/>
		</operation>
		<operation name="GetShipmentSchedule">
			<input message="oaws:GetShipmentSchedule"/>
			<output message="oaws:ShowShipmentSchedule"/>
		</operation>
		<operation name="SyncShipmentSchedule">
			<input message="oaws:SyncShipmentSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyShipmentSchedule">
			<input message="oaws:NotifyShipmentSchedule"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestShipmentScheduleBinding" type="oaws:RequestShipmentSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseShipmentScheduleBinding" type="oaws:ResponseShipmentSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncShipmentScheduleBinding" type="oaws:SyncShipmentSchedulePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyShipmentSchedule">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/ShipmentSchedule.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestShipmentScheduleService">
		<port name="RequestShipmentScheduleBinding" binding="oaws:RequestShipmentScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestShipmentSchedule"/>
		</port>
	</service>
	<service name="ResponseShipmentScheduleService">
		<port name="ResponseShipmentScheduleBinding" binding="oaws:ResponseShipmentScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseShipmentSchedule"/>
		</port>
	</service>
	<service name="SyncShipmentScheduleService">
		<port name="SyncShipmentScheduleBinding" binding="oaws:SyncShipmentScheduleBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncShipmentSchedule"/>
		</port>
	</service>
</definitions>
