data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Shipment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Shipment.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyShipment.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelShipment">
		<part name="Message" element="oa:CancelShipment"/>
	</message>
	<message name="CancelAcknowledgeShipment">
		<part name="Message" element="oa:CancelAcknowledgeShipment"/>
	</message>
	<message name="ChangeShipment">
		<part name="Message" element="oa:ChangeShipment"/>
	</message>
	<message name="ChangeAcknowledgeShipment">
		<part name="Message" element="oa:ChangeAcknowledgeShipment"/>
	</message>
	<message name="GetShipment">
		<part name="Message" element="oa:GetShipment"/>
	</message>
	<message name="ShowShipment">
		<part name="Message" element="oa:ShowShipment"/>
	</message>
	<message name="ProcessShipment">
		<part name="Message" element="oa:ProcessShipment"/>
	</message>
	<message name="AcknowledgeShipment">
		<part name="Message" element="oa:AcknowledgeShipment"/>
	</message>
	<message name="SyncShipment">
		<part name="Message" element="oa:SyncShipment"/>
	</message>
	<message name="SyncResponseShipment">
		<part name="Message" element="oa:SyncResponseShipment"/>
	</message>
	<message name="NotifyShipment">
		<part name="Message" element="oa:NotifyShipment"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestShipmentPortType">
		<operation name="ProcessShipment">
			<input message="oaws:ProcessShipment"/>
		</operation>
		<operation name="ChangeShipment">
			<input message="oaws:ChangeShipment"/>
		</operation>
		<operation name="CancelShipment">
			<input message="oaws:CancelShipment"/>
		</operation>
		<operation name="GetShipment">
			<input message="oaws:GetShipment"/>
		</operation>
		<operation name="SyncShipment">
			<input message="oaws:SyncShipment"/>
		</operation>
		<operation name="NotifyShipment">
			<input message="oaws:NotifyShipment"/>
		</operation>
	</portType>
	<portType name="ResponseShipmentPortType">
		<operation name="AcknowledgeShipment">
			<input message="oaws:AcknowledgeShipment"/>
		</operation>
		<operation name="ChangeAcknowledgeShipment">
			<input message="oaws:ChangeAcknowledgeShipment"/>
		</operation>
		<operation name="CancelAcknowledgeShipment">
			<input message="oaws:CancelAcknowledgeShipment"/>
		</operation>
		<operation name="ShowShipment">
			<input message="oaws:ShowShipment"/>
		</operation>
		<operation name="SyncResponseShipment">
			<input message="oaws:SyncResponseShipment"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncShipmentPortType">
		<operation name="ProcessShipment">
			<input message="oaws:ProcessShipment"/>
			<output message="oaws:AcknowledgeShipment"/>
		</operation>
		<operation name="ChangeShipment">
			<input message="oaws:ChangeShipment"/>
			<output message="oaws:ChangeAcknowledgeShipment"/>
		</operation>
		<operation name="CancelShipment">
			<input message="oaws:CancelShipment"/>
			<output message="oaws:CancelAcknowledgeShipment"/>
		</operation>
		<operation name="GetShipment">
			<input message="oaws:GetShipment"/>
			<output message="oaws:ShowShipment"/>
		</operation>
		<operation name="SyncShipment">
			<input message="oaws:SyncShipment"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyShipment">
			<input message="oaws:NotifyShipment"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestShipmentBinding" type="oaws:RequestShipmentPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseShipmentBinding" type="oaws:ResponseShipmentPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncShipmentBinding" type="oaws:SyncShipmentPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyShipment">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Shipment.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestShipmentService">
		<port name="RequestShipmentBinding" binding="oaws:RequestShipmentBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestShipment"/>
		</port>
	</service>
	<service name="ResponseShipmentService">
		<port name="ResponseShipmentBinding" binding="oaws:ResponseShipmentBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseShipment"/>
		</port>
	</service>
	<service name="SyncShipmentService">
		<port name="SyncShipmentBinding" binding="oaws:SyncShipmentBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncShipment"/>
		</port>
	</service>
</definitions>
