data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SplitWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SplitWIP.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseSplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifySplitWIP.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelSplitWIP">
		<part name="Message" element="oa:CancelSplitWIP"/>
	</message>
	<message name="CancelAcknowledgeSplitWIP">
		<part name="Message" element="oa:CancelAcknowledgeSplitWIP"/>
	</message>
	<message name="ChangeSplitWIP">
		<part name="Message" element="oa:ChangeSplitWIP"/>
	</message>
	<message name="ChangeAcknowledgeSplitWIP">
		<part name="Message" element="oa:ChangeAcknowledgeSplitWIP"/>
	</message>
	<message name="GetSplitWIP">
		<part name="Message" element="oa:GetSplitWIP"/>
	</message>
	<message name="ShowSplitWIP">
		<part name="Message" element="oa:ShowSplitWIP"/>
	</message>
	<message name="ProcessSplitWIP">
		<part name="Message" element="oa:ProcessSplitWIP"/>
	</message>
	<message name="AcknowledgeSplitWIP">
		<part name="Message" element="oa:AcknowledgeSplitWIP"/>
	</message>
	<message name="SyncSplitWIP">
		<part name="Message" element="oa:SyncSplitWIP"/>
	</message>
	<message name="SyncResponseSplitWIP">
		<part name="Message" element="oa:SyncResponseSplitWIP"/>
	</message>
	<message name="NotifySplitWIP">
		<part name="Message" element="oa:NotifySplitWIP"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestSplitWIPPortType">
		<operation name="ProcessSplitWIP">
			<input message="oaws:ProcessSplitWIP"/>
		</operation>
		<operation name="ChangeSplitWIP">
			<input message="oaws:ChangeSplitWIP"/>
		</operation>
		<operation name="CancelSplitWIP">
			<input message="oaws:CancelSplitWIP"/>
		</operation>
		<operation name="GetSplitWIP">
			<input message="oaws:GetSplitWIP"/>
		</operation>
		<operation name="SyncSplitWIP">
			<input message="oaws:SyncSplitWIP"/>
		</operation>
		<operation name="NotifySplitWIP">
			<input message="oaws:NotifySplitWIP"/>
		</operation>
	</portType>
	<portType name="ResponseSplitWIPPortType">
		<operation name="AcknowledgeSplitWIP">
			<input message="oaws:AcknowledgeSplitWIP"/>
		</operation>
		<operation name="ChangeAcknowledgeSplitWIP">
			<input message="oaws:ChangeAcknowledgeSplitWIP"/>
		</operation>
		<operation name="CancelAcknowledgeSplitWIP">
			<input message="oaws:CancelAcknowledgeSplitWIP"/>
		</operation>
		<operation name="ShowSplitWIP">
			<input message="oaws:ShowSplitWIP"/>
		</operation>
		<operation name="SyncResponseSplitWIP">
			<input message="oaws:SyncResponseSplitWIP"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncSplitWIPPortType">
		<operation name="ProcessSplitWIP">
			<input message="oaws:ProcessSplitWIP"/>
			<output message="oaws:AcknowledgeSplitWIP"/>
		</operation>
		<operation name="ChangeSplitWIP">
			<input message="oaws:ChangeSplitWIP"/>
			<output message="oaws:ChangeAcknowledgeSplitWIP"/>
		</operation>
		<operation name="CancelSplitWIP">
			<input message="oaws:CancelSplitWIP"/>
			<output message="oaws:CancelAcknowledgeSplitWIP"/>
		</operation>
		<operation name="GetSplitWIP">
			<input message="oaws:GetSplitWIP"/>
			<output message="oaws:ShowSplitWIP"/>
		</operation>
		<operation name="SyncSplitWIP">
			<input message="oaws:SyncSplitWIP"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifySplitWIP">
			<input message="oaws:NotifySplitWIP"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestSplitWIPBinding" type="oaws:RequestSplitWIPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifySplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSplitWIPBinding" type="oaws:ResponseSplitWIPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncSplitWIPBinding" type="oaws:SyncSplitWIPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncSplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifySplitWIP">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SplitWIP.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestSplitWIPService">
		<port name="RequestSplitWIPBinding" binding="oaws:RequestSplitWIPBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestSplitWIP"/>
		</port>
	</service>
	<service name="ResponseSplitWIPService">
		<port name="ResponseSplitWIPBinding" binding="oaws:ResponseSplitWIPBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseSplitWIP"/>
		</port>
	</service>
	<service name="SyncSplitWIPService">
		<port name="SyncSplitWIPBinding" binding="oaws:SyncSplitWIPBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncSplitWIP"/>
		</port>
	</service>
</definitions>
