data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SupplierPartyMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/SupplierPartyMaster.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseSupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifySupplierPartyMaster.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelSupplierPartyMaster">
		<part name="Message" element="oa:CancelSupplierPartyMaster"/>
	</message>
	<message name="CancelAcknowledgeSupplierPartyMaster">
		<part name="Message" element="oa:CancelAcknowledgeSupplierPartyMaster"/>
	</message>
	<message name="ChangeSupplierPartyMaster">
		<part name="Message" element="oa:ChangeSupplierPartyMaster"/>
	</message>
	<message name="ChangeAcknowledgeSupplierPartyMaster">
		<part name="Message" element="oa:ChangeAcknowledgeSupplierPartyMaster"/>
	</message>
	<message name="GetSupplierPartyMaster">
		<part name="Message" element="oa:GetSupplierPartyMaster"/>
	</message>
	<message name="ShowSupplierPartyMaster">
		<part name="Message" element="oa:ShowSupplierPartyMaster"/>
	</message>
	<message name="ProcessSupplierPartyMaster">
		<part name="Message" element="oa:ProcessSupplierPartyMaster"/>
	</message>
	<message name="AcknowledgeSupplierPartyMaster">
		<part name="Message" element="oa:AcknowledgeSupplierPartyMaster"/>
	</message>
	<message name="SyncSupplierPartyMaster">
		<part name="Message" element="oa:SyncSupplierPartyMaster"/>
	</message>
	<message name="SyncResponseSupplierPartyMaster">
		<part name="Message" element="oa:SyncResponseSupplierPartyMaster"/>
	</message>
	<message name="NotifySupplierPartyMaster">
		<part name="Message" element="oa:NotifySupplierPartyMaster"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestSupplierPartyMasterPortType">
		<operation name="ProcessSupplierPartyMaster">
			<input message="oaws:ProcessSupplierPartyMaster"/>
		</operation>
		<operation name="ChangeSupplierPartyMaster">
			<input message="oaws:ChangeSupplierPartyMaster"/>
		</operation>
		<operation name="CancelSupplierPartyMaster">
			<input message="oaws:CancelSupplierPartyMaster"/>
		</operation>
		<operation name="GetSupplierPartyMaster">
			<input message="oaws:GetSupplierPartyMaster"/>
		</operation>
		<operation name="SyncSupplierPartyMaster">
			<input message="oaws:SyncSupplierPartyMaster"/>
		</operation>
		<operation name="NotifySupplierPartyMaster">
			<input message="oaws:NotifySupplierPartyMaster"/>
		</operation>
	</portType>
	<portType name="ResponseSupplierPartyMasterPortType">
		<operation name="AcknowledgeSupplierPartyMaster">
			<input message="oaws:AcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="ChangeAcknowledgeSupplierPartyMaster">
			<input message="oaws:ChangeAcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="CancelAcknowledgeSupplierPartyMaster">
			<input message="oaws:CancelAcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="ShowSupplierPartyMaster">
			<input message="oaws:ShowSupplierPartyMaster"/>
		</operation>
		<operation name="SyncResponseSupplierPartyMaster">
			<input message="oaws:SyncResponseSupplierPartyMaster"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncSupplierPartyMasterPortType">
		<operation name="ProcessSupplierPartyMaster">
			<input message="oaws:ProcessSupplierPartyMaster"/>
			<output message="oaws:AcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="ChangeSupplierPartyMaster">
			<input message="oaws:ChangeSupplierPartyMaster"/>
			<output message="oaws:ChangeAcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="CancelSupplierPartyMaster">
			<input message="oaws:CancelSupplierPartyMaster"/>
			<output message="oaws:CancelAcknowledgeSupplierPartyMaster"/>
		</operation>
		<operation name="GetSupplierPartyMaster">
			<input message="oaws:GetSupplierPartyMaster"/>
			<output message="oaws:ShowSupplierPartyMaster"/>
		</operation>
		<operation name="SyncSupplierPartyMaster">
			<input message="oaws:SyncSupplierPartyMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifySupplierPartyMaster">
			<input message="oaws:NotifySupplierPartyMaster"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestSupplierPartyMasterBinding" type="oaws:RequestSupplierPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifySupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSupplierPartyMasterBinding" type="oaws:ResponseSupplierPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncSupplierPartyMasterBinding" type="oaws:SyncSupplierPartyMasterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncSupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifySupplierPartyMaster">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/SupplierPartyMaster.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestSupplierPartyMasterService">
		<port name="RequestSupplierPartyMasterBinding" binding="oaws:RequestSupplierPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestSupplierPartyMaster"/>
		</port>
	</service>
	<service name="ResponseSupplierPartyMasterService">
		<port name="ResponseSupplierPartyMasterBinding" binding="oaws:ResponseSupplierPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseSupplierPartyMaster"/>
		</port>
	</service>
	<service name="SyncSupplierPartyMasterService">
		<port name="SyncSupplierPartyMasterBinding" binding="oaws:SyncSupplierPartyMasterBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncSupplierPartyMaster"/>
		</port>
	</service>
</definitions>
