data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Table.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/Table.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/AcknowledgeTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelAcknowledgeTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeAcknowledgeTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/GetTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ShowTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ProcessTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncResponseTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/NotifyTable.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelTable">
		<part name="Message" element="oa:CancelTable"/>
	</message>
	<message name="CancelAcknowledgeTable">
		<part name="Message" element="oa:CancelAcknowledgeTable"/>
	</message>
	<message name="ChangeTable">
		<part name="Message" element="oa:ChangeTable"/>
	</message>
	<message name="ChangeAcknowledgeTable">
		<part name="Message" element="oa:ChangeAcknowledgeTable"/>
	</message>
	<message name="GetTable">
		<part name="Message" element="oa:GetTable"/>
	</message>
	<message name="ShowTable">
		<part name="Message" element="oa:ShowTable"/>
	</message>
	<message name="ProcessTable">
		<part name="Message" element="oa:ProcessTable"/>
	</message>
	<message name="AcknowledgeTable">
		<part name="Message" element="oa:AcknowledgeTable"/>
	</message>
	<message name="SyncTable">
		<part name="Message" element="oa:SyncTable"/>
	</message>
	<message name="SyncResponseTable">
		<part name="Message" element="oa:SyncResponseTable"/>
	</message>
	<message name="NotifyTable">
		<part name="Message" element="oa:NotifyTable"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestTablePortType">
		<operation name="ProcessTable">
			<input message="oaws:ProcessTable"/>
		</operation>
		<operation name="ChangeTable">
			<input message="oaws:ChangeTable"/>
		</operation>
		<operation name="CancelTable">
			<input message="oaws:CancelTable"/>
		</operation>
		<operation name="GetTable">
			<input message="oaws:GetTable"/>
		</operation>
		<operation name="SyncTable">
			<input message="oaws:SyncTable"/>
		</operation>
		<operation name="NotifyTable">
			<input message="oaws:NotifyTable"/>
		</operation>
	</portType>
	<portType name="ResponseTablePortType">
		<operation name="AcknowledgeTable">
			<input message="oaws:AcknowledgeTable"/>
		</operation>
		<operation name="ChangeAcknowledgeTable">
			<input message="oaws:ChangeAcknowledgeTable"/>
		</operation>
		<operation name="CancelAcknowledgeTable">
			<input message="oaws:CancelAcknowledgeTable"/>
		</operation>
		<operation name="ShowTable">
			<input message="oaws:ShowTable"/>
		</operation>
		<operation name="SyncResponseTable">
			<input message="oaws:SyncResponseTable"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncTablePortType">
		<operation name="ProcessTable">
			<input message="oaws:ProcessTable"/>
			<output message="oaws:AcknowledgeTable"/>
		</operation>
		<operation name="ChangeTable">
			<input message="oaws:ChangeTable"/>
			<output message="oaws:ChangeAcknowledgeTable"/>
		</operation>
		<operation name="CancelTable">
			<input message="oaws:CancelTable"/>
			<output message="oaws:CancelAcknowledgeTable"/>
		</operation>
		<operation name="GetTable">
			<input message="oaws:GetTable"/>
			<output message="oaws:ShowTable"/>
		</operation>
		<operation name="SyncTable">
			<input message="oaws:SyncTable"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyTable">
			<input message="oaws:NotifyTable"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestTableBinding" type="oaws:RequestTablePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseTableBinding" type="oaws:ResponseTablePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncTableBinding" type="oaws:SyncTablePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyTable">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/Table.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestTableService">
		<port name="RequestTableBinding" binding="oaws:RequestTableBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestTable"/>
		</port>
	</service>
	<service name="ResponseTableService">
		<port name="ResponseTableBinding" binding="oaws:ResponseTableBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseTable"/>
		</port>
	</service>
	<service name="SyncTableService">
		<port name="SyncTableBinding" binding="oaws:SyncTableBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncTable"/>
		</port>
	</service>
</definitions>
