data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/TestResults.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/TestResults.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyTestResults.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelTestResults">
		<part name="Message" element="oa:CancelTestResults"/>
	</message>
	<message name="CancelAcknowledgeTestResults">
		<part name="Message" element="oa:CancelAcknowledgeTestResults"/>
	</message>
	<message name="ChangeTestResults">
		<part name="Message" element="oa:ChangeTestResults"/>
	</message>
	<message name="ChangeAcknowledgeTestResults">
		<part name="Message" element="oa:ChangeAcknowledgeTestResults"/>
	</message>
	<message name="GetTestResults">
		<part name="Message" element="oa:GetTestResults"/>
	</message>
	<message name="ShowTestResults">
		<part name="Message" element="oa:ShowTestResults"/>
	</message>
	<message name="ProcessTestResults">
		<part name="Message" element="oa:ProcessTestResults"/>
	</message>
	<message name="AcknowledgeTestResults">
		<part name="Message" element="oa:AcknowledgeTestResults"/>
	</message>
	<message name="SyncTestResults">
		<part name="Message" element="oa:SyncTestResults"/>
	</message>
	<message name="SyncResponseTestResults">
		<part name="Message" element="oa:SyncResponseTestResults"/>
	</message>
	<message name="NotifyTestResults">
		<part name="Message" element="oa:NotifyTestResults"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestTestResultsPortType">
		<operation name="ProcessTestResults">
			<input message="oaws:ProcessTestResults"/>
		</operation>
		<operation name="ChangeTestResults">
			<input message="oaws:ChangeTestResults"/>
		</operation>
		<operation name="CancelTestResults">
			<input message="oaws:CancelTestResults"/>
		</operation>
		<operation name="GetTestResults">
			<input message="oaws:GetTestResults"/>
		</operation>
		<operation name="SyncTestResults">
			<input message="oaws:SyncTestResults"/>
		</operation>
		<operation name="NotifyTestResults">
			<input message="oaws:NotifyTestResults"/>
		</operation>
	</portType>
	<portType name="ResponseTestResultsPortType">
		<operation name="AcknowledgeTestResults">
			<input message="oaws:AcknowledgeTestResults"/>
		</operation>
		<operation name="ChangeAcknowledgeTestResults">
			<input message="oaws:ChangeAcknowledgeTestResults"/>
		</operation>
		<operation name="CancelAcknowledgeTestResults">
			<input message="oaws:CancelAcknowledgeTestResults"/>
		</operation>
		<operation name="ShowTestResults">
			<input message="oaws:ShowTestResults"/>
		</operation>
		<operation name="SyncResponseTestResults">
			<input message="oaws:SyncResponseTestResults"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncTestResultsPortType">
		<operation name="ProcessTestResults">
			<input message="oaws:ProcessTestResults"/>
			<output message="oaws:AcknowledgeTestResults"/>
		</operation>
		<operation name="ChangeTestResults">
			<input message="oaws:ChangeTestResults"/>
			<output message="oaws:ChangeAcknowledgeTestResults"/>
		</operation>
		<operation name="CancelTestResults">
			<input message="oaws:CancelTestResults"/>
			<output message="oaws:CancelAcknowledgeTestResults"/>
		</operation>
		<operation name="GetTestResults">
			<input message="oaws:GetTestResults"/>
			<output message="oaws:ShowTestResults"/>
		</operation>
		<operation name="SyncTestResults">
			<input message="oaws:SyncTestResults"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyTestResults">
			<input message="oaws:NotifyTestResults"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestTestResultsBinding" type="oaws:RequestTestResultsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseTestResultsBinding" type="oaws:ResponseTestResultsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncTestResultsBinding" type="oaws:SyncTestResultsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyTestResults">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/TestResults.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestTestResultsService">
		<port name="RequestTestResultsBinding" binding="oaws:RequestTestResultsBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestTestResults"/>
		</port>
	</service>
	<service name="ResponseTestResultsService">
		<port name="ResponseTestResultsBinding" binding="oaws:ResponseTestResultsBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseTestResults"/>
		</port>
	</service>
	<service name="SyncTestResultsService">
		<port name="SyncTestResultsBinding" binding="oaws:SyncTestResultsBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncTestResults"/>
		</port>
	</service>
</definitions>
