data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/UOMGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/UOMGroup.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/AcknowledgeUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/CancelAcknowledgeUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ChangeAcknowledgeUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/GetUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ShowUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ProcessUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/SyncResponseUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/NotifyUOMGroup.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelUOMGroup">
		<part name="Message" element="oa:CancelUOMGroup"/>
	</message>
	<message name="CancelAcknowledgeUOMGroup">
		<part name="Message" element="oa:CancelAcknowledgeUOMGroup"/>
	</message>
	<message name="ChangeUOMGroup">
		<part name="Message" element="oa:ChangeUOMGroup"/>
	</message>
	<message name="ChangeAcknowledgeUOMGroup">
		<part name="Message" element="oa:ChangeAcknowledgeUOMGroup"/>
	</message>
	<message name="GetUOMGroup">
		<part name="Message" element="oa:GetUOMGroup"/>
	</message>
	<message name="ShowUOMGroup">
		<part name="Message" element="oa:ShowUOMGroup"/>
	</message>
	<message name="ProcessUOMGroup">
		<part name="Message" element="oa:ProcessUOMGroup"/>
	</message>
	<message name="AcknowledgeUOMGroup">
		<part name="Message" element="oa:AcknowledgeUOMGroup"/>
	</message>
	<message name="SyncUOMGroup">
		<part name="Message" element="oa:SyncUOMGroup"/>
	</message>
	<message name="SyncResponseUOMGroup">
		<part name="Message" element="oa:SyncResponseUOMGroup"/>
	</message>
	<message name="NotifyUOMGroup">
		<part name="Message" element="oa:NotifyUOMGroup"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestUOMGroupPortType">
		<operation name="ProcessUOMGroup">
			<input message="oaws:ProcessUOMGroup"/>
		</operation>
		<operation name="ChangeUOMGroup">
			<input message="oaws:ChangeUOMGroup"/>
		</operation>
		<operation name="CancelUOMGroup">
			<input message="oaws:CancelUOMGroup"/>
		</operation>
		<operation name="GetUOMGroup">
			<input message="oaws:GetUOMGroup"/>
		</operation>
		<operation name="SyncUOMGroup">
			<input message="oaws:SyncUOMGroup"/>
		</operation>
		<operation name="NotifyUOMGroup">
			<input message="oaws:NotifyUOMGroup"/>
		</operation>
	</portType>
	<portType name="ResponseUOMGroupPortType">
		<operation name="AcknowledgeUOMGroup">
			<input message="oaws:AcknowledgeUOMGroup"/>
		</operation>
		<operation name="ChangeAcknowledgeUOMGroup">
			<input message="oaws:ChangeAcknowledgeUOMGroup"/>
		</operation>
		<operation name="CancelAcknowledgeUOMGroup">
			<input message="oaws:CancelAcknowledgeUOMGroup"/>
		</operation>
		<operation name="ShowUOMGroup">
			<input message="oaws:ShowUOMGroup"/>
		</operation>
		<operation name="SyncResponseUOMGroup">
			<input message="oaws:SyncResponseUOMGroup"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncUOMGroupPortType">
		<operation name="ProcessUOMGroup">
			<input message="oaws:ProcessUOMGroup"/>
			<output message="oaws:AcknowledgeUOMGroup"/>
		</operation>
		<operation name="ChangeUOMGroup">
			<input message="oaws:ChangeUOMGroup"/>
			<output message="oaws:ChangeAcknowledgeUOMGroup"/>
		</operation>
		<operation name="CancelUOMGroup">
			<input message="oaws:CancelUOMGroup"/>
			<output message="oaws:CancelAcknowledgeUOMGroup"/>
		</operation>
		<operation name="GetUOMGroup">
			<input message="oaws:GetUOMGroup"/>
			<output message="oaws:ShowUOMGroup"/>
		</operation>
		<operation name="SyncUOMGroup">
			<input message="oaws:SyncUOMGroup"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyUOMGroup">
			<input message="oaws:NotifyUOMGroup"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestUOMGroupBinding" type="oaws:RequestUOMGroupPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseUOMGroupBinding" type="oaws:ResponseUOMGroupPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncUOMGroupBinding" type="oaws:SyncUOMGroupPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyUOMGroup">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/UOMGroup.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestUOMGroupService">
		<port name="RequestUOMGroupBinding" binding="oaws:RequestUOMGroupBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestUOMGroup"/>
		</port>
	</service>
	<service name="ResponseUOMGroupService">
		<port name="ResponseUOMGroupBinding" binding="oaws:ResponseUOMGroupBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseUOMGroup"/>
		</port>
	</service>
	<service name="SyncUOMGroupService">
		<port name="SyncUOMGroupBinding" binding="oaws:SyncUOMGroupBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncUOMGroup"/>
		</port>
	</service>
</definitions>
