data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/WIPStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Schema agency: 	Open Applications Group 

   OAGIS® Revision:  10_4  
   Date:               		05 Jan 2018 
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
   OAGIS Example WSDL to be used with OAGIS release 
    
   For more information about the Open Applications Group please see 
   www.openapplicaitons.org
     
    
   WSDL Example
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Services/WebServices/WSDL/WIPStatus.wsdl
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/10" xmlns:oaws="http://www.openapplications.org/oagis/10/ws" targetNamespace="http://www.openapplications.org/oagis/10/ws">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10/ws">
			<xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/10">
			<xs:include schemaLocation="../../../Model/BODs/AcknowledgeWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/CancelAcknowledgeWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ChangeAcknowledgeWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/GetWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ShowWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/ProcessWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/SyncResponseWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/BODs/NotifyWIPStatus.xsd"/>
			<xs:include schemaLocation="../../../Model/Platform/2_4/BODs/ConfirmBOD.xsd"/>
		</xs:schema>
	</types>
	<message name="CancelWIPStatus">
		<part name="Message" element="oa:CancelWIPStatus"/>
	</message>
	<message name="CancelAcknowledgeWIPStatus">
		<part name="Message" element="oa:CancelAcknowledgeWIPStatus"/>
	</message>
	<message name="ChangeWIPStatus">
		<part name="Message" element="oa:ChangeWIPStatus"/>
	</message>
	<message name="ChangeAcknowledgeWIPStatus">
		<part name="Message" element="oa:ChangeAcknowledgeWIPStatus"/>
	</message>
	<message name="GetWIPStatus">
		<part name="Message" element="oa:GetWIPStatus"/>
	</message>
	<message name="ShowWIPStatus">
		<part name="Message" element="oa:ShowWIPStatus"/>
	</message>
	<message name="ProcessWIPStatus">
		<part name="Message" element="oa:ProcessWIPStatus"/>
	</message>
	<message name="AcknowledgeWIPStatus">
		<part name="Message" element="oa:AcknowledgeWIPStatus"/>
	</message>
	<message name="SyncWIPStatus">
		<part name="Message" element="oa:SyncWIPStatus"/>
	</message>
	<message name="SyncResponseWIPStatus">
		<part name="Message" element="oa:SyncResponseWIPStatus"/>
	</message>
	<message name="NotifyWIPStatus">
		<part name="Message" element="oa:NotifyWIPStatus"/>
	</message>
	<message name="ConfirmBOD">
		<part name="Message" element="oa:ConfirmBOD"/>
	</message>
	<message name="MessageResponse">
		<part name="Message" element="oaws:MessageResponse"/>
	</message>
	<portType name="RequestWIPStatusPortType">
		<operation name="ProcessWIPStatus">
			<input message="oaws:ProcessWIPStatus"/>
		</operation>
		<operation name="ChangeWIPStatus">
			<input message="oaws:ChangeWIPStatus"/>
		</operation>
		<operation name="CancelWIPStatus">
			<input message="oaws:CancelWIPStatus"/>
		</operation>
		<operation name="GetWIPStatus">
			<input message="oaws:GetWIPStatus"/>
		</operation>
		<operation name="SyncWIPStatus">
			<input message="oaws:SyncWIPStatus"/>
		</operation>
		<operation name="NotifyWIPStatus">
			<input message="oaws:NotifyWIPStatus"/>
		</operation>
	</portType>
	<portType name="ResponseWIPStatusPortType">
		<operation name="AcknowledgeWIPStatus">
			<input message="oaws:AcknowledgeWIPStatus"/>
		</operation>
		<operation name="ChangeAcknowledgeWIPStatus">
			<input message="oaws:ChangeAcknowledgeWIPStatus"/>
		</operation>
		<operation name="CancelAcknowledgeWIPStatus">
			<input message="oaws:CancelAcknowledgeWIPStatus"/>
		</operation>
		<operation name="ShowWIPStatus">
			<input message="oaws:ShowWIPStatus"/>
		</operation>
		<operation name="SyncResponseWIPStatus">
			<input message="oaws:SyncResponseWIPStatus"/>
		</operation>
		<operation name="ConfirmBOD">
			<input message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<portType name="SyncWIPStatusPortType">
		<operation name="ProcessWIPStatus">
			<input message="oaws:ProcessWIPStatus"/>
			<output message="oaws:AcknowledgeWIPStatus"/>
		</operation>
		<operation name="ChangeWIPStatus">
			<input message="oaws:ChangeWIPStatus"/>
			<output message="oaws:ChangeAcknowledgeWIPStatus"/>
		</operation>
		<operation name="CancelWIPStatus">
			<input message="oaws:CancelWIPStatus"/>
			<output message="oaws:CancelAcknowledgeWIPStatus"/>
		</operation>
		<operation name="GetWIPStatus">
			<input message="oaws:GetWIPStatus"/>
			<output message="oaws:ShowWIPStatus"/>
		</operation>
		<operation name="SyncWIPStatus">
			<input message="oaws:SyncWIPStatus"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
		<operation name="NotifyWIPStatus">
			<input message="oaws:NotifyWIPStatus"/>
			<output message="oaws:ConfirmBOD"/>
		</operation>
	</portType>
	<binding name="RequestWIPStatusBinding" type="oaws:RequestWIPStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="GetWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="NotifyWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseWIPStatusBinding" type="oaws:ResponseWIPStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AcknowledgeWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ChangeAcknowledgeWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="CancelAcknowledgeWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ShowWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="SyncResponseWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ConfirmBOD">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SyncWIPStatusBinding" type="oaws:SyncWIPStatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ProcessWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SyncWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyWIPStatus">
			<soap:operation soapAction="http://www.openapplications.org/oagis/10/ws/wsdl/WIPStatus.wsdl" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RequestWIPStatusService">
		<port name="RequestWIPStatusBinding" binding="oaws:RequestWIPStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/RequestWIPStatus"/>
		</port>
	</service>
	<service name="ResponseWIPStatusService">
		<port name="ResponseWIPStatusBinding" binding="oaws:ResponseWIPStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/ResponseWIPStatus"/>
		</port>
	</service>
	<service name="SyncWIPStatusService">
		<port name="SyncWIPStatusBinding" binding="oaws:SyncWIPStatusBinding">
			<soap:address location="http://openapplications.org/oagis/10_4/ws/SyncWIPStatus"/>
		</port>
	</service>
</definitions>
