data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/Platform/2_1/BODs/GetTable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/GetTable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Table.xsd"/>
	<xsd:element name="GetTable" type="GetTableType" id="oagis-id-ce18fc989c5a458bb7df5615715ee4fa">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetTable document is to enable a business applications module to request Table information from another business application. The response to this BOD is ShowTable.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetTableType" id="oagis-id-b18feb82d7664d32a0893b1009b765f3">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetTableDataAreaType" id="oagis-id-2b6a0cfff04047d8a5e9a5e08cd55a2f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetTable. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (Table).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetTableDataAreaType" id="oagis-id-d07dba8cddbe42f099443523dd4ed19a">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-bb450f78ab2649c8b0360cc7e80ab6d6"/>
			<xsd:element ref="Table" maxOccurs="unbounded" id="oagis-id-2443079a0b5140e692af6a64557cec0e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
