data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/Platform/2_1/BODs/SyncTable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncTable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Table.xsd"/>
	<xsd:element name="SyncTable" type="SyncTableType" id="oagis-id-2734e1b2c6be412381b7e0731540ce2d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncTable is to ensure that all business software components in a specific integration instance have the current Table information. This BOD is commonly used to publish the need to create or update a Table in a publish and subscribe integration environment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncTableType" id="oagis-id-a1f87d93551f45099052926c22a94e3d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncTableDataAreaType" id="oagis-id-15a9328ee70e4a6ea414cf1750a0e5c7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncTable. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (Table).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncTableDataAreaType" id="oagis-id-b5ada230bfba4d9e806d29438749321a">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-9b924578e9554c46958193c71b416230"/>
			<xsd:element ref="Table" maxOccurs="unbounded" id="oagis-id-d615cf7419cc4e55b3e6856edd6c4bb6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
