data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Platform/2_1/BODs/AcknowledgeUOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/AcknowledgeUOMGroup.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/UOMGroup.xsd"/>
	<xsd:element name="AcknowledgeUOMGroup" type="AcknowledgeUOMGroupType" id="oagis-id-752432136de94ae283f3c748a4eb4cce">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeUOMGroup is to supply a set of Unit-Of-Measure relationships to another business application module.

This BOD addresses the need for applications to exchange item-independent alternative UOM information beyond the stocking UOM. See the Item UOM Integration Scenario for more detailed information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeUOMGroupType" id="oagis-id-6c548321c02d4f81b77a8ce2444c1d99">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeUOMGroupDataAreaType" id="oagis-id-2bd53d2177574b518d135a665ae73a16">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeUOMGroup. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (UOMGroup).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeUOMGroupDataAreaType" id="oagis-id-ad9e924679d14f19a8adbf1a4925e35f">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-5e75dfc262534f7ab7ab31934307438d"/>
			<xsd:element ref="UOMGroup" maxOccurs="unbounded" id="oagis-id-332a2a2390344335b7f4b816f2c6c4e6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
