data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Platform/2_1/BODs/SyncResponseUOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseUOMGroup.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/UOMGroup.xsd"/>
	<xsd:element name="SyncResponseUOMGroup" type="SyncResponseUOMGroupType" id="oagis-id-1e542a2649e34915842ae0feeea6a373">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseUOMGroup is to supply a set of Unit-Of-Measure relationships to another business application module.

This BOD addresses the need for applications to exchange item-independent alternative UOM information beyond the stocking UOM. See the Item UOM Integration Scenario for more detailed information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseUOMGroupType" id="oagis-id-89ed65235f774c1492ac0eb867e2a478">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseUOMGroupDataAreaType" id="oagis-id-475ca6cdbfa142c68076b951c14571da">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseUOMGroup. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (UOMGroup).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseUOMGroupDataAreaType" id="oagis-id-b20188d37e3c425ab3f831f73610d7e5">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-4107280052214b8b92bff7fa43ebed8e"/>
			<xsd:element ref="UOMGroup" maxOccurs="unbounded" id="oagis-id-b01b3ead8e454a9d8c538f6af5a94a32"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
