data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Platform/2_1/BODs/SyncResponseField.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/BODs/SyncResponseField.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Field.xsd"/>
	<xsd:element name="SyncResponseField" type="SyncResponseFieldType" id="oagis-id-70fdb3cc704f4f91909f8369dcaf71b0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseField is to enable the validation of data that exists on separate application's data bases.  This BOD can cause on-line validation to occur or may be a single tool for SyncResponsehronizing data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseFieldType" id="oagis-id-4d4083e0c45740c2b1cb392303fd807e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseFieldDataAreaType" id="oagis-id-31617526616842aa83a8e732ba42c58c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseField. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (Field).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseFieldDataAreaType" id="oagis-id-9e5b1c31e0b243389a19aa68b0ec25bd">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-d96fdb1c145445b4b50dd89c575ff104"/>
			<xsd:element ref="Field" maxOccurs="unbounded" id="oagis-id-efdd538d41fc412dbf830604bf4a6ff0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
