data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/AllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/AllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="AllocateResource" type="AllocateResourceType" id="oagis-id-ccf98992ab8f4b94b39140f2b1b850fd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the resources that are need for a prodiuction order and indicates where they are to be assigned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllocateResourceHeader" type="AllocateResourceHeaderType" id="oagis-id-5cb1af6866c547ceb4e2a87023727473">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information describing the work order that the resource transaction is to be charged against</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllocateResourceDetail" type="AllocateResourceDetailType" id="oagis-id-89b83c5fa4de4bc3b11feebf36123365">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information describing the resources to be charged.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AllocateResourceType" id="oagis-id-4afd0a448b5d40b3b5bb5c3c2872087f">
		<xsd:sequence>
			<xsd:element ref="AllocateResourceHeader" id="oagis-id-928cd40a65ec43acb8d229da30836900" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information describing the work order that the resource transaction is to be charged against</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AllocateResourceDetail" id="oagis-id-14af737b42f84bce81d28da7f59c803a" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information describing the resources to be charged.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-617208d22daf4074838d5b640516b4dc"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-c70c0729f1bf4feb8521c252691fe696"/>
	</xsd:complexType>
	<xsd:complexType name="AllocateResourceHeaderBaseType" id="oagis-id-286e578af6ea4b4396a042dcc5f64240">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="ReasonCode" id="oagis-id-bdeb9775e1af4fd2bf2defe3c07b3ef7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProductionOrderReference" id="oagis-id-6031c25df623449499dab34c740e6e81" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is reference to a ProductionOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalesOrderReference" id="oagis-id-07642e240cd14c59b7c5b7f668f7ca14" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a SalesOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Effectivity" id="oagis-id-242cc7bd3cb14a4b8e8eb86f695b265a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Specifies effectivity of an associated object. Effectivity is expressed may be expressed as: multiple ranges, values, time period or as associated to a specific Item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-315449d825094bad9fb65a45c12667f9" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AllocateResourceHeaderType" id="oagis-id-8f60948c3c714d8d842ae574161a5fd7">
		<xsd:complexContent>
			<xsd:extension base="AllocateResourceHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="AllocateResourceHeaderExtensionType" id="oagis-id-1698c9f7d2c9419f85a343d3e33a1fc8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AllocateResourceDetailBaseType" id="oagis-id-8b90a8ee46234a7eb3d686c73360ec5a">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="WorkCenterID" id="oagis-id-6d1991ebaa8341aeac1f9d727c342fe8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies an area consisting of one or more resources where production takes place.  It is used to identify a specific Work Center on a Shop Floor or other manufacturing facility</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AllocateResources" id="oagis-id-0b87f5b19deb4e5d9e57b4de31a87e62" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-ea455ab7334c40758faa409373345e5e" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AllocateResourceDetailType" id="oagis-id-0a58e8819a9f479fbd4eaa55c4c6ce6a">
		<xsd:complexContent>
			<xsd:extension base="AllocateResourceDetailBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="AllocateResourceDetailExtensionType" id="oagis-id-3f29bc86ca9c42bb8d6d837d972f5891" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
