data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/CarrierRoute.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/CarrierRoute.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="CarrierRoute" type="CarrierRouteType" id="oagis-id-fba85dc216c64363a2bddf35f5a267a5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes a scheduled journey that a particular goods transportation service provider (freight carrier) is requested to perform on the behalf of a shipper, customer or other transportation corrdinator. The journey may contain one or more stops.

There are many possible business applications in several environments that may use this capability.

A CarrierRoute is typically generated by a transportation planning system to coordinate and optimize the movement of many goods shipment to reduce overall freight cost, improve overall delivery schedules, and ensure that a carrier's equipment is utilized efficiently.

Other business systems typically interested in a CarrierRoute document include supply chain execution, supply chain visibility, warehouse management, and transportaion management systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RouteStop" type="RouteStopType" id="oagis-id-ab19a22ec7cb4b48a10372b5b1e702ce">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides information pertaining to a particular pickup or delivery stop along the journey of a routed shipment.

Each instance of the RouteStop pertains to a single physical destination shipping location and requires a subordinate ShipToParty.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StopDetail" type="StopDetailType" id="oagis-id-d1250d77fff94b1d976608c4795a5132"/>
	<xsd:complexType name="CarrierRouteBaseType" id="oagis-id-41be22160c9849aa9a94b56377c5ed49">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="TrackingID" id="oagis-id-fc808b0e4ae348d4bc731b605d3ff32d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TRACKINGID is a unique identifier for the purpose of tracking an individual package or shipment

Examples of a valid TRACKINGID include:
•An express parcel tracking number as typically assigned by UPS, DHL, Fedex or other similar carriers.
•A UCC (Uniform Code Council) Serialized Shipping Container (SCC-18) identifier, as assigned by the shipper.  
•A "Pro Number" (Progressive Number), as assigned by an LTL (less-than-truckload) freight carrier.  Since the same Pro Number can be assigned to multiple shipping units within an LTL shipment, the SHIPUNITSEQ and SHIPUNITTOT field identifiers may be used to identify the individual pieces.
•The unique identifier of a motor freight trailer, railroad box or tank car, ocean freight container or other transportation vessel.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ActualShipDateTime" id="oagis-id-25b8374925624557a2b49e53ceae8f11" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Inidicates the shipping date and time of the line item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScheduledDeliveryDateTime" id="oagis-id-80477611398449aba97d76be8d508c04" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The scheduled delivery date provided by the supplier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ActualDeliveryDateTime" id="oagis-id-e50a0926c18c4d3ba7ae0c7edcca50b9" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the actual delivery date and time of the line item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RequiredDeliveryDateTime" id="oagis-id-7ef845cb56b944a18452f2c3404baa48" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the buyer/customer requests the order to be delivered.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PromisedDeliveryDateTime" id="oagis-id-9d00476a898349ef8a1e78c0b19d3149" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the associated was promised to be delivered to the customer or consumer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LoadingDateTime" id="oagis-id-a8fa31d065d0414ca98843174d0f0f83" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the date and time a shipment loading process is complete.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EarliestShipDateTime" id="oagis-id-a1135738d6bb43418f672cfeffb3bb3d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This indicates the earliest possible date at which a shipment can be made for the line item</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PromisedShipDateTime" id="oagis-id-a2d9806290624f41aac1b2f57d993461" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the associated object was promised to be shipped from the supplier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScheduledShipDateTime" id="oagis-id-652505ce4281421ba3632e090232bc96" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The scheduled date to be shipped provided by the supplier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfLoadingCode" id="oagis-id-fc97a6682e254bd8b6510b55c8850742" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location shipped goods are to be loaded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfShipmentCode" id="oagis-id-5566037285f2486296a2d2f0bddaf2c8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location the goods are to be shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfStagingCode" id="oagis-id-d6ba32d1cd3245ee9df2f0a7dc42509c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location goods are to be placed prior to loading for shipment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationMethodCode" id="oagis-id-434c8f6612b247e2a66fdafa8584999c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the general type of carrier transportation used to deliver goods.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationTerm" id="oagis-id-b1e6ea0685cc49878d8aeb6d3a5af2a4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">When a seller ships something via common to a buyer in accordance with the Uniform Commerical Code and international legal agreements, you must specify a particular "phrase" that states who assumes the risk of shipment, who is responsible for loading and unloading the goods, where ownership or title to the goods passes, who paid or pays the carrirer, etc. Examples of these "phrases" include: - "FOB Origin Prepaid and Add" (Free On Board - no cost for loading, title passes at seller's dock, seller prepaid freight cost and delivery insurance, seller will freight costs to cost of goods) - "FOB Destination" or "FOB Destination Prepaid" (Free On Board - no cost for loading, title passes at buyer's dock, seller prepaid freight cost and delivery insurance)  In software applications, this phrase is commonly split into two coded pieces, a "legal terms" risk and responsibility component for use with common carriers (FOB Destination) and some kind of qualifying component (Prepaid and Add).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-e9bf409daba04ed3bc5b94575c33742b"/>
					<xsd:element ref="Container" id="oagis-id-a84dd5441e7f4a43a4fe232ae91f567b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Uniquely identifies a shipping container</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Status" id="oagis-id-8b408e415b7b4b6bbfa7354b27b874ba" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Charge" id="oagis-id-f631abfabfcf4f2e8f96f6a07584d1fd" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the different Charges that may be applied to the associated document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-e00eb51431a64a36ba33d92c4b457e9c" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-908638e4995048f2b90d633a1720b128" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RouteStop" id="oagis-id-ae2fa4d7f2414d598ba870481d1f61eb" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides information pertaining to a particular pickup or delivery stop along the journey of a routed shipment.

Each instance of the RouteStop pertains to a single physical destination shipping location and requires a subordinate ShipToParty.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-596a2b60a3fc4d10a09c810126bf64c7" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-53e8aa11d9f14ab6b39468b132700e1b"/>
				<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-fd33f01144cd4c4697614d113cf987b3"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CarrierRouteType" id="oagis-id-b0dd19d9e5d849769a586e5c8fe0c1de">
		<xsd:complexContent>
			<xsd:extension base="CarrierRouteBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CarrierRouteExtensionType" id="oagis-id-7b7a9d019e0245a894f47a3529a7337e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RouteStopBaseType" id="oagis-id-b2dbae156b954d7688587800f72a57e2">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="TrackingID" id="oagis-id-629a35eaf3fe4e16a87d8f1065912be6" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TRACKINGID is a unique identifier for the purpose of tracking an individual package or shipment

Examples of a valid TRACKINGID include:
•An express parcel tracking number as typically assigned by UPS, DHL, Fedex or other similar carriers.
•A UCC (Uniform Code Council) Serialized Shipping Container (SCC-18) identifier, as assigned by the shipper.  
•A "Pro Number" (Progressive Number), as assigned by an LTL (less-than-truckload) freight carrier.  Since the same Pro Number can be assigned to multiple shipping units within an LTL shipment, the SHIPUNITSEQ and SHIPUNITTOT field identifiers may be used to identify the individual pieces.
•The unique identifier of a motor freight trailer, railroad box or tank car, ocean freight container or other transportation vessel.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ContainerID" id="oagis-id-43f2bd3d95a64647917f86a96dfe73bc" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The unique identifier of a container that holds the associated entity. A container is typically used for shipping material. Whether they be raw material or finished goods or piece parts.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-b29a949549074c87a7a7e8096d72a886"/>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-452cb60ffbf34c98873a7926d3cc88cf"/>
					<xsd:element ref="HazardousMaterial" id="oagis-id-66ffa779399548709501269cd1576f00" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Provides the Hazardous Material Code and description.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Charge" id="oagis-id-5c7d7c80229f46be8aed6f1976c78c9f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the different Charges that may be applied to the associated document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-55ae992ed2a644a582d7dd9dbf5bd631" minOccurs="0"/>
					<xsd:element ref="RouteStopParty" id="oagis-id-c646ccb68f9d4d0384af79051db6dd37" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-28efe339f1b3478ca8bf82f146043c7c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DocumentReference" id="oagis-id-eaa9c528f8cf497c8eca8a65d28bbc80" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="StopDetail" id="oagis-id-85944d9775b3405886376e2c417b5c41" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="sequenceNumber" type="NumberType_B98233" id="oagis-id-2c484bf45fde4b32a487f12dac45bf96">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">When an object occurs multiple times, this sequence number can be used to provide the order.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RouteStopType" id="oagis-id-c7e418cb966943e182f0885d6f06abbe">
		<xsd:complexContent>
			<xsd:extension base="RouteStopBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="RouteStopExtensionType" id="oagis-id-6bf8199d38594d15b2786aa8df3f0f5c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StopDetailBaseType" id="oagis-id-334ba81435df48df931d8507a33fd9c9">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="ContainerID" id="oagis-id-b89fba9eed1a465e8b569b9ac7b9f387" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The unique identifier of a container that holds the associated entity. A container is typically used for shipping material. Whether they be raw material or finished goods or piece parts.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-85e89a67902d49bd93d6e6e04243246d" minOccurs="0"/>
					<xsd:element ref="TrackingID" id="oagis-id-d9b5763b24a94e588d1bd3169bd06ebf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TRACKINGID is a unique identifier for the purpose of tracking an individual package or shipment

Examples of a valid TRACKINGID include:
•An express parcel tracking number as typically assigned by UPS, DHL, Fedex or other similar carriers.
•A UCC (Uniform Code Council) Serialized Shipping Container (SCC-18) identifier, as assigned by the shipper.  
•A "Pro Number" (Progressive Number), as assigned by an LTL (less-than-truckload) freight carrier.  Since the same Pro Number can be assigned to multiple shipping units within an LTL shipment, the SHIPUNITSEQ and SHIPUNITTOT field identifiers may be used to identify the individual pieces.
•The unique identifier of a motor freight trailer, railroad box or tank car, ocean freight container or other transportation vessel.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-26883008f3cb41cb83ac9471f032c996" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-39319b62cfad492ba965f54776ea65ce" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-e9f769efb5c0426fadd5593a4cfea017" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipUnitReference" id="oagis-id-427e7a99e16243929d448c2170ddaac4" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipmentReference" id="oagis-id-57dc9e81f63b43f3ac4a7c35ebbd5e25" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a Shipment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ReferencesGroup" id="oagis-id-b05630c3a3cf4c16a53d48344e579925" minOccurs="0"/>
					<xsd:element ref="BillOfLadingReference" id="oagis-id-f666a94ac1d644b7bc89c92e4d579bae" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to the associated Bill of Lading document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StopDetailType" id="oagis-id-5fcb60faabe647ed8ac0c1dcda2b3d6a">
		<xsd:complexContent>
			<xsd:extension base="StopDetailBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="StopDetailExtensionType" id="oagis-id-35921afb30974ed4b405081bfc5a4042" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
