data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/Credit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/Credit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="Credit" type="CreditType" id="oagis-id-c7d13b773cf446da8889e92936f1a790">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Credit represents customer credit information, and is used in the context of credit checking new sales orders.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CreditType" id="oagis-id-54fc8940beba445485815eec7b832f6d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">When the receiver of this Credit provides the credit management function.  If the sender is the accounts receivable application, the OpenItemAmount is the only required amount field.  When the sender is the customer order management application, the OrderAmount is the only required amount field. 

The OrderAmount Is the total of the sales order that is typically used to compare against a credit limit during credit checking.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CreditBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CreditExtensionType" id="oagis-id-20b4dc70b39747a986460d084007cc7a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
