data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/InspectionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Global/Developer/Nouns/InspectionOrder.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="InspectionOrder" type="InspectionOrderType" id="oagis-id-6b5e896a11e642d4a3fcf459542cafa9">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">An inspection order requests an inspection of an item instance, or collection of items which are serially identified.

The inspection order can be the source document if coming directly from a customer. It may also related to a supplier purchase order, a manufacturing work order/instruction, finish goods testing, or random sampling
of inventory.   InspectionOrder can be considered a request noun, with TestResults be the delayed response noun.  TestResults document will refer back to a specific InspectionOrder.

Unlike InspectDelivery, InspectionOrder does not contain any references to the TestResults, or RejectionDetails.

If (UseCase::= ERP=&gt; LIMS); then Sample/TestRequest may not be provided if the LIMS holds the sample plan, and creates the list of samples to be taken
If (UseCase::= External Customers =&gt; LIMS) OR (UseCase::= LIMS=&gt;Third Party Labs); then Sample/TestRequest will be required

Location may be Grower/Farm/Field hierarchy

Sample information will likely be derived off a SamplingPlan noun, which determines sample size, frequency, and specific tests to be performed.

10.3; added 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InspectionOrderBaseType" id="oagis-id-5f540434e05f4c4fa6f02ebed452d950">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="Item" id="oagis-id-649fe122f1514d4fbec9eebb6d493aed" minOccurs="0"/>
					<!-- added ItemInstance in 10.3 -->
					<xsd:element ref="ItemInstance" id="oagis-id-74182027767e43859d3ae4fa329abfd2" minOccurs="0"/>
					<!-- end 10.3 -->
					<xsd:element ref="ContextualItem" id="oagis-id-5f9bf9b8ceea42049e96d2e710afe0d6" minOccurs="0"/>
					<xsd:element ref="TestSpecificationReference" id="oagis-id-0062701258c04939b474f9a15b284730" minOccurs="0"/>
					<xsd:element ref="LotBatchID" id="oagis-id-4c42fde4536e4867aaeb51fa3eaa189b" minOccurs="0"/>
					<xsd:element ref="WorkOrderReference" id="oagis-id-89386c52078d4335a3da8e7b2807784b" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SalesOrderReference" id="oagis-id-8b3ea49f8238492fb9faa05cc4ea9564" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PurchaseOrderReference" id="oagis-id-7b99c1f409db4b3ca3d5950465e7a5df" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a PurchaseOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DeliveryReference" id="oagis-id-5b19aef36dc74c948a1127fceb1bd00b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to the Delivery document typically related to the receipt of product.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- 10.3 parties -->
					<xsd:element ref="ShipmentTrackingReference" id="oagis-id-9163b13c5fae42e0b69e832c6f45fb87" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Provides ability to track shipments using the LTL carriers application, typically populated during outbound shipments and send to the receipient of the item instances.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- -->
					<xsd:element ref="Effectivity" id="oagis-id-9d63223df9934bdb86487eae7a3b8dfa" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Specifies effectivity of an associated object. Effectivity is expressed may be expressed as: multiple ranges, values, time period or as associated to a specific Item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PriorityCode" id="oagis-id-254c07bb41e74d40b66c2c43cb59a4b6" minOccurs="0"/>
					<xsd:element ref="ReceivedDateTime" id="oagis-id-d620ff2ece5644c086e03ba7d2494957" minOccurs="0"/>
					<xsd:element ref="ScheduledDeliveryDateTime" id="oagis-id-2b97351dada9433d82797a337b890922" minOccurs="0"/>
					<xsd:element ref="DesiredCompletionDateTime" id="oagis-id-cad145f958634d85b43c3e3c81f9d719" minOccurs="0"/>
					<xsd:element ref="UnitCost" id="oagis-id-add6333dd9f34f618aa48c76dd935fff" minOccurs="0"/>
					<!-- 10.3 parties -->
					<xsd:element ref="AdvisorParty" id="oagis-id-cf5c0d1e9a1548be8ceed7f6561115d7" minOccurs="0"/>
					<xsd:element ref="SamplePreparerParty" id="oagis-id-7b09ae202076405cae15bff657ccd97c" minOccurs="0"/>
					<xsd:element ref="BrokerParty" id="oagis-id-1d6e1c66b1d84a58a20787d95231be14" minOccurs="0"/>
					<xsd:element ref="RetailerParty" id="oagis-id-ee8ea0899c004993ace53cc4c13b26c4" minOccurs="0"/>
					<!-- -->
					<xsd:element ref="CustomerParty" id="oagis-id-baa9142b3f764938bd39c66743c6851e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the customer that purchased the goods or services.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipFromParty" id="oagis-id-dea1735400d541ac96fa02020e500df3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party and location from which samples are shipped from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-3a4026324c47484ea8d319f55a2f3788" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party and location from which samples are shipped to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-f68c2ea182d3487ea92d181e00f1d9e1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party which the invoice for the services performed should be sent to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-c54ead32d70d4cf3ab87cb4e4c157514" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.
In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RemitToParty" id="oagis-id-282e9010dc8b4ae29852930145351f28" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that will receive the payment, an agent of the Party that performed the inspection and qualification of the resources to perform the tests</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="InspectionParty" id="oagis-id-41cfc3ee7b4f4d82a0e599cc4956d84f" minOccurs="0"/>
					<!--10.2.2 -->
					<xsd:element ref="Party" id="oagis-id-e61ef391ea6b41668447053be80e72e6" minOccurs="0"/>
					<!-- test -->
					<!-- test -->
					<xsd:element ref="TestRequest" id="oagis-id-2642daac9a5c4dada965a18be62773cf" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="TotalSampleQuantity" id="oagis-id-078b33c74a1d44bba471f862ac686228" minOccurs="0"/>
					<xsd:element ref="SamplingPlanDocumentReference" id="oagis-id-6d3a1c08605d48b9a9a5dc6a89a6fe57" minOccurs="0"/>
					<xsd:element ref="Sample" id="oagis-id-76bb4bdf3a56492c8b3d5619c785db53" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Status" minOccurs="0" id="oagis-id-c652e60dc94b4d8e8dc85c26ac57b39e"/>
					<xsd:element ref="PlannedCompletionDateTime" minOccurs="0" id="oagis-id-7e7d7e8fc41b4ad6b5eac6e9db3a8f03"/>
				</xsd:sequence>
				<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-67c56c42fbb74f3ba3e7d9b1c60b089b"/>
				<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-18ac6bc510ca48a38ecf3ee258582579"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PartyProfiles to be added in 10.4-->
	<xsd:complexType name="InspectionOrderType" id="oagis-id-1d138e53e6734930b4298bf4d8607f40">
		<xsd:complexContent>
			<xsd:extension base="InspectionOrderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InspectionOrderExtensionType" id="oagis-id-be2fa04589e447aa8b8414a685e21e0d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!---->
</xsd:schema>
