data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/ItemCertificateOfAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 9_6  
   Date:               02 Jul 2012
   Copyright 1997-2012, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2012). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/9_6/Developer/Global/Nouns/ItemNonconformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="ItemCertificateOfAnalysis" type="ItemCertificateOfAnalysisType" id="oagis-id-253219414435473b96930b0087fc2d44">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">ItemCertificateOfAnalysis represents the Certificate(s) of Analysis performed on an Item</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCertificateOfAnalysisHeader" type="ItemCertificateOfAnalysisHeaderType" id="oagis-id-888ac5d2bd4840d3a9eaa214effbf909">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCertificateOfAnalysisLine" type="CertificateOfAnalysisLineType" id="oagis-id-da919836669a408e91fb44c5aa932cde">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the individual items on the pre-determined Bill of Material structure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ItemCertificateOfAnalysisType" id="oagis-id-0994bbcb2fd94594b27353f0b2b09746">
		<xsd:sequence>
			<xsd:element ref="ItemCertificateOfAnalysisHeader" id="oagis-id-bd6c45dd3d4a459e8ac27805438b23db" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ItemCertificateOfAnalysisLine" id="oagis-id-f2ced891f6e2495994db91bb24dd0338" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the individual items on the pre-determined Bill of Material structure.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-6406126c4fbd4eaeadf687699ee90a60"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-db1cac5c204740d581cc940f5928b149"/>
	</xsd:complexType>
	<xsd:complexType name="ItemCertificateOfAnalysisHeaderBaseType" id="oagis-id-3f96fde8615b45558464cf7b0f400f94">
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="ItemInstance" id="oagis-id-46a41b77a6144cfcbfd98617e5ad1494" minOccurs="0"/>
					<xsd:element ref="ManufactureDateTime" id="oagis-id-b7f518d74e8c4c94ae3c4dafca504449" minOccurs="0"/>
					<xsd:element ref="PriorityCode" id="oagis-id-66308760a55843489d19fd700fb022c0" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the priority or urgency of the associated entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShippedQuantity" id="oagis-id-7f72d6efddef463a90ae92367ca6b8ce" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Quantity" id="oagis-id-1d53f406914643cdbaf556a79079d88a" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipmentDateTime" id="oagis-id-1117e5a576204e9e9d4e77d4d8cd0a21" minOccurs="0"/>
					<xsd:element ref="SupplierParty" id="oagis-id-434b4c9444d645e1b133e574919a03ec" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-1ff1c851ca914398a96e84f6e5edece3" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemCertificateOfAnalysisHeaderType" id="oagis-id-936e3be623c849b4808b37c7b96581e2">
		<xsd:complexContent>
			<xsd:extension base="ItemCertificateOfAnalysisHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ItemCertificateOfAnalysisHeaderExtensionType" id="oagis-id-20861eef6f6f42cc8ab9d0277f9ff197" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
