data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/MoveWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/MoveWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="MoveWIP" type="MoveWIPType" id="oagis-id-82df6e24780247799985cd576ab3bc26">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">MoveWIP is used to communicate which processing step the product is coming from and which step it is being moved to, along with the quantity moving and the time this event occurred.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MoveWIPHeader" type="WIPDistributedEventHeaderType" id="oagis-id-1771c34f7b8a4c039cc02704efeddc8a"/>
	<xsd:element name="MoveWIPLine" type="MoveWIPLineType" id="oagis-id-a090dba0cc9845dfb65a7212bc85240e"/>
	<xsd:complexType name="MoveWIPType" id="oagis-id-b11018fb75934a438d60985ebb3ba76b">
		<xsd:sequence>
			<xsd:element ref="MoveWIPHeader" id="oagis-id-62ca305d33d84edbac981896b2303770" minOccurs="0"/>
			<xsd:element ref="MoveWIPLine" id="oagis-id-4dabc3ccb43f44e3842edab560ae1b55" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-2650158f5e4c475c8193e6f2775b7ab6"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-69725768bae3434798c6e9a46b5f9901"/>
	</xsd:complexType>
	<xsd:complexType name="MoveWIPLineBaseType" id="oagis-id-953a0b7c21864b68b253aca0721a70ea">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="ItemInstance" id="oagis-id-4f0a0be0b7ff42e981d955ed4ddc4001" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ScrapQuantity" id="oagis-id-ca4637e44aa5457ea2f329ed36482d4c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the quantity of items scrapped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RejectedQuantity" id="oagis-id-ff0c0e8f0cae459ba2f95aacffa07a22" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the quantity rejected for the specified Reason</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="MoveQuantity" id="oagis-id-34fa9492ba814bde9a387d8f70055c28" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The number of items moved by the associated entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-fb4e712385354852ad8536d6bbb3054d" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="MoveFromOperation" id="oagis-id-bb2f19205f564cea862594b6930230f3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the Work-In-Process Operation in which the items are being moved from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="MoveToOperation" id="oagis-id-6399cb94f72b423bb0c2ac412628f66f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the Work-In-Process Operation in which the items are being moved to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MoveWIPLineType" id="oagis-id-af9ded68a75e4cfca1185a3cc894bfc3">
		<xsd:complexContent>
			<xsd:extension base="MoveWIPLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="MoveWIPLineExtensionType" id="oagis-id-2ee674799ddb42188766818c159abb19" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
