data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/MoveProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2017 sp1 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 9_6  
   Date:               02 Jul 2012
   Copyright 1997-2012, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2012). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/9_6/Developer/Global/Nouns/MoveInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="MoveProduct" type="MoveProductType" id="oagis-id-0961ce8d80274ce48c8c17ec3ec0a636"/>
	<xsd:element name="MoveProductHeader" type="MoveProductHeaderType" id="oagis-id-387e62b9faa8455084f7db9fe6c87072">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the things common to the entire Movement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MoveProductLine" type="MoveProductLineType" id="oagis-id-29cd33f0ddc04bfe8756cd4ff049f8a1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the line items being Movemented providing information about the source and destination of the Movement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MoveProductType" id="oagis-id-f79bd1f4a07d4aba9ba7542925bb3ffe">
		<xsd:sequence>
			<xsd:element ref="MoveProductHeader" id="oagis-id-443b82fdfef042cfb236be04df0bd1ac" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the things common to the entire Movement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MoveProductLine" id="oagis-id-d8b166e633cf4a1181b87d67f0e17e1c" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the line items being Movemented providing information about the source and destination of the Movement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-95d5f28dea9748228c1369158b04921c"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-e49e4b7c76564c00a109fd074831e86b"/>
	</xsd:complexType>
	<xsd:complexType name="MoveProductHeaderBaseType" id="oagis-id-83a4d2ecbe044e4d9a1905aefe91c330">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="TransferTypeCode" id="oagis-id-f582fd9d55e043649227d00d124d0ca2" minOccurs="0"/>
					<xsd:element ref="TransactionDateTime" id="oagis-id-ce5da81d19004cc391bf82d07910b590" minOccurs="0"/>
					<xsd:element ref="BillToParty" id="oagis-id-faa01318931f4132b11bc07accd916ee" minOccurs="0"/>
					<xsd:element ref="Payment" id="oagis-id-a96a3fb74dd44a3ba23051c503aa7a81" minOccurs="0"/>
					<xsd:element ref="OwnerParty" id="oagis-id-8a99b23d27de465a935fbbb15213dd3e" minOccurs="0"/>
					<xsd:element ref="SoldToParty" id="oagis-id-6179f2a563644719b836a745702aaccd" minOccurs="0"/>
					<xsd:element ref="CarrierParty" id="oagis-id-819f668749644583b44250ea120160a0" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipFromParty" id="oagis-id-934f901618b74d1ea6a9132e16414cd6" minOccurs="0"/>
					<xsd:element ref="ShipFromLocation" id="oagis-id-096b8d671b1f45a8a2ac4bf36c1814fe" minOccurs="0"/>
					<xsd:element ref="WarehouseParty" id="oagis-id-e6d54dec99104d03a5fa5f7e0fc972e0" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipToParty" id="oagis-id-5feda636bed84f8795e7a96160273b88" minOccurs="0"/>
					<xsd:element ref="DeliverToParty" id="oagis-id-dccf85abb84c44e29873f218319e0076" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-84c2ca29c57c454b8310df851fd52536" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipToLocation" id="oagis-id-84ac4cd8bd2744009eeddde405354946" minOccurs="0"/>
					<xsd:element ref="TransportStep" id="oagis-id-c788c6a933ab403cbd985762df248a4a" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-04e281f6b3b14b7ba4caf4c19f4b7993"/>
					<xsd:element ref="TotalCostAmount" id="oagis-id-789e1d42b5304c2da6def19e243db0d0" minOccurs="0"/>
					<xsd:element ref="Tax" id="oagis-id-c63424c8c29646be90d6e44448a09fb5" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="TotalTax" id="oagis-id-83a3e3ac1b884878a24447a062d38715" minOccurs="0"/>
					<xsd:element ref="TotalTaxAmount" id="oagis-id-b3dc5675e4ff4563a1e87e07a47f96e2" minOccurs="0"/>
					<xsd:element ref="TotalAmount" id="oagis-id-9fcd5ff40afe4abcbd26d5721ea5573d" minOccurs="0"/>
					<!-- added in 10.3 -->
					<xsd:element ref="ContractReference" minOccurs="0" id="oagis-id-697fb42637554436bf9a6f73aa7bdfbb"/>
					<!-- end 10.3-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MoveProductHeaderType" id="oagis-id-33875165e20a40d583e0c25cd23215e3">
		<xsd:complexContent>
			<xsd:extension base="MoveProductHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="MoveProductHeaderExtensionType" id="oagis-id-53a0e4dc0b0440c5934661b5e92906df" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MoveProductLineBaseType" id="oagis-id-2848cd9857014c018c577408eef00fb8">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="ItemInstance" id="oagis-id-53d69ca9e37c441ca5c9b4c6655e957b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Status" id="oagis-id-4ae2d6de055542ea9216d304af7ec392" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReasonCode" id="oagis-id-f96b9eafc37844f9ad04008bfcc10d20" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransferTypeCode" id="oagis-id-09cbe3444e854218a61eeb2228a90994" minOccurs="0"/>
					<xsd:element ref="TransactionDateTime" id="oagis-id-caec5d8d866244879b9431b806bc3597" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The datetime of occurence of the transaction</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-d34e10270e31463fb5f6da6533270e5d" minOccurs="0"/>
					<xsd:element ref="Payment" id="oagis-id-54c05c5879c34f36a6a023deddcd6163" minOccurs="0"/>
					<xsd:element ref="OwnerParty" id="oagis-id-c10d239e1bc34182afc1716b16f5bf48" minOccurs="0"/>
					<xsd:element ref="SoldToParty" id="oagis-id-f3c6d48899a246a3b2852017d4df2e96" minOccurs="0"/>
					<xsd:element ref="ShipFromParty" id="oagis-id-c243c2abe5624eb58a04fcbdbe67f934" minOccurs="0"/>
					<xsd:element ref="ShipFromLocation" id="oagis-id-8c1f221b52bd47a8b616efa186fed9b3" minOccurs="0"/>
					<xsd:element ref="CarrierParty" id="oagis-id-8e0b022db40b4da4a5e50887d6df4937" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="WarehouseParty" id="oagis-id-59a0d3c5152146f29effc5886225e731" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DeliverToParty" id="oagis-id-c0992b1557454103ac4cce3f305df690" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-fec6bbd45e3f4be3bbeae755fc47628d" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipToParty" id="oagis-id-cc36886ae73f4c2983b6374010b97ce4" minOccurs="0"/>
					<xsd:element ref="ShipToLocation" id="oagis-id-f296c56cce494b96aa7822fb70d548db" minOccurs="0"/>
					<xsd:element ref="ShipmentUnit" id="oagis-id-c7bd8606425a4e02a5cb872e628515fe" minOccurs="0"/>
					<xsd:element ref="TransportStep" id="oagis-id-94c7eb8f71aa4700aac6b52329a194aa" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="TotalCostAmount" id="oagis-id-0300cd30fec44f14b1a053c6a7766840" minOccurs="0"/>
					<xsd:element ref="Tax" id="oagis-id-43294a38694b4ccab2a179ab2bed26ef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="TotalTax" id="oagis-id-27f0ff7b31884a29aeb91ea945483f43" minOccurs="0"/>
					<xsd:element ref="TotalTaxAmount" id="oagis-id-36ff0ea60ff84542a7d52c2c3a27b746" minOccurs="0"/>
					<xsd:element ref="TotalAmount" id="oagis-id-03c33366c609481eb161524f9fefd52e" minOccurs="0"/>
					<xsd:element ref="Quantity" id="oagis-id-1ed1cca98cde4be7971573e1cd70493b" minOccurs="0" maxOccurs="unbounded"/>
					<!-- added in 10.3 -->
					<xsd:element ref="ContractReference" minOccurs="0" id="oagis-id-12536c7089c54d0ab0844ed81c5ec8b3"/>
					<!-- end 10.3-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MoveProductLineType" id="oagis-id-c632d624f5aa4b1db0058f0017280cc4">
		<xsd:complexContent>
			<xsd:extension base="MoveProductLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="MoveProductLineExtensionType" id="oagis-id-492e5e59dc244af694921f3c75e61d65" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
