data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/ProductionPerformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/ProductionPerformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="ProductionPerformance" type="ProductionPerformanceType" id="oagis-id-c6babc2d23834b6980e81c93a3d2edeb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">ProductionPerformance is generally used in the Process Manufacturing Industries to provide information about the the actual results of the Production run. The noun refers to general information about the entire Process Production  transaction. This may apply to the movement of raw materials, finished products or by products.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MaterialProducedActual" type="ManufacturingMaterialType" id="oagis-id-41f637dbccb44d13b7a13f02f483774f"/>
	<xsd:element name="MaterialConsumedActual" type="ManufacturingMaterialType" id="oagis-id-ef30db6dd9004476abb5c535aed83039"/>
	<xsd:element name="ConsumableActual" type="ManufacturingMaterialType" id="oagis-id-2f308dcfb0c440e2bc49e6b8ba37bdc6"/>
	<xsd:element name="ProductionResponse" type="ProductionResponseType" id="oagis-id-1ea3652cdb0041ffadecbf11578f086c"/>
	<xsd:element name="PerformanceSegmentResponse" type="PerformanceSegmentResponseType" id="oagis-id-52403900ed3c44ff87ff72a87a2bfebf"/>
	<xsd:element name="ProductionScheduleReference" type="DocumentReferenceType" id="oagis-id-b622bc72c08f47d4b57db219a89424e9"/>
	<xsd:complexType name="ProductionPerformanceBaseType" id="oagis-id-c82d4d1b55174172bb19265e4888e68e">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Description" id="oagis-id-94ec24764f404f6e9dd8d7ad2636a21f" minOccurs="0"/>
					<xsd:element ref="Location" id="oagis-id-e96ad78d810340e38d4633e64cf78293" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The location of a thing, as captured by an address (or addresses), GPS Coordinates, and/or in relation to other locations.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DocumentDateTime" id="oagis-id-a8659de959844ac493dc94c78e405059" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The date that document was created within the system of record.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProductionScheduleReference" id="oagis-id-33820c3bb01a49008f6d7684877b1c2a" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ReportTimePeriod" id="oagis-id-aa96210b51c44752aaca6c7101ee235e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the time period that the report covers. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EquipmentElementLevel" id="oagis-id-776c28d4aff045d8b7c3edf129c8f55a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identification of the associated element of the equipment hierarchy model.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProductionResponse" id="oagis-id-178ee0a4c9ed48d2a97eb416862c15d2" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ResponseStateCode" id="oagis-id-f5ea34e0d66b4a91b44476078b258083" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductionPerformanceType" id="oagis-id-5b739da648664e548439fc1d79115301">
		<xsd:complexContent>
			<xsd:extension base="ProductionPerformanceBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ProductionPerformanceExtensionType" id="oagis-id-87146e76293d44419c04ad8dbe75c577" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductionResponseBaseType" id="oagis-id-b8a8896b29d44e11a4833edac9152de2">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="ProductionRequestID" id="oagis-id-7d21a0647d8d47c2902fda61668e0f98" minOccurs="0"/>
					<xsd:element ref="ProductProductionRuleID" id="oagis-id-be37cb9f9e284fd8b6dc5b937cd1fe86" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Location" id="oagis-id-6625e5af70a847788ac79caf83e68a69" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The location of a thing, as captured by an address (or addresses), GPS Coordinates, and/or in relation to other locations.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReportTimePeriod" id="oagis-id-50314930536f4cd99f50256a0df11e3d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the time period that the report covers. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PerformanceSegmentResponse" id="oagis-id-b6ab5c6814424361ae06f856822ee47f" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ResponseStateCode" id="oagis-id-ba502f72e07d4fb5895a7acefd850153" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductionResponseType" id="oagis-id-322557aa3a964679901bc821b9ddd7ad">
		<xsd:complexContent>
			<xsd:extension base="ProductionResponseBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ProductionResponseExtensionType" id="oagis-id-e79e539976ad4147ba575c5d936ac34e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PerformanceSegmentResponseType" id="oagis-id-7f7aad3b0c4a48f98e380ac3dccd9f8c">
		<xsd:complexContent>
			<xsd:extension base="SegmentResponseBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PerformanceSegmentResponseExtensionType" id="oagis-id-f176117f7cb04d8bad49eeb8ea6b42e8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
