data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/RemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/RemittanceAdvice.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="RemittanceAdvice" type="RemittanceAdviceType" id="oagis-id-7c6b08331b1b4f5c94bb69ce01c1cfb4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the RemittanceAdvice Business Object Document is to provides a detailed breakdown of a payment amount.  It includes all credits, debits, discounts, adjustments taken on an invoice, and adjustment reason codes.  A payment can attach a Remittance Advice Notification.  Payment can be for products only, transportation, or other services.

The Process RemittanceAdvice sends the electronic form of a remittance advice document from a payer to a payee. It is usually executed when an outstanding accounts payable balance (credit or debit) exists. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RemittanceAdviceHeader" type="RemittanceAdviceHeaderType" id="oagis-id-c25b4aed50754195b3a5e95598b02460">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Remittance Advice Header contains information that applies to the entire remittance advice.  This Component is required.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RemittanceAdviceLine" type="RemittanceAdviceLineType" id="oagis-id-e501b5be4e7047fe93459986eba3af34">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">To be entered.

At least one occurrence of this Component is required for each occurrence of the Remittance Advice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RemittanceAdviceType" id="oagis-id-6fd24332f3dc4292886f503d54ce8f01">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The schema type for RemittanceAdvice. To be entered.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RemittanceAdviceHeader" id="oagis-id-ea735322b9bd4026aa5dbab59f8853ff" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">The Remittance Advice Header contains information that applies to the entire remittance advice.  This Component is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RemittanceAdviceLine" id="oagis-id-dd42b6df61ff44c28098dbae983c4789" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">To be entered.

At least one occurrence of this Component is required for each occurrence of the Remittance Advice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-8773b725e7534b2e869d80e8063fd7ef"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-cd7085babea04ca6b2ac51283709fc7f"/>
	</xsd:complexType>
	<xsd:complexType name="RemittanceAdviceHeaderBaseType" id="oagis-id-f09f6e05e0cc42d19d9138f928e713d8">
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="EffectiveDate" id="oagis-id-921e591f032c4ad7af43ecb140fc7072" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the Date the associated object is made effective</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="InitiatingParty" id="oagis-id-7553c2e9df05463280b55e271b4fa4ed" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Party initiating the payment to the forwarding or first agent. This can be the debtor (in a credit transfer), the creditor (in a direct debit) or a party that initiates the payment on behalf of the debtor or creditor.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-c682a2e3a30d45819fc71526670a3c45" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the bill or invoice is to be sent. In most cases this is the same as the CustomerParty however there are many cases where the CustomerParty and the BillToParty will be different.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FinancialParty" id="oagis-id-fca58ef1c9d641428f5b32b588f5bf3c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Financial institution that receives the payment transaction from the account owner or authorised party and processes the instruction. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RemitToParty" id="oagis-id-4650e937f4fd4018825d59ec130b1b1e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party or location that the payment is to be remitted to or sent to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-190d5f73462a40959c6cb20a3387975d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CheckInstruction" id="oagis-id-92acc5959d4443b0a404d56ef65debb3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Information related to a cheque instruction. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PaymentMethodCode" id="oagis-id-6e86b678c59a45bfa4b04b75f569899f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the payment method code for the associate entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TotalAmount" id="oagis-id-7bd1d01db1da47a1af286cf09102866a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the total amount of the object associated. This includes the Price and the total of all the charges, allowances and taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransactionID" id="oagis-id-ca821e7bc254420b8c8d737ec74f8559" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Unique and unambiguous identification of a payment transaction, as assigned by any of the parties on the initiating side, which will be passed on throughout the entire end-to-end chain.   </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PaymentAuthorization" minOccurs="0" id="oagis-id-462554d2961446c3a3a103d6af8702d1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DebitCard" minOccurs="0" id="oagis-id-97ddbf67fd8146079bb1ad0558443f3b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CreditCard" minOccurs="0" id="oagis-id-ae44e504ce8f431d87cfff34b1c1d31e">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ElectronicFundsTransfer" minOccurs="0" id="oagis-id-256cd1fabb2c4a5bbf8d3cb89bccecba">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2"/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemittanceAdviceHeaderType" id="oagis-id-b60c3a6dd5f445cc924fa1e95b3f78ea">
		<xsd:complexContent>
			<xsd:extension base="RemittanceAdviceHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="RemittanceAdviceHeaderExtensionType" id="oagis-id-1b64e58242ad4287874f669b011be7e1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemittanceAdviceLineBaseType" id="oagis-id-e1ae2d6cff774338af9702c6dae906df">
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="PaymentAmount" id="oagis-id-c121119d1c584a9080a9dbbaa4d40aeb" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Amount of payment</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="InvoiceReference" minOccurs="0" maxOccurs="unbounded" id="oagis-id-6c1a21ff69e94f4584c827dbdc26e7c6">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Reference to an invoice document such is in a remittance payment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemittanceAdviceLineType" id="oagis-id-bcd2cee54f4843048fb0c299d32df4f5">
		<xsd:complexContent>
			<xsd:extension base="RemittanceAdviceLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="RemittanceAdviceLineExtensionType" id="oagis-id-b0dd259ebe014c86b7cce6fb33ef374f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
