data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/SalesLead.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/SalesLead.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="SalesLead" type="SalesLeadType" id="oagis-id-44d726d055d64d1490754e87b47ce12e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Defines how leads interact with other Partner systems and Opportunity systems.

Life cycle of an order typically is as follows:
SalesLead -&gt; Opportunity -&gt; Quote -&gt; PurchaseOrder -&gt; SalesOrder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesLeadHeader" type="SalesLeadHeaderType" id="oagis-id-34662cf3f7124b359e09771df0f9ff85">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire SalesLead.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesLeadDetail" type="SalesLeadDetailType" id="oagis-id-a1c1381fdcf14a3aad27d6790843ce58">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">SalesLead Detail.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesLeadType" id="oagis-id-d76050a1c574497bb6363bad7c8d82ee">
		<xsd:sequence>
			<xsd:element ref="SalesLeadHeader" id="oagis-id-c6809bd14ec04c5e9867244bd35da9a8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire SalesLead.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SalesLeadDetail" id="oagis-id-bcdc67e606d341a395e5e3e4d4377c08" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">SalesLead Detail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-851875a040114754a4daabb5dd31c319"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-83d5ec18f30d42dc884af91d6493e0fc"/>
	</xsd:complexType>
	<xsd:complexType name="SalesLeadHeaderBaseType" id="oagis-id-36465f1cced742eaaf60d2f333453597">
		<xsd:complexContent>
			<xsd:extension base="CRMHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-cef34f7217e144b4adf67add4759aebf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AcceptedIndicator" id="oagis-id-f6beeb1e69a44df095dee52000e1ceb7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates whether the associated entity has been accepted or not.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="QualifiedIndicator" id="oagis-id-1dfe447be8964fa0a54eda27c94136b0" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates that the associated entity has been qualified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PriorityCode" id="oagis-id-2d668fd467094332a25e1279f208706e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the priority or urgency of the associated entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RankCode" id="oagis-id-88cd96d490684b5fbc003ea1b0ab00c3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The RankCode is typically assigned by an engine whose focus is on the given assocated entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-fe051bff407245a3b1b34b0d13b3ddec" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SalesLeadHeaderType" id="oagis-id-96624241dd6d42489617a019accc599d">
		<xsd:complexContent>
			<xsd:extension base="SalesLeadHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SalesLeadHeaderExtensionType" id="oagis-id-4d918663e7af481b943d3951fe93f880" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SalesLeadDetailBaseType" id="oagis-id-f926c40004f44608a3e1a94f5398c363">
		<xsd:complexContent>
			<xsd:extension base="CRMLineBaseType">
				<xsd:sequence>
					<xsd:element ref="PreventIndicator" id="oagis-id-ee470bd5f4014c50a700b3a60360ac18" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Financing" id="oagis-id-7665e1e981d3411484724612118b86d7" minOccurs="0"/>
					<xsd:element ref="Appointment" id="oagis-id-9919f378e90e4c68ba2f943eebc535e6" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SalesActivity" id="oagis-id-9da27371ac624c3085e2f3164d76c82c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">An associated sales activity as a result of the lead/opportunity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SalesLeadDetailType" id="oagis-id-fd96eda7f42540eab0957ea472f788d8">
		<xsd:complexContent>
			<xsd:extension base="SalesLeadDetailBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SalesLeadDetailExtensionType" id="oagis-id-3e9046db76024e3a805950c709a3e4ba" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
