data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/ShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Nouns/ShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_4/Common/Components/Components.xsd"/>
	<xsd:element name="ShipmentSchedule" type="ShipmentScheduleType" id="oagis-id-2fa5c5fc150e4b9f9239113ac7604050">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentScheduleHeader" type="ShipmentScheduleHeaderType" id="oagis-id-f2b8b8fc791c4e72beaf47f93c52f8b5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Header level information for the  schedule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentScheduleLine" type="ShipmentScheduleLineType" id="oagis-id-a6a1dd6d4cf44effab40a46f0a2b6d4e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Line level information for the  schedule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShipmentScheduleType" id="oagis-id-0582ddc5e8484cb4b80e2a0d1922f2d5">
		<xsd:sequence>
			<xsd:element ref="ShipmentScheduleHeader" id="oagis-id-6ebd7b4678aa47bca1f8bb996291d2e5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Header level information for the  schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShipmentScheduleLine" id="oagis-id-afd09afd7a524c909589a42827911cb1" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Line level information for the  schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-c8ead9f2da9a4f0398ea8ab4f004d934"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-d3a567365df64d87a8565ac2c2b775e5"/>
	</xsd:complexType>
	<xsd:complexType name="ShipmentScheduleHeaderType" id="oagis-id-18df448ef26c44039eb7d62a25a24fd8">
		<xsd:complexContent>
			<xsd:extension base="ScheduleHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShipmentScheduleHeaderExtensionType" id="oagis-id-3aeb983f97fe4933b2ae1fb72fb02ee4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentScheduleLineBaseType" id="oagis-id-1609a9a0e991458fb10e8a9d46eb0b53">
		<xsd:complexContent>
			<xsd:extension base="ScheduleLineBaseType">
				<xsd:sequence>
					<xsd:element ref="RequiredDateTime" id="oagis-id-273ded6d142746ce99984b78f7fc947f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date the goods or services must be delivered to the customer. Specified by the customer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PurchaseOrderReference" id="oagis-id-66d1491425b241d2985213965d4693f6" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a PurchaseOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalesOrderReference" id="oagis-id-ae6ce9c5164e43eab4d1433c29ac913a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a SalesOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DrawingAttachment" id="oagis-id-22929e2a5e5d472f9a61e1b72360001f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Drawing Attachment allows drawings to be attached to a Noun or Component.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScheduleException" id="oagis-id-5f5e8d838f304875a322d187188f3814" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Exception detail for Detail or Lline information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentScheduleLineType" id="oagis-id-92fa1d5f9225466caa1e6ffa73bdb9b1">
		<xsd:complexContent>
			<xsd:extension base="ShipmentScheduleLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShipmentScheduleLineExtensionType" id="oagis-id-62b211af2e2f4d48b06bafe9e201dc6f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
