data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Platform/2_3/BODs/AcknowledgeField.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeField.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Field.xsd"/>
	<xsd:element name="AcknowledgeField" type="AcknowledgeFieldType" id="oagis-id-dedeb4e4be384d5282c33ee5533f5ff2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeField is to enable the validation of data that exists on separate application's data bases.  This BOD can cause on-line validation to occur or may be a single tool for Acknowledgehronizing data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeFieldType" id="oagis-id-df22acb285fd45e587f8adfb324e8711">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeFieldDataAreaType" id="oagis-id-568efe35c1954de6bc6fbf3a898b6e86">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeField. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (Field).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeFieldDataAreaType" id="oagis-id-06b9fb7632d441b9b03b94d9b73ebee9">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-d4e1a6e7d22e4a69b81e7ea20644ef06"/>
			<xsd:element ref="Field" maxOccurs="unbounded" id="oagis-id-4588ce5d46a84bd7a0bf311c72942f76"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
