data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Platform/2_3/BODs/ChangeField.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeField.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Field.xsd"/>
	<xsd:element name="ChangeField" type="ChangeFieldType" id="oagis-id-288c78239e4549199ab694a7f3ccefa7">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeField is to enable the validation of data that exists on separate application's data bases.  This BOD can cause on-line validation to occur or may be a single tool for Changehronizing data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeFieldType" id="oagis-id-c6ad098e1e5943a7a78a01ad0ff14000">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeFieldDataAreaType" id="oagis-id-04b1bb4ef08344ed8756685ddf3b1d6a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeField. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (Field).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeFieldDataAreaType" id="oagis-id-cbac353a9ccc4eed96d071e5b392435c">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-ac56a8b8dca64d668f8ba8c874eeab6a"/>
			<xsd:element ref="Field" maxOccurs="unbounded" id="oagis-id-94390bc134ff4739a6c59ea6ebff38db"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
