data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Platform/2_3/BODs/ChangeTable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeTable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Table.xsd"/>
	<xsd:element name="ChangeTable" type="ChangeTableType" id="oagis-id-ae97301d9dd444f09e68fcbc3057f768">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeTable is to request that another business application component make changes to an existing Table communicating the full record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeTableType" id="oagis-id-e5c29c0cba9f4be28945583cb6f6ae53">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeTableDataAreaType" id="oagis-id-3d2218c8aa1c4f92a74632a37b244360">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeTable. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (Table).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeTableDataAreaType" id="oagis-id-b36cbaaf8c0742ea97650961f191e5a9">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-83964f9b754c458eb19de4930299b6bd"/>
			<xsd:element ref="Table" maxOccurs="unbounded" id="oagis-id-93806d169f574a6bb239ec5da788ea9b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
