data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="AcknowledgeWarehouseShippingAdvice" type="AcknowledgeWarehouseShippingAdviceType" id="oagis-id-c381e75b7e914c12a21830857589fb1a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeWarehouseShippingAdvice may be used to obtain acknowledge the result of a ProcesWarehouseShippingAdvice.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeWarehouseShippingAdviceType" id="oagis-id-6a502b18e49b4021a7e8c1e09a10e59e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeWarehouseShippingAdviceDataAreaType" id="oagis-id-228189e964f04d6f81bc87af82c8422a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeWarehouseShippingAdviceDataAreaType" id="oagis-id-9423385bbc5a4a97b877cd5c0f7498a4">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-4827d8e101964599a70fb957fa6a29fa"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-7877fef49bdf4dd58e36efd29075464b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
