data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeRFQ.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeRFQ.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RFQ.xsd"/>
        <xsd:element name="AcknowledgeRFQ" type="AcknowledgeRFQType" id="oagis-id-6d4e969bad9948e298cdb5f2b085da27">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeRFQ Business Object Document is to acknowledge receipt of the RFQ</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeRFQType" id="oagis-id-8158abc10eae4b789c52a8a73ce8f96a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeRFQDataAreaType" id="oagis-id-964fdd308f03478b8da02678a3a24637">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeRFQ. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (RFQ).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeRFQDataAreaType" id="oagis-id-40a9d5c8d0e349138eee9c72ee4c42b7">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-be8a4429b5054ff7b0197e48a7fd09d4"/>
                        <xsd:element ref="RFQ" maxOccurs="unbounded" id="oagis-id-f9c36ac8bdc94660b88ecb3729b02db7"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
