data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
        <xsd:element name="AcknowledgeIssueInventory" type="AcknowledgeIssueInventoryType" id="oagis-id-82d8d96407334f38a8876515bff31532">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeIssueInventory is to respond to a ProcessIssueInventor, where an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:

1. The material is defective and needs replacing, 
2. The material is used up and needs replenishment.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeIssueInventoryType" id="oagis-id-4be473d4250142bc8c71eeb635bbe7e2">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeIssueInventoryDataAreaType" id="oagis-id-9d9d9575ec614ac7a08bf1fd7220f439">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeIssueInventoryDataAreaType" id="oagis-id-df25663118264e68bc40a1276acd951c">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-cea669110ac5477da633a86734f29390"/>
                        <xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-3a25927a85ee4555bd875623ee15d889"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
