data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeRequireProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeRequireProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RequireProduct.xsd"/>
	<xsd:element name="AcknowledgeRequireProduct" type="AcknowledgeRequireProductType" id="oagis-id-993ac458bba944ac883b6cb799f9db92">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeRequireProduct Business Object Document is to acknowledge receipt of the RequireProduct</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeRequireProductType" id="oagis-id-f7d4aaf409784ae7a7280dc48e752a34">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeRequireProductDataAreaType" id="oagis-id-2db3ee0927cf47c482294e47f5d816ff">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeRequireProduct. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (RequireProduct).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeRequireProductDataAreaType" id="oagis-id-746c2b37004e4910beccfce679aacbc7">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-b17ea989029749389aeac899a8c22bf4"/>
			<xsd:element ref="RequireProduct" maxOccurs="unbounded" id="oagis-id-b31dfc6fa82f4a81bc860f6c094a1b36"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
