data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="AcknowledgeCreditTransferIST" type="AcknowledgeCreditTransferISTType" id="oagis-id-9946372d5a18452a91f98056b886941f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the AcknowledgeCreditTransferIST is the AcknowledgeCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeCreditTransferISTType" id="oagis-id-f25e46480b6d4ec49f30d8d2fa7506db">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeCreditTransferISTDataAreaType" id="oagis-id-6cf66e454ce0417c8b7afddac2d44a60">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeCreditTransferISTDataAreaType" id="oagis-id-020efed05fb445239a254b65196c6ba1">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-c0d7c32916d8429490a015207b873892"/>
			<xsd:element ref="CreditTransferIST" id="oagis-id-44301c5f265044529043c4d0ba36c6c1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
