data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeEmployeeWorkSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeEmployeeWorkSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EmployeeWorkSchedule.xsd"/>
	<xsd:element name="AcknowledgeEmployeeWorkSchedule" type="AcknowledgeEmployeeWorkScheduleType" id="oagis-id-055703e5fbaf4686b2534d58e5a1900a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeEmployeeWorkSchedule is to enable the Acknowledgehronization of Employee Work Schedule data that exists on separate data bases.  The AcknowledgeEmployeeWorkSchedule allows the adding of new Employee Work Schedules as well as the modification of previously established Employee Work Schedules.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeEmployeeWorkScheduleType" id="oagis-id-79d858aaf50244ec988ccb6b5ccdd569">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeEmployeeWorkScheduleDataAreaType" id="oagis-id-c187da4142814b73bf1bd98e56c7f542">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeEmployeeWorkSchedule. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (EmployeeWorkSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeEmployeeWorkScheduleDataAreaType" id="oagis-id-bd54c061f4b84c98b8099a90f5b48fbe">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-8ccc95f38dd44b56ad33e39ce1fff157"/>
			<xsd:element ref="EmployeeWorkSchedule" maxOccurs="unbounded" id="oagis-id-dbfdc37a641d41e5a26e49325ab54fc6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
