data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeSupplierPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeSupplierPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SupplierPartyMaster.xsd"/>
	<xsd:element name="AcknowledgeSupplierPartyMaster" type="AcknowledgeSupplierPartyMasterType" id="oagis-id-8ae2c876b5f2491da9ccbbcce529b759">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeSupplierPartyMaster is to facilitate keeping party information Acknowledgehronized that exists on separate data bases.  The AcknowledgeSupplierPartyMaster allows the adding of new party and the modification of previously established SupplierPartyMaster.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeSupplierPartyMasterType" id="oagis-id-09c33a072c2d4d9d97aed30c5ab3d035">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeSupplierPartyMasterDataAreaType" id="oagis-id-8d41e64d778649f283780ea25ddd9cec">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeSupplierPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (SupplierPartyMaster).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeSupplierPartyMasterDataAreaType" id="oagis-id-dd388ee64bd24d3ea2a279166da3fe3f">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-388d66c3d0014a4b8892e21d1d475e5d"/>
			<xsd:element ref="SupplierPartyMaster" maxOccurs="unbounded" id="oagis-id-2f04cca7b5594ea3b1421b5267d20ee9"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
