data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeReceiveItem.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/AcknowledgeReceiveItem.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ReceiveItem.xsd"/>
	<xsd:element name="AcknowledgeReceiveItem" type="AcknowledgeReceiveItemType" id="oagis-id-a9d4ebb4944d4405a4f0a6611c16fb80">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeInventoryTransfer is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeReceiveItemType" id="oagis-id-e676a3cd942645a2b883db18a59ee731">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeReceiveItemDataAreaType" id="oagis-id-3a395035330d43e7804ea3a01ab0ae1c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeReceiveItem. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (ReceiveItem).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeReceiveItemDataAreaType" id="oagis-id-e434afac22974ddaae6ff6b051e78726">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-6a5a5ed5a8384ef6b08ef9b4e9b1c18c"/>
			<xsd:element ref="ReceiveItem" maxOccurs="unbounded" id="oagis-id-28db3a962ae2415ba774c9455a9fb41d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
