data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelCostingActivity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelCostingActivity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CostingActivity.xsd"/>
	<xsd:element name="CancelCostingActivity" type="CancelCostingActivityType" id="oagis-id-74206ef06d734005a550188625fa51fe">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCostingActivity is to enable an application to request specific CostingActivity information from another business application module.  The response to the CancelCostingActivity is the ShowCostingActivity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCostingActivityType" id="oagis-id-1862b76a39554d51a5dc3a84a9bba974">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCostingActivityDataAreaType" id="oagis-id-031298d3f99d41e29c7e9b7f3d5e9791">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCostingActivity. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (CostingActivity).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCostingActivityDataAreaType" id="oagis-id-14eaebb5c20e40a6a57f6396aed8323c">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-d4712cebd539458eb4818f1298f473b2"/>
			<xsd:element ref="CostingActivity" maxOccurs="unbounded" id="oagis-id-75e07e3f7bf24d2fb22529fd17c10ab1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
