data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelRequireProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelRequireProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RequireProduct.xsd"/>
        <xsd:element name="CancelRequireProduct" type="CancelRequireProductType" id="oagis-id-08e0d9a79aa64cda8eb393d011f7d880">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelRequireProduct is to communicate from one business application to one or more other business applications that a previously requested item is no longer required.

Processing Note:  This cancel must refer to the original item requested.  To cancel the item(s), each item to be cancelled must be included.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelRequireProductType" id="oagis-id-d72cccaeb51a4f319623181d2d4f4d6e">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelRequireProductDataAreaType" id="oagis-id-244dd82b286c4b12905bebd17e92508e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelRequireProduct. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (RequireProduct).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelRequireProductDataAreaType" id="oagis-id-3feac72d456549c5be66d8669fc6fc70">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-e302cd24d68a49dfb8379a336b169b72"/>
                        <xsd:element ref="RequireProduct" maxOccurs="unbounded" id="oagis-id-436bf004de8a4adda16744f5d48bdf3f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
