data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelAcknowledgePersonnel.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelAcknowledgePersonnel.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Personnel.xsd"/>
	<xsd:element name="CancelAcknowledgePersonnel" type="CancelAcknowledgePersonnelType" id="oagis-id-3b2ebc101ff84407a5a6191f66ab2592">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgePersonnel is to enable the CancelAcknowledgehronization of employee data that exists on separate data bases between manufacturing and human resource applications.  The CancelAcknowledgePersonnel allows the adding of new employees and their relevant data as well as the modification of previously established employees.

The CancelAcknowledgePersonnel is used to facilitate the maintenance of human resource data in a manufacturing work force planning module.  This enables the workforce planning module to use current personnel information when creating finite production schedules.  The CancelAcknowledgePersonnel can also be used by a project accounting application or a work order management application to assign qualified personnel or to perform resource planning.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgePersonnelType" id="oagis-id-35ba4e5c0ff7454588d465f9fcf8e1f0">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgePersonnelDataAreaType" id="oagis-id-912ba27a397248e390b1e6b0d95b469c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgePersonnel. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (Personnel).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgePersonnelDataAreaType" id="oagis-id-9c85919451b141179b7fc3aecff87868">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-c64aaa329ac24d7eb5f4828310673bd8"/>
			<xsd:element ref="Personnel" maxOccurs="unbounded" id="oagis-id-7a76c056c38a4954bce8ec23e94004f6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
