data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelMoveProductForecast.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelMoveProductForecast.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveProductForecast.xsd"/>
	<xsd:element name="CancelMoveProductForecast" type="CancelMoveProductForecastType" id="oagis-id-eeb81bd65ab24bc681227056b4e68d1a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Cancel Purchaseorder is to request another business application to make Cancels to an existing Purchase Order.  This Cancel must refer to the original document and/or item ordered.  The Cancel processing assumes replacement of fields sent, with the exception the identifying fields of the Purchase Order.

If any of these key fields require changing, (i.e. the MoveProductForecast Document Id or a LineNumber) that constitutes a cancellation of the request and/or the addition of another Purchase Order.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelMoveProductForecastType" id="oagis-id-3425458deba843cbada7443a4cc1fe54">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelMoveProductForecastDataAreaType" id="oagis-id-c0cb38c9e59d44c68c9071884c54e09b">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelMoveProductForecast. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (MoveProductForecast).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelMoveProductForecastDataAreaType" id="oagis-id-72bc886aeb934dcaa677ead7ff6eaf63">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-410926f14748402a8defedf09ce8cf8c"/>
			<xsd:element ref="MoveProductForecast" maxOccurs="unbounded" id="oagis-id-d292b6e3c3924b08b57cd2d6f282e91c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
