data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelAcknowledgeBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downCancelAcknowledge package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelAcknowledgeBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
	<xsd:element name="CancelAcknowledgeBudgetLedger" type="CancelAcknowledgeBudgetLedgerType" id="oagis-id-e220c94ce8c74fa5a6e11a005c0a6d57">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeBudgetLedger is to transmit budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeBudgetLedgerType" id="oagis-id-a058b49743e7476486bda2bcd1ecd9fd">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeBudgetLedgerDataAreaType" id="oagis-id-2abf49531f2948c0976c5979ba669637">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeBudgetLedgerDataAreaType" id="oagis-id-74611e6a4b8e449db4bba4aa02a1ec78">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-0a9983f63ad14b5bb0ad412405035208"/>
			<xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-f9e664f44f7744939cd21516c7539611"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
