data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="CancelCreditTransfer" type="CancelCreditTransferType" id="oagis-id-0227f28a69584722aa3b66c73312a242">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the CancelCreditTransfer is the CancelCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelCreditTransferType" id="oagis-id-a758ab3b4f744031972988711801f8e8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelCreditTransferDataAreaType" id="oagis-id-216136a08afc4f57aeb95dafbd505303">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelCreditTransferDataAreaType" id="oagis-id-a8c3144f014c4353be47234028d3b820">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-54215da8ddb7478a857043c6420e6fae"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-63dde0421a0441edb601f2305f8dfe70"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
