data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelPartyScreen.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelPartyScreen.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreen.xsd"/>
	<xsd:element name="CancelPartyScreen" type="CancelPartyScreenType" id="oagis-id-48c1c95bd2d845e687a7278f8f24d6cb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelPartyScreen is to transmit an PartyScreen. Indicating that the receiver of the PartyScreen is to Cancel the PartyScreen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelPartyScreenType" id="oagis-id-3dde40ad40424f89aa8ffc74076ddab4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelPartyScreenDataAreaType" id="oagis-id-e81911e4574a44158a2613ff132b2c2a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPartyScreen. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (PartyScreen).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelPartyScreenDataAreaType" id="oagis-id-ea29e94aa77140fa9e719e28e9b787d4">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-6c83a81f4a01486a88be4fbe26f01fe1"/>
			<xsd:element ref="PartyScreen" maxOccurs="unbounded" id="oagis-id-fa1764daf59d4bdca4fb6dda7c93adc8"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
