data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelItemNonconformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelItemNonconformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ItemNonconformance.xsd"/>
	<xsd:element name="CancelItemNonconformance" type="CancelItemNonconformanceType" id="oagis-id-1f968124501a4d38ba6639e9a5268bbd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelItemNonconformance is to notify a Manufacturing Application of the need to cancel a previous order to make a product in a specific quantity, for a specific need by date. This BOD may be used to cancel an entire Production Order, or a specific line on the production order.

Processing Note:  

This cancel must refer to the original document and/or item ordered.  To cancel the entire order, include only the Header information for the instance of the Production Order you wish to cancel.  To cancel a line or several lines, each line to be cancelled must be included in the request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelItemNonconformanceType" id="oagis-id-18bd26c75bf142038c58abc8cb8efc6a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelItemNonconformanceDataAreaType" id="oagis-id-3264ccf3424e479d980b616589783285">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelItemNonconformance. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (ItemNonconformance).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelItemNonconformanceDataAreaType" id="oagis-id-c0a7e5b65d4842c7a4d6236d81cc68da">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-6a6ab9937636486190dd4c73213ca5dc"/>
			<xsd:element ref="ItemNonconformance" maxOccurs="unbounded" id="oagis-id-9ee5ac70f960411ca984db7257d0e635"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
