data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelEmployeeWorkSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/CancelEmployeeWorkSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/EmployeeWorkSchedule.xsd"/>
	<xsd:element name="CancelEmployeeWorkSchedule" type="CancelEmployeeWorkScheduleType" id="oagis-id-afc1a850d0124120a142d4494b2d8164">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelEmployeeWorkSchedule is to enable an application to request specific EmployeeWorkSchedule information from another business application module.  The response to the CancelEmployeeWorkSchedule is the AcknowledgeEmployeeWorkSchedule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelEmployeeWorkScheduleType" id="oagis-id-deb0d244c7284b1d933ed297952c1f63">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelEmployeeWorkScheduleDataAreaType" id="oagis-id-ff7c93cf04cb4012979f0e0fd00f94c2">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelEmployeeWorkSchedule. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (EmployeeWorkSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelEmployeeWorkScheduleDataAreaType" id="oagis-id-4a5519fb0e3b478b8cd89465c9d19dc2">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-e14a0bf0fb09480793c91a5843344261"/>
			<xsd:element ref="EmployeeWorkSchedule" maxOccurs="unbounded" id="oagis-id-aacafa88798841798a7d0ef4d3acc9d0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
