data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="ChangeRemittanceAdvice" type="ChangeRemittanceAdviceType" id="oagis-id-58523c3de58f43028ae73a90b5d15a3a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeRemittanceAdvice is to enable an application to request specific RemittanceAdvice information from another business application module.  The response to the ChangeRemittanceAdvice is the ChangeRemittanceAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeRemittanceAdviceType" id="oagis-id-84f20ac51a5d432483e803597e32c092">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeRemittanceAdviceDataAreaType" id="oagis-id-5e1dddd4cfdf4cd9af12233310b49bb5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeRemittanceAdviceDataAreaType" id="oagis-id-7bdc985d173843f7b31492441e3964f7">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-ae630303414b47c4bb653229591c8120"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-2e19d9c750f744a3a6c654e468c502a7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
