data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
	<xsd:element name="ChangeAcknowledgeCreditStatus" type="ChangeAcknowledgeCreditStatusType" id="oagis-id-f3561383b2094f3eb3dc83522b067f75">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeCreditStatus is to supply CreditStatus information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeCreditStatusType" id="oagis-id-648e4ae9f8794ba281a7514191024de1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeCreditStatusDataAreaType" id="oagis-id-1525df9329184a9f96ca1b1475f3a243">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeCreditStatus. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeCreditStatusDataAreaType" id="oagis-id-6ca512c201014d77bb1f280d0058075e">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-a61a507ada3a4cf7a6f3c3342d91bd1c"/>
			<xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-fea832f6972644ac892605f1ee1e37f2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
