data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeCostingActivity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeCostingActivity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CostingActivity.xsd"/>
	<xsd:element name="ChangeCostingActivity" type="ChangeCostingActivityType" id="oagis-id-f3e09748f7c44d59a90ea7439cb646b3">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCostingActivity is to enable an application to request specific CostingActivity information from another business application module.  The response to the ChangeCostingActivity is the ShowCostingActivity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCostingActivityType" id="oagis-id-5b521a7b8c9b470886b8c7cddc61fa0c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCostingActivityDataAreaType" id="oagis-id-da6e14e61fa44e1c983e900b78a22975">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCostingActivity. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CostingActivity).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCostingActivityDataAreaType" id="oagis-id-1fd1d3d5693b440ca5d907e89a91cef9">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-2af818420a854a99b673f1f44a579806"/>
			<xsd:element ref="CostingActivity" maxOccurs="unbounded" id="oagis-id-8594729c324d47389156baff09713e4d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
