data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeCurrencyExchangeRate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeCurrencyExchangeRate.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CurrencyExchangeRate.xsd"/>
	<xsd:element name="ChangeAcknowledgeCurrencyExchangeRate" type="ChangeAcknowledgeCurrencyExchangeRateType" id="oagis-id-fdd8e48f17b947b78b359d2494e20fb1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeCurrencyExchangeRate is to enable the passing of updates of currency exchange rates to other applications that have exchange rate tables.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeCurrencyExchangeRateType" id="oagis-id-a2d81b6361114678afdc5bc4dd0db4cd">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeCurrencyExchangeRateDataAreaType" id="oagis-id-f2b6586c7d9e4488ab2deff6731a0d1c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeCurrencyExchangeRate. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (CurrencyExchangeRate).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeCurrencyExchangeRateDataAreaType" id="oagis-id-071bf48e5693427385ea2047414dc459">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-f0210632209444cd86caa8ec1d875df9"/>
			<xsd:element ref="CurrencyExchangeRate" maxOccurs="unbounded" id="oagis-id-e1864cf549034e139c805f98d311604f"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
