data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
        <xsd:element name="ChangeEmployeeWorkTime" type="ChangeEmployeeWorkTimeType" id="oagis-id-8394f9f559194424825183749f132283">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeEmployeeWorkTime is to Change work time information for an employee from a data collection application to an ERP Human Resource application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeEmployeeWorkTimeType" id="oagis-id-b026a9e8e7254014abc95589f4a04694">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeEmployeeWorkTimeDataAreaType" id="oagis-id-efca9fe1f8854c5bb5d4b7250da8ed6e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeEmployeeWorkTimeDataAreaType" id="oagis-id-f3ee91efc905402cb18a9b454ac66ced">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-d61ec57c4c12489caff97478e435749e"/>
                        <xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-461c873b514f4e6ea39ef55b603bd4d8"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
