data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeProjectAccounting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downChangeAcknowledge package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeAcknowledgeProjectAccounting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProjectAccounting.xsd"/>
	<xsd:element name="ChangeAcknowledgeProjectAccounting" type="ChangeAcknowledgeProjectAccountingType" id="oagis-id-34d647f8b84a4bc7a87bc58adc30af69">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeProjectAccounting  is to enable all relevant sub-systems that submit single sided transactions to send information to a Project Accounting Application. This would include, but not necessarily be limited to:
·	Accounts Payable
·	Accounts Receivable
·	Budget
·	Order Management
·	Purchasing
·	Time and Labor
·	Travel and Expense

The ChangeAcknowledgeProjectAccounting will cause common data to be ChangeAcknowledgeed in a project accounting application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeProjectAccountingType" id="oagis-id-986ec4a0b0fc4adb8415c4660c846e12">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeProjectAccountingDataAreaType" id="oagis-id-93b062aeab9e4b21adf1389d09447900">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeProjectAccounting. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ProjectAccounting).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeProjectAccountingDataAreaType" id="oagis-id-a089c33465584d05bc93c1d67ccae3be">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-89db3a8d4e2d4f8ebb0e8c9640c7b9ea"/>
			<xsd:element ref="ProjectAccounting" maxOccurs="unbounded" id="oagis-id-a92e464b181c400c96b88ed685bc3021"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
