data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeRFQ.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ChangeRFQ.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RFQ.xsd"/>
        <xsd:element name="ChangeRFQ" type="ChangeRFQType" id="oagis-id-d0818e567ed24aacb7d36919d5374482">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeRFQ is to request that another business application component make changes to an existing Request for Quote.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeRFQType" id="oagis-id-3af00716ec8e44e48b8410d155f6021c">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeRFQDataAreaType" id="oagis-id-8056a5dd08c941c98b30df9b01b54908">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeRFQ. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (RFQ).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeRFQDataAreaType" id="oagis-id-f150a8b6d3fd42e89e3b885140365798">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-caa23065d4cd48eea6621116014c722f"/>
                        <xsd:element ref="RFQ" maxOccurs="unbounded" id="oagis-id-ab73327c1d764ec8a46032962420ae78"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
