data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetActualLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetActualLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ActualLedger.xsd"/>
        <xsd:element name="GetActualLedger" type="GetActualLedgerType" id="oagis-id-31b458d9522c4e4e8b6c95230b92177d">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetActualLedger is to enable an enterprise application to request detailed accounting ledger actual data.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetActualLedgerType" id="oagis-id-de6c7bc41a0a4cc699d495c5df3378b2">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetActualLedgerDataAreaType" id="oagis-id-c76279f8ed5345c1872f5ceea7e5048e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetActualLedger. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ActualLedger).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetActualLedgerDataAreaType" id="oagis-id-005cc061d8234a108805f16a871cba23">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-07f4db70482444199e1bf3b9961084d3"/>
                        <xsd:element ref="ActualLedger" maxOccurs="unbounded" id="oagis-id-3e6688dbb84e4e5c8cb3436c3b31f62f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
