data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetCurrencyExchangeRate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetCurrencyExchangeRate.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CurrencyExchangeRate.xsd"/>
        <xsd:element name="GetCurrencyExchangeRate" type="GetCurrencyExchangeRateType" id="oagis-id-7f3e86e0a3394ede8945e8692a34ee21">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCurrencyExchangeRate is to enable an application to request specific CurrencyExchangeRate information from another business application module.  The response to the GetCurrencyExchangeRate is the ShowCurrencyExchangeRate.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetCurrencyExchangeRateType" id="oagis-id-b0d57208bc1e44a39864417608085b2b">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetCurrencyExchangeRateDataAreaType" id="oagis-id-b3cc7cba527d46e98f11f3e1cf73b1e2">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCurrencyExchangeRate. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CurrencyExchangeRate).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetCurrencyExchangeRateDataAreaType" id="oagis-id-4c9f0bf1c35b4ae29ee11cc1bd351443">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-08c315fb894d4f5daf01a9d6e93afcba"/>
                        <xsd:element ref="CurrencyExchangeRate" maxOccurs="unbounded" id="oagis-id-c802cc0db98048649d7cf33f92d2fe44"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
