data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetCostingActivity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetCostingActivity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CostingActivity.xsd"/>
        <xsd:element name="GetCostingActivity" type="GetCostingActivityType" id="oagis-id-5e8f57c3be874e05bfac75ffe451271b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCostingActivity is to enable an application to request specific CostingActivity information from another business application module.  The response to the GetCostingActivity is the ShowCostingActivity.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetCostingActivityType" id="oagis-id-fc807cb70dda4e698a19dd189d3c087d">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetCostingActivityDataAreaType" id="oagis-id-3a675d1304e243bdb930424ccb9e51c2">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCostingActivity. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CostingActivity).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetCostingActivityDataAreaType" id="oagis-id-b098e2a836c845fc818e4c0f1779f460">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-48fc95b858704a33b2c9dfb1821d1807"/>
                        <xsd:element ref="CostingActivity" maxOccurs="unbounded" id="oagis-id-be5bbc564c6a4d32bbbdd1d83c9b6bb0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
