data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
        <xsd:element name="GetEmployeeWorkTime" type="GetEmployeeWorkTimeType" id="oagis-id-8c9d92b606c84e478cae16600504576b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetEmployeeWorkTime is to enable an application to request specific EmployeeWorkTime information from another business application module.  The response to the GetEmployeeWorkTime is the ShowEmployeeWorkTime.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetEmployeeWorkTimeType" id="oagis-id-62deb42349df46db85794abbd0890527">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetEmployeeWorkTimeDataAreaType" id="oagis-id-e3ec84f5dc074b2b8e061e5f41a51819">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetEmployeeWorkTimeDataAreaType" id="oagis-id-2d8834cfb95b41a9bec3258ffafe97c2">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-1d266fe4e60a4d239e96765cc7158aa9"/>
                        <xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-f5daacf2ea1e4850b89b40cb07a981d1"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
