data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetHazardousMaterialShipmentDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetHazardousMaterialShipmentDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/HazardousMaterialShipmentDocument.xsd"/>
	<xsd:element name="GetHazardousMaterialShipmentDocument" type="GetHazardousMaterialShipmentDocumentType" id="oagis-id-3dbad8ae780d4a1a974a73fb445a4007">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetHazardousMaterialShipmentDocument is to enable a request of an HazardousMaterialShipmentDocument. This BOD may be used as a request by a Customer to its Supplier. The ShowHazardousMaterialShipmentDocument BOD would be the expected response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetHazardousMaterialShipmentDocumentType" id="oagis-id-7235bfe3fb264b9b938b5a430d2f1e52">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-e5573c03841b497c8f5db7a447b45ea0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetHazardousMaterialShipmentDocument. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (HazardousMaterialShipmentDocument).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-6f4f35c6d46b4adaa8075b7350d64229">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-13b33ac2004b43c2a76c5e4bf05aea84"/>
			<xsd:element ref="HazardousMaterialShipmentDocument" maxOccurs="unbounded" id="oagis-id-9cad0d16c1f44f6fb5f032698ec314ef"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
