data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetItemNonconformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetItemNonconformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ItemNonconformance.xsd"/>
	<xsd:element name="GetItemNonconformance" type="GetItemNonconformanceType" id="oagis-id-d1ab812bc5e34ca580c279ea9e3a2a1c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetItemNonconformance is for the order management application to request ItemNonconformance data for a trading partner from the ItemNonconformance management function.  The GetItemNonconformance does not imply any update, it is only an inquiry function.  The ShowItemNonconformance discussed in the next chapter will be the response back to the order management application.

Discussed in a later chapter is the UpdateItemNonconformance.  The UpdateItemNonconformance may be used in both directions between the order management and the accounts receivable application.  Its purpose is to keep order, shipment and open item amounts current.  Finally, the ChangeItemNonconformanceStatus is used to update the order management application with any changes in business status for a particular trading partner.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetItemNonconformanceType" id="oagis-id-4ba7540fbef9471da765121d067add17">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetItemNonconformanceDataAreaType" id="oagis-id-048c192bec1c45be860119acc336c0a1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetItemNonconformance. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ItemNonconformance).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetItemNonconformanceDataAreaType" id="oagis-id-3c41818ce7504501889c091c511bba1f">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-f8e9ce6c0a534355b59231cabf11ed97"/>
			<xsd:element ref="ItemNonconformance" maxOccurs="unbounded" id="oagis-id-91e7c0ead67e4411ae2b03d9fde96077"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
