data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetInspectDelivery.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetInspectDelivery.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InspectDelivery.xsd"/>
        <xsd:element name="GetInspectDelivery" type="GetInspectDeliveryType" id="oagis-id-e66450d593b14254946a2addd497c136">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetInspectDelivery is to enable an application to request specific InspectDelivery information from another business application module.  The response to the GetInspectDelivery is the ShowInspectDelivery.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetInspectDeliveryType" id="oagis-id-6fb65acae0b448c48e67323b33276070">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetInspectDeliveryDataAreaType" id="oagis-id-fcf8bc2d9f124d2c8fd43806053c43b2">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetInspectDelivery. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (InspectDelivery).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetInspectDeliveryDataAreaType" id="oagis-id-acd4d34d706d47479b3b25dd546340e9">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-9dadc2e9c8b54dd08384fb65ec1c4649"/>
                        <xsd:element ref="InspectDelivery" maxOccurs="unbounded" id="oagis-id-3255d73f02b54140b5ebf1fd7b543053"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
