data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
        <xsd:element name="GetInventoryConsumption" type="GetInventoryConsumptionType" id="oagis-id-58c71ec2623648d68bf7ff384b96f6b0">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The most common use of the GetInventoryConsumption is to request a buyer's usage information about an item or product for the supplier of such item or product.  This BOD will not create or update either buyer's or supplier's inventory records.   The receiver of the request is responsible to make effective use of this information.

The BOD can be used in the following ways: 
(1)  for a supplier of goods to request from the buyer, the consumptn status of goods
(2)  for a vendor to request from the retailer if retail sales of goods have been made; and 
(3)  for inventory systems to request consumptn status from plant data collection and warehouse management systems.

This is an outline of the business flow that this BOD supports:
(1)  Overall purchase, replenishment or vendor managed inventory agreement is in place and/or a Get Consumptn message is sent by the supplier.
(2)  Show Consumptn Message is returned the to supplier, distributor or third party logistics provider, that material has been consumed.  This is done in response to events such as these (and/or the Get message), depending on implementation context:
  ·  Material is replenished to line side at manufacturing facitliy.
  ·  Material is assembled into final product.
  ·  Material is purchased and removed from facility by customer.
(3)  Supplier, distributor, third party logistics provider replenishes material, using information provided in the Show Consumptn message, the demand and shipment forecasts, and the terms of the overall purchase or vendor managed inventory agreement.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetInventoryConsumptionType" id="oagis-id-b01b5bf8868347a9993890395d5f96a8">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetInventoryConsumptionDataAreaType" id="oagis-id-0180284ba5a24c2aaabd1c2eee92408d">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetInventoryConsumptionDataAreaType" id="oagis-id-b5603b70220644a1be0a766184b92b85">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-4d992a7635754fdebc19c14103abda02"/>
                        <xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-bf12787bd151486caf3d7cbc5d8fbdac"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
