data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetProjectMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetProjectMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProjectMaster.xsd"/>
        <xsd:element name="GetProjectMaster" type="GetProjectMasterType" id="oagis-id-6a4335cae9ed4055ab6ebc0d5c1d1556">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetProjectMaster is to enable an application to request specific ProjectMaster information from another business application module.  The response to the GetProjectMaster is the ShowProjectMaster.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetProjectMasterType" id="oagis-id-563fd987dc4d4a2abab23376735f16a3">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetProjectMasterDataAreaType" id="oagis-id-d568d29f7f29421697a6076903d086d4">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetProjectMaster. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ProjectMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetProjectMasterDataAreaType" id="oagis-id-ae622c0441f94ff39cc3acced02abfa2">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-866739fd71c24829aba07a252a019483"/>
                        <xsd:element ref="ProjectMaster" maxOccurs="unbounded" id="oagis-id-8056d068412e408d9424270a82c30681"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
