data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetPaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetPaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
        <xsd:element name="GetPaymentStatus" type="GetPaymentStatusType" id="oagis-id-aca0d02fad37462ebe6d19328cd1eac8">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPaymentStatus is to enable an application to request specific PaymentStatus information from another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatus to company that has provide goods or services.  

The response to the GetPaymentStatus is the ShowPaymentStatus.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetPaymentStatusType" id="oagis-id-d021e1d722834bfc8bc33a03cd1139be">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetPaymentStatusDataAreaType" id="oagis-id-e28f99cf46e645088c16030e2edd6677">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPaymentStatus. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetPaymentStatusDataAreaType" id="oagis-id-dad7910f8bf047e1bc405fb30a299a5a">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-febb5d85e18c4dca8d123adfbc4114c2"/>
                        <xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-d6791978fca14579bfbeafdc654b62da"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
