data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetRecoverWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetRecoverWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/RecoverWIP.xsd"/>
        <xsd:element name="GetRecoverWIP" type="GetRecoverWIPType" id="oagis-id-590329ed861d4fc2be68c7ce1001a4ad">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetRecoverWIP is to enable an application to request specific RecoverWIP information from another business application module.  The response to the GetRecoverWIP is the ShowRecoverWIP.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetRecoverWIPType" id="oagis-id-530feb163bb04b5584f801730fc6dad8">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetRecoverWIPDataAreaType" id="oagis-id-7002609102f848acad15c9edcb33731c">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetRecoverWIP. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (RecoverWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetRecoverWIPDataAreaType" id="oagis-id-d86e6f95f1a047a991dfbc553923117b">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-03ed8dc64aa341d588272e92e8c22c23"/>
                        <xsd:element ref="RecoverWIP" maxOccurs="unbounded" id="oagis-id-06f662a600074e4e9482375e6ec331cc"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
