data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetRouting.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetRouting.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Routing.xsd"/>
        <xsd:element name="GetRouting" type="GetRoutingType" id="oagis-id-6076bb8ebfa44fa68f770c1b55311773">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetRouting is to communicate to a business application module or system a request for an existing Routing structure to be returned in a ShowRouting.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetRoutingType" id="oagis-id-be361caa2f8c4b39af2e2f5d7c134020">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetRoutingDataAreaType" id="oagis-id-12ef43058be84cbfb58872b97e7f138d">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetRouting. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (Routing).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetRoutingDataAreaType" id="oagis-id-bf166a47a52341bda735b7573588907f">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-74f6476958224508bc4eeaeb0da15e9f"/>
                        <xsd:element ref="Routing" maxOccurs="unbounded" id="oagis-id-1cc65f0d621940098db76db8f1046863"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
