data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetShipmentSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetShipmentSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ShipmentSchedule.xsd"/>
        <xsd:element name="GetShipmentSchedule" type="GetShipmentScheduleType" id="oagis-id-abf4d2b725714a9b83e772d8bcd5c344">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.
 
The purpose of the GetShipmentSchedule is to enable a business applications module to request this ShipmentSchedule information from another business application. The response to this BOD is ShowShipmentSchedule.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetShipmentScheduleType" id="oagis-id-d64bbad3682b47f6b65959358c7326d6">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetShipmentScheduleDataAreaType" id="oagis-id-c395aeea87894d15ba8bb7647c1f58e1">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ShipmentSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetShipmentScheduleDataAreaType" id="oagis-id-cd85c8ead2b84696b1f1f930f15a026d">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-bb787ab4963e47b9823a85fd0918d9d9"/>
                        <xsd:element ref="ShipmentSchedule" maxOccurs="unbounded" id="oagis-id-9227875a598047e09180f8e665691773"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
