data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetShippersLetterOfInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/GetShippersLetterOfInstruction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersLetterOfInstruction.xsd"/>
	<xsd:element name="GetShippersLetterOfInstruction" type="GetShippersLetterOfInstructionType" id="oagis-id-2b168a25de254c13922974e4a9de9af0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetShippersLetterOfInstruction is to enable a request of an ShippersLetterOfInstruction. This BOD may be used as a request by a Customer to its Supplier. The ShowShippersLetterOfInstruction BOD would be the expected response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetShippersLetterOfInstructionType" id="oagis-id-359c25a594204601bad5ef4427506db8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetShippersLetterOfInstructionDataAreaType" id="oagis-id-660134a2e9874512abc61f4fa81611ea">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetShippersLetterOfInstruction. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ShippersLetterOfInstruction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetShippersLetterOfInstructionDataAreaType" id="oagis-id-0c15aa591ca34dbf9c613dfcb0f23c64">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-73e829fb0bb8477db5efd5f017d070d4"/>
			<xsd:element ref="ShippersLetterOfInstruction" maxOccurs="unbounded" id="oagis-id-10c5cd58bd684fa894a8157f35d48ff6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
