data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyMoveProductForecast.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyMoveProductForecast.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MoveProductForecast.xsd"/>
        <xsd:element name="NotifyMoveProductForecast" type="NotifyMoveProductForecastType" id="oagis-id-0cbe9e65d71b4253baa30dbdbe00789c">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Notify MoveProductForecast is to facilitate keeping purchase order information synchronized on separate data bases throughout an enterprise.  The Notify MoveProductForecast allows the adding of new purchase orders and the modification of previously established purchase orders.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyMoveProductForecastType" id="oagis-id-b6e8d4f6e74249e7b8b2acaafde01f45">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyMoveProductForecastDataAreaType" id="oagis-id-4e1b435e2bdd4d1891141bf49eb49958">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyMoveProductForecast. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (MoveProductForecast).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyMoveProductForecastDataAreaType" id="oagis-id-14ea08e114084bf2bac4d9f4228789e2">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-0ef509946ff648b39d227efaf0c2f606"/>
                        <xsd:element ref="MoveProductForecast" maxOccurs="unbounded" id="oagis-id-eba074c1fa33461cb2ddae89e1eb771b"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
