data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyProductionOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionOrder.xsd"/>
        <xsd:element name="NotifyProductionOrder" type="NotifyProductionOrderType" id="oagis-id-8d25aa73b3cb4fc3a06490b5b35d9661">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyProductionOrder is to ensure that all business software components in a specific integration instance have the current Production Order information.  This BOD is commonly used in a publish and subscribe integration environment.

This BOD commonly causes updates to occur.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyProductionOrderType" id="oagis-id-a236d9bf90034c439929baebbf69d5c0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyProductionOrderDataAreaType" id="oagis-id-c8d486ba36644d349d831bebf10218f3">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyProductionOrder. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ProductionOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyProductionOrderDataAreaType" id="oagis-id-560be326d7374a7faccd9637561b497d">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-622c62982e694443962ba53c586123d5"/>
                        <xsd:element ref="ProductionOrder" maxOccurs="unbounded" id="oagis-id-26ce621e01b44b399808dbe96c4a1679"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
