data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyProductAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyProductAvailability.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductAvailability.xsd"/>
	<xsd:element name="NotifyProductAvailability" type="NotifyProductAvailabilityType" id="oagis-id-c0e21f9bac51497f9ec55e4df83b149c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyProductAvailability is to enable an application or component to request the reservations for products from  another business application or component.

The response to the NotifyProductAvailability is the ListProductAvailability. The NotifyProductAvailability also enables the retrieval of information across several documents by using selection fields.    This type of functionality is limited to the capabilities of the responding application and needs to be determined during the implementation project.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyProductAvailabilityType" id="oagis-id-2bcb1a514c3f4ceb97859d2e578f9bf0">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyProductAvailabilityDataAreaType" id="oagis-id-7e7b01ee22ac4a1cb12278be2a67c2bb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyProductAvailability. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ProductAvailability ).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyProductAvailabilityDataAreaType" id="oagis-id-0fd6e23a73304ba49103876bbc3ec61c">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-db8dca7e7e344b2b8853503ba9bc2a71"/>
			<xsd:element ref="ProductAvailability" maxOccurs="unbounded" id="oagis-id-b8c7a68dd5c649b0b62a37aa45384b32"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
