data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyHazardousMaterialShipmentDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyHazardousMaterialShipmentDocument.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/HazardousMaterialShipmentDocument.xsd"/>
	<xsd:element name="NotifyHazardousMaterialShipmentDocument" type="NotifyHazardousMaterialShipmentDocumentType" id="oagis-id-37262f5c26e94e56aea9343294417770">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyHazardousMaterialShipmentDocument is to communicate to a business application component or system the need to report an event occurre regarding a HazardousMaterialShipmentDocument or to update an existing HazardousMaterialShipmentDocument structure.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyHazardousMaterialShipmentDocumentType" id="oagis-id-c3aae492dd8741cc8f1386f0b896d993">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-3ea310d3de734c149018fcde87298e43">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyHazardousMaterialShipmentDocument. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (HazardousMaterialShipmentDocument).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyHazardousMaterialShipmentDocumentDataAreaType" id="oagis-id-190c62041ca74549b372f9569f58e1f5">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-545d7675e56f4e2fb9e9998224efcbbf"/>
			<xsd:element ref="HazardousMaterialShipmentDocument" maxOccurs="unbounded" id="oagis-id-82130753de9f4dab9e2ecb2c28feb186"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
