data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyJournalEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10rc2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downNotify package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10rc2/Model/BODs/NotifyJournalEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/JournalEntry.xsd"/>
	<xsd:element name="NotifyJournalEntry" type="NotifyJournalEntryType" id="oagis-id-47f99df19355422b80915374e423d3c2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyJournalEntry is to enable an application or component to respond to a ProcessJournalEntry.

The response to the NotifyJournalEntry is the response to the ProcessJournalEntry. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyJournalEntryType" id="oagis-id-160821737a8144cea0adbf39112f4586">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyJournalEntryDataAreaType" id="oagis-id-a8f1469cc6384de6b3228ee8af4e7a89">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyJournalEntry. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (JournalEntry). In response to the PostJournalEntry.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyJournalEntryDataAreaType" id="oagis-id-e3025b995d0c4487bf76173a7d6104df">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-bd05a2c17f794ca493f3262dde98cd83"/>
			<xsd:element ref="JournalEntry" maxOccurs="unbounded" id="oagis-id-f8577ddc9720468891be717ef239c734"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
