data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyInventoryConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyInventoryConsumption.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryConsumption.xsd"/>
        <xsd:element name="NotifyInventoryConsumption" type="NotifyInventoryConsumptionType" id="oagis-id-4e5818ba95bf43d385150267c0583972">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyInventoryConsumption is to inform a seller or provider about InventoryConsumption of items.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyInventoryConsumptionType" id="oagis-id-8e8af7a81f814384888bbf692ced8269">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyInventoryConsumptionDataAreaType" id="oagis-id-1944955347ca4feeb6ff2bffd5a76678">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyInventoryConsumption. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (InventoryConsumption).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyInventoryConsumptionDataAreaType" id="oagis-id-a76833805bf848ad95bd4dbf87d2e597">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-b5568bd2ddf4408f818c3c19926c42c9"/>
                        <xsd:element ref="InventoryConsumption" maxOccurs="unbounded" id="oagis-id-d3c62ad392d748b3951aaa9379b28013"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
