data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="NotifyCreditTransfer" type="NotifyCreditTransferType" id="oagis-id-74390e85def24f6780d82a5cd1682947">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the NotifyCreditTransfer is the NotifyCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyCreditTransferType" id="oagis-id-8cb6db81569941f78ebca720d5e9a37c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyCreditTransferDataAreaType" id="oagis-id-c928af552f7545169a27afd40a447903">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyCreditTransferDataAreaType" id="oagis-id-3fd04da2402144cc9313703783f9666d">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-bc3ee2e1d04741199f2cdbcc0acdaa8a"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-d2216eacbe8d40e7880789fca2beead6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
