data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyOnlineSession.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyOnlineSession.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineSession.xsd"/>
	<xsd:element name="NotifyOnlineSession" type="NotifyOnlineSessionType" id="oagis-id-890f3b5306034ecf86b89e4850582478">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyOnlineSession is to enable an application to request specific online OnlineSession from another business application module.  The response to the NotifyOnlineSession is the ShowOnlineSession.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyOnlineSessionType" id="oagis-id-7ce1cc6c417c4708ac3eb23ce405309f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyOnlineSessionDataAreaType" id="oagis-id-ddb5310266124dcea25c01541ba3dddd">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyOnlineSession. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (OnlineSession).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyOnlineSessionDataAreaType" id="oagis-id-ccea73b78c814af0b225b2fc46c25cf9">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-eb8e3ba38c4a4b72abf6364b45aee908"/>
			<xsd:element ref="OnlineSession" maxOccurs="unbounded" id="oagis-id-e7abd3acc3624f4a8f0a08fccae3ed7c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
