data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyDebitTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyDebitTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransfer.xsd"/>
	<xsd:element name="NotifyDebitTransfer" type="NotifyDebitTransferType" id="oagis-id-04a19919459e44c58499f152677d4ccc">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyDebitTransfer is to enable an application to request specific DebitTransfer information from another business application module.  The response to the NotifyDebitTransfer is the NotifyDebitTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyDebitTransferType" id="oagis-id-05f2df599da24ffcaba18928f9cde9e5">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyDebitTransferDataAreaType" id="oagis-id-47e038b8acd24a7395a47f8f9107f506">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyDebitTransfer. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (DebitTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyDebitTransferDataAreaType" id="oagis-id-7c1b0586470b4236a8c3bad23dd8b542">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-fe0d49c5c27548d1a27af4d4f67f24d7"/>
			<xsd:element ref="DebitTransfer" maxOccurs="unbounded" id="oagis-id-d68acc18fac94f6185f5503cd5673d3c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
