data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/PostBudgetLedger.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this downPost package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/PostBudgetLedger.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/BudgetLedger.xsd"/>
	<xsd:element name="PostBudgetLedger" type="PostBudgetLedgerType" id="oagis-id-66047bff7f7943a587606a52f52a6d96">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the PostBudgetLedger is to transmit budget amounts from all possible source applications throughout an enterprise to a general ledger or budget application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PostBudgetLedgerType" id="oagis-id-dd93c0a6311243d983c16ee213b9a9ae">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="PostBudgetLedgerDataAreaType" id="oagis-id-9c87c3d3701f4e5bb4e0433fb3fac5ed">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case PostBudgetLedger. The information consists of a Verb and one or more Nouns. The verb (Post) indicates the action to be performed on the Noun (BudgetLedger).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PostBudgetLedgerDataAreaType" id="oagis-id-8dca702d75614da8a50d8efe35cdbd9c">
		<xsd:sequence>
			<xsd:element ref="Post" id="oagis-id-98a63717c09e4636ab49fbe228b51e89"/>
			<xsd:element ref="BudgetLedger" maxOccurs="unbounded" id="oagis-id-7f9f6a91d96b406d856579cde971f6dc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
