data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessProductionPerformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessProductionPerformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionPerformance.xsd"/>
        <xsd:element name="ProcessProductionPerformance" type="ProcessProductionPerformanceType" id="oagis-id-b62c8e6ac08c41fcb56803b2a62f804f">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessProductionPerformance is to respond to a request  to Process a ProductionPerformance with the status of the processing of the ProductionPerformance of the movement of WIP (Work in Progress).

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessProductionPerformanceType" id="oagis-id-31c4e8aa0b6248ee833819ed337ff73f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessProductionPerformanceDataAreaType" id="oagis-id-469ac0d9b9be4c079fa422a1329549df">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessProductionPerformance. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ProductionPerformance).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessProductionPerformanceDataAreaType" id="oagis-id-6c57a2d5cea64bb8982f0045772f9dd8">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-12d560bde72445a2a71c328f2f65f5df"/>
                        <xsd:element ref="ProductionPerformance" maxOccurs="unbounded" id="oagis-id-1be72a64c5844b5cbfd2d0d3a7491794"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
