data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessCreditTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessCreditTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.001.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransferIST.xsd"/>
	<xsd:element name="ProcessCreditTransferIST" type="ProcessCreditTransferISTType" id="oagis-id-68e37afa507c474695be2412a02db935">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessCreditTransferIST is to enable an application to request specific CreditTransferIST information from another business application module.  The response to the ProcessCreditTransferIST is the ProcessCreditTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessCreditTransferISTType" id="oagis-id-28383ac016d94c889a982882cc92fe84">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessCreditTransferISTDataAreaType" id="oagis-id-d42e0a173fb7439c900ed52eb088d047">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessCreditTransferIST. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (CreditTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessCreditTransferISTDataAreaType" id="oagis-id-9c63d171778545249b09c6442a105c7f">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-555750fc0eb94a1aa5d797811b79cfdc"/>
			<xsd:element ref="CreditTransferIST" maxOccurs="unbounded" id="oagis-id-29c580abed104c14b417ca08fb704284"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
