data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessMoveProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessMoveProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/MoveProduct.xsd"/>
        <xsd:element name="ProcessMoveProduct" type="ProcessMoveProductType" id="oagis-id-e66d446548df4a8781685d11bf14daf2">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Process MoveProduct Business Object Document is to transmit a purchase order to a supplier's order management application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessMoveProductType" id="oagis-id-6d2a83cc479e4d20a398dfa705cec20f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessMoveProductDataAreaType" id="oagis-id-cd232fde38a8453a95f6ebe45ce4c109">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessMoveProduct. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (MoveProduct).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessMoveProductDataAreaType" id="oagis-id-9549e008547d4a97967e656bc3368a81">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-0dfc0fb4515a42509fd3b387abee3bee"/>
                        <xsd:element ref="MoveProduct" maxOccurs="unbounded" id="oagis-id-612d808d20da4f89a5db7c9e2205f780"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
