data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessPartyScreen.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessPartyScreen.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreen.xsd"/>
	<xsd:element name="ProcessPartyScreen" type="ProcessPartyScreenType" id="oagis-id-7661357b2e93445aaf79e4d0cd5f0cf0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessPartyScreen is to transmit an PartyScreen. Indicating that the receiver of the PartyScreen is to Process the PartyScreen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessPartyScreenType" id="oagis-id-fb5ce29ff367443583da5f47f754fb4c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessPartyScreenDataAreaType" id="oagis-id-9489a54ce4f34110992b12de9db96903">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessPartyScreen. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (PartyScreen).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessPartyScreenDataAreaType" id="oagis-id-06157ac5725f4c0e9967e8e4bb89bc7f">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-5830165faf6648d7abbada666de1740b"/>
			<xsd:element ref="PartyScreen" maxOccurs="unbounded" id="oagis-id-ff327c1efd2a463895271f406c7bf40b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
