data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessShipmentUnit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ProcessShipmentUnit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShipmentUnit.xsd"/>
	<xsd:element name="ProcessShipmentUnit" type="ProcessShipmentUnitType" id="oagis-id-d3a85c1798d54c47ab7eae0f0a9344f0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessShipmentUnit is to enable an application to provide a ShipmentUnit information from another business application module in order for that module to perform the task at hand..

The ProcessShipmentUnit is typically published from the business application that is is requesting that the master or owner of the ShipmentUnit information to process the contained update. This may also occur across enterprises.

The respons to the ProcessShipmentUnit is the AcknowledgeShipmentUnit to indicate success or failure. If the receiving system needs to make changes to the ShipmentUnit then the ChangeShipmentUnit can be used a coresponding RespondShipmentUnit accepts the changes or indicates additional changes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessShipmentUnitType" id="oagis-id-6dca8c47b1354ceb9d273ab24bec3f84">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessShipmentUnitDataAreaType" id="oagis-id-be14bfb64263466d9ad36ceda4909645">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessShipmentUnit. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ShipmentUnit).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessShipmentUnitDataAreaType" id="oagis-id-873e924b25b24e9dbae7a6bec4b5c1a6">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-c8c955b417654e57b12e1fbb17580365"/>
			<xsd:element ref="ShipmentUnit" maxOccurs="unbounded" id="oagis-id-0a1ec67b1fbf4480b4a246a7b9799c1a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
