data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowQuote.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowQuote.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Quote.xsd"/>
        <xsd:element name="ShowQuote" type="ShowQuoteType" id="oagis-id-e3e9fe0ceeae47cc8115ce43383a797a">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowQuote is to communicate to a business application module or system the sending systems representation of Quote information.  This request may be used as a response to a GetQuote request.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowQuoteType" id="oagis-id-ef24aec4cc4d4647bb450fe0226760fe">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowQuoteDataAreaType" id="oagis-id-bec0a33277354bffbcb3d08e60cf3870">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowQuote. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Quote).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowQuoteDataAreaType" id="oagis-id-41fe33cfdb1643d1aa489ea0df6076f3">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-c22c18ba73e349b0955b6eba7e9baa35"/>
                        <xsd:element ref="Quote" maxOccurs="unbounded" id="oagis-id-6124b075ab8a4fae93c668e7e0e68235"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
