data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowWarehouseShippingOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowWarehouseShippingOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingOrder.xsd"/>
	<xsd:element name="ShowWarehouseShippingOrder" type="ShowWarehouseShippingOrderType" id="oagis-id-82f517269484489dbe5428fa0993fa6d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The ShowWarehouseShippingOrder may be used to respond to a request of a GetWarehouseShippingOrder with a given set of WarehouseShippingOrder that match the request. A ShowWarehouseShippingOrder is the response to a GetWarehouseShippingOrder.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowWarehouseShippingOrderType" id="oagis-id-6cd022f1121d49c2987364ece71b192b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowWarehouseShippingOrderDataAreaType" id="oagis-id-3860c3fb5a8e4d579a10689ff32eceef">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowWarehouseShippingOrder. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (WarehouseShippingOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowWarehouseShippingOrderDataAreaType" id="oagis-id-83611fcbfffc470e9e3176987eae31f7">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-34b47b6a5cb140b08637f17180f6e28b"/>
			<xsd:element ref="WarehouseShippingOrder" maxOccurs="unbounded" id="oagis-id-c972c27f905448dea59f5266911921a5"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
