data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowSupplierPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowSupplierPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SupplierPartyMaster.xsd"/>
        <xsd:element name="ShowSupplierPartyMaster" type="ShowSupplierPartyMasterType" id="oagis-id-b23a3a10e75a442382b57e94f1644d09">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The ShowSupplierPartyMaster is the response for more information about the SupplierPartyMaster data. The request is provided in the GetSupplierPartyMaster BOD.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowSupplierPartyMasterType" id="oagis-id-4c42b7e79cc34dea8899f79b143d8a57">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowSupplierPartyMasterDataAreaType" id="oagis-id-0dd3f80bfb0843beb72f8bde6c2aa68e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowSupplierPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (SupplierPartyMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowSupplierPartyMasterDataAreaType" id="oagis-id-738ea24fb9aa4a3994bb3fb7d59a19cc">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-51b2dacf74f245e7a640464f14f6e2aa"/>
                        <xsd:element ref="SupplierPartyMaster" maxOccurs="unbounded" id="oagis-id-44a89f0b52724ff3a9bda7056f5764b9"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
