data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowSplitWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowSplitWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SplitWIP.xsd"/>
        <xsd:element name="ShowSplitWIP" type="ShowSplitWIPType" id="oagis-id-728282fb20e2417c96fd9b51f6a422a6">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowSplitWIP is to supply SplitWIP information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowSplitWIPType" id="oagis-id-2dac8368cfd6495d92cafc8ff21514fa">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowSplitWIPDataAreaType" id="oagis-id-7388e5638ed7411f9142cf9bde2d3d95">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowSplitWIP. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (SplitWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowSplitWIPDataAreaType" id="oagis-id-9464d6487bf5421c9f6179705ad03473">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-2f26a2629a8c4637a2b52eed3dd909d6"/>
                        <xsd:element ref="SplitWIP" maxOccurs="unbounded" id="oagis-id-9320d0e4c70f47f5aa21a4077786f1ba"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
