data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCatalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Catalog.xsd"/>
        <xsd:element name="ShowCatalog" type="ShowCatalogType" id="oagis-id-a9fd5cb8dc774f5ca218e995ed34790f">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCatalog is to supply a business application module or system with requested catalog information.
In communicating Catalog information, the ShowCatalogmay cause other information to be coordinated including, but not limited to
·  Item Identifiers
·  Specifications
·  Pricing Information agreed on either
  ·  Purchase Agreements
  ·  Price Lists
·  Availability and Delivery Information
·  Related Items and accessories

There are many possible business applications in several environments that may use this capability. Some examples of usage scenarios are:
·  Manufacturer exchanging catalogs with distributors/ suppliers/ e-marketplaces
·  Distributors/ Suppliers/ e-marketplaces exchanging catalogs with Buyers or other trading partners

It may also be necessary to support Component Supplier Management (CSM) scenarios.  In this scenario a company will provide a service of sourcing and codifying the products of many companies and publishing a consolidated catalog. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowCatalogType" id="oagis-id-4f1c4ff28a4841758ef1d3dbcfebc5f1">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowCatalogDataAreaType" id="oagis-id-8786a99cf745402fa6e42724a802e970">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCatalog. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Catalog).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowCatalogDataAreaType" id="oagis-id-036a0f17100e452f8d6c0583e79f5645">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-a9c78d92e7074fea8bdb682b6b80c51f"/>
                        <xsd:element ref="Catalog" maxOccurs="unbounded" id="oagis-id-2210ba5c1bdd4f00a7efdfe7ac46b045"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
