data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowAllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowAllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/AllocateResource.xsd"/>
        <xsd:element name="ShowAllocateResource" type="ShowAllocateResourceType" id="oagis-id-c2557b81a7614e00b5741cc537da93e8">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowAllocateResource is to supply AllocateResource information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowAllocateResourceType" id="oagis-id-917d1a5f0dcb4d55b82980821e9cb079">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowAllocateResourceDataAreaType" id="oagis-id-54b7071b788f474fbc76f71ac8239141">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowAllocateResource. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (AllocateResource).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowAllocateResourceDataAreaType" id="oagis-id-3b4313e4f0c143dbb50b8c4be9158474">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-b16bb0f16b08436e8a6694ea1988b523"/>
                        <xsd:element ref="AllocateResource" maxOccurs="unbounded" id="oagis-id-3db08c41678246b2af531c09aade61c7"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
