data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
        <xsd:element name="ShowWIPStatus" type="ShowWIPStatusType" id="oagis-id-fa4210f8059b4ec98f35933c0c1e39d8">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowWIPStatus is to notify a Manufacturing Application of the progress of a production order at a point in time. The business environments most likely to require this capability are any type of manufacturing scenario where BODs for individual manufacturing transactions and events are not utilized.

This BOD communicates what quantities of end product reside at which processing steps along with the time this snapshot view was taken.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowWIPStatusType" id="oagis-id-4373574e1a3547b7b1503117d7e59a5d">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowWIPStatusDataAreaType" id="oagis-id-03cd218bae6c4b3aa027f03ba5d3cef8">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowWIPStatusDataAreaType" id="oagis-id-8f2a75d5182b493dacdcf9a3329aeba4">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-571db48b6db747e2bdc0a877aadbd8e6"/>
                        <xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-6bd3c6c461374b189a17a9cdd99661b7"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
