data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowLocation.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowLocation.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Location.xsd"/>
        <xsd:element name="ShowLocation" type="ShowLocationType" id="oagis-id-04746fbf1d1940229f38b888276b2f9e">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowLocation is to supply Location information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowLocationType" id="oagis-id-a4438e3e467b4d1a90780f25acd69037">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowLocationDataAreaType" id="oagis-id-fe7bf7f553eb46eeadcd411664e5a813">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowLocation. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Location).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowLocationDataAreaType" id="oagis-id-52e4b7fb11814fc289ed43b653346689">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-bccab4bede6b40b4bb4c5ae9952ab8fd"/>
                        <xsd:element ref="Location" maxOccurs="unbounded" id="oagis-id-ea79cd9762be40308b3a4232b7c6d9f3"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
