data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCommercialInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCommercialInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CommercialInvoice.xsd"/>
	<xsd:element name="ShowCommercialInvoice" type="ShowCommercialInvoiceType" id="oagis-id-e870fe76494e418d829535853a2a7873">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCommercialInvoice is to supply CommercialInvoice information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowCommercialInvoiceType" id="oagis-id-2f82de4b99c44788b02bed627ecaf9be">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowCommercialInvoiceDataAreaType" id="oagis-id-f5e1f7e931d74db8bcefef1194429380">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCommercialInvoice. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the response from the request for information through a Get on the Noun (CommercialInvoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowCommercialInvoiceDataAreaType" id="oagis-id-c0aaebe2eb7144a3ae3b1ea5d78c11aa">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-6ef493b9c17e4c86ac1c82ec04e771e3"/>
			<xsd:element ref="CommercialInvoice" maxOccurs="unbounded" id="oagis-id-a12667043a63403bb7e464f410827b29"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
