data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCostingActivity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/ShowCostingActivity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CostingActivity.xsd"/>
        <xsd:element name="ShowCostingActivity" type="ShowCostingActivityType" id="oagis-id-7dea42056b264732be184b0d1b6057ad">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCostingActivity is to supply CostingActivity information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowCostingActivityType" id="oagis-id-d3339c9c76bf4889a52e50d079d4ffea">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowCostingActivityDataAreaType" id="oagis-id-9b4280724c104e5eb184ba0e0c1aba53">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCostingActivity. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (CostingActivity).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowCostingActivityDataAreaType" id="oagis-id-e984e5061e6a4ef5a3ee60e7f1626434">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-6c94a9c6ca254459987ed93a62490cd9"/>
                        <xsd:element ref="CostingActivity" maxOccurs="unbounded" id="oagis-id-eed25c55b04941dcbebf3d3e7057a831"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
