data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncEmployeeWorkTime.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncEmployeeWorkTime.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkTime.xsd"/>
        <xsd:element name="SyncEmployeeWorkTime" type="SyncEmployeeWorkTimeType" id="oagis-id-3041baf18b6a40368d0a557bb5e89d6a">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncEmployeeWorkTime is to Sync work time information for an employee from a data collection application to an ERP Human Resource application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncEmployeeWorkTimeType" id="oagis-id-3b44462ab4ac45ed84c1238e585074e6">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncEmployeeWorkTimeDataAreaType" id="oagis-id-22dbdb2ce7de4a47ab53e71bad40ab68">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncEmployeeWorkTime. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (EmployeeWorkTime).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncEmployeeWorkTimeDataAreaType" id="oagis-id-51491830afcc4924af4932a225a66331">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-65c860161c334c429e18cad0d8839139"/>
                        <xsd:element ref="EmployeeWorkTime" maxOccurs="unbounded" id="oagis-id-16b930d2230d499f95bb2ec3b771fc1b"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
