data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncCredit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncCredit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Credit.xsd"/>
        <xsd:element name="SyncCredit" type="SyncCreditType" id="oagis-id-41b5cb300e894fdea5f1115203bd0420">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">SyncCredit is used to synchronize Credit information with other applications</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncCreditType" id="oagis-id-ce71bdc642254ba2b8ac3371c3774ecc">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncCreditDataAreaType" id="oagis-id-6ec97b5136dc43128dcdb50b20f098ac">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncCredit. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (Credit).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncCreditDataAreaType" id="oagis-id-d61872ff44244f53a935e4190dbd4b9d">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-0a204bef34d94370930689eab2a5ced1"/>
                        <xsd:element ref="Credit" maxOccurs="unbounded" id="oagis-id-f751053882a1406c8fa2bb412a4afd6f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
