data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncResponseMoveProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncResponseMoveProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveProduct.xsd"/>
	<xsd:element name="SyncResponseMoveProduct" type="SyncResponseMoveProductType" id="oagis-id-0b66402d52084564b3380afeaa877860">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseMoveProduct is to communicate the response to a MoveProduct message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseMoveProductType" id="oagis-id-1358ba5e8e404018bf5e0bf37413cd1f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseMoveProductDataAreaType" id="oagis-id-639a36f9c88040418235f4b9a469d730">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseMoveProduct. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (MoveProduct).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseMoveProductDataAreaType" id="oagis-id-b1080e4bcd0c4084babfd2ae3c8c5eb0">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-1af66990df754d559e7ef24a59c4d678"/>
			<xsd:element ref="MoveProduct" maxOccurs="unbounded" id="oagis-id-f17ac7ab00324f3a8ebd6babe252e029"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
