data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncShippersExportDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncShippersExportDeclaration.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersExportDeclaration.xsd"/>
	<xsd:element name="SyncShippersExportDeclaration" type="SyncShippersExportDeclarationType" id="oagis-id-b00bb819712843cab185a58ca285641e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Sync ShippersExportDeclaration is to communicate ShippersExportDeclaration Information from the owner of a ShippersExportDeclaration  to another business application module.  The receiver of this BOD does is expected to take the information provided and populate their information on the ShippersExportDeclaration from this BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncShippersExportDeclarationType" id="oagis-id-ded7b2ea4b464f8a81321d3c09ba69e9">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncShippersExportDeclarationDataAreaType" id="oagis-id-655dfaef465f452a87da74934162b95a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncShippersExportDeclaration. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (ShippersExportDeclaration).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncShippersExportDeclarationDataAreaType" id="oagis-id-b0c99d7968cb44abab8b8d0dcb9c4cab">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-39eda05bd9234039906863e6ac388af9"/>
			<xsd:element ref="ShippersExportDeclaration" maxOccurs="unbounded" id="oagis-id-3a0ce882bea14f29b8e1da6ed7a7f1ea"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
