data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncResponseRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncResponseRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="SyncResponseRemittanceAdvice" type="SyncResponseRemittanceAdviceType" id="oagis-id-b7b01b46b0e6448bbeec24bcdb4e1b9d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponse Remittance Advice is to communicate Remittance Advice Information from the owner of a Remittance Advice to another business application module.  The receiver of this BOD does is expected to take the information provided and populate their information on the Remittance Advice from this BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseRemittanceAdviceType" id="oagis-id-40b40d73a6ff4c73931e98575b7eb20e">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseRemittanceAdviceDataAreaType" id="oagis-id-348e8c75537f47ec89b83033bb0e1b67">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseRemittanceAdviceDataAreaType" id="oagis-id-3d713fd2d2614a6db41363102d8ae29d">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-54e6a17061e640e0827b3a697fc484c8"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-bf8fc6cfdb5e4336ba9062183a3772e6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
