data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncCreditStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncCreditStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CreditStatus.xsd"/>
        <xsd:element name="SyncCreditStatus" type="SyncCreditStatusType" id="oagis-id-0463158cc4c640c0b996f18b03396a4e">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncCreditStatus is to supply CreditStatus information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="SyncCreditStatusType" id="oagis-id-fa4a33509d224154abb09e1cfa63f610">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="SyncCreditStatusDataAreaType" id="oagis-id-61d792a23a4a401db616d7125c2b12a2">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncCreditStatus. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (CreditStatus).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="SyncCreditStatusDataAreaType" id="oagis-id-d17fe22345234dd28ce15fb63951f632">
                <xsd:sequence>
                        <xsd:element ref="Sync" id="oagis-id-d530cacf396c4aa78385787e6780ec86"/>
                        <xsd:element ref="CreditStatus" maxOccurs="unbounded" id="oagis-id-3698b26d84874bb387923fc86c500d27"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
