data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncConfiguration.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Configuration.xsd"/>
	<xsd:element name="SyncConfiguration" type="SyncConfigurationType" id="oagis-id-17d80f44d5d14e438f35bb807e37d964">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncConfiguration is to enable an application to provide Configuration information from one business application to another business application. The SyncConfiguration is  to communicate the request to Sync a Configuration. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncConfigurationType" id="oagis-id-1eda2c8b7fcb465db535e1f2effc196c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncConfigurationDataAreaType" id="oagis-id-0a35584becb045e282bfdaf99dcdeb63">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncConfigurationDataAreaType" id="oagis-id-282e5532a98c462187602dbef3455bb2">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-6e3c4e46bf6846f3bba24de9386cc315"/>
			<xsd:element ref="Configuration" maxOccurs="unbounded" id="oagis-id-cb807353338d47f8886bcb8cc60e1ee7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
