data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Platform/2_4/BODs/AcknowledgeTable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   Schema agency: 	Open Applications Group 
   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/AcknowledgeTable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Table.xsd"/>
	<xsd:element name="AcknowledgeTable" type="AcknowledgeTableType" id="oagis-id-408ddcc5044f473a8860de8cbc219f3e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeTable may be used to obtain information Acknowledging the results of ProcessTable.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeTableType" id="oagis-id-f49df9821b3d4668a254cd136b07ce92">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeTableDataAreaType" id="oagis-id-8d7ee6d137aa477882620e2cb4f36d33">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeTable. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (Table).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeTableDataAreaType" id="oagis-id-cdbff02c5ae64f868de52b1e1ff958dd">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-8623648c73c7432088c5946f0b88d6c1"/>
			<xsd:element ref="Table" maxOccurs="unbounded" id="oagis-id-eae5553774cf468aa99e7ba317fb2420"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
