data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Platform/2_4/BODs/CancelUOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/CancelUOMGroup.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/UOMGroup.xsd"/>
	<xsd:element name="CancelUOMGroup" type="CancelUOMGroupType" id="oagis-id-b13f6b11ab834240951ac186e61d38af">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelUOMGroup is to supply a set of Unit-Of-Measure relationships to another business application module.

This BOD addresses the need for applications to exCancel item-independent alternative UOM information beyond the stocking UOM. See the Item UOM Integration Scenario for more detailed information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelUOMGroupType" id="oagis-id-cd0a3df2b51444ffa2886eb675924730">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelUOMGroupDataAreaType" id="oagis-id-41bb71e0679743ea955490ae1df3431c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelUOMGroup. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (UOMGroup).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelUOMGroupDataAreaType" id="oagis-id-e5bf20b734154b5ebdf8017d0e8219fc">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-878036a74ac84d5fa4a826a43aa35e50"/>
			<xsd:element ref="UOMGroup" maxOccurs="unbounded" id="oagis-id-ef9d6b66d1d74b63bee5c1d03b19e7d0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
