data/OAGIS_10_4_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/Platform/2_4/BODs/GetUOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_4  
   Date:               05 Jan 2018
   Copyright 1997-2018, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2018). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_4/Model/BODs/GetUOMGroup.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/UOMGroup.xsd"/>
        <xsd:element name="GetUOMGroup" type="GetUOMGroupType" id="oagis-id-3283545908f446b3be1b76fe29b87471">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetUOMGroup is to communicate to a business application component or module a request for an existingUOMGroup to be returned in a ShowUOMGroup.

There are many possible business applications in several environments that may use this capability.  For example, an MRP, Inventory, or Manufacturing business application could use this to request alternate UOM information for one or more items.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetUOMGroupType" id="oagis-id-4b188337f7ca4660917b0e780c89ec15">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetUOMGroupDataAreaType" id="oagis-id-e0c704c47d02497c8ca466056f331faf">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetUOMGroup. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (UOMGroup).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetUOMGroupDataAreaType" id="oagis-id-ab1ba06727d744b2b4a21f9fd0645604">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-a3560773fa544534a9e1ebd15684e93c"/>
                        <xsd:element ref="UOMGroup" maxOccurs="unbounded" id="oagis-id-4f477ed0cd884c38a27e3eaaba0bb37d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
