data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Platform/2_2/BODs/NotifyUOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/NotifyUOMGroup.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/UOMGroup.xsd"/>
        <xsd:element name="NotifyUOMGroup" type="NotifyUOMGroupType" id="oagis-id-051dc31519414479a9b3a640bfd7888b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyUOMGroup is to supply a set of Unit-Of-Measure relationships to another business application module.

This BOD addresses the need for applications to exchange item-independent alternative UOM information beyond the stocking UOM. See the Item UOM Integration Scenario for more detailed information.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyUOMGroupType" id="oagis-id-25adc2c867a74bd3aa51f9c3e4ace7b0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyUOMGroupDataAreaType" id="oagis-id-4af8c1b8133d4f65887e8543735a54e6">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyUOMGroup. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (UOMGroup).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyUOMGroupDataAreaType" id="oagis-id-64a8f3c95cd44efc8d90af0b08ba0932">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-74342cf243b745f297bef4cb19385607"/>
                        <xsd:element ref="UOMGroup" maxOccurs="unbounded" id="oagis-id-9b52d632753f42a693c027e1f0d204ff"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
