data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Platform/2_2/BODs/SyncResponseTable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/BODs/SyncResponseTable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Table.xsd"/>
	<xsd:element name="SyncResponseTable" type="SyncResponseTableType" id="oagis-id-8c0d480e83ad441caa922d6849b6de78">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseTable is to communicate from one business application to one or more other business applications that additional data related to a Table is available.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseTableType" id="oagis-id-e1a9e27e7f74428385e0ba996fcaa866">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseTableDataAreaType" id="oagis-id-e55a47d07e7140a8a7f29c82b1eec2c9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseTable. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (Table).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseTableDataAreaType" id="oagis-id-336cc7bed44a4f9eaa4581d87eefd0e5">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-8959d3f4f8d04404864091606925aa04"/>
			<xsd:element ref="Table" maxOccurs="unbounded" id="oagis-id-bb54c55f659c4b7ea898cefc6eb8ce42"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
