data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Platform/2_1/Nouns/BOD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--
   Schema agency: 	Open Applications Group 
   OAGIS® Revision:    OAGIS 10.1 Platform 2_1 
   Date:               09 June 2008 
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_platform/2_1/Model/Nouns/BOD.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified">
	<xsd:include schemaLocation="../Common/Components/Components.xsd"/>
	<xsd:element name="BOD" type="BODType" id="oagis-id-a16e386682d64878ba103fc514455a61">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BODBaseType" id="oagis-id-9e777609f25446aa9f6d3b70d22d05bb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="BODID" id="oagis-id-3649c98db96641fd84c7f1a3d6d5b28e" minOccurs="0"/>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-059a6c4a205746418433a65524967804"/>
					<xsd:element ref="ProcessingResultCode" id="oagis-id-c48ca3a237074ad1beaa5fe58f625df5" minOccurs="0"/>
					<xsd:element ref="BODFailureMessage" id="oagis-id-beca76e56ca44e1f98ee31ed3684d96a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The processing of the BOD has failed. Provides a list of error and warning messages that explain the failure. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BODSuccessMessage" id="oagis-id-45b5a8c97a0842808ca147eefb410c26" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The processing of the BOD was a success. Possible, non-fatal warning messages may appear here. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PartialBODFailureMessage" id="oagis-id-5e355dde082a44c09321e31ac6bfb340" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The processing of at least one noun in the BOD has failed. Error and warning messages may explain the failure. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BODType" id="oagis-id-41afcb52257c42f591ce6fbb5c5d7c6d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BODBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="BODExtensionType" id="oagis-id-542b395704d94027a9da911c71ad154e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The USERAREA is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
