data/OAGIS_10_1_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/Platform/2_1/Nouns/UOMGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_1  
   Date:               27 Jun 2014
   Copyright 1997-2014, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2014). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_1/Model/Nouns/UOMGroup.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10"  targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/Components/Components.xsd"/>
	<xsd:element name="UOMGroup" type="UOMGroupType" id="oagis-id-64cc214c61294933a2ca388016a5bc74">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Unit-of-Measure Group is a set of related Units-of-Measure (UOMs). A UOMGROUP is typically defined by inventory control systems and assigned to many different ITEMs that otherwise share common handling, packaging or other physical inventory attributes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UOMGroupBaseType" id="oagis-id-d0bf4a52830044a7a23da428d939e7d4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Unit-of-Measure conversion flexibility permits alternate UOMs to be defined in terms relative to the ITEM's stocking UOM or relative to other alternate UOMs.

Note that these conditions further require the first alternate UOM occurrence to always be expressed in terms relative to the stocking UOM.  This declaration methodology permits applications to construct a linked UOM conversion hierarchy and calculate a conversion factor between any given alternate and stocking UOM.

The Multiplier Specifies both the quantity and UOM which are equivalent to the alternate Unit-of-Measure.   The value of the MultiplierQuantity compound may be any whole or fractional numeric value.  The UOM field within the MultiplierQuantity compound must contain either one of the following values:

The ITEM's stocking UOM (as declared in the UOMGroup Header Component) or a previously declared alternate UOM.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="UOMCodeConversionRate" id="oagis-id-9cd1518b431c46d2a14609eb0b7cf066" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UOMGroupType" id="oagis-id-8d58908357a44bcb9ea0ba627f1baf76">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Unit-of-Measure conversion flexibility permits alternate UOMs to be defined in terms relative to the ITEM's stocking UOM or relative to other alternate UOMs.

Note that these conditions further require the first alternate UOM occurrence to always be expressed in terms relative to the stocking UOM.  This declaration methodology permits applications to construct a linked UOM conversion hierarchy and calculate a conversion factor between any given alternate and stocking UOM.

The Multiplier Specifies both the quantity and UOM which are equivalent to the alternate Unit-of-Measure.   The value of the MultiplierQuantity compound may be any whole or fractional numeric value.  The UOM field within the MultiplierQuantity compound must contain either one of the following values:

The ITEM's stocking UOM (as declared in the UOMGroup Header Component) or a previously declared alternate UOM.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UOMGroupBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="UOMGroupExtensionType" id="oagis-id-51314c5f0ac64c00b0bb9819ae579400" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
