data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeCommercialInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeCommercialInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CommercialInvoice.xsd"/>
	<xsd:element name="AcknowledgeCommercialInvoice" type="AcknowledgeCommercialInvoiceType" id="oagis-id-c5b73226d69a4cb3a50194a7b635859e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the AcknowledgeCommercialInvoice Business Object Document is to acknowledge receipt of the CommercialInvoice</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeCommercialInvoiceType" id="oagis-id-3949b30a7b6c4b0592e5090a113223d1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeCommercialInvoiceDataAreaType" id="oagis-id-97c14b04c22242e38e93d6153875a8bb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeCommercialInvoice. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (CommercialInvoice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeCommercialInvoiceDataAreaType" id="oagis-id-4829ea1f4a8345ec8554e40753b49d27">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-d605501421cf4a1e8e7494ccc0179746"/>
			<xsd:element ref="CommercialInvoice" maxOccurs="unbounded" id="oagis-id-5c7ca2f39d524894a06fcd95931e3084"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
