data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeAllocateResource.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 
   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeAllocateResource.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/AllocateResource.xsd"/>
	<xsd:element name="AcknowledgeAllocateResource" type="AcknowledgeAllocateResourceType" id="oagis-id-0a3753ce606a46128b365c400f895451">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeAllocateResource may be used to obtain limited information Acknowledgeing about documents that match certain selection criteria in a GetAcknowledgeAllocateResource.

Additional information about a specific AllocateResource may be obtained through ShowAllocateResource by using the Acknowledgeing information to populate a GetAllocateResource request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeAllocateResourceType" id="oagis-id-3ad38ce3ee2f48e9ba06e509eb3390db">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeAllocateResourceDataAreaType" id="oagis-id-6ce9635b4e6c4173ab258b09df671dec">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeAllocateResource. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (AllocateResource).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeAllocateResourceDataAreaType" id="oagis-id-ab280adf64dc4e96ab310a41fe8b4e7f">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-1d5cd6378c464ef1a14f02372d580c83"/>
			<xsd:element ref="AllocateResource" id="oagis-id-cc4167c2ee0f4f19b17d76f4eb7370f2" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
