data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeWIPStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeWIPStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WIPStatus.xsd"/>
	<xsd:element name="AcknowledgeWIPStatus" type="AcknowledgeWIPStatusType" id="oagis-id-ca3de7c3cdca464f8147aa3e8afc8ce2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeWIPStatus is used to receive the results of the ProcessWIPStatus.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeWIPStatusType" id="oagis-id-c500993965274d4bae209b591c65e115">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeWIPStatusDataAreaType" id="oagis-id-2cea46b317a744bd8af295a6026259ed">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeWIPStatus. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (WIPStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeWIPStatusDataAreaType" id="oagis-id-4a1f67eea5e64df2890a25574b6e885a">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-3ce74ea8870e4620b56825dda6be7f6f"/>
			<xsd:element ref="WIPStatus" maxOccurs="unbounded" id="oagis-id-eed54c6bb4f546b0a001d7fd9027a721"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
