data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeWarehouseShippingOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeWarehouseShippingOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingOrder.xsd"/>
	<xsd:element name="AcknowledgeWarehouseShippingOrder" type="AcknowledgeWarehouseShippingOrderType" id="oagis-id-66de8e07e61647e1ad22fc19dcf003f8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeWarehouseShippingOrder may be used to acknowledge the result of a ProcesWarehouseShippingOrder.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgeWarehouseShippingOrderType" id="oagis-id-f9aae88673a8422c95cf09a3268f7568">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="AcknowledgeWarehouseShippingOrderDataAreaType" id="oagis-id-585bce76283842b3856d11a3e1f306d1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeWarehouseShippingOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (WarehouseShippingOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeWarehouseShippingOrderDataAreaType" id="oagis-id-a38d6e736fbb437f888fc42a23094aa6">
		<xsd:sequence>
			<xsd:element ref="Acknowledge" id="oagis-id-54fbf38266994fd980392bf3d339cdd9"/>
			<xsd:element ref="WarehouseShippingOrder" maxOccurs="unbounded" id="oagis-id-e1caee642fa946969b3c39198dca6de9"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
