data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeReceiveDelivery.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/AcknowledgeReceiveDelivery.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ReceiveDelivery.xsd"/>
        <xsd:element name="AcknowledgeReceiveDelivery" type="AcknowledgeReceiveDeliveryType" id="oagis-id-f9c5f3ca74e147898d158d0191c2c370">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The AcknowledgeReceiveDelivery may be used to notify the shipping business partner that the shipment has been received by the customer or consignee destination, and alert them to any discovered discrepancies.   The acknowledgement may contain the full detail of the receipt as created by the receiving party or just the discrepancies and other exception conditions.

The AcknowledgeReceiveDelivery BOD supports receipt acknowledgements at either the line item level and/or the ship unit level.  Intermediate transportation/logistics providers or freight forwarding partners can use this document to acknowledge the receipt of entire shipping units without detailing the corresponding contents.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgeReceiveDeliveryType" id="oagis-id-dadd49ec8bc8479290a77d30aa7be782">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgeReceiveDeliveryDataAreaType" id="oagis-id-b703775c419142aa9a9aaf6f93af6804">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case AcknowledgeReceiveDelivery. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (ReceiveDelivery).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgeReceiveDeliveryDataAreaType" id="oagis-id-8659fd9915994808b1ee07c0d16abafe">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge" id="oagis-id-c2659e9ef3e44e23add367650f79a474"/>
                        <xsd:element ref="ReceiveDelivery" maxOccurs="unbounded" id="oagis-id-63cfce41a4a346df822ee39065797e23"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
