data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeChartOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeChartOfAccounts.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ChartOfAccounts.xsd"/>
	<xsd:element name="CancelAcknowledgeChartOfAccounts" type="CancelAcknowledgeChartOfAccountsType" id="oagis-id-95bf5e85138a4b69b0b778f8943e7f60">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeChartOfAccounts is to supply ChartOfAccounts information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeChartOfAccountsType" id="oagis-id-c48ad37860454753b09bb9ce09b36789">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeChartOfAccountsDataAreaType" id="oagis-id-41b84a937658412e900d5a22c4788710">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeChartOfAccounts. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (ChartOfAccounts).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeChartOfAccountsDataAreaType" id="oagis-id-87d0452b41a04c86a810ec18a7fa580c">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-c5651f4de3fb43ff9ee4ccab6ab35148"/>
			<xsd:element ref="ChartOfAccounts" maxOccurs="unbounded" id="oagis-id-9facebc5defc4c81a2eb005cf9a0a906"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
