data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelPurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelPurchaseOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PurchaseOrder.xsd"/>
        <xsd:element name="CancelPurchaseOrder" type="CancelPurchaseOrderType" id="oagis-id-0e13d0b182724d04a16a5da887db57fe">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Cancel PurchaseOrder is to communicate from one business application to one or more other business applications that a previous Purchase Order or Purchase Order line is no longer needed.

Processing Note:  This cancel must refer to the original document and/or item ordered.  To cancel the entire order, include only the Purchase Order Header information for the instance of the Purchase Order you wish to cancel.  To cancel a line or several lines, each line to be cancelled must be included.

This BOD commonly causes updates to occur and may be used as part of a larger integration scenario or as a single tool for communicating demand.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelPurchaseOrderType" id="oagis-id-d9b81e9fd2ec4808bb54362ad2c15497">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelPurchaseOrderDataAreaType" id="oagis-id-71795e9c74d447e1b573a89838dae4fa">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelPurchaseOrderDataAreaType" id="oagis-id-23c17bee68294933a8d53ea01bb95449">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-bd761099c95647eaa43d44f32dabca1b"/>
                        <xsd:element ref="PurchaseOrder" maxOccurs="unbounded" id="oagis-id-9aff5670483f42ea9b5a69b41bb38db0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
