data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelSalesLead.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelSalesLead.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SalesLead.xsd"/>
	<xsd:element name="CancelSalesLead" type="CancelSalesLeadType" id="oagis-id-2649ce6c14244b718c7423e95ca64c99">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelSalesLead is to enable an application to provide SalesLead information from one business application to another business application. The CancelSalesLeadis provided in response to the ProcessCart in order to request a Cancel to process the cart. The Chagne is directed from the owner of the information (the receiver of the Process) the originator of the Process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelSalesLeadType" id="oagis-id-796591abb9dc4609afa1dad18a56a81c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelSalesLeadDataAreaType" id="oagis-id-ba829c377eb54e7fa5931cc84a94531a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelSalesLeadDataAreaType" id="oagis-id-095cc7c59fab42d0b93763da97b6dd49">
		<xsd:sequence>
			<xsd:element ref="Cancel" id="oagis-id-3f0397bff94445129b47529a34f210f2"/>
			<xsd:element ref="SalesLead" maxOccurs="unbounded" id="oagis-id-8d284f27490d4dfba63b48768a5745fa"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
