data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeShippersExportDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeShippersExportDeclaration.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersExportDeclaration.xsd"/>
	<xsd:element name="CancelAcknowledgeShippersExportDeclaration" type="CancelAcknowledgeShippersExportDeclarationType" id="oagis-id-f69a2f4ecffd43c1b58620d01a900d05">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeShippersExportDeclaration Business Object Document is to CancelAcknowledge receipt of the ShippersExportDeclaration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeShippersExportDeclarationType" id="oagis-id-f9df934f69df4bada3f89aae9d115df5">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeShippersExportDeclarationDataAreaType" id="oagis-id-46aabafa48e34ea9918cefc4fd7f2815">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeShippersExportDeclaration. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (ShippersExportDeclaration).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeShippersExportDeclarationDataAreaType" id="oagis-id-860279a2b19b4ec48b06254c7e7fb2d8">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-67affeaffda646d28ea530dffa821781"/>
			<xsd:element ref="ShippersExportDeclaration" maxOccurs="unbounded" id="oagis-id-1ef36df8d09046a0bdcc67d558928df6"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
