data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeCorrectiveActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelAcknowledgeCorrectiveActionPlan.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionPlan.xsd"/>
	<xsd:element name="CancelAcknowledgeCorrectiveActionPlan" type="CancelAcknowledgeCorrectiveActionPlanType" id="oagis-id-8fec9f18b51941debb14afe537789413">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelAcknowledgeCorrectiveActionPlan is to communicate to a business application module or system the need to initiate the creation of a CorrectiveActionPlan structure.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CancelAcknowledgeCorrectiveActionPlanType" id="oagis-id-cb2e1e92a9d5490aa4b6809a08a7eac3">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CancelAcknowledgeCorrectiveActionPlanDataAreaType" id="oagis-id-679a328a00c44b1892c0fba8734e9799">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelAcknowledgeCorrectiveActionPlan. The information consists of a Verb and one or more Nouns. The verb (CancelAcknowledge) indicates the action to be performed on the Noun (CorrectiveActionPlan).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelAcknowledgeCorrectiveActionPlanDataAreaType" id="oagis-id-37810ef8f26b409f9daa89450e6c6075">
		<xsd:sequence>
			<xsd:element ref="CancelAcknowledge" id="oagis-id-8a19dc101330458b9af7ad5abb8f082d"/>
			<xsd:element ref="CorrectiveActionPlan" id="oagis-id-888dec25173641b88ce1bf549bb582a9"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
