data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelPickList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/CancelPickList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PickList.xsd"/>
        <xsd:element name="CancelPickList" type="CancelPickListType" id="oagis-id-e8c7563965964ffaa53d80d14c8b2b7b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the CancelPickList is to Cancel the details of an individual Picking List from a plant level to an ERP system. This BOD will usually cause Cancels to occur.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="CancelPickListType" id="oagis-id-a049559b2c2c4bf6ab5431963375b735">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="CancelPickListDataAreaType" id="oagis-id-76318986f9d6459da3b45ef030731a4e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case CancelPickList. The information consists of a Verb and one or more Nouns. The verb (Cancel) indicates the action to be performed on the Noun (PickList).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="CancelPickListDataAreaType" id="oagis-id-b3c84579c29c40f0a40f82b06fe37e69">
                <xsd:sequence>
                        <xsd:element ref="Cancel" id="oagis-id-bae780b532e54e96a787e86a12125576"/>
                        <xsd:element ref="PickList" maxOccurs="unbounded" id="oagis-id-c8b074edbb3a46669a1fe957738bd138"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
