data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgePickList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgePickList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PickList.xsd"/>
	<xsd:element name="ChangeAcknowledgePickList" type="ChangeAcknowledgePickListType" id="oagis-id-1e51589cf8144d15baa4c73f7c66ad67">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgePickList is to ChangeAcknowledge the details of an individual Picking List from a plant level to an ERP system. This BOD will usually cause ChangeAcknowledges to occur.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgePickListType" id="oagis-id-be085a166e0441e696089c190c6e352d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgePickListDataAreaType" id="oagis-id-a8990770a71c445eb5b39480d60479c7">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgePickList. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (PickList).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgePickListDataAreaType" id="oagis-id-4712280c922e450cb6cf62f5d6c1534f">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-02c3765bf07947a2ba98e3c043f1d388"/>
			<xsd:element ref="PickList" maxOccurs="unbounded" id="oagis-id-142a1e8138dd459daea1456f136d658d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
