data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCorrectiveActionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCorrectiveActionRequest.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionRequest.xsd"/>
	<xsd:element name="ChangeCorrectiveActionRequest" type="ChangeCorrectiveActionRequestType" id="oagis-id-4e5313525ced4df29164d9e11cdf9750">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCorrectiveActionRequest is to communicate to a business application module or system the need to initiate the creation of a CorrectiveActionRequest structure.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCorrectiveActionRequestType" id="oagis-id-6e61b39171204f61ac376278239fe829">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCorrectiveActionRequestDataAreaType" id="oagis-id-c476e096833f43b6801155833ec9b37a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCorrectiveActionRequest. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CorrectiveActionRequest).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCorrectiveActionRequestDataAreaType" id="oagis-id-013db9b410c44a11b2503e4fbe5736e0">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-18aa2516c8fd4177afb72dbad81f670f"/>
			<xsd:element ref="CorrectiveActionRequest" id="oagis-id-5c0af8808d5344e68cdc31befd98adf7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
