data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCustomerPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCustomerPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CustomerPartyMaster.xsd"/>
	<xsd:element name="ChangeCustomerPartyMaster" type="ChangeCustomerPartyMasterType" id="oagis-id-c2b457ee5471491d9b2f66adbd65bbd0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCustomerPartyMaster is to facilitate keeping party information synchronized that exists on separate data bases.  The ChangeCustomerPartyMaster allows the adding of new party and the modification of previously established CustomerPartyMaster.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCustomerPartyMasterType" id="oagis-id-ba79b49432c44f369c5cb709b5096368">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCustomerPartyMasterDataAreaType" id="oagis-id-31f573b60f1141ed8c304974eae17f26">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCustomerPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CustomerPartyMaster).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCustomerPartyMasterDataAreaType" id="oagis-id-bf0d2cfe2b7d43179d2958401285b88d">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-f8d61f2370684d37ac135d3415ba51ec"/>
			<xsd:element ref="CustomerPartyMaster" maxOccurs="unbounded" id="oagis-id-ca50d3ca4a8a4570bedc4d2802133b05"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
