data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeMoveInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeMoveInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveInventory.xsd"/>
	<xsd:element name="ChangeMoveInventory" type="ChangeMoveInventoryType" id="oagis-id-b8e88c2124944eca8f3b21798cef5ff0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeMoveInventory is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeMoveInventoryType" id="oagis-id-fb4bbc2b6f8b4be4a5b784d83a2c7b71">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeMoveInventoryDataAreaType" id="oagis-id-373e8a4345a04ae7bb20ef1a0a2199ba">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeMoveInventory. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (MoveInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeMoveInventoryDataAreaType" id="oagis-id-339843858c8146798d86548a5cb1062a">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-c4b5d7141ca043b09a3cb487be2a2b3f"/>
			<xsd:element ref="MoveInventory" maxOccurs="unbounded" id="oagis-id-d2979a0c70064062bfa0777321ec9c2d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
