data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeEngineeringChangeOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeEngineeringChangeOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EngineeringChangeOrder.xsd"/>
        <xsd:element name="ChangeEngineeringChangeOrder" type="ChangeEngineeringChangeOrderType" id="oagis-id-dce07c0d96b64092bc171188582bc5df">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeEngineeringChangeOrder is to notify another application about a change in the EngineeringChangeOrder</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeEngineeringChangeOrderType" id="oagis-id-d205cb8e08304f2bb4703b5cb9f80f62">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeEngineeringChangeOrderDataAreaType" id="oagis-id-28f663fb480d4e1b8b32842e3ee30782">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeEngineeringChangeOrder. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (EngineeringChangeOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeEngineeringChangeOrderDataAreaType" id="oagis-id-ffc3e0744393441d8cae9c252cde4f25">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-d67440804f0e490c9f9554a5bdad6717"/>
                        <xsd:element ref="EngineeringChangeOrder" maxOccurs="unbounded" id="oagis-id-bb9c492a604944198d36dbe638538e1f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
