data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
        <xsd:element name="ChangeConfirmWIP" type="ChangeConfirmWIPType" id="oagis-id-ce863c2632db4dc08be5b4c32f39339c">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeConfirmWIP is to respond to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeConfirmWIPType" id="oagis-id-ed0c3c3c97cf40ea994686f90d84db51">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeConfirmWIPDataAreaType" id="oagis-id-a2a55ebf92184a879e7b11be7cc1262f">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeConfirmWIPDataAreaType" id="oagis-id-179750e45da746d3a5f5d0036ee6b559">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-9129fe48e81d4aa5807a1b7eabb3f639"/>
                        <xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-cfcc1faef55c4c23a6247bf5bd711d7a"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
