data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
	<xsd:element name="ChangeAcknowledgeConfirmWIP" type="ChangeAcknowledgeConfirmWIPType" id="oagis-id-7a5b9c8078dd4f74918fda6ba98ffe44">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeConfirmWIP is to ChangeAcknowledge to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeConfirmWIPType" id="oagis-id-93b3b419c74d4460a77d80f79506218c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeConfirmWIPDataAreaType" id="oagis-id-4e3c09be5bbb41c8908b92cb5fd7c915">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeConfirmWIPDataAreaType" id="oagis-id-0328ba2f26394c24a6734abe1c3c2ffa">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-c990af1b0f8b4e46bcbfb4c7d456b1a1"/>
			<xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-6c7f28778a8d4498a19194e25ccbfdfc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
