data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeWorkOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeWorkOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WorkOrder.xsd"/>
	<xsd:element name="ChangeAcknowledgeWorkOrder" type="ChangeAcknowledgeWorkOrderType" id="oagis-id-9933079c5dce4737b93bb71d32df583a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeWorkOrder is to communicate to a business application module or system the need to initiate the creation of a WorkOrder structure.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeWorkOrderType" id="oagis-id-f8966cf0f83c44e9baf37e59197a6c72">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeWorkOrderDataAreaType" id="oagis-id-71e9182d4b344ed697ec097cec17806c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeWorkOrder. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (WorkOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeWorkOrderDataAreaType" id="oagis-id-7aaa9a1d592d401298f43a8f718ca12e">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-47a94d32904b4c30ab3c6137e2cce105"/>
			<xsd:element ref="WorkOrder" id="oagis-id-e41cee815ca748cdbf8f346a637f802c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
