data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangePartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangePartyScreenResponse.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreenResponse.xsd"/>
	<xsd:element name="ChangePartyScreenResponse" type="ChangePartyScreenResponseType" id="oagis-id-af919364f7be465ba850ac6f3ace8ee9">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangePartyScreenResponse is to transmit an PartyScreenResponse. Indicating that the receiver of the PartyScreenResponse is to Change the PartyScreenResponse.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangePartyScreenResponseType" id="oagis-id-3842a6e1694848e5b0a579c4b4ecf433">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangePartyScreenResponseDataAreaType" id="oagis-id-4c08b458f7f340d0a75f375e09954451">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangePartyScreenResponse. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (PartyScreenResponse).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangePartyScreenResponseDataAreaType" id="oagis-id-0ddf04508cc74866b2bb3c91712ce087">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-3710bc6dc677415791690c9ee53412ae"/>
			<xsd:element ref="PartyScreenResponse" maxOccurs="unbounded" id="oagis-id-5f866cf3b732477c9c3e8954f814aabb"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
