data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeMoveInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeMoveInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MoveInventory.xsd"/>
	<xsd:element name="ChangeAcknowledgeMoveInventory" type="ChangeAcknowledgeMoveInventoryType" id="oagis-id-bf2663b4b6d543edb0cd8f23b2363735">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeMoveInventory is to give the organization the ability to do a quantity movement of materials from one organizational unit to another organizational unit. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeMoveInventoryType" id="oagis-id-2f317da70bda49b48803a6b90040b3e8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeMoveInventoryDataAreaType" id="oagis-id-1ec58a0ad61d4e18ac33fc93d9a1d795">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeMoveInventory. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (MoveInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeMoveInventoryDataAreaType" id="oagis-id-a26f01b425494427a801debdb94b2db1">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-84417ac96e1846108c21145ee3c4224c"/>
			<xsd:element ref="MoveInventory" maxOccurs="unbounded" id="oagis-id-78eaceb61d4b4742848b0a94e387486c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
