data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangePaymentStatusIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangePaymentStatusIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.002.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatusIST.xsd"/>
	<xsd:element name="ChangePaymentStatusIST" type="ChangePaymentStatusISTType" id="oagis-id-9f5d895b5a6a47e094381250fdb9f687">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangePaymentStatusIST is to enable an application to request specific PaymentStatusIST information to be Changeed by another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatusIST to company that has provided goods or services.  

The response to the ChangePaymentStatusIST is the AcknowledgePaymentStatusIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangePaymentStatusISTType" id="oagis-id-f34755d217fc4b6dbf2b60d9a948942b">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangePaymentStatusISTDataAreaType" id="oagis-id-009a0abafca34e20ab0c2cd91a12e886">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangePaymentStatusIST. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (PaymentStatusIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangePaymentStatusISTDataAreaType" id="oagis-id-efd9004f7b144c4c82e7d571544966a3">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-3b8e9507fb5a47a08081e080727a0415"/>
			<xsd:element ref="PaymentStatusIST" maxOccurs="unbounded" id="oagis-id-0118502b3be34e9faeafe5bdb91c1f6e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
