data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
	<xsd:element name="ChangeCreditTransfer" type="ChangeCreditTransferType" id="oagis-id-165754d456854296a4263544c98f7f03">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the ChangeCreditTransfer is the ChangeCreditTransfer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeCreditTransferType" id="oagis-id-4388492e36a04aa5b348e45b968c275c">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeCreditTransferDataAreaType" id="oagis-id-c8c7db8004664f7d89983a2f780619a3">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeCreditTransferDataAreaType" id="oagis-id-1d32828daa1b4d8291128efee23867d8">
		<xsd:sequence>
			<xsd:element ref="Change" id="oagis-id-603a0a727dcc437588ea4c2d90a177bb"/>
			<xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-e0fd123e329949b5b1db7594b93424fc"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
