data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeProductionOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionOrder.xsd"/>
        <xsd:element name="ChangeProductionOrder" type="ChangeProductionOrderType" id="oagis-id-fc36c5f1ad4e4b14b3e6f3878b5fb5db">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeProductionOrder is to notify another application about a change in the ProductionOrder</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ChangeProductionOrderType" id="oagis-id-94fcd72565894e84805c811593e2d9c3">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ChangeProductionOrderDataAreaType" id="oagis-id-6a361d305821403fa2e87ef9b1a8ec6f">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeProductionOrder. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (ProductionOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ChangeProductionOrderDataAreaType" id="oagis-id-4a686d2cd5eb4a479cfa907698518e9d">
                <xsd:sequence>
                        <xsd:element ref="Change" id="oagis-id-de3280b4fa1d4c3e8ea28798d454d9fa"/>
                        <xsd:element ref="ProductionOrder" maxOccurs="unbounded" id="oagis-id-40e9b02b9dc54baf85d287d3b8d334c8"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
