data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeMaintenanceOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeMaintenanceOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/MaintenanceOrder.xsd"/>
	<xsd:element name="ChangeAcknowledgeMaintenanceOrder" type="ChangeAcknowledgeMaintenanceOrderType" id="oagis-id-8ab9bb252d354aa7ad2c7d635ec7164e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeMaintenanceOrder is to publish to a business application component or system the need to create or ChangeAcknowledge a Maintenance Order.

One possible scenario is the synchronization of Maintenance Order between field devices, service trucks, etc. with a CMMS system.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeMaintenanceOrderType" id="oagis-id-4e80b478f4834a93bc6fe7bd688aa6da">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeMaintenanceOrderDataAreaType" id="oagis-id-d6e0cf1467e84bc9a6f76d96a14ca901">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeMaintenanceOrder. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (MaintenanceOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeMaintenanceOrderDataAreaType" id="oagis-id-861570867c8049dd8c69aac95eecadb1">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-da1b171158744ca0aa2fef584fe5fc10"/>
			<xsd:element ref="MaintenanceOrder" maxOccurs="unbounded" id="oagis-id-2181d88a763a4f4b99fed4602ae07f7c"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
