data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeProductionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ChangeAcknowledgeProductionSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductionSchedule.xsd"/>
	<xsd:element name="ChangeAcknowledgeProductionSchedule" type="ChangeAcknowledgeProductionScheduleType" id="oagis-id-0e1f6e18656f47ac88125f5321b6fe86">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ChangeAcknowledgeProductionSchedule is to respond to a request to Process a ProductionSchedule with the resulst of that Processing.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeAcknowledgeProductionScheduleType" id="oagis-id-167db7155c6e406a8c6a68530a5c3468">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeAcknowledgeProductionScheduleDataAreaType" id="oagis-id-372747b0fa1d40efaf579eaddaf211a9">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ChangeAcknowledgeProductionSchedule. The information consists of a Verb and one or more Nouns. The verb (ChangeAcknowledge) indicates the action to be performed on the Noun (ProductionSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeAcknowledgeProductionScheduleDataAreaType" id="oagis-id-2ba43ce71fa4465287fbe5af9ed6f1f9">
		<xsd:sequence>
			<xsd:element ref="ChangeAcknowledge" id="oagis-id-3da10211de30479fa8f00251082119f7"/>
			<xsd:element ref="ProductionSchedule" maxOccurs="unbounded" id="oagis-id-f8af723404a44b5f82799dbb992275a4"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
