data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetCorrectiveActionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetCorrectiveActionRequest.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionRequest.xsd"/>
	<xsd:element name="GetCorrectiveActionRequest" type="GetCorrectiveActionRequestType" id="oagis-id-1b2260a1da924856a3516d7e00536e2d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCorrectiveActionRequest is to enable an application to request specific CorrectiveActionRequest information from another business application module.  The response to the GetCorrectiveActionRequest is the ShowCorrectiveActionRequest.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetCorrectiveActionRequestType" id="oagis-id-c3faafa59d8b43638bf7eb02e41811b6">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetCorrectiveActionRequestDataAreaType" id="oagis-id-66dc025c7063499fbb1ad0edbaaae80d">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCorrectiveActionRequest. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CorrectiveActionRequest).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetCorrectiveActionRequestDataAreaType" id="oagis-id-64bf1c42721a406d888f3dcd7c1db352">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-7e123b53b93d492ea4bc3d709f7f9772"/>
			<xsd:element ref="CorrectiveActionRequest" id="oagis-id-5f8be8b83b7944a9b171a2a012ae2ca7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
