data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetCorrectiveAction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetCorrectiveAction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveAction.xsd"/>
	<xsd:element name="GetCorrectiveAction" type="GetCorrectiveActionType" id="oagis-id-e7ba0ca3ee3447e5b6161c785120d10c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetCorrectiveAction is to enable an application to request specific CorrectiveAction information from another business application module.  The response to the GetCorrectiveAction is the ShowCorrectiveAction.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetCorrectiveActionType" id="oagis-id-979c49e168ae4e7a87ccc5f67ee364f5">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetCorrectiveActionDataAreaType" id="oagis-id-4d7f8c4c408a407fbb1c5f039959a05f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetCorrectiveAction. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (CorrectiveAction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetCorrectiveActionDataAreaType" id="oagis-id-301f5a7201154b2ea44e09c66e78fbc9">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-ed6708b897be4dfb83513d945e0cdb0e"/>
			<xsd:element ref="CorrectiveAction" id="oagis-id-3594df2988554a54b68fdc6b0d170d33"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
