data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetInventoryBalance.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetInventoryBalance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryBalance.xsd"/>
        <xsd:element name="GetInventoryBalance" type="GetInventoryBalanceType" id="oagis-id-60b990a7fc9046acac0318c48cc1bde4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetInventoryBalance is to enable an application to request specific InventoryBalance information from another business application module.  The response to the GetInventoryBalance is the ShowInventoryBalance.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetInventoryBalanceType" id="oagis-id-53938c6d6c194d5d8e2647ae0970bcd4">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetInventoryBalanceDataAreaType" id="oagis-id-133584e1f04e4a6fa58962c0c2300b38">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetInventoryBalance. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (InventoryBalance).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetInventoryBalanceDataAreaType" id="oagis-id-4223dd3c61b04cbfbc09327a689e18eb">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-b348f5dfbf5e4c9db9596bce0607bc76"/>
                        <xsd:element ref="InventoryBalance" maxOccurs="unbounded" id="oagis-id-6cb68c066aaa4f228ee8c4dd60685d65"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
