data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetPayable.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetPayable.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Payable.xsd"/>
        <xsd:element name="GetPayable" type="GetPayableType" id="oagis-id-183eb41e95cf4df89da9b5f38029a6c5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPayable is to facilitate keeping party information synchronized that exists on separate data bases.  The GetPayable allows a business application to request information about a given party. The ShowPayable is the response to this request providing the specific information requested.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetPayableType" id="oagis-id-306c95d07c0747d3a1a6149ca83ab00f">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetPayableDataAreaType" id="oagis-id-e085cc8a6e914f4fb43ff891cf676e6a">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPayable. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (Payable).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetPayableDataAreaType" id="oagis-id-80fd1273412645bba7dda5fb90ff676d">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-b139c0d79af84502b98f92d667156f8c"/>
                        <xsd:element ref="Payable" maxOccurs="unbounded" id="oagis-id-d2ecaee4cc8e4284a7b518a87ccd262d"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
