data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetPartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetPartyScreenResponse.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreenResponse.xsd"/>
	<xsd:element name="GetPartyScreenResponse" type="GetPartyScreenResponseType" id="oagis-id-510cdd75267348f2a2506c005d0d73e6">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetPartyScreenResponse is to enable an application to request specific PartyScreenResponse information from another business application module.  The response to the GetPartyScreenResponse is the ShowPartyScreenResponse.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetPartyScreenResponseType" id="oagis-id-c68d403c34bc4d1a83cff0053815f77a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetPartyScreenResponseDataAreaType" id="oagis-id-ca34b5334aec4135aee90ba06d630439">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetPartyScreenResponse. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (PartyScreenResponse).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetPartyScreenResponseDataAreaType" id="oagis-id-8b701ec2dd0f4ab99034741689b52582">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-3f7244d775194545bb0ef2b2c0eb94de"/>
			<xsd:element ref="PartyScreenResponse" maxOccurs="unbounded" id="oagis-id-e109f95668ae40f29f900fd236f5fb1a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
