data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductionSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionSchedule.xsd"/>
        <xsd:element name="GetProductionSchedule" type="GetProductionScheduleType" id="oagis-id-7a667bc638e848fda310c9eb767fbb1b">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetProductionSchedule is to request a single or multiple ProductionSchedule(s) that match the information requested that will be provided using a ShowProductionSchedule.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetProductionScheduleType" id="oagis-id-0a7bb5680d2444139ef93c6e568077eb">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetProductionScheduleDataAreaType" id="oagis-id-6db2e6de309e47b78ad864abd6075134">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetProductionSchedule. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ProductionSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetProductionScheduleDataAreaType" id="oagis-id-6359f64d6776491db5445e5eb5bc0d39">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-6cd37a6302a04a7a8c5e53e2860c0f2b"/>
                        <xsd:element ref="ProductionSchedule" maxOccurs="unbounded" id="oagis-id-d52920071afb4769a1daccda4dd9abc2"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
