data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductAvailability.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductAvailability.xsd"/>
        <xsd:element name="GetProductAvailability" type="GetProductAvailabilityType" id="oagis-id-b1e79dfc6a3e48eb8c1d06d107029d3d">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetProductAvailability is to enable requests of product availability data by an Order Management business application to an Available to Promise (ATP) or Production business application.  The business process scenario is the Order Management application interacting with the Available to Promise or Production application in order to determine availability of a product for the customer.

This scenario is commonly referred to as Make to Order or Build to Order.
The response to this request is the ShowProductAvailability.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetProductAvailabilityType" id="oagis-id-89a716f6796243ea99c6ef3232adc221">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetProductAvailabilityDataAreaType" id="oagis-id-15586ed5a0454b74959649bbb6d389db">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetProductAvailability. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ProductAvailability).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetProductAvailabilityDataAreaType" id="oagis-id-2a10b5fbc12a47c696bf283dcb6b336f">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-d43ad771b56448e3bdda6638515e41a0"/>
                        <xsd:element ref="ProductAvailability" maxOccurs="unbounded" id="oagis-id-c832834bb74a4795b30416106cc30955"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
