data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetProductionOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionOrder.xsd"/>
        <xsd:element name="GetProductionOrder" type="GetProductionOrderType" id="oagis-id-f6a0ce94b04844af899fe3eaaf2234de">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetProductionOrder is to enable an business application module to request specific Production Order information from another business application module.  The reply to this is the ShowProductionOrder.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetProductionOrderType" id="oagis-id-75ce53ebeadd433c94cd4048d2086b26">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetProductionOrderDataAreaType" id="oagis-id-d1b0cee8733b4ae38ca50f48de75f112">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetProductionOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ProductionOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetProductionOrderDataAreaType" id="oagis-id-8757b6d1ece74d52acde172519328678">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-967273b96c704a039b9310f6817588d1"/>
                        <xsd:element ref="ProductionOrder" maxOccurs="unbounded" id="oagis-id-a52463ce2a604f61908920a299ec02e7"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
