data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
        <xsd:element name="GetSequenceSchedule" type="GetSequenceScheduleType" id="oagis-id-22554956dd0a4fb7bb5167e42252653a">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application.

The purpose of the GetSequenceSchedule is to enable a business applications module to request this SequenceSchedule information from another business application. The response to this BOD is ShowSequenceSchedule.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetSequenceScheduleType" id="oagis-id-d6046c5224aa4a2bb8e0ef66d69ebd2a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetSequenceScheduleDataAreaType" id="oagis-id-1dcdccea34444b62899247d9e621b542">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetSequenceScheduleDataAreaType" id="oagis-id-b429109ecf784cda92602a73b9d05d3d">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-4126546c913a408f87b5a860c229b537"/>
                        <xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-a4eafb42874b4d2e86a762ee0e107303"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
