data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetSupplierPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetSupplierPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SupplierPartyMaster.xsd"/>
        <xsd:element name="GetSupplierPartyMaster" type="GetSupplierPartyMasterType" id="oagis-id-f6cc426478024c6390499df09e15b080">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetSupplierPartyMaster is to facilitate keeping party information synchronized that exists on separate data bases.  The GetSupplierPartyMaster allows a business application to request information about a given party. The ShowSupplierPartyMaster is the response to this request providing the specific information requested.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="GetSupplierPartyMasterType" id="oagis-id-8b87a06bc88a4c2e8fa27722dcd6f1f3">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="GetSupplierPartyMasterDataAreaType" id="oagis-id-785de0045deb4c7ebe35e71df5812b84">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetSupplierPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (SupplierPartyMaster).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="GetSupplierPartyMasterDataAreaType" id="oagis-id-58b77ffd57c5432cab44be478c96f54f">
                <xsd:sequence>
                        <xsd:element ref="Get" id="oagis-id-99c8f8bca73f48998dfa94c9fdda2a29"/>
                        <xsd:element ref="SupplierPartyMaster" maxOccurs="unbounded" id="oagis-id-4f7d866991354915a181f76344dc2084"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
