data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetWorkOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetWorkOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WorkOrder.xsd"/>
	<xsd:element name="GetWorkOrder" type="GetWorkOrderType" id="oagis-id-0fba39710ff24f82b475b1fdd5c70bb2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetWorkOrder is to enable an application to request specific WorkOrder information from another business application module.  The response to the GetWorkOrder is the ShowWorkOrder.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetWorkOrderType" id="oagis-id-4fee6d12b3364db58dc68f1fe4f9b613">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetWorkOrderDataAreaType" id="oagis-id-9e8aa17240d142be963910365ef3a376">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetWorkOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (WorkOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetWorkOrderDataAreaType" id="oagis-id-0af5587942584551b6e5185ef4076795">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-c96e9616fdd341eca99f814c0ed37227"/>
			<xsd:element ref="WorkOrder" id="oagis-id-e298f4db1a954a809fb3b994db062287"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
