data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetWarrantyClaim.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/GetWarrantyClaim.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarrantyClaim.xsd"/>
	<xsd:element name="GetWarrantyClaim" type="GetWarrantyClaimType" id="oagis-id-8a4c44e617b2441a9f36c2b0c5240b81">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the GetWarrantyClaim is to enable a request of an WarrantyClaim. This BOD may be used as a request by a Customer to its Supplier. The ShowWarrantyClaim BOD would be the expected response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetWarrantyClaimType" id="oagis-id-cc3c0399a2f2407d9f8ccdbb5bb0b102">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetWarrantyClaimDataAreaType" id="oagis-id-3de72ba40471496d862d0fc423021130">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case GetWarrantyClaim. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (WarrantyClaim).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetWarrantyClaimDataAreaType" id="oagis-id-16e47c3c9e794934b2261f7754512f9b">
		<xsd:sequence>
			<xsd:element ref="Get" id="oagis-id-e208ff2cdca8422bb9b906dbb91f06d5"/>
			<xsd:element ref="WarrantyClaim" maxOccurs="unbounded" id="oagis-id-46e4e9e9203d46f8970b0c589b9a29db"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
