data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCorrectiveActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCorrectiveActionPlan.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionPlan.xsd"/>
	<xsd:element name="NotifyCorrectiveActionPlan" type="NotifyCorrectiveActionPlanType" id="oagis-id-405091bd78484b0481ba60be94ca8966">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCorrectiveActionPlan is to communicate to a business application module or system the need to initiate the creation of a CorrectiveActionPlan structure.
  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyCorrectiveActionPlanType" id="oagis-id-8e1cac82217545e798702b7dcf2ed1cf">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyCorrectiveActionPlanDataAreaType" id="oagis-id-8e13c393b68c44ff834dea17e6815885">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCorrectiveActionPlan. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CorrectiveActionPlan).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyCorrectiveActionPlanDataAreaType" id="oagis-id-9213404e89ba47d2a4a5c9b4bf2a9a79">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-8f972a4fb43a451c94f300abb52f69ad"/>
			<xsd:element ref="CorrectiveActionPlan" id="oagis-id-761e5de86728437fa921a477aa9349e3"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
