data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyConfirmWIP.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyConfirmWIP.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ConfirmWIP.xsd"/>
	<xsd:element name="NotifyConfirmWIP" type="NotifyConfirmWIPType" id="oagis-id-de6249f8ea344376afa5fb18083846de">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyConfirmWIP is to respond to a request for the data necessary to perform a confirmation of the movement of WIP (Work in Progress).

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyConfirmWIPType" id="oagis-id-bb885074cda04c4ba21a5a48e8098710">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyConfirmWIPDataAreaType" id="oagis-id-41dbd9a5c4c5487aa05fce181e2aa8e5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyConfirmWIP. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ConfirmWIP).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyConfirmWIPDataAreaType" id="oagis-id-02185ef3b2bb43048fc57c2472b32c5f">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-15eb4696110a4f5d825baa75736dfdcb"/>
			<xsd:element ref="ConfirmWIP" maxOccurs="unbounded" id="oagis-id-12bcde5db8c541eca743047e1f627aee"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
