data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyLocation.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyLocation.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Location.xsd"/>
        <xsd:element name="NotifyLocation" type="NotifyLocationType" id="oagis-id-b74843e414c74ae287dabfba2ecda976">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Notify Location is to enable a mechanism to ensure that the physical location identifiers are synchronized between the business applications that require this to communicate clearly.  This is particularly critical when only the codes that identify locations are used.  Without the meaning of the codes clearly communicated, the integration is not effective.  This BOD enables the Location codes to be synchronized among business applications.

This BOD may also be initiated by the sending system upon some event occurring.

There are many possible business applications in several environments that may use this capability. For example, a MRP, Inventory, or Manufacturing business application could use this to communicate Location information.

This information is provided as information it is up to the receiving system to determine what to do with it.  
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyLocationType" id="oagis-id-07215557da7b427d9d0fff69df7d01f2">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyLocationDataAreaType" id="oagis-id-765bf372b461484daa13f447f14d0bb6">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyLocation. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (Location).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyLocationDataAreaType" id="oagis-id-575346584e224b9caf3421d1948bf48b">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-26051303d402481ba77fb9c1439c09c7"/>
                        <xsd:element ref="Location" maxOccurs="unbounded" id="oagis-id-7a36465db8d24838a9a0accfbc25b499"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
