data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyPartyScreen.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyPartyScreen.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreen.xsd"/>
	<xsd:element name="NotifyPartyScreen" type="NotifyPartyScreenType" id="oagis-id-57e22cf862dc441db8606ca81167740c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyPartyScreen is to transmit an PartyScreen. Indicating that the receiver of the PartyScreen is to Notify the PartyScreen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyPartyScreenType" id="oagis-id-2bdca8b921c44a84a69e39b6cedc6195">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyPartyScreenDataAreaType" id="oagis-id-54f01643638c42efad14e21fff441fc8">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyPartyScreen. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (PartyScreen).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyPartyScreenDataAreaType" id="oagis-id-1f4760510f2d47d791babc3ec452bbd8">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-c7ec9fc9b9ff405293c12600c65aad0b"/>
			<xsd:element ref="PartyScreen" maxOccurs="unbounded" id="oagis-id-72153c5f84a140a5b1af64ce900bb38e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
