data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCatalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Catalog.xsd"/>
        <xsd:element name="NotifyCatalog" type="NotifyCatalogType" id="oagis-id-d3bc5da542974af2a0a60e0b2b7f25ec">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">NotifyCatalog is used to Notify the receiver of informational changes to a Catalog.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyCatalogType" id="oagis-id-a2e74476085841788762978125fdfe65">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyCatalogDataAreaType" id="oagis-id-8322311605fd49ebaebc568ded264b6e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCatalog. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (Catalog).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyCatalogDataAreaType" id="oagis-id-7a79101dafb74cc1ac0271756e2da0ed">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-7172198014eb4484becfa53e97e6803e"/>
                        <xsd:element ref="Catalog" maxOccurs="unbounded" id="oagis-id-9b25571254d641d198becd293006aafd"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
