data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCorrectiveActionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyCorrectiveActionRequest.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionRequest.xsd"/>
	<xsd:element name="NotifyCorrectiveActionRequest" type="NotifyCorrectiveActionRequestType" id="oagis-id-259847c39b7d4745973108c7e415f5dd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyCorrectiveActionRequest is to communicate to a business application module or system the need to initiate the creation of a CorrectiveActionRequest structure.
  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyCorrectiveActionRequestType" id="oagis-id-fe0d1316a74e4824a50ed9d2eb1f0be4">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyCorrectiveActionRequestDataAreaType" id="oagis-id-6634f1cd61bd49e6aa18a441d4f0384f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyCorrectiveActionRequest. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (CorrectiveActionRequest).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyCorrectiveActionRequestDataAreaType" id="oagis-id-781cf5ba2d114998ac6a873bd0d3459c">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-aea71aa17d91471c92368897753bf89f"/>
			<xsd:element ref="CorrectiveActionRequest" id="oagis-id-6a5351c39a6548f6a56436163bc050c4"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
