data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyPartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyPartyScreenResponse.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreenResponse.xsd"/>
	<xsd:element name="NotifyPartyScreenResponse" type="NotifyPartyScreenResponseType" id="oagis-id-3d55e347bb1e4b32948d059b975f97ad">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyPartyScreenResponse is to transmit an PartyScreenResponse. Indicating that the receiver of the PartyScreenResponse is to Notify the PartyScreenResponse.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyPartyScreenResponseType" id="oagis-id-6a418702dd124d49a1e2123259db0458">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyPartyScreenResponseDataAreaType" id="oagis-id-730b4d351041406dbdeb8c4e5c428923">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyPartyScreenResponse. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (PartyScreenResponse).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyPartyScreenResponseDataAreaType" id="oagis-id-a7b62255ae764858bcc286b1716d7f86">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-9abde6f2e11c4c5cb0022ea63d38a5c7"/>
			<xsd:element ref="PartyScreenResponse" maxOccurs="unbounded" id="oagis-id-08c06c1044cf413d95bcf0d3ab1cc838"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
