data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
	<xsd:element name="NotifyIssueInventory" type="NotifyIssueInventoryType" id="oagis-id-8045f746c26944f48c823640830c5bb3">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyIssueInventory is to reflect an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:
1. Somebody broke the material,
2. The material is defective and needs replacing, 
3. The material is used up and needs replenishment.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyIssueInventoryType" id="oagis-id-cc3d8f4d4bf94ce9bf038e18985f9ff8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="NotifyIssueInventoryDataAreaType" id="oagis-id-646c68c657f740dc8faac68050a58dfb">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyIssueInventoryDataAreaType" id="oagis-id-fd5eb957cfe24ff29a1f2051a0e8d9cf">
		<xsd:sequence>
			<xsd:element ref="Notify" id="oagis-id-7bcac13877f74104afc287aa2e9a2a7d"/>
			<xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-f3aaf6521ece41cca97ed3e9fca1195b"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
