data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyChartOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/NotifyChartofAccounts.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ChartOfAccounts.xsd"/>
        <xsd:element name="NotifyChartOfAccounts" type="NotifyChartOfAccountsType" id="oagis-id-1c09c8c899314fe2a402bc44a0bd4ef4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the NotifyChartOfAccounts is to distribute general ledger chart of accounts code identifiers to other applications to store for validation purposes.

This information is provided as information it is up to the receiving system to determine what to do with it.  </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="NotifyChartOfAccountsType" id="oagis-id-c40923dfa67144e693eeb1e3cc1359f0">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="NotifyChartOfAccountsDataAreaType" id="oagis-id-aee8a77492c34d369efddb6bf2386caf">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case NotifyChartOfAccounts. The information consists of a Verb and one or more Nouns. The verb (Notify) indicates the action to be performed on the Noun (ChartOfAccounts).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="NotifyChartOfAccountsDataAreaType" id="oagis-id-6b3891df0ac64e21a1aa12b7f78eaa25">
                <xsd:sequence>
                        <xsd:element ref="Notify" id="oagis-id-823d0c07844a4db18dcb69f8fa1b4bbd"/>
                        <xsd:element ref="ChartOfAccounts" maxOccurs="unbounded" id="oagis-id-61cb5b4fd8ce42d78ddf7ea501deebf3"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
