data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessWorkOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessWorkOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WorkOrder.xsd"/>
	<xsd:element name="ProcessWorkOrder" type="ProcessWorkOrderType" id="oagis-id-b83af61c84fc44379274580b4c0e33de">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessWorkOrder is to communicate to a business application module or system the need to initiate the creation of a WorkOrder structure.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessWorkOrderType" id="oagis-id-45d51b846b1243ba81b708c85ee607f6">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessWorkOrderDataAreaType" id="oagis-id-92c4981ad7a245caa4f2c0c46c24a73f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessWorkOrder. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (WorkOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessWorkOrderDataAreaType" id="oagis-id-3801c068061e48b9a787f5335eb7a308">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-b544292da7a64d34b75ac3b9604a59d0"/>
			<xsd:element ref="WorkOrder" id="oagis-id-224d9838f95b4449be048c0157ca2ef9"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
