data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessRemittanceAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RemittanceAdvice.xsd"/>
	<xsd:element name="ProcessRemittanceAdvice" type="ProcessRemittanceAdviceType" id="oagis-id-3277759f79cd468aaea1c6275a05cee1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessRemittanceAdvice is to enable an application to request specific RemittanceAdvice information from another business application module.  The response to the ProcessRemittanceAdvice is the ProcessRemittanceAdvice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessRemittanceAdviceType" id="oagis-id-1e9dc0e2a6e040b1827ec90ac2ad634a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessRemittanceAdviceDataAreaType" id="oagis-id-873f8a8dc988453a88885b780f9455be">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessRemittanceAdvice. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (RemittanceAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessRemittanceAdviceDataAreaType" id="oagis-id-1074af2aa53240f4b0d22c00d4f90d6d">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-69bba80301394dd9ba4af6c390bbe66a"/>
			<xsd:element ref="RemittanceAdvice" maxOccurs="unbounded" id="oagis-id-45ac8696961d49d393ce24bee851cd7d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
