data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessProductionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessProductionSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ProductionSchedule.xsd"/>
        <xsd:element name="ProcessProductionSchedule" type="ProcessProductionScheduleType" id="oagis-id-e3236356b5d846e99fadd448c7114259">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessProductionSchedule is to respond to a request to Process a ProductionSchedule with the resulst of that Processing.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessProductionScheduleType" id="oagis-id-d1f7c408b1454ac08e8eddf1863a17d4">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessProductionScheduleDataAreaType" id="oagis-id-92cf6d249a4a4326abed9397ab534158">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessProductionSchedule. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ProductionSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessProductionScheduleDataAreaType" id="oagis-id-9d33ca4ff68e4e82aec0c648ba53a026">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-6be59cc566d34f8b9f1e2ba2cb56eb13"/>
                        <xsd:element ref="ProductionSchedule" maxOccurs="unbounded" id="oagis-id-da24d8a309d1401485a4c81fa80c5564"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
