data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessCreditTransfer.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/CreditTransfer.xsd"/>
        <xsd:element name="ProcessCreditTransfer" type="ProcessCreditTransferType" id="oagis-id-2b53691f30044ede92e0be16385c9bf4">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessCreditTransfer is to enable an application to request specific CreditTransfer information from another business application module.  The response to the ProcessCreditTransfer is the ProcessCreditTransfer.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessCreditTransferType" id="oagis-id-23f2ef62f9114d29879cd06c85fa2a23">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessCreditTransferDataAreaType" id="oagis-id-9e38a427f8b14917bb4ecd56535d992e">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessCreditTransfer. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (CreditTransfer).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessCreditTransferDataAreaType" id="oagis-id-b80006ee6233461eb3ec502812524248">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-9525275a511e42b1bde2deb446fc1c76"/>
                        <xsd:element ref="CreditTransfer" maxOccurs="unbounded" id="oagis-id-19a197fe0c4041aab5dddf28e13e9fa2"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
