data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessInventoryCount.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessInventoryCount.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/InventoryCount.xsd"/>
        <xsd:element name="ProcessInventoryCount" type="ProcessInventoryCountType" id="oagis-id-02835410244a4d1ea4573ab8ed5ceaa3">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessInventoryCount is to transmit an inventory count to ERP from the actual physical inventory location. This count may be a cycle count or a physical count.  This BOD may also apply to planned or unplanned inventory counts.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessInventoryCountType" id="oagis-id-9fcfb611461d40d7b86203ce621cfa3a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessInventoryCountDataAreaType" id="oagis-id-127ef85f43c04c62a5fcad990ff4a420">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessInventoryCount. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (InventoryCount).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessInventoryCountDataAreaType" id="oagis-id-26183efcc45947ce86b9770eb7d18324">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-6c809bed58b542ea9f37654db38eb581"/>
                        <xsd:element ref="InventoryCount" maxOccurs="unbounded" id="oagis-id-bec5453de179449e8c374d65c4334cff"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
