data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessCarrierRoute.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessCarrierRoute.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CarrierRoute.xsd"/>
	<xsd:element name="ProcessCarrierRoute" type="ProcessCarrierRouteType" id="oagis-id-266394e311ae423fbfc98e2197e0fd3a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessCarrierRoute is to enable an application to request specific Carrier Route information from another business application module.  The response to the ProcessCarrierRoute is the ShowCarrierRoute.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessCarrierRouteType" id="oagis-id-da739076fe714eea88c3c242ce5b8404">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessCarrierRouteDataAreaType" id="oagis-id-f2b623a98b504930b426b5853bb32c2a">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessCarrierRoute. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (CarrierRoute).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessCarrierRouteDataAreaType" id="oagis-id-d2171fdd45444ae580d5ba37a56e6a77">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-0a5bb58584cf4a66bc42c82298989e71"/>
			<xsd:element ref="CarrierRoute" maxOccurs="unbounded" id="oagis-id-4d4575f048aa4b26a3f12a5c0ed8d1f3"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
