data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessPurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessPurchaseOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PurchaseOrder.xsd"/>
        <xsd:element name="ProcessPurchaseOrder" type="ProcessPurchaseOrderType" id="oagis-id-4579e188cd4746e29697705f119550c5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Process PurchaseOrder Business Object Document is to transmit a purchase order to a supplier's order management application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessPurchaseOrderType" id="oagis-id-2e4d91b78208424fa72f2785f73f49b4">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessPurchaseOrderDataAreaType" id="oagis-id-dd0472d4cf8443979a6d59f7f8790e23">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessPurchaseOrderDataAreaType" id="oagis-id-503e6642fb26471ba65930f286fd4c18">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-a54e6ecd47794a3881ae0686c8ae0dc9"/>
                        <xsd:element ref="PurchaseOrder" maxOccurs="unbounded" id="oagis-id-4dfc2c77211b4690ba66aea443e37a6f"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
