data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessShippersLetterOfInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessShippersLetterOfInstruction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ShippersLetterOfInstruction.xsd"/>
	<xsd:element name="ProcessShippersLetterOfInstruction" type="ProcessShippersLetterOfInstructionType" id="oagis-id-0fba2a1a158f45498e6d2c0fe61d8af8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessShippersLetterOfInstruction is to transmit an ShippersLetterOfInstruction from a supplier to a customer. Indicating that the receiver of the ShippersLetterOfInstruction is to Process the ShippersLetterOfInstruction for payment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessShippersLetterOfInstructionType" id="oagis-id-5963d479f7244d7cbcb4a9627b814532">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessShippersLetterOfInstructionDataAreaType" id="oagis-id-c23c2fa7d4db4011a88097bf5ae168fa">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessShippersLetterOfInstruction. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (ShippersLetterOfInstruction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessShippersLetterOfInstructionDataAreaType" id="oagis-id-97d0139328964c239409eb0ed3e36937">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-a7f8394793ed4f13aff8146c72abb1eb"/>
			<xsd:element ref="ShippersLetterOfInstruction" maxOccurs="unbounded" id="oagis-id-d01d66f93861440d9331ddc5782204a3"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
