data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessPaymentStatusIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessPaymentStatusIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.002.001.05" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatusIST.xsd"/>
	<xsd:element name="ProcessPaymentStatusIST" type="ProcessPaymentStatusISTType" id="oagis-id-556404eef19349dabd2f9e11ddf84437">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessPaymentStatusIST is to enable an application to request specific PaymentStatusIST information to be processed by another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatusIST to company that has provided goods or services.  

The response to the ProcessPaymentStatusIST is the AcknowledgePaymentStatusIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProcessPaymentStatusISTType" id="oagis-id-aa68c24559fd45b3b522c014d817f5fd">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ProcessPaymentStatusISTDataAreaType" id="oagis-id-cfb794dd270f48498b7b43b496ba7de5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessPaymentStatusIST. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (PaymentStatusIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessPaymentStatusISTDataAreaType" id="oagis-id-da13458cd9654c1e83f206a244f23965">
		<xsd:sequence>
			<xsd:element ref="Process" id="oagis-id-6519e0cce5b94e1da6bdc5c054285478"/>
			<xsd:element ref="PaymentStatusIST" maxOccurs="unbounded" id="oagis-id-49e95a1a24ce4599843cf1a74b32f9db"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
