data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessIssueInventory.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ProcessIssueInventory.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/IssueInventory.xsd"/>
        <xsd:element name="ProcessIssueInventory" type="ProcessIssueInventoryType" id="oagis-id-cb9789f099964ce4bd6e91b7b61705df">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ProcessIssueInventory is to reflect an unplanned issue of an item to a miscellaneous location.

Possible reasons for this include:
1. Somebody broke the material,
2. The material is defective and needs replacing, 
3. The material is used up and needs replenishment.
</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ProcessIssueInventoryType" id="oagis-id-47543aaea717427385a9b53dd7a1e69a">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ProcessIssueInventoryDataAreaType" id="oagis-id-1b49505f13094c33bb2ab3d390ecf9db">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ProcessIssueInventory. The information consists of a Verb and one or more Nouns. The verb (Process) indicates the action to be performed on the Noun (IssueInventory).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ProcessIssueInventoryDataAreaType" id="oagis-id-e3093a09a3da43a1b492e8061754492d">
                <xsd:sequence>
                        <xsd:element ref="Process" id="oagis-id-14c3ec2bf6374eba86139cdcdcde99ca"/>
                        <xsd:element ref="IssueInventory" maxOccurs="unbounded" id="oagis-id-657585a81ea24c9e88055976aee8c1a5"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
