data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowInvoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Invoice.xsd"/>
        <xsd:element name="ShowInvoice" type="ShowInvoiceType" id="oagis-id-e2f3583af81241b8a4a96275d1dcfa4c">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowInvoice is to transmit an invoice from a supplier to a customer. This BOD may be used as a response to a GetInvoice request or as a push notification of an event</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowInvoiceType" id="oagis-id-0894cc1ccd5f4987af5b04c9b11a7e19">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowInvoiceDataAreaType" id="oagis-id-ebe8c1938c23456f927b7f62749fec82">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowInvoice. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (Invoice).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowInvoiceDataAreaType" id="oagis-id-69a1be631bb046e0ae884078f0cd2026">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-c2b9c8308efe47dd801026cb79a0cda4"/>
                        <xsd:element ref="Invoice" maxOccurs="unbounded" id="oagis-id-461242fb3efe47a8887621d01ca86d3a"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
