data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowShipmentUnit.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowShipmentUnit.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/ShipmentUnit.xsd"/>
        <xsd:element name="ShowShipmentUnit" type="ShowShipmentUnitType" id="oagis-id-8f764c15d56f4afb8544f6f9b5a280c5">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowShipmentUnit is to enable an application to provide a Show ShipmentUnit information from another business application module.  The ShowShipmentUnit is the response to the GetShipmentUnit.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowShipmentUnitType" id="oagis-id-3d2ff6c8503e4a2f9e5e121aba1c7abb">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowShipmentUnitDataAreaType" id="oagis-id-ee9eec5671a645e0820b51390946b449">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowShipmentUnit. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ShipmentUnit).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowShipmentUnitDataAreaType" id="oagis-id-7aef05532d044bcb8efa346f88dc2db3">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-ddcdc825db4347c3a5f4d608070daa6c"/>
                        <xsd:element ref="ShipmentUnit" maxOccurs="unbounded" id="oagis-id-bd332d0920064d17b51d0e3f16a3edc5"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
