data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowCorrectiveActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowCorrectiveActionPlan.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionPlan.xsd"/>
	<xsd:element name="ShowCorrectiveActionPlan" type="ShowCorrectiveActionPlanType" id="oagis-id-042bfc26889641468b331565b06da111">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowCorrectiveActionPlan is to supply CorrectiveActionPlan information to another business application module. The ShowCorrectiveActionPlan is the response to a request for information for a CorrectiveActionPlan, a GetCorrectiveActionPlan.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowCorrectiveActionPlanType" id="oagis-id-3b3ed056b9b3417ebf9790b87d9eea05">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowCorrectiveActionPlanDataAreaType" id="oagis-id-2a0ffd865e904becb518342e1373fe43">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowCorrectiveActionPlan. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (CorrectiveActionPlan).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowCorrectiveActionPlanDataAreaType" id="oagis-id-c8fc8d3dc16c4410ba985b7ebc78b4b7">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-4076a1f559324156834fac9a6251732c"/>
			<xsd:element ref="CorrectiveActionPlan" id="oagis-id-13e90256347f41f9a05e93795ff92f90"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
