data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowDebitTransferIST.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowDebitTransferIST.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" xmlns:ist="urn:iso:std:iso:20022:tech:xsd:pain.008.001.04" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/DebitTransferIST.xsd"/>
	<xsd:element name="ShowDebitTransferIST" type="ShowDebitTransferISTType" id="oagis-id-dca65be809514dd393e29ffba05bd1cb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowDebitTransferIST is to enable an application to request specific DebitTransferIST information from another business application module.  The response to the ShowDebitTransferIST is the ShowDebitTransferIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowDebitTransferISTType" id="oagis-id-8d4322914477410dbdfbcdcc095b8eb9">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowDebitTransferISTDataAreaType" id="oagis-id-a5a63b17a8754af9bb5adc8b375e3918">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowDebitTransferIST. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (DebitTransferIST).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowDebitTransferISTDataAreaType" id="oagis-id-39b2b9f8eb32416ea369c1c987de6a0b">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-fa1513116a44401aa12f8d9d9e701e49"/>
			<xsd:element ref="DebitTransferIST" maxOccurs="unbounded" id="oagis-id-c9cabde7c7f24083bef26dfd06552680"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
