data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowOpportunity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowOpportunity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/Opportunity.xsd"/>
        <xsd:element name="ShowOpportunity" type="ShowOpportunityType" id="oagis-id-a6bbd3698e704e7e8ad7d7522c063b23">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowOpportunity is to enable an application to provide Opportunity information from one business application to another business application. The response to the GetOpportunity is the ShowOpportunity.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowOpportunityType" id="oagis-id-cb7197873fbf48169703b2582e4412ea">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowOpportunityDataAreaType" id="oagis-id-3fe3046a56244e43b0ae19e455e802d0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowPurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowOpportunityDataAreaType" id="oagis-id-fc05b8c6b5bb4da5ae5976fe1da62480">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-4daade0b5a004837b0bda9da50165b6e"/>
                        <xsd:element ref="Opportunity" maxOccurs="unbounded" id="oagis-id-c337f962117d4808a3a5c2077e8143b3"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
