data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowDispatchList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowDispatchList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/DispatchList.xsd"/>
        <xsd:element name="ShowDispatchList" type="ShowDispatchListType" id="oagis-id-fcb28cae46ee4caa9ee1cd89d7949ec9">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowDispatchList is to communicate to a business application module or system the sending systems representation of dispatch list (finite schedule) information.  This request may be used as a response to a GetDispatchList request or as a push notification of an event.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowDispatchListType" id="oagis-id-b663ab72d93142e38ea5ca322b80d121">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowDispatchListDataAreaType" id="oagis-id-e714d97fedf9469f8daa53b13c8ac630">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowDispatchList. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (DispatchList).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowDispatchListDataAreaType" id="oagis-id-f357d52746964297908eb83e526a9133">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-15a438a3ed554f96b46af3631cc676eb"/>
                        <xsd:element ref="DispatchList" maxOccurs="unbounded" id="oagis-id-888b23e647684b05b2445e52ec6fdfa0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
