data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
        <xsd:element name="ShowSequenceSchedule" type="ShowSequenceScheduleType" id="oagis-id-0831526991b54fdf9bcf985fbc53cc7e">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application.

The purpose of the ShowSequenceSchedule is to communicate to a business application module or system the sending systems representation of SequenceSchedule information.  This request may be used as a response to a GetSequenceSchedule request or as a push notification of an event.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowSequenceScheduleType" id="oagis-id-70ad5a18a222456c8e62433a636b72ca">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowSequenceScheduleDataAreaType" id="oagis-id-e9a663cd87524a30bfe61396c4c4276b">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowSequenceScheduleDataAreaType" id="oagis-id-e206040a8a2143598d35122d79ee7ca4">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-a2fda812aefd4c17a878886e65e733ff"/>
                        <xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-016e939efa1942fd96a5eb60c8ea93ca"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
