data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowBatchCertificateOfAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowBatchCertificateOfAnalysis.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/BatchCertificateOfAnalysis.xsd"/>
        <xsd:element name="ShowBatchCertificateOfAnalysis" type="ShowBatchCertificateOfAnalysisType" id="oagis-id-67a535255bd14013b5037eba650d7c85">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the Show BatchCertificateOfAnalysis is to supply Purchase Order Information to another business application module.  This request may be used as a response to a Get BatchCertificateOfAnalysis request or as a push notification of an event.

There are many possible business applications in several environments that may use this capability.  Examples include:

1. A Order Management application could use this BOD to send information to a Plant Data Collection application.

2. An MRP, Inventory or Manufacturing business application could use this to obtain order information.

3. The Order Management application can notify the MRP/Inventory application when a vendor gives or changes a promise day.

</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowBatchCertificateOfAnalysisType" id="oagis-id-487ff3a5096a415dbfebe28f86bf76fa">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowBatchCertificateOfAnalysisDataAreaType" id="oagis-id-b35e467f09c743f08d015d7501d91aa8">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowBatchCertificateOfAnalysis. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (BatchCertificateOfAnalysis).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowBatchCertificateOfAnalysisDataAreaType" id="oagis-id-8f4172a0a334436e9652908b77b5357b">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-912448c980e043a28062cc43a38342a0"/>
                        <xsd:element ref="BatchCertificateOfAnalysis" maxOccurs="unbounded" id="oagis-id-11e194dd22c347b1a9f254045652f704"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
