data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowEmployeeWorkSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowEmployeeWorkSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/EmployeeWorkSchedule.xsd"/>
        <xsd:element name="ShowEmployeeWorkSchedule" type="ShowEmployeeWorkScheduleType" id="oagis-id-3800f3a17d87426cacd93f66e2040f28">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowEmployeeWorkSchedule is to supply EmployeeWorkSchedule information to another business application module. </xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowEmployeeWorkScheduleType" id="oagis-id-9d080ff9a2214c499000196aec597f6d">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowEmployeeWorkScheduleDataAreaType" id="oagis-id-528aef8e016a4e35b3249890727405e7">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowEmployeeWorkSchedule. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (EmployeeWorkSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowEmployeeWorkScheduleDataAreaType" id="oagis-id-5264d0294be44c62bb6ae3fea862b507">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-4a84d0032d42485f808e112c2b3ab6c9"/>
                        <xsd:element ref="EmployeeWorkSchedule" maxOccurs="unbounded" id="oagis-id-5cfb6f36957e47cd9f8e7260bbf56cb6"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
