data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowPlanningSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowPlanningSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Nouns/PlanningSchedule.xsd"/>
        <xsd:element name="ShowPlanningSchedule" type="ShowPlanningScheduleType" id="oagis-id-5fb706aeb2df4173a607e626a4869b24">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Since collaboration between a customer and a supplier can potentially go through several rounds of negotiations, both parties can use the same BOD to communicate their current demand or supply schedule in response to what they received from the other party.  Either party can indicate detailed exception descriptions along with reason code and action code to the other party why the original demand/supply requirements need to be adjusted using the optional Data Type PlanningScheduleException.

Customers can use this PlanningSchedule to communicate demand requirement in three different ways.  It can be as specific as the Item level or at the Commodity code level, which is higher than item.  Furthermore, it can be required simply by functional specification via feature identifiers and values using the optional component FeatureValues.

The purpose of the ShowPlanningSchedule is to communicate to a business application module or system the sending systems representation of PlanningSchedule information.  This request may be used as a response to a GetPlanningSchedule request or as a push notification of an event.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShowPlanningScheduleType" id="oagis-id-90bcabe80e254d889903f552a30cacce">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="ShowPlanningScheduleDataAreaType" id="oagis-id-b5653b07330a462cae42fe6f335b07f7">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowPlanningSchedule. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (PlanningSchedule).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShowPlanningScheduleDataAreaType" id="oagis-id-9168a4eb3bba45d2bbc9366f45df53e9">
                <xsd:sequence>
                        <xsd:element ref="Show" id="oagis-id-abff08d87a6e4b5daea939c646721f1d"/>
                        <xsd:element ref="PlanningSchedule" maxOccurs="unbounded" id="oagis-id-aa3d643bd09844319a5dde369f3c58f7"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
