data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowWorkOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowWorkOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WorkOrder.xsd"/>
	<xsd:element name="ShowWorkOrder" type="ShowWorkOrderType" id="oagis-id-223665b7acf24571a7297f50678a0127">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowWorkOrder is to supply WorkOrder information to another business application module. The ShowWorkOrder is the response to a request for information for a WorkOrder, a GetWorkOrder.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowWorkOrderType" id="oagis-id-6e2ac40333544cb2b063ed4d954beb44">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowWorkOrderDataAreaType" id="oagis-id-ed2464d3f59548bcab1e1dbbd2ce4acc">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowWorkOrder. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (WorkOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowWorkOrderDataAreaType" id="oagis-id-4351ede36ed54044abc14969c8b43625">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-ab350fd66ef34c0d8c5e1c16b2a8f4f0"/>
			<xsd:element ref="WorkOrder" id="oagis-id-156b7d61b2b24f6fa9e302dd85ab0c5e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
