data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowWarrantyClaim.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/ShowWarrantyClaim.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarrantyClaim.xsd"/>
	<xsd:element name="ShowWarrantyClaim" type="ShowWarrantyClaimType" id="oagis-id-8e6d508c52234d4a9b5f0c5705e86d24">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the ShowWarrantyClaim is to supply WarrantyClaim information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShowWarrantyClaimType" id="oagis-id-ef02edcd02fc438c8094c4e4c3e74f8d">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ShowWarrantyClaimDataAreaType" id="oagis-id-bc9b78598c534187adcd3dcf91279b57">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case ShowWarrantyClaim. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the response from the request for information through a Get on the Noun (WarrantyClaim).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShowWarrantyClaimDataAreaType" id="oagis-id-e5fe2e425f354df8b90b834868c26c2f">
		<xsd:sequence>
			<xsd:element ref="Show" id="oagis-id-67ff4d91cc144612b061f03890c60cb5"/>
			<xsd:element ref="WarrantyClaim" maxOccurs="unbounded" id="oagis-id-eca8d1686e1d4660aff5a6ba3d713d29"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
