data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncPartyScreenResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncPartyScreenResponse.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PartyScreenResponse.xsd"/>
	<xsd:element name="SyncPartyScreenResponse" type="SyncPartyScreenResponseType" id="oagis-id-1998599992fb417faeac7e706da25b01">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncPartyScreenResponse is to transmit an PartyScreenResponse. Indicating that the receiver of the PartyScreenResponse is to Sync the PartyScreenResponse.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncPartyScreenResponseType" id="oagis-id-9acc30978e6841af8628b11423f2ca7f">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncPartyScreenResponseDataAreaType" id="oagis-id-0e186a60d0ef42f78244501bab00623f">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncPartyScreenResponse. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PartyScreenResponse).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncPartyScreenResponseDataAreaType" id="oagis-id-4aa622725614497484128a2c6b418bbe">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-8ff38281b3aa41239d168c5007c3ee0f"/>
			<xsd:element ref="PartyScreenResponse" maxOccurs="unbounded" id="oagis-id-50b4fcded7724732b7b97578e47bec0e"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
