data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseOpportunity.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseOpportunity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/Opportunity.xsd"/>
	<xsd:element name="SyncResponseOpportunity" type="SyncResponseOpportunityType" id="oagis-id-17fc0cd112b44b25975c0caa802d6938">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseOpportunity is to enable an application to provide Opportunity information from one business application to another business application. The SyncResponseOpportunity  is the response to the Change provides a response to the request to change the original Process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseOpportunityType" id="oagis-id-b216886f330e493ea048b134d4b80c47">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseOpportunityDataAreaType" id="oagis-id-74ca656c98564a26ae10bfaf93582af3">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponsePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseOpportunityDataAreaType" id="oagis-id-068da6fb277440fe980abfa98efd467d">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-ec4ab3f8c03540c989874a486e4c9447"/>
			<xsd:element ref="Opportunity" maxOccurs="unbounded" id="oagis-id-2aeb03eccbc241a9b0f3f2210258ba75"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
