data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseCorrectiveAction.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseCorrectiveAction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveAction.xsd"/>
	<xsd:element name="SyncResponseCorrectiveAction" type="SyncResponseCorrectiveActionType" id="oagis-id-30057fb50d6b4458b86a6c33e44fb424">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseCorrectiveAction is to communicate to a business application module or system the need to initiate the creation of a CorrectiveAction structure.
			
A SyncResponse is the response to a Sync. In this case a SyncResponseCorrectiveAction is in response to SyncCorrectiveAction. The SyncResponse reports the results of the Sync.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseCorrectiveActionType" id="oagis-id-125c9b8316004fec99dea363ff7181c5">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseCorrectiveActionDataAreaType" id="oagis-id-beec12eaf3024a74899e8d6cf1045356">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseCorrectiveAction. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (CorrectiveAction).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseCorrectiveActionDataAreaType" id="oagis-id-5b95b61e311f4ddc915e6749952b915b">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-eca4f347e635480bae2b1886418cad27"/>
			<xsd:element ref="CorrectiveAction" id="oagis-id-11c467e685fc4d12830b3600461f3be2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
