data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseProductAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseProductAvailability.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/ProductAvailability.xsd"/>
	<xsd:element name="SyncResponseProductAvailability" type="SyncResponseProductAvailabilityType" id="oagis-id-22b263acc3d94b6d9a51e5ebaf0cd972">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The SyncResponseProductAvailability may be used to obtain limited information SyncResponseing about documents that match certain selection criteria in a GetSyncResponseProductAvailability.

Additional information about a specific ProductAvailability may be obtained through ShowProductAvailability by using the SyncResponseing information to populate a GetProductAvailability request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseProductAvailabilityType" id="oagis-id-2057698e8ec84f588c8689750944e360">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseProductAvailabilityDataAreaType" id="oagis-id-77a0b39c34a84de6b2d4397bef9e72db">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseProductAvailability. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (ProductAvailability).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseProductAvailabilityDataAreaType" id="oagis-id-f3ebcd4030314070a07f9f3f00688bcf">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-54c999530e90421e81afb6d4be269473"/>
			<xsd:element ref="ProductAvailability" maxOccurs="unbounded" id="oagis-id-17b37f6dfaba427b864f63d6b987371d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
