data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncPaymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncPaymentStatus.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PaymentStatus.xsd"/>
	<xsd:element name="SyncPaymentStatus" type="SyncPaymentStatusType" id="oagis-id-7b04b1f684234648b4dfe536d00ad0f0">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncPaymentStatus is to enable an application to request specific PaymentStatus information to be Synced by another business application module.

This typically a transaction that occurs between a company and a Bank in order to remit PaymentStatus to company that has provided goods or services.  

The response to the SyncPaymentStatus is the AcknowledgePaymentStatus.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncPaymentStatusType" id="oagis-id-dc5f1ca6475b4893ada2225da2984d3a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncPaymentStatusDataAreaType" id="oagis-id-01f5c8ea537b4eccaf778a54d1746ce5">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncPaymentStatus. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PaymentStatus).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncPaymentStatusDataAreaType" id="oagis-id-faa3b509a4be4cbfabcedbebf2d8302a">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-bde8e4ebecb1483aaa5a3d72f093d033"/>
			<xsd:element ref="PaymentStatus" maxOccurs="unbounded" id="oagis-id-35a3d710b1704b9a9b8934459aa8df9a"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
