data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncSupplierPartyMaster.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncSupplierPartyMaster.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SupplierPartyMaster.xsd"/>
	<xsd:element name="SyncSupplierPartyMaster" type="SyncSupplierPartyMasterType" id="oagis-id-3d312ce881d64060b2c2c644a632903f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">SyncSupplerPartyMaster is used to synchronize SupplierPartyMaster data across systems. Using the Sync indicates that the sender of the Sync is the owner of the date and the receiver of the Sync is a sub-system that must accept the data as provided.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncSupplierPartyMasterType" id="oagis-id-e533d074f67d4abea3bacfa53f1af0c8">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncSupplierPartyMasterDataAreaType" id="oagis-id-c5e1c31bc030432f800cc3ee5fd16661">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncSupplierPartyMaster. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (SupplierPartyMaster).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncSupplierPartyMasterDataAreaType" id="oagis-id-010f8d06452d40e886cd8a0aba4f4445">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-5a5f4afb017c44c7b71b548b2cb4ee52"/>
			<xsd:element ref="SupplierPartyMaster" maxOccurs="unbounded" id="oagis-id-5214d05937a34a689ea3cd1f180be7b2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
