data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseCorrectiveActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseCorrectiveActionPlan.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/CorrectiveActionPlan.xsd"/>
	<xsd:element name="SyncResponseCorrectiveActionPlan" type="SyncResponseCorrectiveActionPlanType" id="oagis-id-ada37c9f66594164b76934a1760c34c7">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseCorrectiveActionPlan is to communicate to a business application module or system the need to initiate the creation of a CorrectiveActionPlan structure.
			
A SyncResponse is the response to a Sync. In this case a SyncResponseCorrectiveActionPlan is in response to SyncCorrectiveActionPlan. The SyncResponse reports the results of the Sync.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseCorrectiveActionPlanType" id="oagis-id-80048c26089d495a8db96dd69d637e8a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseCorrectiveActionPlanDataAreaType" id="oagis-id-d9df47bf10b94b509e67f9c014df215c">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseCorrectiveActionPlan. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (CorrectiveActionPlan).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseCorrectiveActionPlanDataAreaType" id="oagis-id-c6e23b9b7f7b42828b925532ec2905a5">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-c1965d26d8874e94be62903c1e1d34c7"/>
			<xsd:element ref="CorrectiveActionPlan" id="oagis-id-bea407da09e64cd7b01a569295bfaf14"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
