data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncWarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncWarehouseShippingAdvice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/WarehouseShippingAdvice.xsd"/>
	<xsd:element name="SyncWarehouseShippingAdvice" type="SyncWarehouseShippingAdviceType" id="oagis-id-6d496f53043a466dbaac0f25ea4505c2">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The SyncWarehouseShippingAdvice may be used to request the receiver to Sync a WarehouseShipping Advice. The results of a SyncWarehouseShippingAdvice is returned in a AcknowledgeWarehouseShippingAdvice.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncWarehouseShippingAdviceType" id="oagis-id-a64b61d466474fe78b5f2948c1e62829">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncWarehouseShippingAdviceDataAreaType" id="oagis-id-c7d03ff7ec2d4fe0bba89accae28c9ef">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncWarehouseShippingAdvice. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (WarehouseShippingAdvice).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncWarehouseShippingAdviceDataAreaType" id="oagis-id-364bcf07c131421e95d7a851294aae21">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-6d01eb6022634b9a9740b90d303fc4a1"/>
			<xsd:element ref="WarehouseShippingAdvice" maxOccurs="unbounded" id="oagis-id-82e077398c18438ab91d6e56540469c3"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
