data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseRiskControlLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseRiskControlLibrary.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RiskControlLibrary.xsd"/>
	<xsd:element name="SyncResponseRiskControlLibrary" type="SyncResponseRiskControlLibraryType" id="oagis-id-a38928521deb4f37937059970899f9d8">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseRiskControlLibrary is to supply RiskControlLibrary information to another business application module. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseRiskControlLibraryType" id="oagis-id-d462cd4479da444a95deb3c2d0a64f56">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseRiskControlLibraryDataAreaType" id="oagis-id-89532c2c0feb480a93bca21d1ebf5350">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseRiskControlLibrary. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (RiskControlLibrary).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseRiskControlLibraryDataAreaType" id="oagis-id-57b64d2ac6df4b50944b5e02b9565714">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-9d41060d5ca44ae3a026ee1817383d8c"/>
			<xsd:element ref="RiskControlLibrary" maxOccurs="unbounded" id="oagis-id-62066d41c31f42afbaf852bd6f5583f2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
