data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseRequireProduct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseRequireProduct.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/RequireProduct.xsd"/>
	<xsd:element name="SyncResponseRequireProduct" type="SyncResponseRequireProductType" id="oagis-id-302f6b7f314b4669916c9938172781d5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseRequireProduct Business Object Document is to SyncResponse receipt of the RequireProduct</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseRequireProductType" id="oagis-id-b679e233404f48fb8fc88890ded4959a">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseRequireProductDataAreaType" id="oagis-id-a6c18df5929a441f8e5acbc985ac20c2">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseRequireProduct. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (RequireProduct).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseRequireProductDataAreaType" id="oagis-id-dee49319cdac484a8a015cabb603e991">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-d6c3acc98a6843eb88445afcc8983e51"/>
			<xsd:element ref="RequireProduct" maxOccurs="unbounded" id="oagis-id-af07260ffaba4a9b9694c2ac26f19df0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
