data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponsePurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponsePurchaseOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PurchaseOrder.xsd"/>
	<xsd:element name="SyncResponsePurchaseOrder" type="SyncResponsePurchaseOrderType" id="oagis-id-679a111bbc3b4ebb885a8f4df7f9f877">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponsePurchaseOrder is to communicate the response to a PurchaseOrder message from one business application to one or more other business applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponsePurchaseOrderType" id="oagis-id-4d8731365ede41e8998cfd326b9a7d00">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponsePurchaseOrderDataAreaType" id="oagis-id-7e6bfa91341b471e9bb367e99ab21ea1">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponsePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponsePurchaseOrderDataAreaType" id="oagis-id-96ec9b2203e94a9fbd3ec1f7457c1217">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-378e7455bf424a15bb28de86fe22bd35"/>
			<xsd:element ref="PurchaseOrder" maxOccurs="unbounded" id="oagis-id-bc7f035b41474158a9d6b61e5def446d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
