data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseOnlineOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponseOnlineOrder.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/OnlineOrder.xsd"/>
	<xsd:element name="SyncResponseOnlineOrder" type="SyncResponseOnlineOrderType" id="oagis-id-2a944a6915874d4db4869bfe0f355d6a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponseOnlineOrder is to enable an application to provide online shopping OnlineOrders from another business application module.  The SyncResponseOnlineOrder is the response to the Change provides a response to the request to change the original Process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponseOnlineOrderType" id="oagis-id-69595d00e3c049539e5d6ea9fe4ef8c3">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponseOnlineOrderDataAreaType" id="oagis-id-cc7a73f2bab14738bcbfd4b24e427c42">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponseOnlineOrder. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (OnlineOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponseOnlineOrderDataAreaType" id="oagis-id-9476b91388bc45d394a772808b62627f">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-663b31dedd4e47c28562c1eeffe5c73f"/>
			<xsd:element ref="OnlineOrder" maxOccurs="unbounded" id="oagis-id-6654a42b2ff24311a0043aa089b4c459"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
