data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncSequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

   Schema agency: 	Open Applications Group 

   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 
  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
    
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncSequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/SequenceSchedule.xsd"/>
	<xsd:element name="SyncSequenceSchedule" type="SyncSequenceScheduleType" id="oagis-id-6f7e1144a4da4b8e90b89b8ca2971bbd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncSequenceSchedule is to enable the exchange of sequence schedule information authorizing a sequenced shipment of parts for specific trading partners and addresses.

Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncSequenceScheduleType" id="oagis-id-c7315f65808d492eb818499c82921b33">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncSequenceScheduleDataAreaType" id="oagis-id-a8a6f9d091584935a424c1a193909730">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (SequenceSchedule).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncSequenceScheduleDataAreaType" id="oagis-id-20aec8a8e4e4417498d1b862f1106a5c">
		<xsd:sequence>
			<xsd:element ref="Sync" id="oagis-id-d716507125b34d8db44b77151f9e9b82"/>
			<xsd:element ref="SequenceSchedule" maxOccurs="unbounded" id="oagis-id-d1beb3997c604222b0e66eb5e1ebee21"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
