data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponsePickList.xsd

<?xml version="1.0" encoding="UTF-8"?><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/BODs/SyncResponsePickList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Nouns/PickList.xsd"/>
	<xsd:element name="SyncResponsePickList" type="SyncResponsePickListType" id="oagis-id-b01f004ed7534d138f292f51a31e7dd5">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The purpose of the SyncResponsePickList is to SyncResponse the details of an individual Picking List from a plant level to an ERP system. This BOD will usually cause SyncResponses to occur.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SyncResponsePickListType" id="oagis-id-c720aff39941451e85fa2fb05bbd96b1">
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SyncResponsePickListDataAreaType" id="oagis-id-0b605fa761c241549364f5503d92b322">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is where the information that the BOD message carries is provided, in this case SyncResponsePickList. The information consists of a Verb and one or more Nouns. The verb (SyncResponse) indicates the action to be performed on the Noun (PickList).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SyncResponsePickListDataAreaType" id="oagis-id-d9dd83240d7b49c4a6ac640f2f9f87fa">
		<xsd:sequence>
			<xsd:element ref="SyncResponse" id="oagis-id-05fccd31668a4300986e327e25645fa5"/>
			<xsd:element ref="PickList" maxOccurs="unbounded" id="oagis-id-26380ef3ed7e4dc5a0121158e11ce59d"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
