data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/Catalog.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/Catalog.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="Catalog" type="CatalogType" id="oagis-id-376ff215e4554c41bc09237cf9f09266">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Catalog is a list of items or commodities. The items may be arranged according to a classification scheme. The Catalog can identify the classification scheme it uses, and the classifications and features that are defined within that scheme. Within the Catalog, each item can be classified into one oe more categories , and the specifications of each item can be identified. A Catalog has at least one publisher and one or many suppliers for the items in the Catalog.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CatalogHeader" type="CatalogHeaderType" id="oagis-id-0225179f86a94f3685dcd337f3bb146b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the Catalog as a whole and communicates information that pertains to the entire Catalog.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClassificationDefinition" type="ClassificationDetailsType" id="oagis-id-f91aa4918f1d4fa7a4ac374f6994a465">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes a hierarchical association of classifications. A unique identifier for each ClassificationStructure can also be specified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemPrice" type="ItemPriceType" id="oagis-id-f4189403ff0e4e30bada791b21de4d81">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the price of the item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClassificationScheme" type="ClassificationSchemeType" id="oagis-id-d5353fbd0f3f409dbcdcf3526a6ab215">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the classification scheme as a whole. A Catalog can have one ClassificationScheme associated with it. For example, a classification scheme for inventory management may classify items according to handling characteristics.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CatalogLine" type="CatalogLineType" id="oagis-id-5bb13c8cd55147ceb59f10c7d8d2a4db">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the items that are in the Catalog.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CatalogType" id="oagis-id-9e1cc23ac7bf4ae68f8f1b645bd3a797">
		<xsd:sequence>
			<xsd:element ref="CatalogHeader" id="oagis-id-7ef00873451c4db6aeb1720a37b6cac5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the Catalog as a whole and communicates information that pertains to the entire Catalog.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ClassificationScheme" id="oagis-id-222d814e908c4e6ea70c6feeaa0ea365" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the classification scheme as a whole. A Catalog can have one ClassificationScheme associated with it. For example, a classification scheme for inventory management may classify items according to handling characteristics.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CatalogLine" id="oagis-id-2dc9fa0e93e34fb69a26c630694f9f96" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the items that are in the Catalog.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-1a865cb3848c48b998f6481948ea509a"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-1b4837d80e9b47829ceaed24b6792d89"/>
	</xsd:complexType>
	<xsd:complexType name="CatalogHeaderBaseType" id="oagis-id-8eb363b052af41228e65f46065ca7b6d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies header information about the Catalog. This information applies to all the lines in the Catalog. PartyReferences in the Header are defaults that apply to all the Catalog lines, if there is no value specified at line level

The SupplierParty in the Header identifies the provider of the item. Depending on the exchange scenario, the provider may be either a Supplier, Manufacturer or a Catalog Party. If no SupplierParty is specified at line level, the header value of the SupplierParty is assumed to hold true for the line </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="Name" id="oagis-id-2569eabbb6844462a3b41a927f10c62d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CurrencyCode" id="oagis-id-fb82ea00fa104eca9922bd7a8a2f1d00" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Specifies the currency code of the object in which it is associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-dc1b963ef41049179fe14460e55ee516" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UsageRestrictionCode" id="oagis-id-5dfed3b2e3f7411b96f9444ab10d153c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">UsageRestriction is used to indicate additional restrictions on the Catalog usage. The implementation of this is to be agreed upon between trading partners. An example of usage of this is when a supplier has different Catalogs - one for general usage and others for usage by specific customers/ group of customers. In this scenario, the UsageRestriction can be specified as PUBLIC/ PRIVATE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ClassificationScheme" id="oagis-id-b5cfac97d24046b192937ca9ee7a362a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes the classification scheme as a whole. A Catalog can have one ClassificationScheme associated with it. For example, a classification scheme for inventory management may classify items according to handling characteristics.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PublisherParty" id="oagis-id-db040b6e00ab490cb13980658d1e8141" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the publisher organization/entity of the Catalog or transaction in which it is associated for the associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-b0ced6dcf5da4127936e1e4d4ae7b7d8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-c94edfa5d2fe4020940468c644124695" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CatalogHeaderType" id="oagis-id-d5c195c4d5434167bfc2b7cd1d1c9974">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies header information about the Catalog. This information applies to all the lines in the Catalog. PartyReferences in the Header are defaults that apply to all the Catalog lines, if there is no value specified at line level

The SupplierParty in the Header identifies the provider of the item. Depending on the exchange scenario, the provider may be either a Supplier, Manufacturer or a Catalog Party. If no SupplierParty is specified at line level, the header value of the SupplierParty is assumed to hold true for the line </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CatalogHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CatalogHeaderExtensionType" id="oagis-id-dc56809410ae460d8652d0cd9c089add" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClassificationSchemeBaseType" id="oagis-id-f29e57011ea84f74a2af74f7a556c097">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies the classification scheme used by all the items in the Catalog. Additionally, this also identifies all the classifications within this scheme and their hierarchical representation. The features that are defined in this classification scheme and also the features that are associated with each hierarchical classification representation can also be specified </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-68372efb131a42748b0dc9955aac0fc7"/>
					<xsd:element ref="Classification" id="oagis-id-bf8e8a08fbfa472aa23129310a3bbe4e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the classification of an entity. An entity may be classified into mulitple groups for different reasons. Examples of Classification include Commodity Codes, Freight Classifications, Product Line classifications and so on. Suggested Values are COMMODITY, FREIGHT, PRODUCTLINE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Property" id="oagis-id-c8a4015f5bdd4f069ab485f1f214d6e2" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the Properties or Features of the associated entity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ClassificationDefinition" id="oagis-id-c82844f4d5a9496bb8f2baf14c3f0cf8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Describes a hierarchical association of classifications. A unique identifier for each ClassificationStructure can also be specified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClassificationSchemeType" id="oagis-id-5d383a5c5bcc4ebdbf85eaab2eb426d9">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies the classification scheme used by all the items in the Catalog. Additionally, this also identifies all the classifications within this scheme and their hierarchical representation. The features that are defined in this classification scheme and also the features that are associated with each hierarchical classification representation can also be specified </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ClassificationSchemeBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ClassificationSchemeExtensionType" id="oagis-id-71f72cd25ddd4f2cadfba63dacfff03b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClassificationDetailsBaseType" id="oagis-id-7056a7716802469bac3ee3cd8c915751">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="Classification" id="oagis-id-7f8026afdcc444e08f6905ac466081e5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the classification of an entity. An entity may be classified into mulitple groups for different reasons. Examples of Classification include Commodity Codes, Freight Classifications, Product Line classifications and so on. Suggested Values are COMMODITY, FREIGHT, PRODUCTLINE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Property" id="oagis-id-6e4f99c7555e44ae828a94f1945508be" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the Properties or Features of the associated entity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClassificationDetailsType" id="oagis-id-1fe889cdf2fb472388f9dde131e8375e">
		<xsd:complexContent>
			<xsd:extension base="ClassificationDetailsBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ClassificationDetailsExtensionType" id="oagis-id-c4f7a4279d0b43de9506bbe924254ffa" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CatalogLineBaseType" id="oagis-id-78a0c35355ec42199960b36d7e9e987e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The CatalogLine represents an item in a Catalog. The SupplierParty in the CatalogItemLine identifies the provider of the item. Depending on the exchange scenario, the provider may be either a Supplier, Manufacturer or a Catalog Party. If no SupplierParty is specified at line level, the header value of the SupplierParty is assumed to hold true for the line </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="Item" id="oagis-id-debb2c9b9b294242ab81bd7056fcb344" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CommodityClassification" id="oagis-id-4c2331de3b0f4ea09a6219a1367e55a2" minOccurs="0"/>
					<xsd:element ref="UOMCode" id="oagis-id-e61d39ef242c49638e93b625b6df1958" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the UOM of any object</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-ebf8545bfb1545fb8de7cb9b032869e6" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-e389fbcc248444b883a279c13d092cc7" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ItemPrice" id="oagis-id-c8eed7f278fa460f97f781e0b0d04a4a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Identifies the price of the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-a30848ae3c08440e9917e470147cca2e" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CatalogLineType" id="oagis-id-75ae14c721de4399b6ee5e8f980459f1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The CatalogLine represents an item in a Catalog. The SupplierParty in the CatalogItemLine identifies the provider of the item. Depending on the exchange scenario, the provider may be either a Supplier, Manufacturer or a Catalog Party. If no SupplierParty is specified at line level, the header value of the SupplierParty is assumed to hold true for the line </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CatalogLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CatalogLineExtensionType" id="oagis-id-f52735c49f8c45a0adb66532f9e0286f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemPriceBaseType" id="oagis-id-4dc9a5a8bfee4f08bd047de8810b8f83">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies a unit price for  an item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="UnitPrice" id="oagis-id-54de6026d5cc4a17a74b7ee67199a611" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Unit price of the item for the number of items in the unitCode specified in the PerQuantity elements.

In most cases the unitCode of the PerQuantity is the same as the unitCode of the Quantity element above.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-22db2cdec6d545589eba59dfea0a8f2e"/>
					<xsd:element ref="CustomerParty" id="oagis-id-e6de12c167c9499dbe836f6ac18706ae" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the organization that is the end customer of the goods or services being provided in the associated transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BuyerContractReference" id="oagis-id-b2d3bc6644c849ff8b4e902ec5805f17" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the buyer contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierContractReference" id="oagis-id-c4ad250ebf494c818eccf09e00f7ec3f" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the reference to the supplier contract.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ReferencesGroup" id="oagis-id-0051c5c544844d78b08f1d42eca44eec"/>
					<xsd:element ref="PriceBreak" id="oagis-id-4576707f3c4d487395d09758e2f74893" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This defines the prices and modifiers to the price for buying a given quantity or value of an item or item category on a price list line. For Price List Lines that specify Items the price breaks can be specified in terms of quantity or amount. For Price list lines that specify commodity, price breaks can only be specified in terms of currency amount</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemPriceType" id="oagis-id-c5307775e387464ab53475d465df17d4">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">This identifies a unit price for  an item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ItemPriceBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ItemPriceExtensionType" id="oagis-id-064b6ca2e15148158104ccefafe86347" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
