data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/ChartOfAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/ChartOfAccounts.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="ChartOfAccounts" type="ChartOfAccountsType" id="oagis-id-042588d1e76043ab9b1f7ec21768541b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Chart Of Accounts represents the accounting structure of a business.   Each account represents a financial aspect of a business, such as its Accounts Payable, or the value of its inventory, or its office supply expenses.  Typically, each account consists of a character string representing various elements such as major account code and department code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChartOfAccountsBaseType" id="oagis-id-5410cb1d10a9439bba9123f46cba5ae3">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="GLEntityID" id="oagis-id-ec210c034c7d4fb9af508a6420499f64" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A G/L entity is the smallest organizational unit for which individual financial statements must be drawn up according to relevant commercial law.

It is normally the primary balancing segment of the GL Account structure.  Typically, this is the owning entity for the transaction. 

Synonyms are Business Unit, Fund, G/L Company, Joint Venture, Non-Profit Association Name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="GeneralLedgerNominalAccount" id="oagis-id-adb7137fbe4a4251b9ee11762f293b30" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the primary account classification within a chart of accounts. For example reveune, Fixed Asset, Land, Buildings, etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EffectiveTimePeriod" id="oagis-id-df40a0b9f2174501a4ec13b1acd59efe" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the time period in which the associated component is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AccountTypeCode" id="oagis-id-21df83d0f9dc48c19471666506cfe363" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Type of UserAccount.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CurrencyCode" id="oagis-id-d3e228b34cf24557a7393011c54b35b1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Specifies the currency code of the object in which it is associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-e2b187312e794e09a2990ac1e0b9ead5"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChartOfAccountsType" id="oagis-id-af65c1bd11ab47e298116a80d1d3db09">
		<xsd:complexContent>
			<xsd:extension base="ChartOfAccountsBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ChartOfAccountsExtensionType" id="oagis-id-cbdd954230f141349edf27bbe0c1c77b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
