data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/CorrectiveAction.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2017 sp1 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/CorrectiveAction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="CorrectiveAction" type="CorrectiveActionType" id="oagis-id-bcb098b010034e709e233789e9244913">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CorrectiveAction OAGIS element. Information about what was done to correct a recurring problem.  Describes the corrective action or actions, and provides evidence to support its effectiveness in addressing the problem.  

Note that a single corrective action may apply to multiple facilities or locations.  In these cases, verification information will be needed for each place where the action applies.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CorrectiveActionType" id="oagis-id-d4aba3c5f08a41eba958927ada65a9cb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CorrectiveAction OAGIS complexType. Information about what was done to correct a recurring problem.  Describes the corrective action or actions, and provides evidence to support its effectiveness in addressing the problem.  

Note that a single corrective action may apply to multiple facilities or locations.  In these cases, verification information will be needed for each place where the action applies.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CorrectiveActionBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CorrectiveActionExtensionType" minOccurs="0" maxOccurs="unbounded" id="oagis-id-8768a4e3ffbf49848ec8b26f01fa4b97">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CorrectiveActionBaseType" id="oagis-id-6a81a88523e7450e8635c57b0f9b94e6">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">CorrectiveAction OAGIS complexType. Information about what was done to correct a recurring problem.  Describes the corrective action or actions, and provides evidence to support its effectiveness in addressing the problem.  

Note that a single corrective action may apply to multiple facilities or locations.  In these cases, verification information will be needed for each place where the action applies.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlannedCorrectiveActionBaseType">
				<xsd:sequence>
					<xsd:element ref="CorrectiveActionPlanReference" minOccurs="0" id="oagis-id-4c3f2c79267f4220a54488baa1e17e62"/>
					<xsd:element ref="PlannedCorrectiveActionReference" minOccurs="0" id="oagis-id-a0a5bf76f4f8415bab5878783ea463f5"/>
					<xsd:element ref="ActualTimePeriod" minOccurs="0" id="oagis-id-827546fa60b2464d804170048432b411"/>
					<xsd:element ref="ImplementationVerification" minOccurs="0" maxOccurs="unbounded" id="oagis-id-d4db75ce84a34271aa085ba266636be5"/>
					<xsd:element ref="EffectivenessVerification" minOccurs="0" maxOccurs="unbounded" id="oagis-id-8f99eec91e404663919880bc4a2b702f"/>
					<xsd:element ref="RelatedActionAssociation" minOccurs="0" maxOccurs="unbounded" id="oagis-id-40067c8530b7471db049913ea09c3db9"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PlannedCorrectiveAction" type="PlannedCorrectiveActionType" id="oagis-id-8bd7f78b0c8a43ebba3a7226ada85a3e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A description of the Corrective Action planned</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PlannedCorrectiveActionType" id="oagis-id-7ef618af87e94038a84748f0eee9771d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">PlannedCorrectiveAction OAGIS complexType supporting a description of the Corrective Action planned</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlannedCorrectiveActionBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PlannedCorrectiveActionExtensionType" minOccurs="0" maxOccurs="unbounded" id="oagis-id-63273c566b224b6594cb630d85cfba96">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PlannedCorrectiveActionBaseType" id="oagis-id-38d849d384354d838139a707a5ac645d">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">PlannedCorrectiveAction OAGIS complexType supporting a description of the Corrective Action planned</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActionBaseType">
				<xsd:sequence>
					<xsd:element ref="PlannedTimePeriod" minOccurs="0" id="oagis-id-2b0328f1cd5b4dd3b33e75ca2dbee57c"/>
					<xsd:element ref="ScheduledTimePeriod" minOccurs="0" id="oagis-id-c33994c782e340faa3d6ac3ed5f926a7"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
