data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/FreightInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 9_6  
   Date:               02 Jul 2012
   Copyright 1997-2012, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2012). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/9_6/Developer/Global/Nouns/Invoice.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="FreightInvoice" type="FreightInvoiceType" id="oagis-id-03a895c6d86e4d5fabd0b33edae53371">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Invoice is used to invoice a customer for goods/services the have been provided.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightInvoiceHeader" type="FreightInvoiceHeaderType" id="oagis-id-6a4e774c23f844acab6a4ec59297495f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire invoice document. The Header supports summary amounts for line items, charges, taxes and allowances.

It also supports itemizing Header level charges, taxes and allowances for use in credit or debit invoices. In this case Line items are not needed. 

The summary amounts in the Header include the Line level amounts and Header level amounts.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightInvoiceLine" type="FreightInvoiceLineType" id="oagis-id-89fc4e0091814f5e8de14eb38b267abb">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">In general an Invoice Line can be aligned with Order Lines. The ItemQuantity and Price are used to compute the Total. The Total is a sum of the Total and any Charges, Taxes or Allowances.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightInvoiceSubLine" type="FreightInvoiceSubLineType" id="oagis-id-70926a9a63a94243b9f9a165e0fdaf47">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Is a SubLine of the InvoiceLine in order to provide a finer grained breakdown of the items being invoiced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FreightInvoiceType" id="oagis-id-49562c43f23e40939ef2492f4d420678">
		<xsd:sequence>
			<xsd:element ref="FreightInvoiceHeader" id="oagis-id-c0b4d6ea9ca54d8ab4622b52d7787646" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire invoice document. The Header supports summary amounts for line items, charges, taxes and allowances.

It also supports itemizing Header level charges, taxes and allowances for use in credit or debit invoices. In this case Line items are not needed. 

The summary amounts in the Header include the Line level amounts and Header level amounts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FreightInvoiceLine" id="oagis-id-a5ce23f33ec64183817700e98d1adf6d" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">In general an Invoice Line can be aligned with Order Lines. The ItemQuantity and Price are used to compute the Total. The Total is a sum of the Total and any Charges, Taxes or Allowances.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="TokenType" use="optional" id="oagis-id-875a40da9bd644a7821ef15a3c8eac27"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-7b1a3065bfcb4cdab9d087341eb8454c"/>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceHeaderBaseType" id="oagis-id-b5e61611fc064c7d969a087053dcbcdc">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The InvoiceHeader type supports summary amounts for line items, charges and allowances.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="ExtendedAmount" id="oagis-id-d131bb20c9ae4012b1d1d00d717555d6" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is an amount not including taxes or charges. In the case of orders, this is typically the Unit Price times the Order Quantity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TotalAmount" id="oagis-id-7a8e2d617a1b41bc838effbd845a77d6" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the total amount of the object associated. This includes the Price and the total of all the charges, allowances and taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AmountDiscount" id="oagis-id-5f11175d3b3549209d3da7345c6865ef" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-d4b0bac2ff1d4408a0e9d83c006c50e7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CustomerParty" id="oagis-id-01fbf76b77714ead8766011c26e33484" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the organization that is the end customer of the goods or services being provided in the associated transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RemitToParty" id="oagis-id-acc14533d828425c9ffab8fee3fea8b5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party or location that the payment is to be remitted to or sent to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-0fb2ff4adf144e24b54add840f7bc4e4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-16016387038747ad8c7be27febf568e4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-98245219d25640efbc73f36c7b4e5f23" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the bill or invoice is to be sent. In most cases this is the same as the CustomerParty however there are many cases where the CustomerParty and the BillToParty will be different.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipFromParty" id="oagis-id-49d1d9ac23954799a3f4e60f67805c88" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the goods or services are being shipped or sent from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-ecc7711549e94e1987172aee0271dd7c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReasonCode" id="oagis-id-c51c0d9cfc134f44841260331752aacf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PurchaseOrderReference" id="oagis-id-faba6590d5404de3b5d0894d36772232" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a PurchaseOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ContractReference" id="oagis-id-265819fbee19457b8edefb4fccef2a64" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a contract</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AdditionalDocumentRequest" id="oagis-id-8a294ef1c4094611890cc712c43956c5" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PaymentTerm" id="oagis-id-37acad46bd224e80aa0ebc5d60513696" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the payment term for an Order or Invoice. Supports the abiility to specify an absolute due date, a number of days from a start daye, a percent discount or an absolute discount. A common term like "Net30Days" is explicitly code as either a calculated DueDateTime or a PaymentTermsDateTime and NumberOfDays.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Payment" id="oagis-id-60987f3830564033b72ce16a2583cc79" minOccurs="0"/>
					<xsd:element ref="Tax" id="oagis-id-f004c786cf4e48f4aa7a824417d4d21a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the tax for the object associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DistributeCharge" id="oagis-id-78af0be94c7741a08012af12c02552f6" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DistributeTax" id="oagis-id-06ab25a2fe2247a38145f146ab764a39" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Distribution" id="oagis-id-1b4f9258b58b4f7788354e884b4c84f1" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The accounting distribution information associated with a Business Object Document. The position of the Distribution within a Business Object Document provides the context and additional meaning. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Charge" id="oagis-id-ff218aea36e14c7eb2da2dc78806eee9" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the different Charges that may be applied to the associated document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Allowance" id="oagis-id-70b1c887aae242938bba22c5a1a9eff6" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the discount or allowance that the Customer is to receive off of the TotalAmount owed as a result of the associated document or sub-portion of a document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationMethodCode" id="oagis-id-a16d600b82d64baea67c8b7a955bf7ce" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the general type of carrier transportation used to deliver goods.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationTerm" id="oagis-id-57f045f82a2d445f9b444186a2b00ba9" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">When a seller ships something via common to a buyer in accordance with the Uniform Commerical Code and international legal agreements, you must specify a particular "phrase" that states who assumes the risk of shipment, who is responsible for loading and unloading the goods, where ownership or title to the goods passes, who paid or pays the carrirer, etc. Examples of these "phrases" include: - "FOB Origin Prepaid and Add" (Free On Board - no cost for loading, title passes at seller's dock, seller prepaid freight cost and delivery insurance, seller will freight costs to cost of goods) - "FOB Destination" or "FOB Destination Prepaid" (Free On Board - no cost for loading, title passes at buyer's dock, seller prepaid freight cost and delivery insurance)  In software applications, this phrase is commonly split into two coded pieces, a "legal terms" risk and responsibility component for use with common carriers (FOB Destination) and some kind of qualifying component (Prepaid and Add).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-de470f09474a43d58003219d1c38eb9e" minOccurs="0"/>
					<xsd:element ref="TransportStep" id="oagis-id-4b6d90dbc1334b599fcf5a87e978ae60" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Event" id="oagis-id-490776985b434e35b86356e1efb269b2" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceHeaderType" id="oagis-id-3e8e769215114e3897e168579d54342b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The InvoiceHeader type supports summary amounts for line items, charges and allowances.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FreightInvoiceHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="FreightInvoiceHeaderExtensionType" id="oagis-id-5f5db3f88e7e4ba5aa9f9508b1dcefab" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceLineSubLineBaseType" id="oagis-id-a4c5730ce10e4f00be3ac6ecfb4ea798">
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="Item" id="oagis-id-93398e351c584e8bbe79c3cca63b091e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ItemInstance" id="oagis-id-86784df81e6448faa783ece2a4ec04b7" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Quantity" id="oagis-id-395203238d104502883100b2c24e4f4e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the quantity of the associated service or item that is addresses by the component in which the quantity is associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UnitPrice" id="oagis-id-68987494f41e408cbd65ee1da0e06e83" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Unit price of the item for the number of items in the unitCode specified in the PerQuantity elements.

In most cases the unitCode of the PerQuantity is the same as the unitCode of the Quantity element above.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PurchaseOrderReference" id="oagis-id-16bf75ae5efc41e79bbfbfcd6a370a87" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a PurchaseOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AdditionalDocumentRequest" id="oagis-id-1dce9420e44d4dc5b127cd234627d220" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Party" id="oagis-id-cc18ef5d22f446f0815e55aa73d564f2" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ContractReference" id="oagis-id-aacbc8cb92d24c4db49c06d12212ed2e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a contract</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ExtendedAmount" id="oagis-id-bf65fcffaaa248cb94326f765027c5b8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is an amount not including taxes or charges. In the case of orders, this is typically the Unit Price times the Order Quantity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TotalAmount" id="oagis-id-76f2483a30d4414c8bfe0a3cdd5a62db" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the total amount of the object associated. This includes the Price and the total of all the charges, allowances and taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AmountDiscount" id="oagis-id-72ec02b7b4ab4ba383a56dc20dd49761" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="OpenItemIndicator" id="oagis-id-514d907c0b754c3fb0ab3a9dbb573a6b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates that the line is an open item and is not to be included in the document total. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Tax" id="oagis-id-eddd400ec336422185352a3edf9c357a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the tax for the object associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DistributeCharge" id="oagis-id-dfe89841d9944b0c8d6c38d06b6e307e" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DistributeTax" id="oagis-id-6d4fd4d89a1041afb5be2c3bd4702866" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Distribution" id="oagis-id-d520a2f5c7de4a5dbeb509b292a2d2e8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The accounting distribution information associated with a Business Object Document. The position of the Distribution within a Business Object Document provides the context and additional meaning. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="InvoiceCharge" id="oagis-id-34e00674d2e146208406f095c6426b8f" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="InvoiceAllowance" id="oagis-id-f1981b12a5774f049d17caaca0adbc41" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="GoodsReceiptDateTime" id="oagis-id-93c63eeccb8246d69b0a324362028782" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A datetime specifying a goods receipt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ServicesReceiptDateTime" id="oagis-id-8dd0fc815685409598b21905d8d41128" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A datetime specifying a services receipt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceLineBaseType" id="oagis-id-da12a9f6908f45caa94fb7e2db34a56b">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The InvoiceLine type supports order line invoicing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FreightInvoiceLineSubLineBaseType">
				<xsd:sequence>
					<xsd:element ref="CarrierParty" id="oagis-id-3bcbd5a6f816455b9286e0a6f85da4b4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToParty" id="oagis-id-1b4c87ce10c742798e2247e6d8f77085" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipFromParty" id="oagis-id-31c171f796eb42938bd719328ed9f407" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the goods or services are being shipped or sent from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-2d98c162f86847ea88ac73debdad0289" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the bill or invoice is to be sent. In most cases this is the same as the CustomerParty however there are many cases where the CustomerParty and the BillToParty will be different.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationTerm" id="oagis-id-3cd48ecd271a4c83b78edb5ebed07152" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">When a seller ships something via common to a buyer in accordance with the Uniform Commerical Code and international legal agreements, you must specify a particular "phrase" that states who assumes the risk of shipment, who is responsible for loading and unloading the goods, where ownership or title to the goods passes, who paid or pays the carrirer, etc. Examples of these "phrases" include: - "FOB Origin Prepaid and Add" (Free On Board - no cost for loading, title passes at seller's dock, seller prepaid freight cost and delivery insurance, seller will freight costs to cost of goods) - "FOB Destination" or "FOB Destination Prepaid" (Free On Board - no cost for loading, title passes at buyer's dock, seller prepaid freight cost and delivery insurance)  In software applications, this phrase is commonly split into two coded pieces, a "legal terms" risk and responsibility component for use with common carriers (FOB Destination) and some kind of qualifying component (Prepaid and Add).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipmentDateTime" id="oagis-id-d4812ca7f18c4aaa87f1ddd46b7e7205" minOccurs="0"/>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-635539b45cd941daafed65bc1975bbfc" minOccurs="0"/>
					<xsd:element ref="TransportStep" id="oagis-id-7e9d8c7bb51c478a9fff7165c681674f" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Event" id="oagis-id-81d3e4d58e08478a837fb54fa64c68f7" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FreightInvoiceSchedule" id="oagis-id-c4fc395b21f5416caaa3d88c60ba500d" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceLineType" id="oagis-id-6ddcf038d5ca4a6d89d0f53027ad3f6e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The InvoiceLine type supports order line invoicing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FreightInvoiceLineBaseType">
				<xsd:sequence>
					<xsd:element ref="FreightInvoiceSubLine" id="oagis-id-ad573ea44fb743e1b97ae8549ebd63ca" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Is a SubLine of the InvoiceLine in order to provide a finer grained breakdown of the items being invoiced.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Extension" type="FreightInvoiceLineExtensionType" id="oagis-id-0377d38473344255bb668ae14fa3ab78" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceSubLineBaseType" id="oagis-id-7067cb9e76f4468fab6130ae1b9732c6">
		<xsd:complexContent>
			<xsd:extension base="FreightInvoiceLineBaseType">
				<xsd:sequence>
					<xsd:element ref="HeatReference" id="oagis-id-b2925b56855c43cba5129f0800e51abe" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FreightInvoiceSubLineType" id="oagis-id-8ef70f9fc07f40e8817ba8ef13476021">
		<xsd:complexContent>
			<xsd:extension base="FreightInvoiceSubLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="FreightInvoiceSubLineExtensionType" id="oagis-id-5175aee0455843b390b11c55919e12b3" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FreightInvoiceSchedule" type="FreightInvoiceScheduleType" id="oagis-id-fb6abe9ba1d54c75b11f8baf3086fd89"/>
	<xsd:complexType name="FreightInvoiceScheduleType" id="oagis-id-10bfbe1b2c044cd7893bdb5dd5989e7d">
		<xsd:complexContent>
			<xsd:extension base="ProcurementScheduleBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="FreightInvoiceScheduleExtensionType" id="oagis-id-d6af2b0a722c463485413e210bc4b062" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
