data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/InventoryBalance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) -->
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/InventoryBalance.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="InventoryBalance" type="InventoryBalanceType" id="oagis-id-cb3821c1e186420db1dcb48912a380ba">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Includes all stocked items and primarily represents the quantities of each item by location.  Other item-by-location information, such as serial numbers or lot numbers, can also be included.  The use of this noun does not include basic item master data that is independent of location, such as item description and dimensions.

All Quantity information will be updated as replacing the entire field, not incremented by the quantity</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InventoryBalanceBaseType" id="oagis-id-ac52fb2eec8f4aa58395898158c79a83">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Status indicates whether an item is active, inactive, or in other various states.  Examples of values for this field include:	Active, Inactive, Hold, Deleted, Obsolete</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ItemInstanceBaseType">
				<xsd:sequence>
					<xsd:element ref="GLEntityID" id="oagis-id-00189d05b38e432993e5b8106a2b82d6" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A G/L entity is the smallest organizational unit for which individual financial statements must be drawn up according to relevant commercial law.

It is normally the primary balancing segment of the GL Account structure.  Typically, this is the owning entity for the transaction. 

Synonyms are Business Unit, Fund, G/L Company, Joint Venture, Non-Profit Association Name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Status" id="oagis-id-2cf7aeed8008408c9d1de2083f50e217" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ReasonCode" id="oagis-id-c1b5a674db304bf38493e4acd6cc656b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the reason for an activity</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransactionDateTime" id="oagis-id-1b42b48ec40f4a1683772682b8338818" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The DateTime of occurrence of the transaction</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AvailableQuantity" id="oagis-id-b945e1d27dfb49fcb23e07d4c818e9ee" minOccurs="0"/>
					<xsd:element ref="InspectedQuantity" id="oagis-id-c39fc6c8a9614ae7ae7fabb062704c60" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Number of inventory items that have been inspected.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AllocatedQuantity" id="oagis-id-1a382197d99745f2a5e18e32d07f1e13" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Number of inventory items that have been allocated for other uses as such are no longer availble. Unless the allocation is overriden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BlockedQuantity" id="oagis-id-ae01af996f194ed392f8f359a78c0ea7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Number of inventory items that are blocked or unavailable.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="StorageUOMCode" id="oagis-id-cd0c76b34e0e4e88ad4d29e3729b7341" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the storage unit of measure of the item. This is sometimes different from the unit of measure that is used to count a product as it is consumed, sold or accounted for</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ValueClassification" id="oagis-id-6f3333fc18e04e1598b70e0ef8d6635e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2"> Is a grouping used to determine the General Ledger accounting effect. These are user defined values, with the exception of the values TOTAL, MATERIAL, LABOR, BURDEN, OVERHEAD, SUBCONTRACT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DensityConversionFactorNumber" id="oagis-id-ec363517c544449a8523065094f447f5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The density factor is a simple field with a numeric value that enables a conversion rate to the standard density of a liquid</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CatchWeightQuantity" id="oagis-id-2b96937a998b4af594c6938a441ca94d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the actual weight of the ReceivedQuantity for the Item if the NetWeightQuantity cannot be calculated precisely via arithmetic because the goods do not have a consistent per unit weight. This quantity is generally used with the CatchWeightConversion Factor.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CatchWeightConversionFactorNumber" id="oagis-id-1e8db0b92dd34072a776bf26be69fa8c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The catch weight conversion factor is a stock keeping conversion factor for inventory goods.  This is a special conversion factor for when the units of measure can not be converted using arithmetic.  This conversion factor is used with the CatchWeightQuantity.

Examples of the use of this factor include:	
Number of Chickens to a Box
Number of units of a chemical in a barrel</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ActualTemperature" id="oagis-id-76f16aecf01e44a38b1fa08ce5112fe0" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the actual temperature taken at periodic times.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProductionOrderReference" id="oagis-id-27ab12ea93d54f1982ee6cacb5dbd305" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is reference to a ProductionOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalesOrderReference" id="oagis-id-dee4cdb22a714a1697f4870718cd3e10" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a SalesOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="WarehouseParty" id="oagis-id-7f38d599dd08400eb16042955df4714e" minOccurs="0"/>
					<xsd:element ref="CarrierParty" id="oagis-id-89184f3a631c4c129131463914bb4fe8" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-4de53780468a4a038366d7883c0e1b58" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ItemInstance" id="oagis-id-544cfdf778cb4e1a8bf2c16a4c5684aa" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InventoryBalanceType" id="oagis-id-a3d67f2e87e94542874bc4f5d0798c14">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Status indicates whether an item is active, inactive, or in other various states.  Examples of values for this field include:	Active, Inactive, Hold, Deleted, Obsolete</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InventoryBalanceBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InventoryBalanceExtensionType" id="oagis-id-bb304210e4354e4eb3106dbfd771096d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
