data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/InvoiceLedgerEntry.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/InvoiceLedgerEntry.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="InvoiceLedgerEntry" type="InvoiceLedgerEntryType" id="oagis-id-96e1f709811f4cfb853056d0ce9596b1">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A InvoiceLedgerEntry represents a not yet approved for payment purchase ledger invoice or debit memo. A InvoiceLedgerEntry uses an InvoiceReference to reference the original suppliers invoice.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceLedgerEntryHeader" type="InvoiceLedgerEntryHeaderType" id="oagis-id-b31a355cd9c74e0ba8394288c617f302">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire unapproved invoice document.

The InvoiceReference in the Header is a reference to the external invoice that is being referred to in the document.

The Voucher Reference is an internal voucher, possibly against the external invoice

The Tax element contains any tax information such as the taxable amounts and the tax codes.  It is optional and used to summarize tax amounts across all the document lines. The principal intent of this data type is for use as a memo item</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceLedgerEntryLine" type="InvoiceLedgerEntryLineType" id="oagis-id-9fcb810215164e12863c4351212636ef">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Represents lines on the internal invoice document. Invoice lines or credit memo lines are examples of PurchaseLedgerLines.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InvoiceLedgerEntryType" id="oagis-id-e0a783d0861d484b8d037376d0e13294">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A purchase ledger invoice or debit memo that has not yet  been approved for payment.</xsd:documentation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Deprecation of VOUCHER, ORIGREF:
From OAGIS 7.2.1:
ORIGREF is the link that ties back to a sub ledger transaction entry ID.  It is the identifier of an original transaction or document.  For example, it could be the receipt or the summarized inventory activity.  This is the singular field that refers to an audit record.  Together with the Sender information, the ORIGREF is part of the referencing system, which will enable drill back audit trail functionality.
PN: The ORIGREF field represents the voucher or unapproved invoice identifier.
VOUCHER is the internal identifier associated with the external supplier's invoice.
REMITTANCE refers to a reference identifier to print on remittance advice, for example, supplier invoice number.

In OAGIS 8:
All of these can be accomplished with an InvoiceReference. REMITTANCE field in until the RemittanceAdvice BOD is part of OAGIS.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InvoiceLedgerEntryHeader" id="oagis-id-631ee0f9e4e74dcb9d8056466a7cabdb" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information that applies to the entire unapproved invoice document.

The InvoiceReference in the Header is a reference to the external invoice that is being referred to in the document.

The Voucher Reference is an internal voucher, possibly against the external invoice

The Tax element contains any tax information such as the taxable amounts and the tax codes.  It is optional and used to summarize tax amounts across all the document lines. The principal intent of this data type is for use as a memo item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="InvoiceLedgerEntryLine" id="oagis-id-187b9df55988415592516b86cc622ff6" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Represents lines on the internal invoice document. Invoice lines or credit memo lines are examples of PurchaseLedgerLines.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="TokenType" use="optional" id="oagis-id-50a20614c2d547559f860bfc29cc78af"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-a60d29afd04d4161990f168510920253"/>
	</xsd:complexType>
	<xsd:complexType name="InvoiceLedgerEntryHeaderBaseType" id="oagis-id-1ec829575f7a4850976d3cd56ddc45f9">
		<xsd:complexContent>
			<xsd:extension base="LedgerEntryHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="VoucherReference" id="oagis-id-44d90c3dcff64cafbb9f296cfc3cc1ea" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a voucher document. This is typically an internal voucher, possibly created as a a payable reference against an external invoice </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RemittanceID" id="oagis-id-fc25514942884fe897a4f1dec02d2916" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Remittance refers to a reference identifier to print on a remittance advice, for example, supplier invoice number.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PayeeParty" id="oagis-id-d28b015dc39f41a095b4abf3a538d1b4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is a Party that is identified as a Payee on an Accounts Payable document. The SupplierParty of the goods or services typically.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RemitToParty" id="oagis-id-e6e90b48f3a94d5296297423e48d221b" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party or location that the payment is to be remitted to or sent to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BuyerParty" id="oagis-id-91ee2ab37fe6472fbe0d707f6e0f9840" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InvoiceLedgerEntryHeaderType" id="oagis-id-8d8d59eb78d843d09b542e862b3db869">
		<xsd:complexContent>
			<xsd:extension base="InvoiceLedgerEntryHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InvoiceLedgerEntryHeaderExtensionType" id="oagis-id-068afd03900a4b7386c4318b5d4dc74a" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InvoiceLedgerEntryLineType" id="oagis-id-81c71d76013e415eabe0c2d99f4d3d2a">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Is the type that defines the structure of the InvoiceLedgerEntry Line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LedgerEntryLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="InvoiceLedgerEntryLineExtensionType" id="oagis-id-158d7844cb774e03a10716562f9c0b09" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
