data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/PickList.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/PickList.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="PickList" type="PickListType" id="oagis-id-edbe9939f9624725b4684876a27c5d53">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Picking List is a document that lists material to be retrieved ("picked") from various locations in a warehouse in order to fill a production order, sales order, or shipping order.  A picking list includes general identifying information (header information), as well as line item details.  Depending on the verb used, PickList may refer to header information only, or both header and detail information. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PickListHeader" type="PickListHeaderType" id="oagis-id-78600ead8c3c481795775269233947dd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information about the entire Picking List</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PickListLine" type="PickListLineType" id="oagis-id-7f31670d184446c09a688cd63af9b723">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information about a line item on a Picking List.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PickListLineDetail" type="PickListLineDetailType" id="oagis-id-72d3d2880a3b48a9aa82a1251d0257ed">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Detail information about particular line items</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PickListType" id="oagis-id-12fb93ecb8f148d6be9ccd1522f2ea96">
		<xsd:sequence>
			<xsd:element ref="PickListHeader" id="oagis-id-2542f292adb248b9b8c43b712830446e" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information about the entire Picking List</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PickListLine" id="oagis-id-6ddcfedddb5a4d3b8f9abbc3a3b4e49b" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information about a line item on a Picking List.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="TokenType" use="optional" id="oagis-id-ae84ca941a0d44d88f227dbff5a95614"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-483655fdd4354944b2018b0117f7a131"/>
	</xsd:complexType>
	<xsd:complexType name="PickListHeaderBaseType" id="oagis-id-706f598cb1e14dfc8bf95706419fcc96">
		<xsd:complexContent>
			<xsd:extension base="HeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="DemandReference" id="oagis-id-5eb22dbafdd845abab0ad4e6ed6de910" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the document that is being satisfied by the Pick List. This may be a sales order, inventory reservation etc</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillOfLadingReference" id="oagis-id-87311449986942f2afc1f5f63cd5ae36" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to the associated Bill of Lading document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShippingDockID" id="oagis-id-f86c96e61ba84c568305e7ad8735f45c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the dock identifier that the associated entity or entities are to be shipped from or were shipped from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RouteID" id="oagis-id-d2f3a3a3ced941479900aaf536a787c9" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the physical route the associated entity is to take or has taken.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="WeightMeasure" id="oagis-id-7287192baf104395a7973c82cec3a13f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the weight of the associated entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="VolumeMeasure" id="oagis-id-f2e50eac33b64fe6bde67fa8ca0deb5a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the volume of the associated entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-7adb09fd5be245d695688b3625f1c719" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-c71efa7ed0a34deb8f27b20b2ef896ee" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PickListHeaderType" id="oagis-id-4b76b2f8e22b4f53a69f55f1a7b5428e">
		<xsd:complexContent>
			<xsd:extension base="PickListHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PickListHeaderExtensionType" id="oagis-id-af02ed46153f44cc89b698b15a479fd3" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PickListLineBaseType" id="oagis-id-f56b532171db4438866868a0920ba71a">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="ItemInstance" minOccurs="0" maxOccurs="unbounded" id="oagis-id-0b3d828e227b4b2888ce26c669410764"/>
					<xsd:element ref="Quantity" id="oagis-id-0db7e79d0ee24f6ca3c1b72ecba5785d" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="InventoryTransactionGroup" id="oagis-id-3873433dc08c4b4e91814c86854c1774"/>
					<xsd:element ref="OrderQuantity" id="oagis-id-a0396f8b2dfc415281412c86fdf5b088" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the quantity of a material or product ordered by the customer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShippedQuantity" id="oagis-id-462edc7d706e412ab149559f8cb97f96" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the quantity that is  shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipUnitQuantity" id="oagis-id-ca689a3cc12145868c7eba61c2c82f04" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This contains the quantity of units or things shipped. This represents the container(s), not the product shipped.  An example of this is "4 truck loads" or "2 wooden crates"</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierParty" id="oagis-id-ccd33be12d1c4bce8f11404acf9b71e2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Idenitfies the party that serves as the carrier of the goods or services for the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PickListLineDetail" id="oagis-id-be50bfc6b51343f08379f94d0675c09e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Detail information about particular line items</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PickListLineType" id="oagis-id-c32359399e5c4f53a87992e1493da996">
		<xsd:complexContent>
			<xsd:extension base="PickListLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PickListLineExtensionType" id="oagis-id-c220570472af4f3a9bf510a947421cef" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PickListLineDetailBaseType" id="oagis-id-4dfab1374c87405088e51f286a96cc9a">
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="ShippingTrackingID" id="oagis-id-01e9e7d19f0142ba9826e907fbc2a8ab" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a unique identifier for the purpose of tracking an individual package or shipment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LoadingLocation" id="oagis-id-9595ca74c06d4118ba09319de4f812eb" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location that shipped goods are to be loaded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipToLocation" id="oagis-id-dc73be0ec4fb434abd96ef3e5fdc4e0a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location in which the goods are to be shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShippingMaterialID" id="oagis-id-a6e4f53e22074e24b590ec614ee9d4e2" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the materials used to ship.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipmentDateTime" id="oagis-id-236cce5de90746d69f47328b5f342404" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the timestamp that indicates when the associated entity(ies) are shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LoadingDateTime" id="oagis-id-e8f81d5159054ade85ea5c8a8b2474b9" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the date and time a shipment loading process is complete.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ShippingWeightAndVolumeGroup" id="oagis-id-dac2b88fe3e64569bdf38bf773bbcdf9" minOccurs="0"/>
					<xsd:element ref="ItemInstance" minOccurs="0" maxOccurs="unbounded" id="oagis-id-8d5b0b2667234e4da30dccfe013ded45"/>
					<xsd:element ref="Quantity" id="oagis-id-c19b2c29a72242f09dd9f26f170741ea" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PickListLineDetailType" id="oagis-id-06f65e678e7e41e898483653e830416f">
		<xsd:complexContent>
			<xsd:extension base="PickListLineDetailBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="PickListLineDetailExtensionType" id="oagis-id-9ffb79f69a984c95b12b21cbc73e7aee" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
