data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/SequenceSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/SequenceSchedule.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="SequenceSchedule" type="SequenceScheduleType" id="oagis-id-4d1516bf03574833b2146b3ce11ce4df">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A Sequence Schedule is used to indicate sequencial scheduling of ordered items in the manufacturing process. Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceScheduleHeader" type="SequenceScheduleHeaderType" id="oagis-id-b38e2fcd656849b2be8202c829825a44">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Header level informatoin for the schedule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceScheduleEvent" type="SequenceScheduleEventType" id="oagis-id-0636e20884eb4b53abd2cb13174e879c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Sequence Schedule Date and Time information associated with the Schedule Line.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceScheduleLine" type="SequenceScheduleLineType" id="oagis-id-f2b6a9a686834fbca836505ba18b3b47">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Line level informatoin for the schedule within a particular event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SequenceScheduleType" id="oagis-id-c836ff97135e4154bfa8e8692ee1f380">
		<xsd:sequence>
			<xsd:element ref="SequenceScheduleHeader" id="oagis-id-72bd5a48b1704560a36264bca2caa38f" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Header level informatoin for the schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SequenceScheduleEvent" id="oagis-id-60ce0b9fe64b4d708daca7a98cd8d9c0" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Sequence Schedule Date and Time information associated with the Schedule Line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-ec2e3b2d45df43279a6329fd7403c629"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-435718b1c45d4620ad75b486b0ad2d4a"/>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleHeaderBaseType" id="oagis-id-9a404628760a45fd878da90dcd8ea91b">
		<xsd:complexContent>
			<xsd:extension base="ScheduleHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="SoldToParty" id="oagis-id-14c88514c4ec4a50a8a9bc2b2474683b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is to be used for third party buying to indicate the buying organization. All purchasing scenario will have a CustomerParty is used to indicated the End Customer of the transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BillToParty" id="oagis-id-4b3882d4aa804637add29c0e25242c02" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the bill or invoice is to be sent. In most cases this is the same as the CustomerParty however there are many cases where the CustomerParty and the BillToParty will be different.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipFromParty" id="oagis-id-bd9b35a16422477b856c28fd41ef8328" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that the goods or services are being shipped or sent from.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-6441291a26ab43d7a6e87c8ce612dd87" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleHeaderType" id="oagis-id-2522b73e688040d2aeaa555ff6b8530b">
		<xsd:complexContent>
			<xsd:extension base="SequenceScheduleHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SequenceScheduleHeaderExtensionType" id="oagis-id-c17944aa82f24154ad68f082be63de28" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleEventBaseType" id="oagis-id-0b3b0b36e5f547fd9ae7acd6d118b21e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Event represents date and time information for the associated Schedule Line(s). The date and time the detail lines of the sequence schedule are required to be delivered. This allows Sequence Lines to be grouped together by an Event and minimizes the amount of potential redundant data.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LineBaseType">
				<xsd:sequence>
					<xsd:element ref="RequiredDateTime" id="oagis-id-f14d9777d12146c2b6933a09dd11acfb" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date the goods or services must be delivered to the customer. Specified by the customer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="BeginSequenceCodes" id="oagis-id-e26545842967470a85f64f2efe528f9e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The beginning production sequence number, name, or identifier given to a manufactured or assembled item for use in sequenced part requirements and shipments for a given day's requirements.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The fields ProductionSequenceBegin and ProductionSequenceEnd contain the range of the production sequence numbers for use in sequenced part requirements and shipments specified in the SequenceScheduleLine data type</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EndSequenceCode" id="oagis-id-e3775e70152d4530ad80c666e9a735d3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The ending production sequence number, name, or identifier given to a manufactured or assembled item for use in sequenced part requirements and shipments for a given day's requirements</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SequenceScheduleLine" id="oagis-id-8aaafe750c034cf9af00161346ac9953" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">Line level informatoin for the schedule within a particular event.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleEventType" id="oagis-id-9ad464a0df9644218ac031c1ddeab972">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Event represents date and time information for the associated Schedule Line(s). The date and time the detail lines of the sequence schedule are required to be delivered. This allows Sequence Lines to be grouped together by an Event and minimizes the amount of potential redundant data.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SequenceScheduleEventBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SequenceScheduleEventExtensionType" id="oagis-id-37db22d73fdc43648e2ce64a47586b53" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleLineBaseType" id="oagis-id-4508e09dcbb040e98192552e0f9b9e43">
		<xsd:complexContent>
			<xsd:extension base="ScheduleLineBaseType">
				<xsd:sequence>
					<xsd:element ref="SequenceCode" id="oagis-id-8f32e569ce594f2d85bddf17f634c2ba" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the sequence in which the associated entity is to occur with in a given operation, step or business process..</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FinishedGoodItem" id="oagis-id-68794b920a4d4176891cbdbdeb165376" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the finished good en item. In the case that the Item is raw material or sub-compoenent. This identifies the finished good that it is for. For example in case of Manufacturing an airplane and the compenents used must be tracked.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LineFeedLocation" id="oagis-id-bac9e43d10ee4a4ab05217ccb7436ddc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The location on a production line that components are to enter the production line.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SequenceScheduleLineType" id="oagis-id-82edf0c371c24f60b2ee260f6b888e3f">
		<xsd:complexContent>
			<xsd:extension base="SequenceScheduleLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SequenceScheduleLineExtensionType" id="oagis-id-2ad3de5eaee047eeb22078626d829846" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
