data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/ShippersLetterOfInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    9.4-RC-1  
   Date:               02 March 2009 
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/9_4-RC-1/Developer/Nouns/ShippersLetterOfInstruction.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="ShippersLetterOfInstruction" type="ShippersLetterOfInstructionType" id="oagis-id-5dbcb085603e4c148b4a58f628c98f2c">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A ShippersLetterOfInstruction document identifies and describes a specific collection of goods to be transported by a carrier and delivered to one or more business partner destinations.   A ShippersLetterOfInstruction document represents the extent and content of "transportation work" to be done by the carrier.  For transportation efficiency, a ShippersLetterOfInstruction document typically consolidates deliveries to multiple destinations within a certain geographic region and may provide carrier routing instructions to each delivery stop.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShippersLetterOfInstructionHeader" type="ShippersLetterOfInstructionHeaderType" id="oagis-id-8215c6f037644cf5992f7ca18aff134e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the document that is used to transport a specific quantity of material goods from a supplier to a single customer business partner destination.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShippersLetterOfInstructionLine" type="ShippersLetterOfInstructionLineType" id="oagis-id-28a6d5485d1d493c8f178df9cfe3cacd">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the item inventory being delivered, including the planned and actual quantities.  This information usually directly references a line item or shipment schedule line on a sales order, purchase order or other inventory transfer document.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShippersLetterOfInstructionType" id="oagis-id-6a63aaddc2a048c8a7c0a3cf8be0b1ca">
		<xsd:sequence>
			<xsd:element ref="ShippersLetterOfInstructionHeader" id="oagis-id-b4940595ce584287a533c82cdea06baa" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the document that is used to transport a specific quantity of material goods from a supplier to a single customer business partner destination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShippersLetterOfInstructionLine" id="oagis-id-e0b8b629aae9443eacbd006661b31d27" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the item inventory being delivered, including the planned and actual quantities.  This information usually directly references a line item or shipment schedule line on a sales order, purchase order or other inventory transfer document.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-1caff191a635409a8cc5dacb2cbc69df"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-00fd0ce459b6463ebdeb9d8cd7b18abb"/>
	</xsd:complexType>
	<xsd:complexType name="ShippersLetterOfInstructionHeaderBaseType" abstract="false" id="oagis-id-5d927e2777d0434e87c79ded72b7f90c" mixed="false">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Shippers Letter of Instruction Header Base Type for detailing the minimum applicable details of a shippers letter of instruction Noun</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="GrossWeightMeasure" id="oagis-id-773cc466cdf54ec69f3595c84404f7f4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Gross weight of the associated entity. The total weight of the entity without reduction of packaging or container. I.e The Gross weight of a pallet of goods includes the weight of the pallet.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CustomsExport" id="oagis-id-c74b2bb7a3a14570b435c6bc6924f3fb" minOccurs="0"/>
					<xsd:element ref="Port" id="oagis-id-7193728f23b94a34a47074c4a039c179" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ActualShipDate" id="oagis-id-2cadc19384d64492a6edf2fb7f2c9ffc" minOccurs="0"/>
					<xsd:element ref="ShippingInstructions" id="oagis-id-84343abb65a24d088fd7ac89da3921c2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is information about the shipping of an item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="InsuranceRequiredIndicator" id="oagis-id-05c5f1ce8a6642d88a8990d4d6062a9c" minOccurs="0"/>
					<xsd:element ref="IntraCompanyTransferIndicator" id="oagis-id-203e97acaf9840f1a12a7d9f0daf0d10" minOccurs="0"/>
					<xsd:element ref="ShippingRoute" id="oagis-id-0e242b7d548c4a5eb70a008eeb077e5c" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ShipToParty" id="oagis-id-757a500b8ff6460ba6bdad6e23b0a99c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SupplierParty" id="oagis-id-93f8e354b4d34454b532d41520ee4aac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the supplier organization/entity of the items or inventory for the associated transaction.

In most cases there is one SupplierParty per transaction. i.e. one SupplierParty for a given PurchaseOrder. However in the cases where an transaction Broker is involved there are cases where a single transaction may have different SupplierParties at the line level or in the case of a Catalog for the Catalog. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UltimateRecipientParty" id="oagis-id-541a60e5a47a40baa67ea4f80e7a9938" minOccurs="0"/>
					<xsd:element ref="TotalAmount" id="oagis-id-38ed8727ec904ed2b2b0fedf376bdf02" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the total amount of the object associated. This includes the Price and the total of all the charges, allowances and taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Event" id="oagis-id-46aff5dbd3c24810827e597704b8b78d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-2360a59ef64441138ad4c373331a572e" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShippersLetterOfInstructionHeaderType" id="oagis-id-15531605a49a48c89a3172403038c3da">
		<xsd:complexContent>
			<xsd:extension base="ShippersLetterOfInstructionHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShippersLetterOfInstructionHeaderExtensionType" id="oagis-id-f286b0872c1d4aecae98ea2a6521b1c5" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShippersLetterOfInstructionLineBaseType" abstract="false" id="oagis-id-d680681de55948e8bb0f3ed30f93202b" mixed="false">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Shippers Letter of Instruction Line Base Type for detailing the minimum details of the individual components of a shippers letter of instruction Noun</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="ExportLicense" id="oagis-id-98fcaeea9e444fa097d8aa48e14da562" minOccurs="0"/>
					<xsd:element ref="DeclaredValueAmount" id="oagis-id-1188dd2e25e147e39f13ad7d6aea886c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the declared monetary value of the contents of a shipping unit or a delivery for insurance purposes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="HarmonizedTariffScheduleCode" id="oagis-id-6a2da6fc166742d598fffe35176bd7b3" minOccurs="0"/>
					<xsd:element ref="ItemInstance" id="oagis-id-1645ac03288542ebb23a05b7dabe084f" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Quantity" id="oagis-id-a63c904f3ead4da1a5a9a244d5c02b5c" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShippersLetterOfInstructionLineType" id="oagis-id-70d3950325f9421da4df138cd429c08a">
		<xsd:complexContent>
			<xsd:extension base="ShippersLetterOfInstructionLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShippersLetterOfInstructionLineExtensionType" id="oagis-id-da0694b6952b442daef4925f41e13a8c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.

This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.

The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
