data/OAGIS_10_3_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/Shipment.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_3  
   Date:               06 Mar 2017
   Copyright 1997-2017, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2017). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_3/Model/Nouns/Shipment.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_3/Common/Components/Components.xsd"/>
	<xsd:element name="Shipment" type="ShipmentType" id="oagis-id-9a738e2c1ae445d6887a240adb6571af">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">A Shipment document identifies and describes a specific collection of goods to be transported by a carrier and delivered to one or more business partner destinations.   A Shipment document represents the extent and content of "transportation work" to be done by the carrier.  For transportation efficiency, a shipment document typically consolidates deliveries to multiple destinations within a certain geographic region and may provide carrier routing instructions to each delivery stop.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentHeader" type="ShipmentHeaderType" id="oagis-id-b26bb544c0c24741a29a57631b42539e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the document that is used to transport a specific quantity of material goods from a supplier to a single customer business partner destination.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentItem" type="ShipmentItemType" id="oagis-id-f0e982c851bf41afa249825d4c525b01">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the item inventory being delivered, including the planned and actual quantities.  This information usually directly references a line item or shipment schedule line on a sales order, purchase order or other inventory transfer document.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShipmentBaseType" id="oagis-id-2462e51063854d6790ba753625b1218e">
		<xsd:sequence>
			<xsd:element ref="ShipmentHeader" id="oagis-id-66827a5c5225422d9b4dbfb20c9df0c5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the document that is used to transport a specific quantity of material goods from a supplier to a single customer business partner destination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShipmentItem" id="oagis-id-87c33f5ba07845a3a39c8da1b92bc51b" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Provides general information about the item inventory being delivered, including the planned and actual quantities.  This information usually directly references a line item or shipment schedule line on a sales order, purchase order or other inventory transfer document.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShipmentUnit" id="oagis-id-42a30f888d9248f8a4b88fde4cccfa1d" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The ShipmentUnit represents a single trackable, uniquely identifiable assembly or container containing a specific collection of goods inventory that is packaged by a supplier for carrier transportation to a customer business partner destination

The ShipmentUnit component identifies and describes the physical shipping container(s) and internal packaging structure of the delivered goods.  The ShipmentUnit component is typically constructed to describe the result of an inventory picking and packing operation. 

A ShipmentUnit is generally the smallest "thing" that can be individually moved and tracked throughout a carrier's transportation network.  The physical size, inventory, content and internal nested container complexity within a ShipUnit is arbitrary.  The ShipUnit component was specifically designed to be transportation mode independent.  It may be used to represent any uniquely identifiable and trackable assembly, container or vessel including, but not limited to: a parcel express package; a pallet of identical or mixed items; a truck trailer, rail car or an ocean cargo container.

The ShipmentUnit complements the line-item oriented summary information provided in the Shipment's ShipmentItem and InventoryDetail component with detailed information to accurately describe complex shipping unit assemblies and item packaging.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-0ed1b7f77e9542a8b5c3236c169f6437"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-81fb7263f1c147ef8d1e2e776df44f64"/>
	</xsd:complexType>
	<xsd:complexType name="ShipmentType" id="oagis-id-ca83310c8ef8459a8df3820f201c474d">
		<xsd:complexContent>
			<xsd:extension base="ShipmentBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShipmentExtensionType" id="oagis-id-a2b55db828c94ac6bb2ec98fed3a1bb6" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentHeaderBaseType" id="oagis-id-30350312cfe141499cc943e9991c3851">
		<xsd:complexContent>
			<xsd:extension base="ShipHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="DeclaredValueAmount" id="oagis-id-df3be84030674cde9ac7ff9a2a0d4f5f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the declared monetary value of the contents of a shipping unit or a delivery for insurance purposes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EstimatedFreightChargeAmount" id="oagis-id-26596714b48f4717b179094940014396" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is used to describe the estimated cost of transporting the items or products being sold, produced or purchased.   This amount is usually determined at the time the sales order is created and is quoted to the customer, before the actual shipping method, weight or number of units is known.  This is also customarily known as a general "Shipping and Handling" charge.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FreightCostAmount" id="oagis-id-e2190af753de45af8c589637ca976ae5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is used to describe a shipper's total cost of transporting the items or products being sold, produced or purchased, if it is different that the freight amount being charged to the customer.  (Certain businesses may want to track the internal cost of a "free shipping" promotion or utilize their shipping operations as a profit center.)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FreightChargeAmount" id="oagis-id-17b3e54cada940a68e9fdefe36a2ba49" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is used to report the total price charged to the customer for transporting the items or products being sold, produced or purchased.   This amount is determined by the shipping partner and/or reported by the carrier partner upon shipment or delivery of the product. The shipper's total operational freight cost (which may be different the price charged) can be reported using FreightOperationalAmount.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalePriceAmount" id="oagis-id-43cb2d9b98de4daf8b037eff33f32c98" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the sales price for the associated item or object. This could be used to identify the price at a header level or line item level. This price is considered to be exclusive of freight or other taxes or charges</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipmentTotalAmount" id="oagis-id-cc2fc60d423b4874ae34990f83a43a9d" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the sum of the FreightChargeAmount and SalePriceAmount for the shipment.  If C.O.D. (Collect On Delivery) freight terms were specified for the transaction, this is monetary amount that the carrier is to collect as payment from the customer upon shipment of all the shipping units</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RequiredDeliveryDateTime" id="oagis-id-adc25864d955408bbde3cc398577fa9c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the buyer/customer requests the order to be delivered.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PromisedDeliveryDateTime" id="oagis-id-b7a8b6363f474161b4ce625ea3f16a2e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the associated was promised to be delivered to the customer or consumer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LoadingDateTime" id="oagis-id-6502d75a65d34cc68650aceae5b942d8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the date and time a shipment loading process is complete.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EarliestShipDateTime" id="oagis-id-d221d46e04a34b83861613fb5e5d73d3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This indicates the earliest possible date at which a shipment can be made for the line item</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PromisedShipDateTime" id="oagis-id-d3414c6a132547229de44fd76bd521d8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the associated object was promised to be shipped from the supplier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ScheduledShipDateTime" id="oagis-id-d6ff7712ca7b47b5a399a8057eb49761" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The scheduled date to be shipped provided by the supplier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ImportLicenseRequiredIndicator" id="oagis-id-ccd06dcf20c74b52903b4a25f17089de" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Communicates the need for an import license on a good or service. Valid values are '0' for no license required, and '1' for license required.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ExportLicenseRequiredIndicator" id="oagis-id-2522f7512f194d4a86e2c6f087e2c18e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Communicates the need for an export license on a good or service. Valid values are '0' for no license required, and '1' for license required.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DropShipmentIndicator" id="oagis-id-a4ca962f45c0415aa5a6c9a75f2965ed" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies if a particular shipment is a drop-shipment. In a drop shipment scenario, an organization takes title of the product but does not actually handle, stock or deliver it.  E.g., To have one supplier ship directly to another or to have a supplier ship directly to the buyer's customer."</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PartialShipmentAllowedIndicator" id="oagis-id-db08d6f85fa442dc8ca0ffb0e2b7851f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies if a partial shipment to a customer is allowed. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="EarlyShipmentAllowedIndicator" id="oagis-id-d82c83f1fc66409dbeba24d1a70c8d1c" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Communicates if it is permitted to ship a good or service prior to the date it is due</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ExclusiveShipmentIndicator" id="oagis-id-4a0b97f832984820940f8d6f3c9df347" minOccurs="0"/>
					<xsd:element ref="PriorityCode" id="oagis-id-b28c72af052341ca9824ea98216fd2cd" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the priority or urgency of the associated entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ShipmentServiceLevelCode" id="oagis-id-44d72444ad494e29b1f2e710796cccd2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a generic code that specifies a particular type or quality of carrier delivery service to be used for transporting goods.  A generic service level code is often established by shippers to consolidate various equivalent, but differently named, carrier service levels for comparison when "rate shopping" for the lowest cost transportation provider.  See CarrierServiceLevel for specifying the carrier's actual service level code.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CarrierServiceLevelCode" id="oagis-id-b65d67ff3aad43fbba63eec5293f4b8f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The carrier's code or marketing term for specifying a particular type or quality of delivery service to be used for transporting goods.  Use ShipmentServiceLevel when specifying a shipper-assigned code for generic delivery service level that is not specific to a carrier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DestinationCountryCode" id="oagis-id-8272ffc3e81b422ebe20b44396e06a20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the country that the item being manufactured is destinated to go to.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfLoadingCode" id="oagis-id-9a2667847ea94059b0f289176a1d9eac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location shipped goods are to be loaded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfShipmentCode" id="oagis-id-bfd1346a01f34024bc4e215a93de7c5f" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location the goods are to be shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfStagingCode" id="oagis-id-966286f06ff54c26a4c45491867c5180" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the location goods are to be placed prior to loading for shipment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportationTerm" id="oagis-id-4a9d61cf1a95482e82a9af4150e45644" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">When a seller ships something via common to a buyer in accordance with the Uniform Commerical Code and international legal agreements, you must specify a particular "phrase" that states who assumes the risk of shipment, who is responsible for loading and unloading the goods, where ownership or title to the goods passes, who paid or pays the carrirer, etc. Examples of these "phrases" include: - "FOB Origin Prepaid and Add" (Free On Board - no cost for loading, title passes at seller's dock, seller prepaid freight cost and delivery insurance, seller will freight costs to cost of goods) - "FOB Destination" or "FOB Destination Prepaid" (Free On Board - no cost for loading, title passes at buyer's dock, seller prepaid freight cost and delivery insurance)  In software applications, this phrase is commonly split into two coded pieces, a "legal terms" risk and responsibility component for use with common carriers (FOB Destination) and some kind of qualifying component (Prepaid and Add).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TrackingID" id="oagis-id-9f37b02b40154968819993a09e2bd738" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">TRACKINGID is a unique identifier for the purpose of tracking an individual package or shipment

Examples of a valid TRACKINGID include:
•An express parcel tracking number as typically assigned by UPS, DHL, Fedex or other similar carriers.
•A UCC (Uniform Code Council) Serialized Shipping Container (SCC-18) identifier, as assigned by the shipper.  
•A "Pro Number" (Progressive Number), as assigned by an LTL (less-than-truckload) freight carrier.  Since the same Pro Number can be assigned to multiple shipping units within an LTL shipment, the SHIPUNITSEQ and SHIPUNITTOT field identifiers may be used to identify the individual pieces.
•The unique identifier of a motor freight trailer, railroad box or tank car, ocean freight container or other transportation vessel.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="FreightChargeAccountNumberID" id="oagis-id-5bb7f3b9dd04488796bd01fb53d33b2a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The account number with the shipping carrier of the party paying the carrier fees for the shipment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Disposition" id="oagis-id-dcf8b5c1391d454c855b1d84c1550c7e" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates whether an item is active, inactive, or in other various states.  Examples of values for this field include:	Active, Inactive, Hold, Deleted, Obsolete</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Event" id="oagis-id-848a37b0a3f44eb99cde91e520c02c5c" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10"/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentHeaderType" id="oagis-id-34c957c80b554d22b37e8952c1e6ad31">
		<xsd:complexContent>
			<xsd:extension base="ShipmentHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShipmentHeaderExtensionType" id="oagis-id-7f88a7d5bd054b1e9ebb2b544758b971" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemBaseType" id="oagis-id-9618a323886348808432a360ec3118b1">
		<xsd:complexContent>
			<xsd:extension base="ShipItemBaseType">
				<xsd:sequence>
					<xsd:element ref="PlannedShipQuantity" id="oagis-id-4a49ad766b58473f84823772b92e40e3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This indicates the the intended or planned amount of the item to be shipped. This may differ from the OrderQuantity or any remaining OpenQuantity on the shipment due to inventory availability</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UnitSalePriceAmount" id="oagis-id-7601e0925c394e9bbf73066ced5831b3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This indicates the unit sale price for an item or order line</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ExtendedSalePriceAmount" id="oagis-id-6848560b1ac84c5c8c6ec1c7b5d1bc38" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This indicates the extended sale price i.e. the unit price times the quantity, independent of any charges for an item or order line</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreightItemGroup" id="oagis-id-ed023f14baf64371ae87571ab12153d8"/>
					<xsd:element ref="EnvironmentalCondition" id="oagis-id-3f2ba685dae344678ed606aae1f709ee" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="HeatReference" id="oagis-id-43c95b7225054beb9c8489103dbdc41b" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemType" id="oagis-id-3f948ea878444f49bb5b45b08fd539eb">
		<xsd:complexContent>
			<xsd:extension base="ShipmentItemBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ShipmentItemExtensionType" id="oagis-id-f99e09f9b9fc4fafa93dc144d9823605" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
