data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/CostingActivity.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/CostingActivity.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_2/Common/Components/Components.xsd"/>
	<xsd:element name="CostingActivity" type="CostingActivityType" id="oagis-id-29dba0f504314caaba7343974fad057e">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">For Dual Cycle accounting applications, ACTIVITY is used to communicate the details of the activities in the Manufacturing Application that caused the entries in the Journal</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceActivity" type="SourceActivityType" id="oagis-id-ce60a8fc2db4423aa8559d55a6ae6225"/>
	<xsd:element name="ActualActivity" type="ActualActivityType" id="oagis-id-27c0c43d6016436dbc774768d8ecb932"/>
	<xsd:complexType name="CostingActivityBaseType" id="oagis-id-a8a0c9b802184c7a9b2488f382391d05">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="GLEntityID" id="oagis-id-2fc1a14dd46c4b708b93b28bf639ccd5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A G/L entity is the smallest organizational unit for which individual financial statements must be drawn up according to relevant commercial law.

It is normally the primary balancing segment of the GL Account structure.  Typically, this is the owning entity for the transaction. 

Synonyms are Business Unit, Fund, G/L Company, Joint Venture, Non-Profit Association Name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DocumentDateTime" id="oagis-id-2a121b789efa43b5927aee592fe42693" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The date that document was created within the system of record.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="LastModificationDateTime" id="oagis-id-306822bf27444846bb8fb668330fff89" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The datetime on which the object was last modified</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ActivityDateTime" id="oagis-id-e1e107ad667840d68be7a421e28edc46" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is the date the activity was recorded</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SourceActivity" id="oagis-id-20d6f294f67e404eac4398b3233ab010" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CostingActivityType" id="oagis-id-1f0aab43e6ed4b419b04284759b8f085">
		<xsd:complexContent>
			<xsd:extension base="CostingActivityBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="CostingActivityExtensionType" id="oagis-id-863e3ddb83b0469bba74228e1d70dc34" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SourceActivityBaseType" id="oagis-id-cd050ba2b82044faa5e358072174e1ff">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Type describes the type of activity produced by a cost center in an operation and indicates whether an activity is measured in time or quantity. Current possible values are:Time, Quantity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="CostCenterID" id="oagis-id-fb8749fe7c7146bdab75278ecf9c0b97" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Cost Center is an accumulator of cost information that may be an organizational unit or area of responsibility.  It is an organization code that allows a grouping of expenses and costs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProfitCenterID" id="oagis-id-4e28ccddd28d4c67a4916f423ccc034a" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Profit Center is an accumulator of revenue information that may be an organizational unit or area of responsibility.  A profit center can be used for internal management control.  Profit centers can calculate operating profit using the cost-of-sales accounting and/or period accounting methods</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProjectReference" id="oagis-id-6ea78042694b45d8ad1efe5dc4c236e4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies a project that is associated with the given component.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Item" id="oagis-id-3e202a5e0ede442b8ce5782ab15a9ab9" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalesOrderReference" id="oagis-id-608858f5b9a646e0a13ea5cc3420a7d7" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a SalesOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ActualActivity" id="oagis-id-97104ab46d0742c2ac5ae38088e01886" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-a41752cd9b6545e0b975f274ac33a166"/>
					<xsd:group ref="ReferencesGroup" id="oagis-id-94d2475ce42f414ab20bddff7b7d2de5"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SourceActivityType" id="oagis-id-50cd60c76e2c45fc83f8eb2cb00fc994">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">The Type describes the type of activity produced by a cost center in an operation and indicates whether an activity is measured in time or quantity. Current possible values are:Time, Quantity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SourceActivityBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="SourceActivityExtensionType" id="oagis-id-4fc023d739e740c1a90572e2c5829fcb" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActualActivityBaseType" id="oagis-id-dada0f6fe25c4f0694821d6002430ee9">
		<xsd:complexContent>
			<xsd:extension base="IdentificationType">
				<xsd:sequence>
					<xsd:element ref="CostCenterID" id="oagis-id-0cc1196262874b95acfa53fc0e8354da" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Cost Center is an accumulator of cost information that may be an organizational unit or area of responsibility.  It is an organization code that allows a grouping of expenses and costs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProfitCenterID" id="oagis-id-8305a56e70f24aa3ba577a4c442435ab" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Profit Center is an accumulator of revenue information that may be an organizational unit or area of responsibility.  A profit center can be used for internal management control.  Profit centers can calculate operating profit using the cost-of-sales accounting and/or period accounting methods</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ProjectReference" id="oagis-id-2a404ae35c1144309940bfee71fef976" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies a project that is associated with the given component.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Item" id="oagis-id-130559065dac4c5db72737f109a62308" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Item associated with the Line or Detail of a transaction. The item provides the details of the generic Item component information. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-652f4c6035e64bb8b226b56079d3f8a8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the quantity of the associated service or item that is addresses by the component in which the quantity is associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="SalesOrderReference" id="oagis-id-3d6734e9a6d54e9f83508044afb88a75" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is a reference to a SalesOrder</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FreeFormTextGroup" id="oagis-id-793d3e692f5e48ac99d16f573c0a3fe6"/>
					<xsd:group ref="ReferencesGroup" id="oagis-id-523d85afa5c34a929e8be360cf88976e"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActualActivityType" id="oagis-id-06f491b5dcb545819a5d0dfc968fe40a">
		<xsd:complexContent>
			<xsd:extension base="ActualActivityBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ActualActivityExtensionType" id="oagis-id-bd6e236e5cff4de79071346f8b4b9392" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
