data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/ItemNonconformance.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               10 June 2016
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/ItemNonconformance.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_2/Common/Components/Components.xsd"/>
	<xsd:element name="ItemNonconformance" type="ItemNonconformanceType" id="oagis-id-5973b13bae6a44a5b0c2eb94f124a76f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">ItemNonconformance is a document communicating Items that do not conform to ItemMaster properties</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemNonconformanceHeader" type="ItemNonconformanceHeaderType" id="oagis-id-1914ceb66c804707a76369d260bd1258">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the common information for a ItemNonconformance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemNonconformanceLine" type="ItemNonconformanceLineType" id="oagis-id-1f9e0a906ac1416baba02347a2a3ec89">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the individual item nonconformance details.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ItemNonconformanceType" id="oagis-id-462685c57f5d4a6495022dd6eb6d4c32">
		<xsd:sequence>
			<xsd:element ref="ItemNonconformanceHeader" id="oagis-id-3b37336eac244b53baf80555c47e3752" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ItemNonconformanceLine" id="oagis-id-c16e0aed61a44abbac98f5dda5444a53" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/oagis/10">Information used to communicate the individual items on the pre-determined Bill of Material structure.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-5c2d7b7d9a264a5a8490dde51d1c83c5"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-c8621f917412424ba3b5b4883a642a61"/>
	</xsd:complexType>
	<xsd:complexType name="ItemNonconformanceHeaderBaseType" id="oagis-id-88c4855c74314840a5656e625fa2d945">
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="PriorityCode" id="oagis-id-c2e25f6627ec455691d06829eca5eeca" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the priority or urgency of the associated entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Classification" id="oagis-id-6b36c99f61654da5b9c0133707d7e96b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the classification of an entity. An entity may be classified into mulitple groups for different reasons. Examples of Classification include Commodity Codes, Freight Classifications, Product Line classifications and so on. Suggested Values are COMMODITY, FREIGHT, PRODUCTLINE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AnalysingParty" id="oagis-id-ad9e794d553344bc86235a9661ba7d7d" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-e05370f810724008a6000c8b3e1d5286" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemNonconformanceHeaderType" id="oagis-id-2042bb1da616471eb41aa7cb0b195555">
		<xsd:complexContent>
			<xsd:extension base="ItemNonconformanceHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ItemNonconformanceHeaderExtensionType" id="oagis-id-54439bbe839c495e8eab0255c26ed7ab" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemNonconformanceLineBaseType" id="oagis-id-57a99300ddd3474bbd88c1802b8c920e">
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="PriorityCode" id="oagis-id-ec633d434c56484b8ba83b1a37393685" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the priority or urgency of the associated entity. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Classification" id="oagis-id-abc8e8a11dff421bb4d995465ebc2ea4" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the classification of an entity. An entity may be classified into mulitple groups for different reasons. Examples of Classification include Commodity Codes, Freight Classifications, Product Line classifications and so on. Suggested Values are COMMODITY, FREIGHT, PRODUCTLINE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="OriginatorParty" id="oagis-id-3e7049d86ceb4e33b803e0009a312687" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the party that originated the purchase of the goods, service or payment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AnalysingParty" id="oagis-id-4ac3cf53c85a4735b24e7d38bc3717ab" minOccurs="0"/>
					<xsd:element ref="Party" id="oagis-id-c8cf149be89845dc81f304781b2f34a4" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="AffectedItemInstance" id="oagis-id-6c41492e97ba4bec9f57d341e1950d2c" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="RootCause" id="oagis-id-70357da4af4e4dc0aac9b7cef090ed49" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ItemNonconformanceAction" id="oagis-id-da067d78fd5d470a94ddbce5a4d5d254" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10">This describes the result a particular activity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemNonconformanceLineType" id="oagis-id-71685fe43c874b86b7f65fc75f1b7003">
		<xsd:complexContent>
			<xsd:extension base="ItemNonconformanceLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="ItemNonconformanceLineExtensionType" id="oagis-id-61a1b4d6010e44b08aff62bbb2cae3f6" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document through the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xsd:documentation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The Extension is always the last element in all components, except where the component has been extended inline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
