data/OAGIS_10_2_EnterpriseEdition/OAGi-BPI-Platform/org_openapplications_oagis/10_2/Model/Nouns/WarehouseShippingAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Michael Rowell (Open Applications Group) --><!--

   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS 10_2  
   Date:               		10 June 2016 
   Copyright 1997-2016, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2016). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_platform/2_1/Mode/Common/Components/Fields.xsd
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Platform/2_2/Common/Components/Components.xsd"/>
	<!---->
	<xsd:element name="WarehouseShippingAdvice" type="WarehouseShippingAdviceType" id="oagis-id-f2ae8d4ea99b44f8b3a763a147d13b0f">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">EDI 945</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WarehouseShippingAdviceHeader" type="WarehouseShippingAdviceHeaderType" id="oagis-id-e281a350a1dd49ef9323efed62249e4f"/>
	<xsd:element name="WarehouseShippingAdviceLine" type="WarehouseShippingAdviceLineType" id="oagis-id-6391afe07bb949708eda96b0ee41e6ce"/>
	<xsd:complexType name="WarehouseShippingAdviceType" id="oagis-id-b601e24c63014ac4aaca70e5fe728667">
		<xsd:sequence>
			<xsd:element ref="WarehouseShippingAdviceHeader" id="oagis-id-680ccea188cc424186bd09c9042e9926" minOccurs="0"/>
			<xsd:element ref="WarehouseShippingAdviceLine" id="oagis-id-8f496cd1f02548018a50df987812139a" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="typeCode" type="CodeType_1E7368" use="optional" id="oagis-id-7a866bd7591a48bab2264d3b6a5d089b"/>
		<xsd:attribute name="actionCode" type="ActionCodeContentType" id="oagis-id-5bb2841dd9b048b093a05715b6f3fc00"/>
	</xsd:complexType>
	<xsd:complexType name="WarehouseShippingAdviceHeaderBaseType" id="oagis-id-fb17edd8de834c33aca3ea9caf3abb2d">
		<xsd:complexContent>
			<xsd:extension base="StatusHeaderBaseType">
				<xsd:sequence>
					<xsd:element ref="ShipToParty" id="oagis-id-6da7498068f4458e92ab696547fc5a14" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the ShipToParty for the document or the line. In a lot of cases, this is the same as the CustomerParty. In multi-organization purchasing, the CustomerParty may be different from the BuyerParty</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DepositorParty" id="oagis-id-115539799bdf488aade11921407a5568" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="WarehouseParty" id="oagis-id-3db9c946e96f47dc9a15e323e7c09f59" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Party" id="oagis-id-a25846df5c0f4daf908b72c24af308cf" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="RequestedDeliveryDate" id="oagis-id-70a72c45ee074c3db8da451269183aab" minOccurs="0"/>
					<xsd:element ref="RequestedShipDateTime" id="oagis-id-098be5cd4deb45f1a49c2959c178efc5" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Indicates the date in which the buyer/customer requests the order to be shipped.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="WarehouseCarrier" id="oagis-id-577510ed98ca4e509fd7867885345245" minOccurs="0"/>
					<xsd:element ref="TotalQuantity" id="oagis-id-be1f71c0cb394d32b9a51f3c72c7ba03" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Total number of associated entities. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TotalDimensions" id="oagis-id-328cd58550fe482dac1ae04aa9362795" minOccurs="0"/>
					<xsd:element ref="Classification" id="oagis-id-c0ede826dc5b4f198681a63900d5d83e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">This identifies the classification of an entity. An entity may be classified into mulitple groups for different reasons. Examples of Classification include Commodity Codes, Freight Classifications, Product Line classifications and so on. Suggested Values are COMMODITY, FREIGHT, PRODUCTLINE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WarehouseShippingAdviceHeaderType" id="oagis-id-d0f43533b47148fba0f540122a114f48">
		<xsd:complexContent>
			<xsd:extension base="WarehouseShippingAdviceHeaderBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="WarehouseShippingAdviceHeaderExtensionType" id="oagis-id-205c458f7729402f96fb498edb466288" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WarehouseShippingAdviceLineBaseType" id="oagis-id-21dd513fda0d4919883707e73616c840">
		<xsd:complexContent>
			<xsd:extension base="StatusLineBaseType">
				<xsd:sequence>
					<xsd:element ref="ContainerID" id="oagis-id-d7dadc6f12ef4ce1ab16b3cdb2be0fca" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The unique identifier of a container that holds the associated entity. A container is typically used for shipping material. Whether they be raw material or finished goods or piece parts.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="OrderQuantity" id="oagis-id-5a3ac5bd727f4b79a307d4530545cfad" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the quantity of a material or product ordered by the customer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Quantity" id="oagis-id-51dd18ce3b114109a6d1386883cfdd65" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the quantity of the associated service or item that is addresses by the component in which the quantity is associated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Amount" id="oagis-id-4b56335dccd94da2add039751428dbbe" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">The monetary value of the object in which the amount is associated</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Allowance" id="oagis-id-0ce3992ecddc49e1bab01f98cd080a0d" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Identifies the discount or allowance that the Customer is to receive off of the TotalAmount owed as a result of the associated document or sub-portion of a document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Charge" id="oagis-id-4b78fe51fe2e4e5f88cd61d014f0d1f9" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Represents the different Charges that may be applied to the associated document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Party" id="oagis-id-1a5eee83675440e79eda8066c33afc60" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A generic Party  for non-validated or application-validated parties. A work-around for situations where Schema-validation of Parties is not feasible or not desired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ItemInstance" id="oagis-id-4eab66c38a46400aa63b617573bd231b" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">Is the Item definition and the identification of given Item Instances as identified by the RFID, SerialNumber or Lot and SerialNumber.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Facility" id="oagis-id-e580abb33cbf4341bdc6d7c5d6de247e" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/10/platform/2">A Facility identifies a location within an entity. The facility may have sub-locators identified using a sequenced identification notation e.g. Warehouse A100 Sub-Location 11, Row R10 would be represented as an array of three Facility elements with values as A100, 11, R10, name attribute as Warehouse, Sub-Location and Row and sequence attribute as 1,2 and 3 respectively.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WarehouseShippingAdviceLineType" id="oagis-id-473d2fa483294feb8e07a8895a534e0d">
		<xsd:complexContent>
			<xsd:extension base="WarehouseShippingAdviceLineBaseType">
				<xsd:sequence>
					<xsd:element name="Extension" type="WarehouseShippingAdviceLineExtensionType" id="oagis-id-95e202ee63764ad58a15916cd0eb8514" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
